Repository napari/napari, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napari/core-devs, @brisvag, @melonora, @Czaki, @lucyleeow, @DragaDoncila, @psobolewskiPhD, @jni, @andy-sweet, @kephale, @kevinyamauchi, @melissawm

.github/CODEOWNERS:

# anything with no explicit code owners will be tagged to @core-devs
*   @napari/core-devs

# submodules
napari/_vispy/      @brisvag @melonora
napari/_qt/         @Czaki @lucyleeow @DragaDoncila @psobolewskiPhD
napari/_app_model/  @lucyleeow @DragaDoncila
napari/benchmarks/  @Czaki @jni
napari/plugins/     @Czaki @DragaDoncila @lucyleeow
napari/qt/          @Czaki @jni
napari/settings/    @Czaki @jni

# specific layers
napari/layers/image/    @Czaki @brisvag @andy-sweet @kephale
napari/layers/labels/   @jni @Czaki @brisvag
napari/layers/points/   @brisvag @kevinyamauchi @andy-sweet @DragaDoncila @kephale
napari/layers/shapes/   @kevinyamauchi @DragaDoncila @melonora
napari/layers/surface/  @brisvag @kevinyamauchi @Czaki
napari/layers/tracks/   @jni @andy-sweet
napari/layers/vectors/  @brisvag @kevinyamauchi @andy-sweet

# docs
examples/                            @melissawm @psobolewskiPhD @lucyleeow
.github/workflows/build_docs.yml     @melissawm @psobolewskiPhD @lucyleeow
.github/workflows/deploy_docs.yml    @melissawm @psobolewskiPhD
.github/workflows/circleci.yml       @melissawm @psobolewskiPhD

moved scale bar creation up in example
  examples/export_figure.py
Owners: @melissawm, @psobolewskiPhD, @lucyleeow

Update `babel`, `hypothesis`, `lxml`, `numpydoc`, `tifffile`
  resources/constraints/constraints_py3.10.txt
  resources/constraints/constraints_py3.10_docs.txt
  resources/constraints/constraints_py3.10_pydantic_1.txt
  resources/constraints/constraints_py3.10_windows.txt
  resources/constraints/constraints_py3.11.txt
  resources/constraints/constraints_py3.11_pydantic_1.txt
  resources/constraints/constraints_py3.11_windows.txt
  resources/constraints/constraints_py3.12.txt
  resources/constraints/constraints_py3.12_pydantic_1.txt
  resources/constraints/constraints_py3.12_windows.txt
  resources/constraints/constraints_py3.9.txt
  resources/constraints/constraints_py3.9_examples.txt
  resources/constraints/constraints_py3.9_pydantic_1.txt
  resources/constraints/constraints_py3.9_windows.txt
Owners: @napari/core-devs

use setting thread number for numpy openblas
  napari/__init__.py
  napari/_check_numpy_version.py
  napari/_qt/threads/status_checker.py
  napari/utils/__init__.py
  napari/utils/_check_numpy_version.py
Owners: @napari/core-devs, @Czaki, @lucyleeow, @DragaDoncila, @psobolewskiPhD

fix type anotation
  napari/_check_numpy_version.py
Owners: @napari/core-devs

remove obsolete workaround
  napari/_qt/threads/status_checker.py
Owners: @Czaki, @lucyleeow, @DragaDoncila, @psobolewskiPhD

Use partial instead of lambda
  examples/link-viewer-cameras.py
Owners: @melissawm, @psobolewskiPhD, @lucyleeow

Guard napari.run with __name__ == '__main__' clause
  examples/dev/poly-hole.py
Owners: @melissawm, @psobolewskiPhD, @lucyleeow
