Repository napari/napari, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napari/core-devs, @brisvag, @melonora, @Czaki, @DragaDoncila, @psobolewskiPhD, @lucyleeow, @jni, @kephale, @kevinyamauchi, @melissawm

.github/CODEOWNERS:

# anything with no explicit code owners will be tagged to @core-devs
*   @napari/core-devs

# submodules
napari/_vispy/      @brisvag @melonora
napari/_qt/         @Czaki @DragaDoncila @psobolewskiPhD
napari/_app_model/  @lucyleeow @DragaDoncila
napari/benchmarks/  @Czaki @jni
napari/plugins/     @Czaki @DragaDoncila @lucyleeow
napari/qt/          @Czaki @jni
napari/settings/    @Czaki @jni

# specific layers
napari/layers/image/    @Czaki @brisvag @kephale
napari/layers/labels/   @jni @Czaki @brisvag
napari/layers/points/   @brisvag @kevinyamauchi @DragaDoncila @kephale
napari/layers/shapes/   @kevinyamauchi @DragaDoncila @melonora
napari/layers/surface/  @brisvag @kevinyamauchi @Czaki
napari/layers/tracks/   @jni
napari/layers/vectors/  @brisvag @kevinyamauchi

# docs
examples/                            @melissawm @psobolewskiPhD @lucyleeow
.github/workflows/build_docs.yml     @melissawm @psobolewskiPhD @lucyleeow
.github/workflows/deploy_docs.yml    @melissawm @psobolewskiPhD
.github/workflows/circleci.yml       @melissawm @psobolewskiPhD

update constraints file
  resources/constraints/benchmark.txt
Owners: @napari/core-devs

Block ipykernel==7.0.0a1
  resources/constraints/version_denylist.txt
Owners: @napari/core-devs

orientation-widget-mockup
  napari/_qt/widgets/qt_viewer_buttons.py
Owners: @Czaki, @DragaDoncila, @psobolewskiPhD

add pentagram to test and triangulation example.
  examples/dev/triangle_edge.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/test_shapes_utils.py
Owners: @melissawm, @psobolewskiPhD, @lucyleeow, @kevinyamauchi, @DragaDoncila, @melonora

rotate structure
  napari/layers/shapes/_tests/test_shapes_utils.py
Owners: @kevinyamauchi, @DragaDoncila, @melonora
