Repository napari/napari, changes with the labels that .github/labeler.yml gives for each.
All labels: design, documentation, preferences, qt, task, tests, vispy

typing_extensions
  napari/utils/_magicgui.py
Labels: none

require 3.9
  examples/mgui_dask_delayed.py
  examples/mgui_with_threading.py
  napari/types.py
Labels: none

fix import
  napari/_qt/qthreading.py
  napari/types.py
  napari/utils/_tests/test_magicgui.py
Labels: qt, tests

fix test
  napari/utils/_tests/test_magicgui.py
Labels: tests

single shader object for tracks
  napari/_vispy/filters/tracks.py
  napari/_vispy/layers/tracks.py
  napari/_vispy/visuals/tracks.py
Labels: none

use smarter CompoundVisual method
  napari/_vispy/visuals/clipping_planes_mixin.py
Labels: none

turn on example testing again
  napari/_tests/test_examples.py
Labels: tests

fix getattr
  napari/_qt/qthreading.py
Labels: qt

Update napari/_qt/qthreading.py
  napari/_qt/qthreading.py
Labels: qt

Update plugin dialog interactions and ability to cancel processes
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/_qt/qt_resources/styles/02_custom.qss
Labels: design, qt

Update update logic
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: qt

Add typing information
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: qt

Fix __getattr__ in WorkerBase (#3368)
  napari/_qt/qthreading.py
Labels: qt

add toggle visibliity to layer actions
  napari/layers/_layer_actions.py
Labels: none

move test
  napari/utils/context/_tests/test_context_key_service.py
Labels: tests

revert some stuff for later
  napari/_qt/containers/_layer_delegate.py
  napari/_qt/widgets/_tests/test_action_context_menu.py
  napari/_qt/widgets/qt_action_context_menu.py
  napari/components/layerlist.py
  napari/components/viewer_model.py
  napari/layers/_layer_actions.py
  napari/utils/context/_context_keys.py
  napari/utils/context/_layerlist_context.py
  napari/utils/events/evented_model.py
Labels: qt, tests

docs and tests
  napari/utils/context/_expressions.py
  napari/utils/context/_service.py
  napari/utils/context/_tests/test_context_key_service.py
  napari/utils/context/_tests/test_expressions.py
Labels: tests

typing extensions final
  napari/utils/context/_service.py
Labels: none

Add cancel and cancel all actions to plugin dialog and improve UI (#3369)
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/_qt/qt_resources/styles/02_custom.qss
Labels: design, qt

add toggle visibliity to layer actions (#3372)
  napari/layers/_layer_actions.py
Labels: none

make hashable
  napari/utils/context/_service.py
Labels: none

.github/labeler.yml:

# See: .github/workflows/labeler.yml and https://github.com/marketplace/actions/labeler
design:
  - 'napari/_qt/qt_resources/**/*'

documentation:
  - 'docs/**/*'
  - 'docs/*'

preferences:
  - 'napari/_qt/**/*/preferences_dialog.py'
  - 'napari/settings/**/*.py'

qt:
  - 'napari/_qt/**/*.py'
  - 'napari/_qt/**/*.py'
  - 'napari/qt/**/*.py'
  - 'napari/qt/**/*.py'

task:
  - '.github/**/*'

tests:
  - '**/*/_tests/**/*.py'

vispy:
  - 'napari/_vispy'
