Repository napari/napari, pull requests merged in 2019-06, with the labels that each got.

#311 Unify layer mode Enums
  examples/add_shapes.py
  examples/labels-2d.py
  napari/layers/_labels_layer/_constants.py
  napari/layers/_labels_layer/model.py
  napari/layers/_labels_layer/view/controls.py
  napari/layers/_markers_layer/_constants.py
  napari/layers/_markers_layer/model.py
  napari/layers/_markers_layer/view/controls.py
  napari/layers/_shapes_layer/_constants.py
  napari/layers/_shapes_layer/model.py
  napari/layers/_shapes_layer/view/controls.py
  napari/util/misc.py
Labels: refactor

#315 fix remove layer
  napari/components/_layers_list/model.py
Labels: bug

#313 fix rgb pyramid
  napari/layers/_pyramid_layer/model.py
Labels: bug

#282 Black formatter PR
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  pyproject.toml
  requirements.txt
  requirements/development.txt
Labels: feature

#314 Thumbnails
  napari/components/_layers_list/view/main.py
  napari/layers/_base_layer/model.py
  napari/layers/_base_layer/view/properties.py
  napari/layers/_image_layer/model.py
  napari/layers/_image_layer/view/properties.py
  napari/layers/_labels_layer/model.py
  napari/layers/_labels_layer/view/properties.py
  napari/layers/_markers_layer/view/properties.py
  napari/layers/_shapes_layer/view/properties.py
  napari/layers/_vectors_layer/view/properties.py
  napari/resources/stylesheet.qss
  requirements/default.txt
  requirements/test.txt
Labels: feature

#324 Expand button
  .pre-commit-config.yaml
  CONTRIBUTING.md
  napari/layers/_base_layer/view/properties.py
  napari/resources/build_icons.py
  napari/resources/icons/dark/drop_down.svg
  napari/resources/icons/dark/menu.svg
  napari/resources/icons/dark/properties_contract.svg
  napari/resources/icons/dark/properties_expand.svg
  napari/resources/icons/light/drop_down.svg
  napari/resources/icons/light/menu.svg
  napari/resources/icons/light/properties_contract.svg
  napari/resources/icons/light/properties_expand.svg
  napari/resources/icons/svg/drop_down.svg
  napari/resources/icons/svg/properties_contract.svg
  napari/resources/icons/svg/properties_expand.svg
  napari/resources/qt.py
  napari/resources/res.qrc
  napari/resources/stylesheet.qss
  pyproject.toml
Labels: feature

#306 fix click on layer list
  napari/components/_layers_list/view/main.py
Labels: bug

#303 WIP: Stop using add_to_viewer syntax for basic layers
  napari/components/_viewer/model.py
  napari/layers/__init__.py
  napari/layers/_base_layer/model.py
  napari/layers/_image_layer/model.py
  napari/layers/_labels_layer/model.py
  napari/layers/_markers_layer/model.py
  napari/layers/_pyramid_layer/model.py
  napari/layers/_shapes_layer/model.py
  napari/layers/_vectors_layer/model.py
  napari/tests/test_class_docstrings.py
  napari/util/_register.py
Labels: refactor

#329 Black Format CI task
  .cirrus.yml
  CONTRIBUTING.md
  pyproject.toml
Labels: feature

#333 black format pyramid examples
  examples/nD_pyramid.py
  examples/nD_pyramid_non_uniform.py
Labels: bug

#319 Change Image.interpolation to Enum
  napari/layers/_image_layer/_constants.py
  napari/layers/_image_layer/model.py
  napari/layers/_image_layer/view/properties.py
  napari/util/interpolation.py
Labels: refactor

#330 Refactor layer qt properties and controls
  examples/add_image.py
  examples/add_markers.py
  examples/add_shapes.py
  examples/set_colormaps.py
  examples/shapes_to_labels.py
  examples/to_svg.py
  napari/components/_layers_list/view.py
  napari/components/_layers_list/view/__init__.py
  napari/components/_viewer/model.py
  napari/components/_viewer/view/controls.py
  napari/layers/__init__.py
  napari/layers/_base_layer/__init__.py
  napari/layers/_base_layer/model.py
  napari/layers/_base_layer/view/__init__.py
  napari/layers/_base_layer/view/controls.py
  napari/layers/_base_layer/view/properties.py
  napari/layers/_image_layer/__init__.py
  napari/layers/_image_layer/model.py
  napari/layers/_image_layer/view/__init__.py
  napari/layers/_image_layer/view/controls.py
  napari/layers/_image_layer/view/properties.py
  napari/layers/_labels_layer/__init__.py
  napari/layers/_labels_layer/model.py
  napari/layers/_labels_layer/view/__init__.py
  napari/layers/_labels_layer/view/controls.py
  napari/layers/_labels_layer/view/properties.py
  napari/layers/_markers_layer/__init__.py
  napari/layers/_markers_layer/model.py
  napari/layers/_markers_layer/view/__init__.py
  napari/layers/_markers_layer/view/controls.py
  napari/layers/_markers_layer/view/properties.py
  napari/layers/_pyramid_layer/__init__.py
  napari/layers/_pyramid_layer/model.py
  napari/layers/_shapes_layer/__init__.py
  napari/layers/_shapes_layer/model.py
  napari/layers/_shapes_layer/view/__init__.py
  napari/layers/_shapes_layer/view/controls.py
  napari/layers/_shapes_layer/view/properties.py
  napari/layers/_vectors_layer/__init__.py
  napari/layers/_vectors_layer/model.py
  napari/layers/_vectors_layer/view/__init__.py
  napari/layers/_vectors_layer/view/properties.py
  napari/layers/util.py
  napari/resources/stylesheet.qss
  napari/util/list/_model.py
Labels: refactor

#297 Nd shapes
  examples/add_shapes.py
  examples/nD_shapes.py
  examples/shapes_to_labels.py
  examples/to_svg.py
  napari/components/_viewer/model.py
  napari/layers/_shapes_layer/model.py
  napari/layers/_shapes_layer/shape_list.py
  napari/layers/_shapes_layer/shape_util.py
  napari/layers/_shapes_layer/shapes/ellipse.py
  napari/layers/_shapes_layer/shapes/line.py
  napari/layers/_shapes_layer/shapes/rectangle.py
  napari/layers/_shapes_layer/view/properties.py
Labels: feature

#340 fix labels colormap
  napari/layers/_labels_layer/model.py
Labels: bug

#341 fix black ignore
  .pre-commit-config.yaml
Labels: bug

#353 fix resource compiling instructions
  CONTRIBUTING.md
Labels: documentation

#345 remove broadcast from shapes
  examples/nD_shapes.py
  napari/components/_viewer/model.py
  napari/layers/_shapes_layer/model.py
  napari/layers/_shapes_layer/view/properties.py
Labels: bug

#354 Improve resource building contrib
  CONTRIBUTING.md
Labels: documentation

#352 add points thumbnail
  napari/layers/_points_layer/model.py
Labels: feature

#347 fix layer select styling
  napari/layers/_base_layer/view/properties.py
Labels: bug

#361 fix selected default
  napari/layers/_base_layer/view/properties.py
Labels: refactor

#362 Add dims test and fix 5D images
  examples/5D_image.py
  napari/components/_dims/model.py
  napari/components/_dims/tests/dims_tests.py
  napari/components/_dims/tests/test_dims.py
  napari/components/_dims/tests/test_dims_view.py
  napari/components/_dims/view.py
Labels: bug

#343 Nd vectors
  examples/add_vectors.py
  examples/nD_vectors.py
  examples/nD_vectors_image.py
  examples/to_svg.py
  napari/components/_viewer/model.py
  napari/layers/_vectors_layer/model.py
  napari/layers/_vectors_layer/vectors_util.py
  napari/layers/_vectors_layer/view/properties.py
Labels: feature

#366 [FIX] setting remote upstream in contributing guidelines
  CONTRIBUTING.md
Labels: bug
