Repository napari/napari, pull requests merged in 2019-04, with the labels that each got.

#194 fix empty markers
  napari/layers/_markers_layer/model.py
Labels: bug

#196 improve layer selection / name editing
  napari/components/_layers_list/model.py
  napari/layers/_base_layer/view/properties.py
  napari/resources/stylesheet.qss
Labels: bug

#129 Vectors Layer
  .gitignore
  examples/add_vectors_coords.py
  examples/add_vectors_image.py
  examples/notebook.ipynb
  napari/components/__init__.py
  napari/layers/__init__.py
  napari/layers/_vectors_layer/__init__.py
  napari/layers/_vectors_layer/model.py
  napari/layers/_vectors_layer/view/__init__.py
  napari/layers/_vectors_layer/view/properties.py
Labels: feature, in-progress

#195 Interactive labels
  examples/labels-0-2d.py
  examples/labels-2d.py
  examples/labels-3d.py
  napari/components/_layers_list/view/buttons.py
  napari/components/_viewer/model.py
  napari/components/_viewer/view/main.py
  napari/layers/_base_layer/model.py
  napari/layers/_base_layer/view/properties.py
  napari/layers/_labels_layer/_constants.py
  napari/layers/_labels_layer/model.py
  napari/layers/_labels_layer/view/__init__.py
  napari/layers/_labels_layer/view/controls.py
  napari/layers/_labels_layer/view/properties.py
  napari/resources/icons/cursor_square.png
  napari/resources/icons/fill_off.png
  napari/resources/icons/fill_on.png
  napari/resources/icons/new_labels.png
  napari/resources/icons/paint_off.png
  napari/resources/icons/paint_on.png
  napari/resources/icons/picker_off.png
  napari/resources/icons/picker_on.png
  napari/resources/qt.py
  napari/resources/res.qrc
  napari/resources/stylesheet.qss
  napari/util/colormaps/colormaps.py
Labels: feature

#215 Use triangles for vectors
  examples/add_vectors_coords.py
  examples/add_vectors_image.py
  napari/layers/_shapes_layer/shape_util.py
  napari/layers/_vectors_layer/model.py
  napari/layers/_vectors_layer/view/properties.py
  napari/util/__init__.py
  napari/util/misc.py
Labels: bug, refactor

#216 support clipping appropriately
  napari/layers/_image_layer/model.py
Labels: bug

#197 Rasterize shapes
  examples/shapes_to_labels.py
  napari/layers/_shapes_layer/shape_list.py
  napari/layers/_shapes_layer/shape_util.py
  napari/layers/_shapes_layer/shapes/ellipse.py
  napari/layers/_shapes_layer/shapes/line.py
  napari/layers/_shapes_layer/shapes/path.py
  napari/layers/_shapes_layer/shapes/polygon.py
  napari/layers/_shapes_layer/shapes/rectangle.py
  napari/layers/_shapes_layer/shapes/shape.py
  requirements/default.txt
  requirements/test.txt
Labels: feature

#217 fix nD fill
  napari/layers/_labels_layer/model.py
Labels: bug

#218 fix nD paint
  napari/layers/_labels_layer/model.py
Labels: bug

#230 fix drawing lines in shapes layer
  napari/layers/_shapes_layer/shapes/line.py
Labels: bug

#231 fix empty polygons in shapes layer
  napari/layers/_shapes_layer/shape_util.py
  napari/layers/_shapes_layer/shapes/shape.py
Labels: bug

#220 Generate svg from shapes layer
  examples/shapes_to_labels.py
  napari/layers/_shapes_layer/model.py
  napari/layers/_shapes_layer/shape_list.py
  napari/layers/_shapes_layer/shapes/ellipse.py
  napari/layers/_shapes_layer/shapes/line.py
  napari/layers/_shapes_layer/shapes/path.py
  napari/layers/_shapes_layer/shapes/polygon.py
  napari/layers/_shapes_layer/shapes/rectangle.py
  napari/layers/_shapes_layer/shapes/shape.py
Labels: feature

#228 allow for other arrays used with labels
  napari/layers/_labels_layer/model.py
Labels: feature

#232 add support for custom key bindings
  examples/custom_key_bindings.py
  napari/components/_viewer/model.py
  napari/components/_viewer/view/main.py
Labels: feature
