Repository napari/napari, pull requests merged in 2019-08, with the labels that each got.

#453 use pytest-qt
  .cirrus.yml
  examples/4D_image_5D_image.py
  examples/5D_image.py
  examples/5D_image_5D_points.py
  examples/add_image.py
  examples/change_image_dims.py
  examples/nD_labels.py
  napari/_qt/event_loop.py
  napari/_qt/tests/__init__.py
  napari/_qt/tests/test_qt_dims.py
  napari/_qt/tests/test_qt_layerlist.py
  napari/_qt/tests/test_qt_viewer.py
  napari/components/tests/test_viewer_model.py
  napari/tests/test_advanced.py
  napari/tests/test_nD.py
  napari/tests/test_viewer.py
  requirements/test.txt
  test_examples.py
Labels: tests

#443 add qt console
  examples/multiple_viewers.py
  examples/update_console.py
  napari/_qt/event_loop.py
  napari/_qt/qt_console.py
  napari/_qt/qt_controls.py
  napari/_qt/qt_layer_buttons.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_qt/tests/test_qt_console.py
  napari/resources/build_icons.py
  napari/resources/icons/dark/console.svg
  napari/resources/icons/light/console.svg
  napari/resources/icons/svg/console.svg
  napari/resources/qt.py
  napari/resources/res.qrc
  napari/resources/stylesheet.qss
  napari/tests/test_advanced.py
  napari/tests/test_nD.py
  napari/tests/test_viewer.py
  napari/util/theme.py
  napari/viewer.py
  requirements/default.txt
Labels: feature

#463 expose scaling factor for volume
  examples/add_volume.py
  napari/components/viewer_model.py
  napari/layers/volume/tests/test_volume.py
  napari/layers/volume/volume.py
Labels: feature

#466 fix size policy on layers list
  napari/_qt/qt_viewer.py
Labels: bug

#439 test add_* signatures and improve docstring testing
  napari/components/viewer_model.py
  napari/tests/test_class_docstrings.py
  napari/tests/test_viewer_layer_parity.py
  napari/util/_register.py
  napari/util/keybindings.py
  napari/util/misc.py
  requirements/test.txt
Labels: tests

#472 add viewer keybindings
  napari/__init__.py
  napari/_qt/qt_dims.py
  napari/_qt/qt_range_slider.py
  napari/_qt/qt_viewer.py
  napari/components/layerlist.py
  napari/components/tests/test_layers_list.py
  napari/components/viewer_model.py
  napari/keybindings.py
  napari/layers/base/base.py
  napari/util/theme.py
Labels: feature

#479 fix windows ci build
  .cirrus.yml
Labels: tests

#482 fix OSX CI
  requirements/default.txt
Labels: tests

#451 Swappable dimensions
  examples/nD_labels.py
  examples/nD_shapes.py
  examples/nD_vectors_image.py
  examples/swap_dims.py
  napari/_qt/qt_dims.py
  napari/_qt/qt_viewer.py
  napari/_qt/tests/test_qt_dims.py
  napari/_qt/tests/test_qt_viewer.py
  napari/components/__init__.py
  napari/components/dims.py
  napari/components/tests/test_dims.py
  napari/components/tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/image/tests/test_image.py
  napari/layers/labels/labels.py
  napari/layers/labels/tests/test_labels.py
  napari/layers/points/points.py
  napari/layers/pyramid/pyramid.py
  napari/layers/shapes/keybindings.py
  napari/layers/shapes/mesh.py
  napari/layers/shapes/shape_list.py
  napari/layers/shapes/shape_models/ellipse.py
  napari/layers/shapes/shape_models/line.py
  napari/layers/shapes/shape_models/path.py
  napari/layers/shapes/shape_models/polygon.py
  napari/layers/shapes/shape_models/rectangle.py
  napari/layers/shapes/shape_models/shape.py
  napari/layers/shapes/shape_models/tests/test_shape_models.py
  napari/layers/shapes/shape_util.py
  napari/layers/shapes/shapes.py
  napari/layers/shapes/tests/test_shape_list.py
  napari/layers/shapes/tests/test_shapes.py
  napari/layers/vectors/vectors.py
  napari/layers/vectors/vectors_util.py
  napari/layers/volume/tests/test_volume.py
  napari/layers/volume/volume.py
  napari/tests/test_advanced.py
  napari/tests/test_nD.py
  napari/tests/test_viewer.py
Labels: feature

#468 Allow out of range float images
  napari/layers/image/tests/test_image.py
Labels: bug

#483 remove vispy backport
  .pre-commit-config.yaml
  napari/_vispy/__init__.py
  napari/_vispy/color/__init__.py
  napari/_vispy/color/colormap.py
  napari/layers/labels/tests/test_labels.py
  napari/util/colormaps/colormaps.py
  pyproject.toml
  requirements/default.txt
Labels: refactor

#486 host docs
  .cirrus.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/source/make.bat
  docs/source/modules.rst
  docs/source/napari._qt.range_slider.rst
  docs/source/napari._qt.rst
  docs/source/napari._vispy.rst
  docs/source/napari._vispy.scene.rst
  docs/source/napari._vispy.visuals.filters.rst
  docs/source/napari._vispy.visuals.rst
  docs/source/napari.components._dims.rst
  docs/source/napari.components._dims.tests.rst
  docs/source/napari.components._layers_list.rst
  docs/source/napari.components._layers_list.tests.rst
  docs/source/napari.components._layers_list.view.rst
  docs/source/napari.components._viewer.rst
  docs/source/napari.components._viewer.view.rst
  docs/source/napari.components._window.rst
  docs/source/napari.components.rst
  docs/source/napari.layers._base_layer.rst
  docs/source/napari.layers._base_layer.view.rst
  docs/source/napari.layers._image_layer.rst
  docs/source/napari.layers._image_layer.view.rst
  docs/source/napari.layers._labels_layer.rst
  docs/source/napari.layers._labels_layer.view.rst
  docs/source/napari.layers._points_layer.rst
  docs/source/napari.layers._points_layer.view.rst
  docs/source/napari.layers._pyramid_layer.rst
  docs/source/napari.layers._shapes_layer.rst
  docs/source/napari.layers._shapes_layer.shapes.rst
  docs/source/napari.layers._shapes_layer.view.rst
  docs/source/napari.layers._vectors_layer.rst
  docs/source/napari.layers._vectors_layer.view.rst
  docs/source/napari.layers.rst
  docs/source/napari.resources.icons.rst
  docs/source/napari.resources.rst
  docs/source/napari.rst
  docs/source/napari.util.colormaps.rst
  docs/source/napari.util.colormaps.vendored.rst
  docs/source/napari.util.list.rst
  docs/source/napari.util.rst
  docs/source/napari.util.tests.rst
  requirements/docs.txt
Labels: documentation

#485 remove vispy code from layer models
  examples/add_shapes.py
  examples/add_volume.py
  examples/shapes_to_labels.py
  examples/to_screenshot.py
  examples/to_svg.py
  napari/_qt/qt_labels_layer.py
  napari/_qt/qt_viewer.py
  napari/_qt/util.py
  napari/_vispy/__init__.py
  napari/_vispy/util.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_labels_layer.py
  napari/_vispy/vispy_points_layer.py
  napari/_vispy/vispy_pyramid_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/_vispy/vispy_vectors_layer.py
  napari/_vispy/vispy_volume_layer.py
  napari/components/layerlist.py
  napari/components/viewer_model.py
  napari/layers/base/_visual_wrapper.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/image/tests/test_image.py
  napari/layers/labels/labels.py
  napari/layers/labels/tests/test_labels.py
  napari/layers/points/points.py
  napari/layers/points/tests/test_points.py
  napari/layers/pyramid/pyramid.py
  napari/layers/pyramid/tests/test_pyramid.py
  napari/layers/shapes/shape_list.py
  napari/layers/shapes/shapes.py
  napari/layers/shapes/tests/test_shapes.py
  napari/layers/vectors/tests/test_vectors.py
  napari/layers/vectors/vectors.py
  napari/layers/volume/tests/test_volume.py
  napari/layers/volume/volume.py
  napari/util/status_messages.py
Labels: refactor

#487 Fix keybindings
  napari/_qt/qt_dims.py
  napari/keybindings.py
Labels: bug, feature

#488 layer views
  napari/_qt/qt_base_layer.py
  napari/_qt/qt_controls.py
  napari/_qt/qt_image_layer.py
  napari/_qt/qt_labels_layer.py
  napari/_qt/qt_layerlist.py
  napari/_qt/qt_points_layer.py
  napari/_qt/qt_pyramid_layer.py
  napari/_qt/qt_shapes_layer.py
  napari/_qt/qt_vectors_layer.py
  napari/_qt/qt_viewer.py
  napari/_qt/qt_volume_layer.py
  napari/_qt/util.py
  napari/_vispy/__init__.py
  napari/_vispy/util.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_labels_layer.py
  napari/_vispy/vispy_points_layer.py
  napari/_vispy/vispy_pyramid_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/_vispy/vispy_vectors_layer.py
  napari/_vispy/vispy_volume_layer.py
  napari/util/layer_view.py
  napari/util/tests/test_layer_view.py
Labels: refactor

#455 use codecov
  .cirrus.yml
  README.md
  codecov.yml
Labels: tests

#493 Integrate 3D rendering with layers
  examples/add_volume.py
  examples/nD_vectors.py
  examples/nD_volume.py
  napari/_qt/layers/__init__.py
  napari/_qt/layers/qt_base_layer.py
  napari/_qt/layers/qt_image_layer.py
  napari/_qt/layers/qt_labels_layer.py
  napari/_qt/layers/qt_points_layer.py
  napari/_qt/layers/qt_pyramid_layer.py
  napari/_qt/layers/qt_shapes_layer.py
  napari/_qt/layers/qt_vectors_layer.py
  napari/_qt/layers/util.py
  napari/_qt/qt_controls.py
  napari/_qt/qt_dims.py
  napari/_qt/qt_layerlist.py
  napari/_qt/qt_viewer.py
  napari/_qt/qt_volume_layer.py
  napari/_qt/tests/test_qt_viewer.py
  napari/_vispy/util.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_labels_layer.py
  napari/_vispy/vispy_points_layer.py
  napari/_vispy/vispy_pyramid_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/_vispy/vispy_vectors_layer.py
  napari/_vispy/vispy_volume_layer.py
  napari/components/dims.py
  napari/components/tests/test_dims.py
  napari/components/tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/keybindings.py
  napari/layers/__init__.py
  napari/layers/base/base.py
  napari/layers/image/_constants.py
  napari/layers/image/image.py
  napari/layers/image/tests/test_volume.py
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/pyramid/pyramid.py
  napari/layers/shapes/shapes.py
  napari/layers/vectors/tests/test_vectors.py
  napari/layers/vectors/vectors.py
  napari/layers/vectors/vectors_util.py
  napari/layers/volume/__init__.py
  napari/layers/volume/_constants.py
  napari/layers/volume/tests/test_volume.py
  napari/layers/volume/volume.py
  napari/tests/test_nD.py
  napari/tests/test_viewer.py
  napari/util/misc.py
  napari/view_function.py
  napari/viewer.py
Labels: feature

#499 rename clim
  examples/add_pyramid.py
  examples/add_vectors_image.py
  examples/nD_pyramid.py
  examples/nD_pyramid_non_uniform.py
  examples/nD_vectors_image.py
  examples/zarr_nD_image.py
  napari/_qt/layers/qt_image_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_pyramid_layer.py
  napari/components/viewer_model.py
  napari/layers/image/image.py
  napari/layers/image/tests/test_image.py
  napari/layers/labels/labels.py
  napari/layers/pyramid/pyramid.py
  napari/layers/pyramid/tests/test_pyramid.py
  napari/util/misc.py
  napari/view_function.py
Labels: refactor
