Repository napari/napari, pull requests merged in 2019-09, with the labels that each got.

#498 support more image dtypes
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_pyramid_layer.py
  napari/layers/image/image.py
  napari/tests/test_dtypes.py
  napari/tests/test_view_function.py
  napari/view_function.py
Labels: bug

#501 fix cursor position
  examples/cursor_position.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/_vispy/vispy_vectors_layer.py
  napari/layers/labels/labels.py
  napari/layers/labels/tests/test_labels.py
  napari/layers/vectors/vectors.py
Labels: bug

#505 don't ignore errors in events
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_pyramid_layer.py
  napari/util/event.py
Labels: bug

#509 fix node ordering
  napari/_qt/qt_viewer.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_points_layer.py
Labels: bug

#510 fix call signature to work with keyword-only arguments
  napari/util/misc.py
  napari/util/tests/test_misc.py
Labels: bug

#506 fix contributing guidelines
  CONTRIBUTING.md
Labels: documentation

#508 create release guide
  RELEASE.md
Labels: documentation

#512 prevent selected label from being reduced below 0
  napari/layers/labels/labels.py
Labels: bug

#522 fix typos in release guidelines
  RELEASE.md
Labels: documentation

#528 add multichannel
  README.md
  examples/add_labels.py
  examples/add_pyramid.py
  examples/annotate-2d.py
  examples/labels-2d.py
  examples/nD_pyramid.py
  examples/nD_pyramid_non_uniform.py
  examples/set_theme.py
  examples/to_screenshot.py
  examples/zarr_nD_image.py
  napari/__main__.py
  napari/_qt/qt_viewer.py
  napari/components/tests/test_multichannel.py
  napari/components/viewer_model.py
  napari/layers/image/image.py
  napari/layers/image/tests/test_image.py
  napari/layers/pyramid/pyramid.py
  napari/layers/pyramid/tests/test_pyramid.py
  napari/util/__init__.py
  napari/util/misc.py
  napari/util/tests/test_misc.py
  napari/view_function.py
Labels: feature, refactor

#503 add surface layer
  examples/add_surface_2D.py
  examples/nD_surface.py
  napari/_qt/layers/qt_image_base_layer.py
  napari/_qt/layers/qt_image_layer.py
  napari/_qt/layers/util.py
  napari/_qt/qt_viewer.py
  napari/_vispy/util.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_surface_layer.py
  napari/components/tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/layers/__init__.py
  napari/layers/surface/__init__.py
  napari/layers/surface/surface.py
  napari/layers/surface/tests/test_surface.py
  napari/layers/vectors/vectors.py
  napari/tests/test_advanced.py
  napari/tests/test_viewer.py
Labels: feature

#542 add view_* methods at napari level
  README.md
  examples/add_image.py
  examples/add_labels.py
  examples/add_points.py
  examples/add_pyramid.py
  examples/add_shapes.py
  examples/add_surface_2D.py
  examples/annotate-2d.py
  examples/custom_key_bindings.py
  examples/dask_nD_image.py
  examples/labels-2d.py
  examples/layers.py
  examples/multiple_viewers.py
  examples/nD_image.py
  examples/nD_labels.py
  examples/nD_points.py
  examples/nD_pyramid.py
  examples/nD_pyramid_non_uniform.py
  examples/nD_shapes.py
  examples/nD_vectors.py
  examples/notebook.ipynb
  examples/set_theme.py
  examples/swap_dims.py
  examples/update_console.py
  examples/zarr_nD_image.py
  napari/__init__.py
  napari/tests/test_napari.py
  napari/tests/test_view_function.py
  napari/view_function.py
  napari/view_layers.py
Labels: refactor

#536 unified layer ui
  napari/_qt/layers/__init__.py
  napari/_qt/layers/qt_base_layer.py
  napari/_qt/layers/qt_image_base_layer.py
  napari/_qt/layers/qt_image_layer.py
  napari/_qt/layers/qt_labels_layer.py
  napari/_qt/layers/qt_points_layer.py
  napari/_qt/layers/qt_pyramid_layer.py
  napari/_qt/layers/qt_shapes_layer.py
  napari/_qt/layers/qt_surface_layer.py
  napari/_qt/layers/qt_vectors_layer.py
  napari/_qt/layers/util.py
  napari/_qt/qt_dims.py
  napari/_qt/qt_layerlist.py
  napari/_qt/qt_range_slider.py
  napari/_qt/qt_viewer.py
  napari/_qt/qt_viewer_buttons.py
  napari/components/layerlist.py
  napari/keybindings.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/surface.py
  napari/layers/vectors/vectors.py
  napari/resources/build_icons.py
  napari/resources/icons/dark/2D.svg
  napari/resources/icons/dark/3D.svg
  napari/resources/icons/dark/new_image.svg
  napari/resources/icons/dark/new_surface.svg
  napari/resources/icons/dark/new_vectors.svg
  napari/resources/icons/light/2D.svg
  napari/resources/icons/light/3D.svg
  napari/resources/icons/light/new_image.svg
  napari/resources/icons/light/new_surface.svg
  napari/resources/icons/light/new_vectors.svg
  napari/resources/icons/svg/2D.svg
  napari/resources/icons/svg/3D.svg
  napari/resources/icons/svg/new_image.svg
  napari/resources/icons/svg/new_surface.svg
  napari/resources/icons/svg/new_vectors.svg
  napari/resources/qt.py
  napari/resources/res.qrc
  napari/resources/stylesheet.qss
  napari/util/colormaps/__init__.py
  napari/util/colormaps/colorbars.py
Labels: design

#545 Merge pyramid layer into image
  examples/add_pyramid.py
  examples/nD_pyramid.py
  examples/nD_pyramid_non_uniform.py
  napari/__init__.py
  napari/_qt/layers/qt_pyramid_layer.py
  napari/_qt/layers/util.py
  napari/_qt/tests/test_qt_viewer.py
  napari/_vispy/util.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_pyramid_layer.py
  napari/components/tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/layers/__init__.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/image/tests/test_image.py
  napari/layers/image/tests/test_pyramid.py
  napari/layers/image/tests/test_volume.py
  napari/layers/pyramid/__init__.py
  napari/layers/pyramid/pyramid.py
  napari/tests/test_dtypes.py
  napari/tests/test_nD.py
  napari/tests/test_napari.py
  napari/tests/test_viewer.py
  napari/util/misc.py
  napari/util/tests/test_misc.py
  napari/view_layers.py
Labels: feature

#533 add undo/redo to labels layer
  napari/_vispy/vispy_image_layer.py
  napari/layers/labels/keybindings.py
  napari/layers/labels/labels.py
  napari/tests/test_advanced.py
Labels: feature

#553 fix menubar focus mac
  napari/_qt/qt_main_window.py
Labels: bug

#549 fix 3d point rendering
  napari/_vispy/markers.py
  napari/_vispy/vispy_points_layer.py
  napari/_vispy/vispy_shapes_layer.py
Labels: bug

#550 make dims sliders bars
  napari/_qt/layers/qt_points_layer.py
  napari/_qt/layers/qt_shapes_layer.py
  napari/_qt/qt_dims.py
  napari/_qt/qt_viewer_buttons.py
  napari/_qt/tests/test_qt_dims.py
  napari/keybindings.py
  napari/resources/build_icons.py
  napari/resources/icons/dark/left_arrow.svg
  napari/resources/icons/dark/right_arrow.svg
  napari/resources/icons/light/left_arrow.svg
  napari/resources/icons/light/right_arrow.svg
  napari/resources/icons/svg/left_arrow.svg
  napari/resources/icons/svg/right_arrow.svg
  napari/resources/qt.py
  napari/resources/res.qrc
  napari/resources/stylesheet.qss
Labels: design

#532 support 3D rendering shapes layer
  examples/3D_paths.py
  napari/_qt/qt_viewer.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_points_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/_vispy/vispy_surface_layer.py
  napari/_vispy/vispy_vectors_layer.py
  napari/components/viewer_model.py
  napari/layers/image/image.py
  napari/layers/shapes/mesh.py
  napari/layers/shapes/shape_list.py
  napari/layers/shapes/shape_models/ellipse.py
  napari/layers/shapes/shape_models/line.py
  napari/layers/shapes/shape_models/path.py
  napari/layers/shapes/shape_models/polygon.py
  napari/layers/shapes/shape_models/rectangle.py
  napari/layers/shapes/shape_models/shape.py
  napari/layers/shapes/shape_models/tests/test_shape_models.py
  napari/layers/shapes/shape_util.py
  napari/layers/shapes/shapes.py
  napari/layers/shapes/tests/test_shape_list.py
  napari/tests/test_nD.py
  napari/tests/test_viewer.py
  napari/viewer.py
Labels: feature

#548 Labels pyramid
  napari/_qt/layers/qt_labels_layer.py
  napari/_qt/layers/qt_points_layer.py
  napari/_qt/layers/qt_shapes_layer.py
  napari/components/tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/image/tests/test_pyramid.py
  napari/layers/labels/labels.py
  napari/layers/labels/tests/test_labels.py
  napari/layers/labels/tests/test_pyramid.py
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
  napari/resources/stylesheet.qss
  napari/util/misc.py
  napari/util/tests/test_misc.py
  napari/view_layers.py
Labels: feature
