Repository napari/napari, pull requests merged in 2019-10, with the labels that each got.

#556 fix pyramid guessing
  napari/layers/image/image.py
  napari/util/misc.py
  napari/util/tests/test_misc.py
Labels: bug

#546 Add release notes
  RELEASE.md
  docs/release/release_0_1.rst
  docs/release/release_0_1_3.rst
  docs/release/release_0_1_5.rst
  docs/release/release_dev.rst
  docs/release/release_template.rst
  generate_release_notes.py
  requirements/_release_tools.txt
Labels: documentation

#555 move zarr, xarray, dask from examples to tests
  examples/dask_nD_image.py
  examples/xarray_nD_image.py
  examples/zarr_nD_image.py
  napari/components/tests/test_multichannel.py
  napari/components/viewer_model.py
  napari/tests/test_numpy_like.py
  napari/util/misc.py
  napari/util/tests/test_misc.py
  napari/view_layers.py
Labels: bug, refactor

#571 fix points updateing
  napari/layers/points/points.py
Labels: bug, design

#573 add basic benchmarks
  .gitignore
  BENCHMARKS.md
  asv.conf.json
  benchmarks/__init__.py
  benchmarks/benchmark_image_layer.py
  benchmarks/benchmark_qt_viewer.py
  benchmarks/benchmark_qt_viewer_image.py
Labels: feature, tests

#565 basic grid vs stack views
  examples/layers.py
  napari/_qt/qt_viewer_buttons.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/components/tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/resources/build_icons.py
  napari/resources/icons/dark/grid.svg
  napari/resources/icons/light/grid.svg
  napari/resources/icons/svg/grid.svg
  napari/resources/qt.py
  napari/resources/res.qrc
  napari/resources/stylesheet.qss
Labels: feature

#564 faster points thumbnails
  napari/layers/points/points.py
  napari/layers/vectors/vectors.py
Labels: bug, performance

#551 stop vispy error catching
  napari/_qt/qt_viewer.py
Labels: bug

#580 WIP: About Menubar
  napari/_qt/qt_about.py
  napari/_qt/qt_main_window.py
Labels: feature

#585 fix pyramid guessing
  napari/layers/image/image.py
  napari/layers/image/tests/test_image.py
  napari/layers/image/tests/test_pyramid.py
  napari/util/misc.py
  napari/util/tests/test_misc.py
Labels: bug

#584 viewer args to view_* methods
  napari/components/viewer_model.py
  napari/view_layers.py
  napari/viewer.py
Labels: bug, refactor

#589 bracketed numbers for autoincrementing
  napari/components/tests/test_layers_list.py
  napari/components/tests/test_multichannel.py
  napari/util/naming.py
  napari/util/tests/test_naming.py
Labels: bug

#374 add code of conduct
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  REPORT_HANDLING_MANUAL.md
Labels: documentation, feature

#583 Test and display keybindings
  napari/_qt/qt_about.py
  napari/_qt/qt_about_keybindings.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/components/viewer_model.py
  napari/keybindings.py
  napari/layers/labels/keybindings.py
  napari/layers/points/keybindings.py
  napari/layers/shapes/keybindings.py
  napari/resources/stylesheet.qss
  napari/tests/test_keybindings.py
  napari/tests/test_viewer.py
  napari/util/misc.py
Labels: feature, tests

#544 implement custom mouse function framework
  examples/custom_mouse_functions.py
  napari/_qt/qt_viewer.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/tests/test_mouse_bindings.py
  napari/util/misc.py
  requirements/default.txt
Labels: feature

#590 Further unify IO and use dask for multiple files
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/keybindings.py
  napari/util/io.py
  napari/util/misc.py
  napari/util/tests/test_io.py
  requirements/default.txt
  requirements/test.txt
Labels: refactor

#592 0.2.1 release
  docs/release/release_0_2_1.rst
  docs/release/release_dev.rst
Labels: documentation

#599 Cmap turbo
  napari/util/colormaps/matplotlib_cmaps.txt
  napari/util/colormaps/vendored/_cm_listed.py
Labels: feature

#602 Move docs
  README.md
  docs/BENCHMARKS.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/RELEASE.md
  docs/REPORT_HANDLING_MANUAL.md
  docs/release/generate_release_notes.py
Labels: documentation

#606 fix bracket highlighting
  napari/_qt/qt_viewer.py
Labels: bug, design

#603 fix dim change when no layers
  napari/components/dims.py
  napari/components/tests/test_viewer_model.py
  napari/components/viewer_model.py
Labels: bug

#601 add loading from path for images
  napari/_qt/qt_viewer.py
  napari/components/tests/test_viewer_io.py
  napari/components/viewer_model.py
  napari/tests/test_viewer_layer_parity.py
  napari/util/io.py
  napari/util/tests/test_io.py
  napari/view_layers.py
Labels: feature

#622 Standardize usage of cmaps and add cmap tests
  napari/layers/image/image.py
  napari/layers/labels/labels.py
  napari/util/colormaps/colorbars.py
  napari/util/colormaps/colormaps.py
  napari/util/tests/test_colormaps.py
Labels: feature

#620 0_2_3 release
  docs/release/release_0_2_3.rst
Labels: documentation

#610 Add gamma slider
  napari/_qt/layers/qt_image_base_layer.py
  napari/_qt/layers/qt_image_layer.py
  napari/_qt/layers/qt_surface_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_surface_layer.py
  napari/components/tests/test_multichannel.py
  napari/components/viewer_model.py
  napari/layers/image/image.py
  napari/layers/image/tests/test_image.py
  napari/layers/surface/surface.py
  napari/layers/surface/tests/test_surface.py
  napari/view_layers.py
Labels: feature

#629 Fix repeated calls to _on_data_change
  benchmarks/benchmark_qt_viewer_image.py
  napari/_vispy/tests/test_vispy_calls.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_points_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/_vispy/vispy_surface_layer.py
  napari/_vispy/vispy_vectors_layer.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/points/points.py
  napari/layers/surface/surface.py
Labels: bug

#619 drop multichannel
  napari/components/tests/test_multichannel.py
  napari/components/tests/test_viewer_io.py
  napari/components/viewer_model.py
  napari/tests/test_napari.py
  napari/tests/test_viewer_layer_parity.py
  napari/util/colormaps/__init__.py
  napari/util/colormaps/colormaps.py
  napari/view_layers.py
Labels: refactor

#642 Raise informative warning when no Qt loop is detected
  napari/tests/test_viewer.py
  napari/viewer.py
  requirements/test.txt
Labels: bug

#648 0.2.4 release notes
  docs/RELEASE.md
  docs/release/release_0_2_4.rst
Labels: documentation
