Repository napari/napari, pull requests merged in 2019-11, with the labels that each got.

#638 Add linter pre-commit hook
  .cirrus.yml
  .pre-commit-config.yaml
  docs/CONTRIBUTING.md
  napari/_qt/layers/util.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_qt/tests/test_qt_layerlist.py
  napari/_vispy/tests/test_vispy_calls.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_surface_layer.py
  napari/components/tests/test_layers_list.py
  napari/components/tests/test_multichannel.py
  napari/components/tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/layers/image/image.py
  napari/layers/image/tests/test_image.py
  napari/layers/image/tests/test_pyramid.py
  napari/layers/image/tests/test_volume.py
  napari/layers/labels/labels.py
  napari/layers/labels/tests/test_labels.py
  napari/layers/labels/tests/test_pyramid.py
  napari/layers/points/points.py
  napari/layers/points/tests/test_points.py
  napari/layers/shapes/shapes.py
  napari/layers/shapes/tests/test_shape_list.py
  napari/layers/shapes/tests/test_shapes.py
  napari/layers/surface/surface.py
  napari/layers/vectors/tests/test_vectors.py
  napari/resources/__init__.py
  napari/tests/test_keybindings.py
  napari/tests/test_viewer.py
  napari/tests/test_viewer_layer_parity.py
  napari/util/colormaps/colormaps.py
  napari/util/keybindings.py
  napari/util/list/_base.py
  napari/util/list/_typed.py
  napari/util/misc.py
  napari/util/tests/test_colormaps.py
  napari/util/tests/test_keybindings.py
  napari/view_layers.py
  napari/viewer.py
  requirements/development.txt
  setup.cfg
Labels: feature

#607 Basic "play" functionality (animate a dimension)
  napari/_qt/qt_dims.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_qt/tests/test_qt_play.py
  napari/components/dims.py
  napari/components/viewer_model.py
  napari/keybindings.py
  napari/tests/test_viewer.py
Labels: feature

#664 modify dims QScrollbar with scroll-to-click behavior
  napari/_qt/qt_dims.py
  napari/_qt/qt_scrollbar.py
  napari/_qt/tests/test_qt_scrollbar.py
Labels: feature

#667 release notes 0.2.5
  docs/release/release_0_2_5.rst
Labels: documentation

#674 add logo
  resources/logo.png
Labels: feature

#677 document qt not qt5
  README.md
Labels: documentation

#680 fix init of _position
  napari/_vispy/vispy_base_layer.py
  napari/tests/test_advanced.py
Labels: bug

#682 Fix 3d display surface
  napari/_vispy/mesh.py
  napari/_vispy/vispy_shapes_layer.py
  napari/_vispy/vispy_surface_layer.py
  napari/_vispy/vispy_vectors_layer.py
  napari/tests/test_napari.py
Labels: bug

#668 improve release guide
  docs/RELEASE.md
  docs/release/generate_release_notes.py
  docs/release/release_0_1_0.rst
  docs/release/release_0_2_0.rst
  docs/release/release_dev.rst
  docs/release/release_template.rst
Labels: documentation

#650 Interactive Scripting
  examples/interactive_scripting.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_update_ui.py
  napari/_qt/qt_viewer.py
  napari/tests/test_viewer.py
  napari/viewer.py
Labels: feature

#690 Add an example showing mouse drag callbacks
  examples/mouse_drag_callback.py
Labels: documentation, feature

#684 improve labels painting speed
  benchmarks/benchmark_qt_viewer_labels.py
  docs/BENCHMARKS.md
  napari/layers/labels/labels.py
  napari/layers/labels/tests/test_labels.py
Labels: performance

#644 Labeled axes
  .gitignore
  benchmarks/benchmark_qt_viewer_image.py
  napari/_qt/qt_dims.py
  napari/components/dims.py
  napari/components/tests/test_dims.py
  napari/components/viewer_model.py
  napari/view_layers.py
  napari/viewer.py
Labels: feature

#683 ArcballCamera fov default
  napari/_qt/qt_viewer.py
Labels: bug

#701 support multichannel dask array
  napari/components/tests/test_multichannel.py
  napari/components/viewer_model.py
Labels: bug

#695 add_dock_widget method on main Window class
  napari/_qt/qt_main_window.py
  napari/resources/stylesheet.qss
Labels: feature

#709 allows Path in io.magic_imread, fixes #708
  napari/components/viewer_model.py
  napari/util/io.py
  napari/util/tests/test_io.py
  napari/view_layers.py
Labels: feature

#705 Don't calc_data_range on uint8 data
  napari/util/misc.py
  napari/util/tests/test_misc.py
Labels: refactor

#715 Handles empty chosen files and folder
  .gitignore
  napari/_qt/qt_viewer.py
Labels: bug

#721 raise main window when showing
  napari/_qt/qt_main_window.py
Labels: bug

#714 dockable console
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_qt/qt_viewer_dock_widget.py
  napari/keybindings.py
  napari/resources/stylesheet.qss
Labels: feature

#722 add main window option to screenshots
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_qt/util.py
  napari/tests/test_viewer.py
  napari/viewer.py
Labels: feature

#728 Fix vertical scrollbars
  napari/resources/build_icons.py
  napari/resources/icons/dark/down_arrow.svg
  napari/resources/icons/dark/up_arrow.svg
  napari/resources/icons/light/down_arrow.svg
  napari/resources/icons/light/up_arrow.svg
  napari/resources/icons/svg/down_arrow.svg
  napari/resources/icons/svg/up_arrow.svg
  napari/resources/qt.py
  napari/resources/res.qrc
  napari/resources/stylesheet.qss
  napari/resources/test_resources.py
  pyproject.toml
  setup.cfg
Labels: bug

#739 remove vispy backport with 0.6.3
  napari/_vispy/markers.py
  napari/_vispy/mesh.py
  napari/_vispy/vispy_points_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/_vispy/vispy_surface_layer.py
  napari/_vispy/vispy_vectors_layer.py
  requirements/default.txt
Labels: bug

#740 improve pyramid guessing
  napari/layers/image/tests/test_big_image_timing.py
  napari/util/misc.py
  napari/util/tests/test_misc.py
  requirements/test.txt
Labels: bug

#741 0_2_6 release notes
  docs/release/release_0_2_6.rst
Labels: documentation

#743 Zenodo badge
  README.md
Labels: documentation

#712 expose iso surface threshold
  napari/_qt/layers/qt_image_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/components/viewer_model.py
  napari/layers/image/image.py
  napari/layers/image/tests/test_image.py
  napari/view_layers.py
Labels: feature

#744 Add dock icon
  napari/resources/logo.png
  napari/viewer.py
Labels: feature
