Repository napari/napari, pull requests merged in 2019-12, with the labels that each got.

#750 clean up info box
  README.md
  napari/_qt/qt_about.py
  napari/_qt/qt_main_window.py
  napari/resources/stylesheet.qss
Labels: refactor

#745 show splash screen
  napari/__main__.py
  napari/_qt/event_loop.py
Labels: feature

#726 Add play button to gui
  napari/_qt/_constants.py
  napari/_qt/qt_dims.py
  napari/_qt/qt_dims_slider.py
  napari/_qt/qt_modal.py
  napari/_qt/tests/test_qt_dims.py
  napari/_qt/tests/test_qt_play.py
  napari/_qt/util.py
  napari/keybindings.py
  napari/resources/build_icons.py
  napari/resources/icons/dark/long_left_arrow.svg
  napari/resources/icons/dark/long_right_arrow.svg
  napari/resources/icons/dark/step_left.svg
  napari/resources/icons/dark/step_right.svg
  napari/resources/icons/light/long_left_arrow.svg
  napari/resources/icons/light/long_right_arrow.svg
  napari/resources/icons/light/step_left.svg
  napari/resources/icons/light/step_right.svg
  napari/resources/icons/svg/long_left_arrow.svg
  napari/resources/icons/svg/long_right_arrow.svg
  napari/resources/icons/svg/step_left.svg
  napari/resources/icons/svg/step_right.svg
  napari/resources/qt.py
  napari/resources/res.qrc
  napari/resources/stylesheet.qss
  napari/util/theme.py
Labels: feature

#748 labels file opening
  napari/components/tests/test_viewer_image_io.py
  napari/components/tests/test_viewer_labels_io.py
  napari/components/viewer_model.py
  napari/util/temporary_file.py
  napari/view_layers.py
Labels: feature

#749 simplify keybindings info and make dockable
  napari/_qt/qt_about_keybindings.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_qt/qt_viewer_dock_widget.py
  napari/keybindings.py
  napari/resources/stylesheet.qss
  napari/util/misc.py
Labels: refactor

#757 Fix StringEnum setting and errors
  napari/util/misc.py
  napari/util/tests/test_misc.py
Labels: bug

#759 Display slice info on right of slider
  napari/_qt/qt_dims.py
  napari/_qt/qt_dims_slider.py
  napari/_qt/tests/test_qt_dims.py
  napari/components/dims.py
  napari/resources/stylesheet.qss
Labels: feature

#767 fix set_fps type to float
  napari/_qt/qt_dims_slider.py
Labels: bug

#727 dockable layers list
  napari/_qt/layers/qt_image_layer.py
  napari/_qt/layers/qt_labels_layer.py
  napari/_qt/layers/qt_points_layer.py
  napari/_qt/layers/qt_shapes_layer.py
  napari/_qt/layers/qt_surface_layer.py
  napari/_qt/layers/qt_vectors_layer.py
  napari/_qt/qt_controls.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_qt/qt_viewer_dock_widget.py
  napari/resources/build_icons.py
  napari/resources/icons/dark/pop_out.svg
  napari/resources/icons/light/pop_out.svg
  napari/resources/icons/svg/pop_out.svg
  napari/resources/qt.py
  napari/resources/res.qrc
  napari/resources/stylesheet.qss
  napari/util/theme.py
Labels: feature

#770 Move Labels utility functions to labels_util.py
  napari/layers/labels/labels.py
  napari/layers/labels/labels_utils.py
  napari/layers/labels/tests/test_label_utils.py
  napari/util/misc.py
Labels: refactor

#765 Napari "scale" keyword argument may accept array-like (numpy, dsak, xarray) input
  napari/layers/base/base.py
  napari/layers/image/tests/test_image.py
Labels: bug

#775 Move Image layer utility functions to image_utils.py
  napari/layers/image/image.py
  napari/layers/image/image_utils.py
  napari/layers/image/tests/test_image_utils.py
  napari/util/__init__.py
  napari/util/misc.py
  napari/util/tests/test_misc.py
Labels: refactor

#779 change language around windows in readme
  README.md
Labels: documentation

#781 Refactor util.misc
  napari/_qt/qt_about_keybindings.py
  napari/_qt/qt_viewer.py
  napari/util/interactions.py
  napari/util/misc.py
  napari/util/tests/test_interactions.py
Labels: refactor

#784 Updating qt_console with better resource management.
  napari/_qt/qt_console.py
  napari/_qt/tests/test_qt_console.py
  requirements/default.txt
Labels: bug, tests

#769 Adding shutdown method to QtViewer that closes all resources
  napari/_qt/qt_viewer.py
  napari/_qt/tests/test_qt_play.py
  napari/_qt/tests/test_qt_viewer.py
Labels: bug

#747 Add benchmarks for setting .data in Image layers
  benchmarks/benchmark_image_layer.py
  benchmarks/benchmark_qt_viewer_image.py
  benchmarks/benchmark_qt_viewer_labels.py
  docs/BENCHMARKS.md
Labels: refactor

#723 Refactor layer tests to be more parametrized
  napari/_qt/tests/test_qt_viewer.py
  napari/tests/test_nD.py
  napari/tests/test_napari.py
  napari/tests/test_viewer.py
  napari/tests/util.py
Labels: tests

#788 respect vispy max texture limits
  napari/_vispy/tests/test_vispy_big_images.py
  napari/_vispy/util.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/layers/image/image.py
Labels: bug

#773 drop ndim keyword from labels
  napari/components/viewer_model.py
  napari/layers/labels/labels.py
  napari/view_layers.py
Labels: breaking change

#776 block refresh for invisible layers
  benchmarks/benchmark_image_layer.py
  benchmarks/benchmark_labels_layer.py
  benchmarks/benchmark_points_layer.py
  benchmarks/benchmark_qt_viewer_image.py
  benchmarks/benchmark_qt_viewer_labels.py
  benchmarks/benchmark_shapes_layer.py
  benchmarks/benchmark_surface_layer.py
  benchmarks/benchmark_vectors_layer.py
  napari/_vispy/markers.py
  napari/_vispy/vispy_points_layer.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/image/tests/test_big_image_timing.py
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/surface.py
  napari/layers/surface/tests/test_surface.py
  napari/layers/vectors/vectors.py
  napari/tests/test_viewer.py
  napari/tests/util.py
Labels: performance

#803 fix FPS spin box on Qt < 5.12
  napari/_qt/qt_dims_slider.py
Labels: bug

#796 Revert #784 console shutdown conditionals
  napari/_qt/qt_console.py
  napari/_qt/tests/test_qt_console.py
Labels: bug

#797 Add blocked_signals context manager
  napari/_qt/layers/qt_image_base_layer.py
  napari/_qt/qt_viewer_dock_widget.py
  napari/_qt/tests/test_qt_utils.py
  napari/_qt/util.py
Labels: feature

#798 About copy button
  napari/_qt/qt_about.py
  napari/resources/build_icons.py
  napari/resources/icons/dark/copy_to_clipboard.svg
  napari/resources/icons/light/copy_to_clipboard.svg
  napari/resources/icons/svg/copy_to_clipboard.svg
  napari/resources/qt.py
  napari/resources/res.qrc
  napari/resources/stylesheet.qss
Labels: feature

#800 Fix (minor) deprecations
  napari/_qt/layers/qt_shapes_layer.py
  napari/_qt/qt_dims.py
  napari/layers/base/base.py
Labels: feature, refactor

#807 bumpy vispy 0.6.4
  requirements/default.txt
Labels: bug

#806 Set threshold for codecov failure
  codecov.yml
Labels: refactor

#795 Fix window raise & inactive menubar conflict
  napari/_qt/event_loop.py
  napari/_qt/qt_main_window.py
Labels: bug

#810 0.2.7 release notes
  docs/release/generate_release_notes.py
  docs/release/release_0_2_7.rst
Labels: documentation

#811 rename utils in manifest
  MANIFEST.in
  docs/release/release_0_2_7.rst
Labels: bug

#809 add PyGithub to dev dependencies
  docs/RELEASE.md
  docs/release/release_0_2_7.rst
  requirements/development.txt
  requirements/release.txt
Labels: bug

#813 change selected menu header background color
  docs/release/release_0_2_7.rst
  napari/resources/stylesheet.qss
Labels: design

#655 add governance model, mission and values, core dev guide
  README.md
  docs/CORE_DEV_GUIDE.md
  docs/GOVERNANCE.md
  docs/MISSION_AND_VALUES.md
  docs/release/release_0_2_7.rst
Labels: documentation, feature

#815 Fix broken links in CODE_OF_CONDUCT.md
  docs/CODE_OF_CONDUCT.md
  docs/CORE_DEV_GUIDE.md
Labels: bug

#822 Modify visibility changed slot to only update title if the object is visible
  napari/_qt/qt_viewer_dock_widget.py
Labels: bug

#827 compatibility with numpy 1.18
  napari/layers/labels/labels_utils.py
Labels: bug

#814 Create independent sys_info function; add to CLI
  napari/__init__.py
  napari/__main__.py
  napari/_qt/qt_about.py
  napari/resources/stylesheet.qss
  napari/utils/__init__.py
  napari/utils/info.py
  napari/utils/tests/test_info.py
Labels: feature, refactor

#828 add release notes for 0.2.8
  docs/release/release_0_2_8.rst
Labels: documentation

#830 numpydoc 0_9_2
  requirements/default.txt
Labels: bug

#831 support surface timeseries
  examples/surface_timeseries.py
  napari/_vispy/vispy_surface_layer.py
  napari/components/viewer_model.py
  napari/layers/surface/surface.py
  napari/layers/surface/tests/test_surface.py
  napari/view_layers.py
Labels: feature
