Repository napari/napari, pull requests merged in 2020-09, with the labels that each got.

#1597 Restore multiple command-line arguments
  napari/__main__.py
Labels: bug

#1595 do not raise viewer in IPython with pre-existing event loop
  napari/_qt/qt_main_window.py
  napari/utils/misc.py
Labels: bug

#1555 Add SELECTED color-mode for individual label visibility
  napari/_qt/layer_controls/_tests/test_qt_labels_layer.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/layers/labels/_labels_constants.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: feature

#1599 lock briefcase version
  .github/workflows/make_bundle.yml
Labels: bug

#1601 Update 0.3.7 release notes
  docs/release/release_0_3_7.md
Labels: documentation

#1604 exclude test_bundle from distribution
  MANIFEST.in
  docs/release/release_0_3_7.md
  napari/_tests/test_bundle.py
Labels: bug

#1608 Skip bundle test when setup.cfg is missing
  MANIFEST.in
  docs/release/release_0_3_7.md
  napari/_tests/test_bundle.py
Labels: bug

#1613 fix usage nan_to_num to work with numpy 1.16
  napari/components/layerlist.py
  pyproject.toml
  setup.cfg
Labels: bug

#1619 change bundle deps approach
  bundle.py
  napari/_tests/test_bundle.py
  pyproject.toml
  requirements/test.txt
Labels: refactor

#1607 Async rendering part 2.5
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/components/chunk/_request.py
  napari/layers/image/_image_slice.py
Labels: async, feature

#1622 Update colortransform when building texture
  napari/_vispy/_tests/test_image_rendering.py
  napari/_vispy/vendored/image.py
Labels: bug

#1615 increase screenshot performance
  napari/_qt/qt_viewer.py
Labels: bug, performance

#1617 Add test matrix entry to test minimum requirements
  .cirrus.yml
  .pre-commit-config.yaml
  napari/components/_tests/test_multichannel.py
  pyproject.toml
  setup.cfg
  tools/minreq.py
Labels: bug

#1632 Big update of rendering explanation doc
  docs/source/explanations/rendering.md
Labels: documentation

#1626 Use pyside2-rcc if pyrcc5 fail
  napari/resources/build_icons.py
  napari/resources/test_resources.py
Labels: bug

#1633 Do not ship bundle.py in source distribution
  MANIFEST.in
Labels: bug

#1623 Fix points layer coloring
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: bug

#1643 Fix new color point off
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: bug

#1567 Remove silence overwritte during screenshot
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/dialogs/screenshot_dialog.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
Labels: bug

#1641 Fix #1631 by creating a new slice every time
  napari/_tests/test_with_screenshot.py
  napari/layers/image/image.py
Labels: bug

#1644 0.3.8 release notes
  docs/release/release_0_3_8.md
Labels: documentation

#1647 Prevent fail bundle when have other name than napari
  docs/release/release_0_3_8.md
  napari/utils/misc.py
Labels: bug

#1645 Remove Python version requirement for pre-commit
  .pre-commit-config.yaml
  docs/release/release_0_3_8.md
Labels: bug

#1649 Add github retry action to try and fix flaky app bundling for releases
  .github/workflows/make_bundle.yml
  docs/release/release_0_3_8.md
Labels: bug, bundle

#1648 Speed up points selection and selection display
  docs/release/release_0_3_8.md
  napari/layers/points/points.py
Labels: performance

#1650 Fix NameError: name 'Optional' is not defined on Python 3.9
  napari/view_layers.py
Labels: bug

#1651 MAINT: Increase retry action timeout from 10 to 30 mins
  .github/workflows/make_bundle.yml
Labels: bug

#1652 Drop Python 3.6
  .cirrus.yml
  README.md
  docs/source/index.rst
  napari/_qt/dialogs/_tests/test_qt_plugin_list.py
  setup.cfg
Labels: breaking change

#1634 New perfmon doc
  docs/source/events/index.rst
  docs/source/events/perfmon.rst
Labels: documentation

#1657 Fix pan zoom scaling
  napari/layers/image/image.py
Labels: bug

#1660 fix world origin
  napari/_tests/test_viewer.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_points_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/_vispy/vispy_surface_layer.py
  napari/_vispy/vispy_vectors_layer.py
Labels: feature
