Repository napari/napari, pull requests merged in 2020-05, with the labels that each got.

#1173 Turn caching on and fusion off when adding a dask array
  napari/layers/_tests/test_dask_layers.py
  napari/layers/base/base.py
  napari/utils/__init__.py
  napari/utils/misc.py
  requirements/default.txt
Labels: feature

#1192 fix multichannel implicit multiscale
  napari/components/_tests/test_multichannel.py
  napari/components/add_layers_mixin.py
Labels: bug

#1197 resize axis labels on show
  napari/_qt/qt_main_window.py
Labels: bug

#1196 fix singleton dims display after toggle
  napari/_qt/_tests/test_qt_dims.py
  napari/_qt/qt_dims.py
Labels: bug

#1186 Magic layer name guessing is always on
  napari/layers/base/base.py
Labels: feature, refactor

#1185 Save all/selected layers Qt dialogs
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
Labels: feature

#1195 Normalize paths handed to reader plugins
  napari/plugins/io.py
  napari/utils/_tests/test_misc.py
  napari/utils/io.py
  napari/utils/misc.py
Labels: bug

#1200 Bump svg-dep, add builtin write_labels
  napari/components/add_layers_mixin.py
  napari/conftest.py
  napari/layers/image/_image_utils.py
  napari/plugins/_builtins.py
  napari/plugins/_tests/test_save_layers.py
  requirements/default.txt
Labels: feature

#1194 One more plugin error reporting fix
  napari/_qt/_tests/test_qt_plugin_report.py
  napari/_qt/qt_dict_table.py
  napari/_qt/qt_plugin_report.py
  napari/plugins/_tests/test_exceptions.py
  napari/plugins/exceptions.py
Labels: bug

#1201 change screenshot hotkey and open menubar names
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
Labels: feature, refactor

#1193 Builtin shapes writer and reader
  napari/conftest.py
  napari/layers/_tests/test_layer_save.py
  napari/plugins/_builtins.py
  napari/plugins/_tests/test_builtin_write_layers.py
  napari/plugins/_tests/test_reader_plugins.py
  napari/utils/_tests/test_io.py
  napari/utils/io.py
Labels: feature

#1174 0.3.0 release notes
  docs/release/release_0_3_0.md
Labels: documentation

#1206 rework dask cache
  napari/layers/_tests/test_dask_layers.py
  napari/utils/__init__.py
  napari/utils/misc.py
Labels: bug

#1217 Use grayscale when n_channels=1
  napari/components/_tests/test_multichannel.py
  napari/components/add_layers_mixin.py
Labels: design

#1218 Better error on magic_imread with no files
  napari/utils/_tests/test_io.py
  napari/utils/io.py
Labels: bug

#1215 Don't build wheels with releases
  .github/workflows/make_release.yml
Labels: bug, installation

#1234 Update github issues templates with links to image.sc and zulip
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/support.md
Labels: documentation

#1229 Better icon-building strategy
  napari/resources/build_icons.py
Labels: bug, installation

#1219 Improve plugin error messages, bump napari-plugin-engine
  napari/components/_tests/test_add_layers.py
  napari/components/add_layers_mixin.py
  napari/plugins/io.py
  requirements/default.txt
Labels: bug

#1240 Unpin Jupyter client, issue seems to have resolved
  requirements/default.txt
Labels: bug, installation

#1239 add new performance doc in new "explanations" directory
  docs/explanations/performance.md
Labels: documentation

#1241 Don't try to get an event.key name if there is no event.key
  napari/_qt/qt_viewer.py
Labels: bug

#1244 Update guess_multiscale to deal with strange inputs
  napari/components/add_layers_mixin.py
  napari/layers/image/_image_utils.py
  napari/layers/image/_tests/test_image_utils.py
  napari/layers/image/image.py
Labels: bug

#1232 Unify user/plugin kwargs. Use filename for layer name
  napari/components/_tests/test_add_layers.py
  napari/components/add_layers_mixin.py
  napari/layers/__init__.py
Labels: bug, feature

#1220 CLI accepts --plugin or any add_* kwargs
  napari/__main__.py
  napari/_tests/test_cli.py
  napari/components/_tests/test_prune_kwargs.py
  napari/components/add_layers_mixin.py
  napari/view_layers.py
Labels: feature

#1247 0.3.1 release notes
  docs/release/release_0_3_0.md
  docs/release/release_0_3_1.md
Labels: documentation

#1249 Add pooch to requirements/test.txt
  requirements/test.txt
Labels: bug, tests

#1250 remove scipy.stats import
  napari/__init__.py
Labels: bug, installation

#1208 Use napari logo as taskbar icon on windows when run as python script
  napari/viewer.py
Labels: bug

#820 Automatically set high DPI scaling in Qt
  napari/_qt/event_loop.py
Labels: bug

#1260 Anti-aliasing on splash screen logo
  napari/_qt/event_loop.py
Labels: bug, design

#1263 remove dupe import
  napari/_qt/event_loop.py
Labels: bug

#1265 Refactor: move dask utils from misc.py to new dask.py
  napari/layers/base/base.py
  napari/utils/__init__.py
  napari/utils/dask_utils.py
  napari/utils/misc.py
Labels: refactor

#1122 make Qt component non private module
  napari/qt/__init__.py
Labels: refactor

#1264 add option to disable overwrite of labels during painting
  napari/_qt/layers/qt_labels_layer.py
  napari/layers/labels/_labels_key_bindings.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: feature

#1261 Prefer rcc binary at front of path
  napari/resources/build_icons.py
Labels: bug, installation

#1275 Pin napari-svg to 0.1.2
  requirements/default.txt
Labels: installation, plugins

#1274 Fix adding points with new properties
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: bug

#1279 support viewer annotation in magicgui
  napari/utils/_magicgui.py
  napari/viewer.py
Labels: feature

#1271 Have layer tooltip display the layer name: add self.layer.name to layer tooltip
  napari/_qt/qt_layerlist.py
Labels: bug

#1284 brighter active layer
  napari/resources/build_icons.py
  napari/resources/styles/02_custom.qss
  napari/utils/theme.py
Labels: design

#1269 Rich jupyter display for napari screenshots
  napari/_tests/test_viewer.py
  napari/_vispy/_tests/test_vispy_multiscale.py
  napari/utils/__init__.py
  napari/utils/_tests/test_notebook_display.py
  napari/utils/notebook_display.py
  napari/viewer.py
Labels: feature

#1210 General multithreading API and @thread_worker decorator
  examples/interactive_scripting.py
  examples/multithreading_simple.py
  examples/multithreading_two_way.py
  napari/_qt/qt_dims_slider.py
  napari/_qt/qt_viewer.py
  napari/_qt/threading.py
  napari/_qt/utils.py
  napari/_tests/test_viewer.py
  napari/qt/__init__.py
  napari/qt/threading.py
  napari/viewer.py
Labels: feature, performance

#1258 Docs on threading and the event loop
  docs/source/events/event_loop.rst
  docs/source/events/index.rst
  docs/source/events/threading.rst
  docs/source/index.rst
Labels: documentation

#1290 0.3.2 release notes
  docs/release/release_0_3_2.md
Labels: documentation

#1293 Fix error when binding multiple connections
  napari/_qt/threading.py
Labels: bug

#1291 Add pyyaml dependency
  docs/release/release_0_3_2.md
  requirements/default.txt
Labels: bug

#1295 close bytesIO in NotebookScreenshot._repr_png_
  docs/release/release_0_3_2.md
  napari/utils/notebook_display.py
Labels: bug

#1297 Fix shift-click for selecting shapes
  docs/release/release_0_3_2.md
  napari/layers/shapes/_shapes_mouse_bindings.py
Labels: bug

#1296 Allow add_dock_widget to accept a list of widgets
  docs/release/release_0_3_2.md
  napari/_qt/_tests/test_qt_dock_widget.py
  napari/_qt/qt_viewer_dock_widget.py
  napari/_qt/utils.py
  napari/utils/_magicgui.py
Labels: feature

#1294 add threading tests
  docs/release/release_0_3_2.md
  napari/_qt/_tests/test_threading.py
Labels: tests

#1298 exit context before return on _repr_png
  napari/utils/notebook_display.py
Labels: bug

#1306 make window public
  napari/qt/__init__.py
Labels: refactor

#1281 Adding properties attribute to Labels layers
  examples/add_labels_with_properties.py
  napari/components/add_layers_mixin.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/utils/_tests/test_layer_utils.py
  napari/layers/utils/layer_utils.py
  napari/layers/vectors/vectors.py
  napari/view_layers.py
Labels: feature

#1316 Pin PySide2 and PyQt5 at <5.15
  setup.py
Labels: bug

#1248 Shapes colors refactor
  examples/add_shapes.py
  napari/_qt/layers/qt_shapes_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/components/add_layers_mixin.py
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_shapes_models/ellipse.py
  napari/layers/shapes/_shapes_models/line.py
  napari/layers/shapes/_shapes_models/path.py
  napari/layers/shapes/_shapes_models/polygon.py
  napari/layers/shapes/_shapes_models/rectangle.py
  napari/layers/shapes/_shapes_models/shape.py
  napari/layers/shapes/_tests/test_shape_list.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/_tests/test_shapes_key_bindings.py
  napari/layers/shapes/shapes.py
  napari/view_layers.py
  requirements/default.txt
Labels: refactor

#1299 1235 allow drag to fill
  napari/_tests/test_advanced.py
  napari/layers/labels/_labels_mouse_bindings.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: feature

#1288 Add eraser button and functionality
  napari/_qt/layers/qt_labels_layer.py
  napari/layers/labels/_labels_constants.py
  napari/layers/labels/_labels_key_bindings.py
  napari/layers/labels/_labels_mouse_bindings.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/_tests/test_labels_mouse_bindings.py
  napari/layers/labels/labels.py
  napari/resources/icons/erase.svg
  napari/resources/icons/fill.svg
  napari/resources/icons/shuffle.svg
  napari/resources/styles/01_buttons.qss
Labels: feature

#1317 0.3.3 release
  docs/release/release_0_3_3.md
Labels: documentation

#1318 Add check-manifest to CI and release workflow
  .cirrus.yml
  .github/workflows/make_release.yml
  MANIFEST.in
  pyproject.toml
  requirements/development.txt
Labels: bug, tests
