Repository napari/napari, pull requests merged in 2020-07, with the labels that each got.

#1402 Fix vispy volume colormap changing
  napari/_tests/test_with_screenshots.py
  napari/_vispy/vispy_image_layer.py
Labels: bug

#1396 Event handler surface layer
  napari/_vispy/vispy_surface_layer.py
  napari/layers/surface/surface.py
Labels: refactor

#1391 Use qlistwidget for QtLayerList
  napari/_qt/_tests/test_qt_layerlist.py
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_controls.py
  napari/_qt/qt_layer_widget.py
  napari/_qt/qt_layerlist.py
  napari/_qt/qt_viewer.py
  napari/_qt/qt_viewer_buttons.py
  napari/_qt/utils.py
  napari/_tests/test_advanced.py
  napari/_tests/test_image_rendering.py
  napari/_tests/test_viewer.py
  napari/_tests/utils.py
  napari/_viewer_key_bindings.py
  napari/_vispy/_tests/test_vispy_colormap.py
  napari/components/_tests/test_layers_list.py
  napari/components/add_layers_mixin.py
  napari/components/layerlist.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/resources/styles/00_base.qss
  napari/resources/styles/02_custom.qss
  napari/utils/_tests/test_misc.py
  napari/utils/event.py
  napari/utils/event_handler.py
  napari/utils/list/_base.py
  napari/utils/list/_model.py
  napari/utils/list/_multi.py
  napari/utils/list/_tests/test_list_model.py
  napari/utils/misc.py
Labels: design, refactor

#1416 Revert event handler for now
  napari/_qt/_tests/test_qt_layerlist.py
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/layers/qt_base_layer.py
  napari/_qt/layers/qt_image_base_layer.py
  napari/_qt/layers/qt_image_layer.py
  napari/_qt/qt_controls.py
  napari/_qt/qt_layer_widget.py
  napari/_qt/qt_layerlist.py
  napari/_qt/qt_viewer.py
  napari/_qt/qt_viewer_buttons.py
  napari/_qt/utils.py
  napari/_tests/test_advanced.py
  napari/_tests/test_viewer.py
  napari/_tests/test_with_screenshots.py
  napari/_tests/utils.py
  napari/_viewer_key_bindings.py
  napari/_vispy/_tests/test_image_rendering.py
  napari/_vispy/_tests/test_vispy_calls.py
  napari/_vispy/_tests/test_vispy_colormap.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_points_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/_vispy/vispy_surface_layer.py
  napari/_vispy/vispy_vectors_layer.py
  napari/components/_tests/test_layers_list.py
  napari/components/_tests/test_viewer_model.py
  napari/components/add_layers_mixin.py
  napari/components/layerlist.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/intensity_mixin.py
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/surface.py
  napari/layers/vectors/vectors.py
  napari/resources/styles/00_base.qss
  napari/resources/styles/02_custom.qss
  napari/utils/_tests/test_misc.py
  napari/utils/event.py
  napari/utils/event_handler.py
  napari/utils/list/_base.py
  napari/utils/list/_model.py
  napari/utils/list/_multi.py
  napari/utils/list/_tests/test_list_model.py
  napari/utils/misc.py
  napari/utils/naming.py
Labels: refactor

#1428 Docreformat
  napari/_qt/event_loop.py
  napari/_qt/layers/utils.py
  napari/_qt/threading.py
  napari/_qt/utils.py
  napari/_vispy/utils.py
  napari/layers/labels/_labels_utils.py
  napari/layers/points/_points_mouse_bindings.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/vectors/_vector_utils.py
  napari/plugins/exceptions.py
  napari/plugins/hook_specifications.py
  napari/resources/__init__.py
  napari/resources/build_icons.py
  napari/utils/_magicgui.py
  napari/utils/colormaps/colorbars.py
  napari/utils/colormaps/colormaps.py
  napari/utils/colormaps/vendored/cm.py
  napari/utils/colormaps/vendored/colorconv.py
  napari/utils/colormaps/vendored/colors.py
  napari/utils/dask_utils.py
  napari/utils/interactions.py
  napari/utils/io.py
  napari/utils/misc.py
  napari/utils/validators.py
  napari/view_layers.py
Labels: documentation

#1440 hide statatusbar line on windows
  napari/resources/styles/00_base.qss
Labels: bug

#1420 Fix inconsistency in docs
  docs/source/plugins/hook_specifications.rst
  napari/layers/labels/labels.py
Labels: documentation

#1433 Fix viewing properties for mutliscale labels layers
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: bug

#1438 Fix typos using codespell
  docs/release/generate_release_notes.py
  docs/source/developers/MISSION_AND_VALUES.md
  docs/source/developers/ROADMAP_0_3.md
  docs/source/events/threading.rst
  examples/nD_points.py
  examples/nD_points_with_properties.py
  napari/_qt/_tests/test_threading.py
  napari/_qt/layers/qt_image_layer.py
  napari/_qt/layers/qt_labels_layer.py
  napari/_qt/qt_console.py
  napari/_qt/qt_dims_slider.py
  napari/_qt/qt_layerlist.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_modal.py
  napari/_qt/qt_viewer.py
  napari/_qt/threading.py
  napari/_tests/test_advanced.py
  napari/_tests/test_viewer_layer_parity.py
  napari/_vispy/markers.py
  napari/_vispy/utils.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/_vispy/vispy_surface_layer.py
  napari/_vispy/volume.py
  napari/benchmarks/benchmark_qt_viewer_image.py
  napari/components/_tests/test_multichannel.py
  napari/components/_tests/test_viewer_model.py
  napari/components/add_layers_mixin.py
  napari/components/dims.py
  napari/components/layerlist.py
  napari/layers/base/base.py
  napari/layers/image/_image_constants.py
  napari/layers/image/_image_view.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/_tests/test_multiscale.py
  napari/layers/image/image.py
  napari/layers/labels/_labels_constants.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/layers/points/_points_key_bindings.py
  napari/layers/points/_tests/test_points.py
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/_tests/test_surface.py
  napari/layers/transforms.py
  napari/layers/utils/color_transformations.py
  napari/layers/vectors/_tests/test_vectors.py
  napari/plugins/_tests/test_builtin_write_layers.py
  napari/plugins/exceptions.py
  napari/plugins/hook_specifications.py
  napari/plugins/io.py
  napari/resources/build_icons.py
  napari/utils/_magicgui.py
  napari/utils/_tests/test_misc.py
  napari/utils/notebook_display.py
  napari/view_layers.py
  setup.cfg
Labels: documentation

#1437 DOC: autoreformat of more docstrings.
  napari/_qt/_tests/test_qt_layerlist.py
  napari/_qt/layers/qt_labels_layer.py
  napari/_qt/qt_about.py
  napari/_qt/qt_dims_slider.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_range_slider_popup.py
  napari/_qt/qt_viewer.py
  napari/_qt/threading.py
  napari/_vispy/vispy_base_layer.py
  napari/components/add_layers_mixin.py
  napari/components/viewer_model.py
  napari/conftest.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/labels/labels.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_shapes_models/shape.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/surface.py
  napari/layers/utils/layer_utils.py
  napari/layers/vectors/vectors.py
  napari/resources/__init__.py
  napari/utils/colormaps/standardize_color.py
  napari/utils/event.py
  napari/utils/interactions.py
  napari/utils/io.py
  napari/utils/perf/_utils.py
Labels: documentation, refactor

#1427 Fix adding single shape duplicating properties
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
Labels: bug

#1445 Toggle image/ volume nodes on ndisplay change
  napari/_vispy/vispy_image_layer.py
Labels: bug

#1454 Fix attenuation setting
  napari/_tests/test_with_screenshot.py
  napari/_vispy/vispy_image_layer.py
Labels: bug

#1452 Preserve tests from EVH revert
  napari/_tests/test_with_screenshot.py
  napari/_vispy/_tests/test_image_rendering.py
  napari/components/_tests/test_viewer_model.py
  napari/layers/image/_tests/test_image.py
Labels: tests

#1441 Handle nested zarr path
  napari/utils/_tests/test_io.py
  napari/utils/io.py
Labels: feature

#1456 Move contrast limits and gamma to the shader by vendoring vispy code
  napari/_vispy/image.py
  napari/_vispy/vendored/__init__.py
  napari/_vispy/vendored/image.py
  napari/_vispy/vendored/volume.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/volume.py
  napari/benchmarks/__init__.py
  napari/benchmarks/benchmark_qt_viewer_image.py
Labels: feature, performance

#1468 Fix typos
  napari/components/viewer_model.py
  napari/layers/points/_tests/test_points_mouse_bindings.py
  napari/layers/shapes/_tests/test_shapes_mouse_bindings.py
Labels: bug, documentation

#1464 fix edge color select bug
  napari/_qt/layers/_tests/test_qt_shapes_layer.py
  napari/_qt/layers/qt_shapes_layer.py
  napari/layers/shapes/shapes.py
Labels: bug

#1469 DOC: minor doc reformatting.
  napari/_vispy/vispy_base_layer.py
  napari/components/add_layers_mixin.py
Labels: documentation

#1429 Add circle/spherical brush to Labels paint brush
  napari/_qt/layers/qt_labels_layer.py
  napari/_qt/qt_viewer.py
  napari/_qt/utils.py
  napari/benchmarks/benchmark_labels_layer.py
  napari/layers/labels/_labels_constants.py
  napari/layers/labels/_labels_utils.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/_tests/test_labels_mouse_bindings.py
  napari/layers/labels/labels.py
  napari/resources/styles/02_custom.qss
Labels: feature

#1322 Functions to split/combine multiple layers along an axis
  napari/components/add_layers_mixin.py
  napari/layers/utils/_tests/test_stack_utils.py
  napari/layers/utils/stack_utils.py
Labels: feature

#1460 Reduce attenuation default and range
  napari/_qt/layers/qt_image_layer.py
  napari/_tests/test_with_screenshot.py
  napari/_vispy/_tests/test_image_rendering.py
  napari/components/add_layers_mixin.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/image.py
  napari/view_layers.py
Labels: bug

#1374 Add text to shapes and points via TextManager
  examples/add_points_with_text.py
  examples/add_shapes_with_text.py
  examples/annotate_segmentation_with_text.py
  examples/nD_shapes_with_text.py
  napari/_qt/layers/qt_points_layer.py
  napari/_qt/layers/qt_shapes_layer.py
  napari/_vispy/_text_utils.py
  napari/_vispy/vispy_points_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/components/add_layers_mixin.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/_tests/test_shapes_key_bindings.py
  napari/layers/shapes/shapes.py
  napari/layers/utils/_tests/test_text.py
  napari/layers/utils/_tests/test_text_utils.py
  napari/layers/utils/_text_constants.py
  napari/layers/utils/_text_utils.py
  napari/layers/utils/text.py
  napari/view_layers.py
Labels: feature

#1481 Fix events docstring type
  napari/_qt/layers/qt_base_layer.py
  napari/_qt/layers/qt_image_base_layer.py
  napari/_qt/layers/qt_image_layer.py
  napari/_qt/layers/qt_labels_layer.py
  napari/_qt/layers/qt_points_layer.py
  napari/_qt/layers/qt_shapes_layer.py
  napari/_qt/layers/qt_vectors_layer.py
  napari/_qt/qt_about_key_bindings.py
  napari/_qt/qt_dims.py
  napari/_qt/qt_layerlist.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
Labels: documentation

#1463 fix toggle ndisplay z-order points
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_viewer.py
  napari/_tests/test_with_screenshot.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_points_layer.py
Labels: bug

#1483 Don't look for release notes in pre-releases
  .github/workflows/make_release.yml
Labels: feature

#1479 DOC: update param names to match function signature.
  napari/_qt/qt_debug_menu.py
  napari/_qt/qt_dims.py
  napari/_qt/qt_plugin_sorter.py
  napari/_qt/qt_viewer_buttons.py
  napari/_qt/threading.py
  napari/_tests/utils.py
  napari/_vispy/vendored/volume.py
  napari/components/dims.py
  napari/layers/base/base.py
  napari/layers/points/_tests/test_points.py
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/utils/color_transformations.py
  napari/layers/utils/layer_utils.py
  napari/plugins/io.py
  napari/resources/__init__.py
  napari/utils/colormaps/colormaps.py
  napari/utils/colormaps/vendored/cm.py
  napari/utils/colormaps/vendored/colors.py
  napari/utils/event.py
  napari/utils/io.py
  napari/utils/notebook_display.py
Labels: documentation

#1482 Release notes 0.3.6
  docs/release/release_0_3_6.md
Labels: documentation

#1476 Add global exception catching in Qt
  napari/_qt/_tests/test_exception_handler.py
  napari/_qt/event_loop.py
  napari/_qt/exceptions.py
  napari/utils/misc.py
Labels: feature

#1453 Perfmon System version 2
  napari/_qt/event_loop.py
  napari/_qt/qt_debug_menu.py
  napari/_qt/qt_dims_slider.py
  napari/_qt/qt_event_tracing.py
  napari/_qt/qt_main_window.py
  napari/utils/perf/__init__.py
  napari/utils/perf/_compat.py
  napari/utils/perf/_config.py
  napari/utils/perf/_event.py
  napari/utils/perf/_patcher.py
  napari/utils/perf/_timers.py
  napari/utils/perf/_trace_file.py
  napari/utils/perf/_utils.py
  napari/viewer.py
Labels: feature

#978 auto generate view_* methods
  napari/components/add_layers_mixin.py
  napari/view_layers.py
  napari/viewer.py
Labels: refactor

#1498 Fix 0.3.6 release notes to indicate reversions.
  docs/release/release_0_3_6.md
Labels: documentation

#1506 Update flake8 from 3.7.9 to 3.8.3
  .pre-commit-config.yaml
  napari/_qt/_tests/test_qt_layerlist.py
  napari/_tests/test_key_bindings.py
  napari/_tests/test_mouse_bindings.py
  napari/components/_tests/test_add_layers.py
  napari/components/_tests/test_layers_list.py
  napari/components/layerlist.py
  napari/conftest.py
  napari/plugins/_tests/test_pypi.py
  napari/plugins/exceptions.py
  napari/utils/_magicgui.py
  requirements/development.txt
Labels: refactor

#1434 Add CTRL+ Mouse Scroll to scroll through last active stack
  examples/custom_mouse_functions.py
  napari/_qt/qt_dims.py
  napari/_qt/qt_dims_slider.py
  napari/_qt/qt_viewer.py
  napari/_viewer_key_bindings.py
  napari/components/dims.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/utils/interactions.py
Labels: feature
