Repository napari/napari, pull requests merged in 2020-06, with the labels that each got.

#1324 Packaging and setup.py refactor
  .cirrus.yml
  .github/workflows/make_release.yml
  .gitignore
  MANIFEST.in
  Makefile
  README.md
  docs/developers/CONTRIBUTING.md
  docs/developers/RELEASE.md
  docs/release/generate_release_notes.py
  docs/source/index.rst
  napari/__init__.py
  napari/_version.py
  pyproject.toml
  requirements.txt
  requirements/_release_tools.txt
  requirements/default.txt
  requirements/development.txt
  requirements/docs.txt
  requirements/release.txt
  requirements/test.txt
  setup.cfg
  setup.py
  versioneer.py
Labels: installation, refactor

#1329 0.3.4 release notes
  docs/release/release_0_3_4.md
Labels: documentation

#1330 Remove incorrect dashes in cirrus push_docs task
  .cirrus.yml
Labels: bug

#1335 fixes warning for python 3.8
  napari/_qt/layers/qt_image_base_layer.py
  napari/_qt/layers/qt_image_layer.py
  napari/_qt/qt_dims.py
  napari/_qt/qt_dims_slider.py
  napari/_qt/qt_viewer_buttons.py
Labels: bug

#1236 Remove broken link from BENCHMARKS.md
  docs/developers/BENCHMARKS.md
Labels: bug, documentation

#1344 Fix ranger slide position
  napari/_qt/qt_modal.py
Labels: bug

#1328 New document on rendering
  docs/explanations/images/chunked-format.png
  docs/explanations/images/example-1320.png
  docs/explanations/images/octree.png
  docs/explanations/images/paging-chunks.png
  docs/explanations/images/timeline.png
  docs/explanations/rendering.md
Labels: documentation

#1262 Performance monitoring
  napari/_qt/event_loop.py
  napari/_qt/qt_debug_menu.py
  napari/_qt/qt_event_timing.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_performance.py
  napari/_qt/qt_viewer.py
  napari/utils/perf/__init__.py
  napari/utils/perf/_compat.py
  napari/utils/perf/_config.py
  napari/utils/perf/_event.py
  napari/utils/perf/_stat.py
  napari/utils/perf/_timers.py
  napari/utils/perf/_trace_file.py
  napari/utils/perf/_utils.py
  napari/viewer.py
Labels: feature

#1350 #133 press down is treated as multiple press and release in linux
  napari/_qt/qt_viewer.py
Labels: bug

#1343 Factor out ImageSlice and ImageView from Image
  napari/layers/image/_image_slice.py
  napari/layers/image/_image_view.py
  napari/layers/image/image.py
  napari/layers/labels/labels.py
  napari/types.py
Labels: refactor

#1339 Issue 716: allow using of custom color dict in labelling layer
  examples/add_labels_with_properties.py
  napari/_qt/layers/qt_labels_layer.py
  napari/components/add_layers_mixin.py
  napari/layers/_tests/test_serialize.py
  napari/layers/labels/_labels_constants.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/utils/colormaps/colormaps.py
Labels: feature

#1359 fix deleting layers changing dims
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
Labels: bug

#1358 fix points select all
  napari/layers/points/_points_key_bindings.py
  napari/layers/points/_tests/test_points_key_bindings.py
Labels: bug

#1362 address comments on color_dict
  examples/add_labels_with_properties.py
  napari/_qt/layers/qt_labels_layer.py
  napari/components/add_layers_mixin.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/view_layers.py
Labels: api, refactor

#1342 Add properties to shapes
  examples/add_shapes_with_properties.py
  napari/components/add_layers_mixin.py
  napari/layers/points/points.py
  napari/layers/shapes/_shapes_constants.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/_tests/test_shapes_key_bindings.py
  napari/layers/shapes/shapes.py
  napari/view_layers.py
Labels: feature

#1368 Fix docs version, reformat and add explanations
  .cirrus.yml
  .gitignore
  README.md
  docs/Makefile
  docs/source/conf.py
  docs/source/developers/BENCHMARKS.md
  docs/source/developers/CODE_OF_CONDUCT.md
  docs/source/developers/CODE_OF_CONDUCT_REPORTING.md
  docs/source/developers/CONTRIBUTING.md
  docs/source/developers/CORE_DEV_GUIDE.md
  docs/source/developers/GOVERNANCE.md
  docs/source/developers/MISSION_AND_VALUES.md
  docs/source/developers/RELEASE.md
  docs/source/developers/ROADMAP_0_3.md
  docs/source/developers/index.rst
  docs/source/explanations/images/chunked-format.png
  docs/source/explanations/images/example-1320.png
  docs/source/explanations/images/octree.png
  docs/source/explanations/images/paging-chunks.png
  docs/source/explanations/images/timeline.png
  docs/source/explanations/index.rst
  docs/source/explanations/performance.md
  docs/source/explanations/rendering.md
  docs/source/index.rst
Labels: documentation

#1364 0.3.5 release notes
  docs/release/release_0_3_5.md
Labels: documentation

#1371 Revert "remove scipy.stats import (#1250)"
  docs/release/release_0_3_5.md
  napari/__init__.py
Labels: bug

#1372 Refactor all tests to hide GUI
  docs/source/developers/CONTRIBUTING.md
  napari/_qt/_tests/test_qt_dims.py
  napari/_qt/_tests/test_qt_plugin_list.py
  napari/_qt/_tests/test_qt_range_slider.py
  napari/_qt/layers/_tests/test_qt_image_base_layer_.py
  napari/_qt/layers/qt_image_base_layer.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_modal.py
  napari/_qt/qt_plugin_table.py
  napari/_qt/qt_range_slider.py
  napari/_qt/qt_range_slider_popup.py
  napari/_tests/test_mouse_bindings.py
  napari/_tests/test_viewer.py
  napari/_vispy/_tests/test_vispy_multiscale.py
Labels: refactor, tests

#1375 Fix two remaining tests that try to show the viewer.
  napari/_tests/test_napari.py
  napari/_tests/utils.py
Labels: bug

#1377 Fix windows tests
  napari/_qt/layers/_tests/test_qt_image_base_layer_.py
  napari/_tests/test_mouse_bindings.py
Labels: tests

#1379 Add ndim as a keyword argument to shapes to support creating empty layers
  napari/_tests/test_viewer_layer_parity.py
  napari/components/add_layers_mixin.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/shapes.py
  napari/view_layers.py
Labels: api, feature

#1373 Add ability to run napari script with/without gui_qt from CLI
  napari/__main__.py
  napari/_qt/event_loop.py
  napari/_tests/test_cli.py
Labels: feature

#1366 updates plugin dev docs to encourage github topic
  docs/source/plugins/for_plugin_developers.rst
Labels: documentation

#1381 add helpful error on multichannel IndexError
  napari/components/_tests/test_multichannel.py
  napari/components/add_layers_mixin.py
Labels: feature

#1383 rename mark to avoid warning on pytest ordering package
  napari/_tests/test_viewer.py
Labels: bug

#1378 Dedicated testing doc
  docs/source/developers/CONTRIBUTING.md
  docs/source/developers/TESTING.md
  docs/source/developers/images/tests.png
  napari/_tests/test_dask_layers.py
  napari/_tests/test_notebook_display.py
  napari/layers/_tests/test_utils.py
Labels: documentation, refactor

#1386 Rename viewer_factory -> make_test_viewer, don't return view
  docs/source/developers/TESTING.md
  napari/_qt/_tests/test_qt_dims.py
  napari/_qt/_tests/test_qt_dock_widget.py
  napari/_qt/_tests/test_qt_play.py
  napari/_qt/_tests/test_qt_plugin_list.py
  napari/_qt/_tests/test_qt_viewer.py
  napari/_tests/test_advanced.py
  napari/_tests/test_draw.py
  napari/_tests/test_dtypes.py
  napari/_tests/test_key_bindings.py
  napari/_tests/test_mouse_bindings.py
  napari/_tests/test_notebook_display.py
  napari/_tests/test_numpy_like.py
  napari/_tests/test_viewer.py
  napari/_vispy/_tests/test_image_rendering.py
  napari/_vispy/_tests/test_vispy_big_images.py
  napari/_vispy/_tests/test_vispy_calls.py
  napari/_vispy/_tests/test_vispy_multiscale.py
  napari/conftest.py
  napari/plugins/_tests/test_reader_plugins.py
Labels: tests

#1376 Event handler refactor for image layer
  napari/_qt/layers/qt_base_layer.py
  napari/_qt/layers/qt_image_base_layer.py
  napari/_qt/layers/qt_image_layer.py
  napari/_qt/qt_layerlist.py
  napari/_vispy/_tests/test_vispy_calls.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_points_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/_vispy/vispy_surface_layer.py
  napari/_vispy/vispy_vectors_layer.py
  napari/components/_tests/test_viewer_model.py
  napari/components/add_layers_mixin.py
  napari/components/layerlist.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/intensity_mixin.py
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/surface.py
  napari/layers/vectors/vectors.py
  napari/utils/event.py
  napari/utils/event_handler.py
  napari/utils/naming.py
Labels: refactor
