Repository napari/napari, pull requests merged in 2020-10, with the labels that each got.

#1659 async-2.6: Move async into experimental
  napari/_qt/experimental/__init__.py
  napari/_qt/experimental/qt_chunk_receiver.py
  napari/_qt/widgets/qt_layerlist.py
  napari/components/experimental/__init__.py
  napari/components/experimental/chunk/__init__.py
  napari/components/experimental/chunk/_info.py
  napari/components/experimental/chunk/_loader.py
  napari/components/experimental/chunk/_request.py
  napari/components/experimental/chunk/_tests/__init__.py
  napari/components/experimental/chunk/_tests/test_chunk.py
  napari/components/experimental/chunk/_utils.py
  napari/layers/image/_image_loader.py
  napari/layers/image/_image_slice.py
  napari/layers/image/_image_slice_data.py
  napari/layers/image/_tests/test_image_slice.py
  napari/layers/image/experimental/__init__.py
  napari/layers/image/experimental/_chunked_image_loader.py
  napari/layers/image/experimental/_chunked_slice_data.py
  napari/layers/image/image.py
  napari/viewer.py
Labels: async

#1668 Remove stray print
  napari/layers/image/image.py
Labels: async

#1671 async-2.7: Vendor Cachetools
  .pre-commit-config.yaml
  MANIFEST.in
  napari/_vendor/__init__.py
  napari/_vendor/experimental/__init__.py
  napari/_vendor/experimental/cachetools/CHANGELOG.rst
  napari/_vendor/experimental/cachetools/LICENSE
  napari/_vendor/experimental/cachetools/cachetools/__init__.py
  napari/_vendor/experimental/cachetools/cachetools/abc.py
  napari/_vendor/experimental/cachetools/cachetools/cache.py
  napari/_vendor/experimental/cachetools/cachetools/decorators.py
  napari/_vendor/experimental/cachetools/cachetools/func.py
  napari/_vendor/experimental/cachetools/cachetools/keys.py
  napari/_vendor/experimental/cachetools/cachetools/lfu.py
  napari/_vendor/experimental/cachetools/cachetools/lru.py
  napari/_vendor/experimental/cachetools/cachetools/rr.py
  napari/_vendor/experimental/cachetools/cachetools/ttl.py
  napari/_vendor/experimental/cachetools/docs/.gitignore
  napari/_vendor/experimental/cachetools/docs/Makefile
  napari/_vendor/experimental/cachetools/docs/conf.py
  napari/_vendor/experimental/cachetools/docs/index.rst
  napari/_vendor/experimental/cachetools/tests/__init__.py
  napari/_vendor/experimental/cachetools/tests/test_cache.py
  napari/_vendor/experimental/cachetools/tests/test_func.py
  napari/_vendor/experimental/cachetools/tests/test_keys.py
  napari/_vendor/experimental/cachetools/tests/test_lfu.py
  napari/_vendor/experimental/cachetools/tests/test_lru.py
  napari/_vendor/experimental/cachetools/tests/test_method.py
  napari/_vendor/experimental/cachetools/tests/test_rr.py
  napari/_vendor/experimental/cachetools/tests/test_ttl.py
  napari/_vendor/experimental/cachetools/tests/test_wrapper.py
  napari/_vendor/vendor.txt
  pyproject.toml
  setup.cfg
Labels: async

#1666 Reduce the default dask cache size
  napari/utils/dask_utils.py
Labels: refactor

#1638 Build docs action
  .cirrus.yml
  .github/workflows/make_docs.yml
Labels: documentation

#1361 [WIP] Tracks layer
  examples/tracks_2d.py
  examples/tracks_3d.py
  examples/tracks_3d_with_graph.py
  napari/__init__.py
  napari/_qt/layer_controls/qt_layer_controls_container.py
  napari/_qt/layer_controls/qt_tracks_controls.py
  napari/_vispy/_vispy_tracks_shader.py
  napari/_vispy/utils.py
  napari/_vispy/vispy_tracks_layer.py
  napari/components/add_layers_mixin.py
  napari/layers/__init__.py
  napari/layers/tracks/__init__.py
  napari/layers/tracks/_tests/test_tracks.py
  napari/layers/tracks/_track_utils.py
  napari/layers/tracks/tracks.py
  napari/view_layers.py
Labels: feature

#1675 async-3: Add ChunkCache
  napari/_vendor/experimental/cachetools/__init__.py
  napari/_vendor/experimental/cachetools/tests/__init__.py
  napari/_vendor/experimental/cachetools/tests/test_cache.py
  napari/_vendor/experimental/cachetools/tests/test_func.py
  napari/_vendor/experimental/cachetools/tests/test_keys.py
  napari/_vendor/experimental/cachetools/tests/test_lfu.py
  napari/_vendor/experimental/cachetools/tests/test_lru.py
  napari/_vendor/experimental/cachetools/tests/test_method.py
  napari/_vendor/experimental/cachetools/tests/test_rr.py
  napari/_vendor/experimental/cachetools/tests/test_ttl.py
  napari/_vendor/experimental/cachetools/tests/test_wrapper.py
  napari/components/experimental/chunk/_cache.py
  napari/components/experimental/chunk/_loader.py
  napari/components/experimental/chunk/_request.py
Labels: async

#1676 async-4: Config File
  napari/components/experimental/chunk/_config.py
  napari/components/experimental/chunk/_loader.py
Labels: async

#1678 async-5: Timing Infrastructure
  napari/components/experimental/chunk/_request.py
  napari/utils/perf/__init__.py
  napari/utils/perf/_event.py
  napari/utils/perf/_patcher.py
  napari/utils/perf/_timers.py
Labels: async

#1679 async-6: DelayQueue
  napari/components/experimental/chunk/_config.py
  napari/components/experimental/chunk/_delay_queue.py
  napari/components/experimental/chunk/_info.py
  napari/components/experimental/chunk/_loader.py
Labels: async

#1683 async-7: Auto-async
  napari/components/experimental/chunk/_info.py
  napari/components/experimental/chunk/_loader.py
  napari/components/experimental/chunk/_utils.py
  napari/layers/image/experimental/_chunked_slice_data.py
Labels: async

#1684 async-8: config cleanup
  napari/components/experimental/chunk/_config.py
  napari/components/experimental/chunk/_delay_queue.py
  napari/components/experimental/chunk/_info.py
  napari/components/experimental/chunk/_loader.py
Labels: async

#1682 Fix 404 links in documentation and remove warnings in docs build
  docs/source/developers/CONTRIBUTING.md
  docs/source/developers/RELEASE.md
  docs/source/events/event_loop.rst
  docs/source/events/perfmon.rst
  docs/source/events/threading.rst
Labels: bug, documentation

#1681 Make signals public attribute of WorkerBase
  napari/_qt/qthreading.py
Labels: refactor

#1496 Docker Integration by adding dockerfile and docker.md
  MANIFEST.in
  dockerfile
  docs/source/explanations/docker.md
Labels: feature

#1665 Skip axes with size 1 in roll operation
  napari/components/_tests/test_dims.py
  napari/components/dims.py
Labels: bug

#1673 Pull out layer visual transform code
  napari/_qt/qt_viewer.py
  napari/_vispy/_tests/test_vispy_multiscale.py
  napari/_vispy/vispy_base_layer.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/labels/_tests/test_labels_mouse_bindings.py
  napari/layers/transforms.py
  napari/layers/utils/layer_utils.py
Labels: refactor

#1577 Status bar value bug for automatically down-sampled images
  napari/_vispy/_tests/test_vispy_big_images.py
  napari/_vispy/_tests/test_vispy_multiscale.py
  napari/layers/image/image.py
Labels: bug

#1692 Allow dask development version to work with napari
  napari/_tests/test_dask_layers.py
  napari/utils/dask_utils.py
Labels: bug

#1680 fix is_running, fix tests
  napari/_qt/_tests/test_threading.py
  napari/_qt/qthreading.py
Labels: bug

#1685 async-9: async unit testing infra
  .cirrus.yml
  napari/_tests/test_dask_layers.py
  napari/components/experimental/chunk/__init__.py
  napari/components/experimental/chunk/_delay_queue.py
  napari/components/experimental/chunk/_info.py
  napari/components/experimental/chunk/_loader.py
  napari/conftest.py
  napari/experimental/__init__.py
Labels: async, tests

#1699 async-11: IPython commands
  napari/components/experimental/chunk/_commands/__init__.py
  napari/components/experimental/chunk/_commands/_loader.py
  napari/components/experimental/chunk/_commands/_tables.py
  napari/components/experimental/chunk/_commands/_tests/__init__.py
  napari/components/experimental/chunk/_commands/_tests/test_loader.py
  napari/components/experimental/chunk/_commands/_utils.py
  napari/components/experimental/chunk/_info.py
  napari/components/experimental/chunk/_request.py
  napari/components/experimental/commands.py
  napari/components/viewer_model.py
Labels: async

#1704 async-12: Processes
  napari/components/experimental/chunk/_commands/_loader.py
  napari/components/experimental/chunk/_config.py
  napari/components/experimental/chunk/_loader.py
Labels: async

#1696 fix image extent
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_qt/widgets/_tests/test_qt_play.py
  napari/components/_tests/test_dims.py
  napari/components/_tests/test_layers_list.py
  napari/components/_tests/test_viewer_model.py
  napari/components/_tests/test_world_coordinates.py
  napari/components/dims.py
  napari/components/layerlist.py
  napari/components/viewer_model.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/_tests/test_multiscale.py
  napari/layers/image/image.py
  napari/layers/labels/_tests/test_labels.py
Labels: bug

#1694 autogen add_* methods
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/_tests/test_view_layers.py
  napari/components/_tests/test_viewer_model.py
  napari/components/add_layers_mixin.py
  napari/layers/points/points.py
  napari/utils/_register.py
Labels: refactor

#1708 Add CI tests agains pre-release dependency versions
  .cirrus.yml
Labels: feature, tests

#1712 Pin dask !=2.28.0 due to performance problems, see napari issue #1656
  setup.cfg
Labels: bug, installation

#1711 Bug fix for tracks layer properties as dataframe
  napari/layers/tracks/_tests/test_tracks.py
  napari/layers/tracks/tracks.py
Labels: bug

#1715 async-13: Fix "render to black" problem
  napari/_vispy/vispy_base_layer.py
Labels: async, bug

#1714 Fixes magic_name for all layers, fixes #1709 due to #1694 autogen
  napari/utils/naming.py
Labels: bug

#1716 Add tests for #1709 for magic_name with add_* layers
  napari/_tests/test_viewer.py
Labels: bug, tests

#1635 Magic name handle attribute exception
  napari/utils/_tests/test_naming.py
  napari/utils/naming.py
Labels: bug

#1723 Fix nD mutliscale
  napari/_vispy/_tests/test_vispy_multiscale.py
  napari/layers/base/base.py
  napari/layers/image/_tests/test_multiscale.py
Labels: bug

#1719 add axes visual
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_tests/test_viewer.py
  napari/_tests/test_with_screenshot.py
  napari/_vispy/__init__.py
  napari/_vispy/vispy_axes_visual.py
  napari/components/_tests/test_axes.py
  napari/components/axes.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
Labels: feature

#1475 @dataclass decorator with events and properties
  napari/utils/events/__init__.py
  napari/utils/events/_tests/test_dataclass.py
  napari/utils/events/dataclass.py
  napari/utils/misc.py
  setup.cfg
Labels: feature

#1731 Compute all min/max values in one pass with Dask
  napari/layers/utils/layer_utils.py
Labels: performance

#1725 fix initialization of tracks color_by
  napari/_qt/layer_controls/_tests/test_qt_tracks_layer.py
  napari/_qt/layer_controls/qt_tracks_controls.py
Labels: bug

#1720 Add scale bar
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_tests/test_viewer.py
  napari/_tests/test_with_screenshot.py
  napari/_vispy/__init__.py
  napari/_vispy/vispy_scale_bar_visual.py
  napari/components/_tests/test_scale_bar.py
  napari/components/_viewer_constants.py
  napari/components/scale_bar.py
  napari/components/viewer_model.py
Labels: feature

#1729 fix screen change glitch on pixel scale
  napari/_qt/qt_main_window.py
Labels: bug

#1738 Fix scale bar length in 3D
  examples/scale_bar.py
  napari/_qt/qt_viewer.py
Labels: bug

#1616 Affine transforms
  examples/add_image_transformed.py
  examples/affine_transforms.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_points_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/_vispy/vispy_surface_layer.py
  napari/_vispy/vispy_vectors_layer.py
  napari/components/_tests/test_multichannel.py
  napari/components/add_layers_mixin.py
  napari/layers/_tests/test_serialize.py
  napari/layers/_tests/test_transforms.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/surface.py
  napari/layers/transforms.py
  napari/layers/utils/stack_utils.py
  napari/layers/vectors/vectors.py
  napari/utils/transforms/__init__.py
  napari/utils/transforms/_tests/test_transform_chain.py
  napari/utils/transforms/_tests/test_transform_utils.py
  napari/utils/transforms/_tests/test_transforms.py
  napari/utils/transforms/transform_utils.py
  napari/utils/transforms/transforms.py
Labels: feature

#1740 Fix world coordinates origin in 3D
  napari/_vispy/vispy_base_layer.py
Labels: bug

#1743 Add BOP (blue/orange/purple) colormaps
  napari/utils/colormaps/bop_colors.py
  napari/utils/colormaps/colormap_utils.py
Labels: feature

#1586 don't show colormap for rgb images
  napari/_qt/layer_controls/qt_image_controls.py
Labels: bug

#1746 Fix for #1745, introduces `on_matrix_change` in VispyTrackLayer
  napari/_qt/_tests/test_qt_viewer.py
  napari/_tests/utils.py
  napari/_vispy/vispy_tracks_layer.py
  napari/layers/tracks/tracks.py
Labels: bug

#1750 doc: Fix top-level links referenced in README.md and published on napari.org
  README.md
Labels: bug, documentation

#1749 Fix blending and opacity in tracks shader
  napari/_vispy/_vispy_tracks_shader.py
  napari/_vispy/vispy_tracks_layer.py
Labels: bug

#854 Add camera model
  napari/_qt/qt_viewer.py
  napari/_vispy/__init__.py
  napari/_vispy/_tests/test_utils.py
  napari/_vispy/_tests/test_vispy_camera.py
  napari/_vispy/quaternion.py
  napari/_vispy/vispy_axes_visual.py
  napari/_vispy/vispy_camera.py
  napari/_vispy/vispy_scale_bar_visual.py
  napari/components/__init__.py
  napari/components/_tests/test_camera.py
  napari/components/_tests/test_viewer_model.py
  napari/components/camera.py
  napari/components/dims.py
  napari/components/viewer_model.py
Labels: feature

#1753 Add affine doc strings
  napari/components/add_layers_mixin.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/surface.py
  napari/layers/tracks/tracks.py
  napari/layers/vectors/vectors.py
  napari/utils/transforms/transforms.py
Labels: bug, documentation

#1752 Fix grid size calculation
  napari/_tests/test_with_screenshot.py
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
Labels: bug

#1757 Fix flipped transform
  napari/components/_tests/test_layers_list.py
  napari/components/layerlist.py
Labels: bug

#1754 Fix and test scale and translate broadcast
  napari/layers/image/_tests/test_image.py
  napari/utils/transforms/_tests/test_transforms.py
  napari/utils/transforms/transforms.py
Labels: bug

#1755 Fix shear setter
  napari/utils/transforms/_tests/test_transforms.py
  napari/utils/transforms/transforms.py
Labels: bug

#1581 Make layer dims private
  napari/_qt/layer_controls/qt_image_controls.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_points_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/_vispy/vispy_surface_layer.py
  napari/_vispy/vispy_vectors_layer.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/surface.py
  napari/layers/tracks/tracks.py
  napari/layers/vectors/vectors.py
Labels: refactor

#1718 fix delete all shapes
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/_tests/test_shapes_utils.py
  napari/layers/shapes/shapes.py
Labels: bug

#1765 Fix warning that filenames might not be set
  napari/components/add_layers_mixin.py
Labels: bug

#1758 Update installation readme
  README.md
Labels: bug, documentation, installation

#1751 async-15: Octree Rendering
  napari/_qt/experimental/qt_render.py
  napari/_qt/experimental/render/__init__.py
  napari/_qt/experimental/render/qt_image_info.py
  napari/_qt/experimental/render/qt_labeled_spin_box.py
  napari/_qt/experimental/render/qt_render.py
  napari/_qt/experimental/render/qt_render_container.py
  napari/_qt/experimental/render/qt_test_image.py
  napari/_qt/experimental/render/test_image.py
  napari/_qt/qt_viewer.py
  napari/_vispy/experimental/vispy_tiled_image_layer.py
  napari/layers/image/experimental/_octree_image_slice.py
  napari/layers/image/experimental/_tests/test_octree.py
  napari/layers/image/experimental/octree.py
  napari/layers/image/experimental/octree_image.py
Labels: async

#1771 Add extent named tuple
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/_tests/utils.py
  napari/components/_tests/test_layers_list.py
  napari/components/_tests/test_viewer_model.py
  napari/components/layerlist.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/image/image.py
Labels: refactor

#1769 async-16: New utils.config.py
  napari/_qt/experimental/render/qt_image_info.py
  napari/_qt/experimental/render/qt_render.py
  napari/_qt/experimental/render/qt_render_container.py
  napari/_qt/experimental/render/qt_test_image.py
  napari/_qt/layer_controls/qt_layer_controls_container.py
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/qt_layerlist.py
  napari/_vispy/utils.py
  napari/components/add_layers_mixin.py
  napari/components/experimental/chunk/_config.py
  napari/components/experimental/chunk/_tests/test_chunk.py
  napari/layers/image/_image_slice.py
  napari/layers/image/experimental/_octree_image_slice.py
  napari/layers/image/experimental/octree.py
  napari/layers/image/experimental/octree_image.py
  napari/layers/image/image.py
  napari/utils/config.py
  napari/viewer.py
Labels: async

#1772 Fix scaled painting
  napari/layers/labels/_tests/test_labels_mouse_bindings.py
  napari/layers/labels/labels.py
Labels: bug

#1721 Add a welcome visual
  napari/_qt/qt_viewer.py
  napari/_tests/test_with_screenshot.py
  napari/_vispy/__init__.py
  napari/_vispy/vispy_welcome_visual.py
Labels: design, feature

#1763 Add cursor model
  napari/_qt/qt_viewer.py
  napari/_tests/test_with_screenshot.py
  napari/_vispy/_tests/test_vispy_big_images.py
  napari/_vispy/_tests/test_vispy_multiscale.py
  napari/components/_tests/test_cursor.py
  napari/components/_viewer_constants.py
  napari/components/cursor.py
  napari/components/viewer_model.py
  napari/layers/labels/_tests/test_labels_mouse_bindings.py
  napari/layers/labels/labels.py
Labels: refactor

#1778 Fix setup config duplication of dask requirement
  setup.cfg
Labels: bug

#1770 add qmessage box with warning content on failed save
  napari/_qt/qt_viewer.py
Labels: bug, high priority

#1780 Adjust welcome colors of text
  napari/_vispy/vispy_welcome_visual.py
Labels: design

#1777 Add release notes 0.4.0
  docs/release/release_0_4_0.md
Labels: documentation

#1784 Fix gray to grays for vispy
  docs/release/release_0_4_0.md
  napari/_vispy/vispy_welcome_visual.py
Labels: bug

#1788 Fix welcome text contrast
  docs/release/release_0_4_0.md
  napari/_vispy/vispy_welcome_visual.py
Labels: bug

#1791 Fix zoom of scale bar and axes visuals on launch
  docs/release/release_0_4_0.md
  napari/_vispy/vispy_axes_visual.py
  napari/_vispy/vispy_scale_bar_visual.py
Labels: bug

#1774 async-17: MiniMap WIP
  napari/_qt/experimental/render/qt_image_info.py
  napari/_qt/experimental/render/qt_mini_map.py
  napari/_qt/experimental/render/qt_octree_info.py
  napari/_qt/experimental/render/qt_render.py
  napari/_qt/experimental/render/qt_render_container.py
  napari/_qt/experimental/render/qt_test_image.py
  napari/_qt/experimental/render/test_image.py
  napari/_vispy/experimental/vispy_tiled_image_layer.py
  napari/layers/image/experimental/__init__.py
  napari/layers/image/experimental/_octree_image_slice.py
  napari/layers/image/experimental/octree.py
  napari/layers/image/experimental/octree_image.py
  napari/layers/image/experimental/octree_intersection.py
  napari/layers/image/experimental/octree_level.py
  napari/layers/image/experimental/octree_util.py
  napari/utils/perf/_timers.py
Labels: async

#1796 Examples tweaks
  examples/custom_mouse_functions.py
  examples/multiple_viewers.py
Labels: documentation

#1798 Fix ValueError in Layer.coordinates during layer load
  napari/_qt/qt_viewer.py
  napari/_vispy/__init__.py
  napari/_vispy/utils_gl.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_canvas.py
Labels: bug

#1793 async-18: Basic Quadtree Rendering
  napari/_qt/experimental/render/qt_mini_map.py
  napari/_qt/experimental/render/qt_octree_info.py
  napari/_qt/experimental/render/qt_test_image.py
  napari/_qt/experimental/render/test_image.py
  napari/_qt/qt_viewer.py
  napari/_vispy/experimental/vispy_tiled_image_layer.py
  napari/_vispy/utils.py
  napari/_vispy/vispy_base_layer.py
  napari/components/add_layers_mixin.py
  napari/layers/image/experimental/_octree_image_slice.py
  napari/layers/image/experimental/octree.py
  napari/layers/image/experimental/octree_image.py
  napari/layers/image/experimental/octree_level.py
  napari/layers/image/experimental/octree_util.py
  napari/utils/config.py
Labels: async

#1795 Update setup.cfg to add aliases for pyqt5 and pyside in extras_require
  setup.cfg
Labels: installation

#1610 Live tiff loader example
  examples/live_tiffs.py
  examples/live_tiffs_generator.py
Labels: feature
