Repository napari/napari, pull requests merged in 2020-04, with the labels that each got.

#1023 Sorting and disabling of hook implementations
  napari/_qt/qt_main_window.py
  napari/_qt/qt_plugin_list.py
  napari/_qt/utils.py
  napari/plugins/__init__.py
  napari/plugins/_hook_callers.py
  napari/plugins/_tests/conftest.py
  napari/plugins/_tests/test_manager.py
  napari/plugins/_tests/test_pluggy_utils.py
  napari/plugins/_tests/test_reader_plugins.py
  napari/plugins/manager.py
  napari/resources/styles/02_custom.qss
Labels: feature, plugins

#1024 Plugin exception storage and developer notification GUI
  napari/_qt/_tests/test_qt_plugin_report.py
  napari/_qt/qt_about.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_plugin_report.py
  napari/plugins/__init__.py
  napari/plugins/_tests/fixtures/invalid_plugin-0.1.0.dist-info/METADATA
  napari/plugins/_tests/test_manager.py
  napari/plugins/_tests/test_reader_plugins.py
  napari/plugins/exceptions.py
  napari/plugins/io.py
  napari/plugins/manager.py
  napari/resources/styles/01_buttons.qss
  napari/resources/styles/02_custom.qss
Labels: feature, plugins

#1099 avoid pillow 7.1.0
  requirements/default.txt
Labels: bug

#1030 Plugin docs (for plugin developers)
  docs/source/conf.py
  docs/source/index.rst
  docs/source/plugins.rst
  docs/source/plugins/for_napari_developers.rst
  docs/source/plugins/for_plugin_developers.rst
  docs/source/plugins/hook_specifications.rst
  docs/source/plugins/index.rst
  napari/plugins/_tests/fixtures/napari_bad_plugin2.py
  napari/plugins/hook_specifications.py
Labels: documentation, plugins

#1108 Pin pillow at <= 7.0.0
  requirements/default.txt
Labels: bug

#1096 Add installed plugins to sys_info()
  napari/_qt/_tests/test_qt_plugin_list.py
  napari/_qt/_tests/test_qt_plugin_report.py
  napari/_qt/qt_about.py
  napari/_qt/qt_dict_table.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_plugin_report.py
  napari/_qt/qt_plugin_sorter.py
  napari/plugins/_tests/test_manager.py
  napari/plugins/exceptions.py
  napari/plugins/manager.py
  napari/resources/styles/02_custom.qss
  napari/utils/_tests/test_info.py
  napari/utils/info.py
Labels: documentation, feature

#1043 add github links to contributor list
  docs/release/generate_release_notes.py
Labels: documentation

#1092 All args to add_image() accept sequences when channel_axis != None
  napari/_tests/test_viewer_layer_parity.py
  napari/components/_tests/test_multichannel.py
  napari/components/add_layers_mixin.py
  napari/utils/_tests/test_misc.py
  napari/utils/misc.py
Labels: feature

#1113 Fix a number of sphinxdocs errors
  docs/release/release_0_2_0.rst
  docs/source/conf.py
  docs/source/plugins/for_plugin_developers.rst
  docs/source/plugins/hook_specifications.rst
  docs/source/plugins/index.rst
  napari/layers/image/image.py
  napari/plugins/io.py
  napari/plugins/manager.py
  napari/resources/__init__.py
  napari/utils/interactions.py
  napari/utils/status_messages.py
Labels: documentation

#1119 Fix miniconda download in CI
  .cirrus.yml
Labels: bug

#1051 shapes layer mouse bindings refactor
  examples/add_points_with_properties.py
  examples/add_shapes.py
  examples/shapes_to_labels.py
  examples/to_screenshot.py
  examples/to_svg.py
  napari/layers/base/base.py
  napari/layers/points/_points_mouse_bindings.py
  napari/layers/points/points.py
  napari/layers/shapes/_shapes_key_bindings.py
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/_tests/test_shapes_key_bindings.py
  napari/layers/shapes/_tests/test_shapes_mouse_bindings.py
  napari/layers/shapes/shapes.py
Labels: refactor

#1121 finish layer mouse bindings refactor
  napari/_qt/qt_viewer.py
  napari/_vispy/vispy_base_layer.py
  napari/layers/base/base.py
Labels: refactor

#1061 remove scikit-image dependency
  .cirrus.yml
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_qt/theme_sample.py
  napari/layers/_tests/test_utils.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/utils/layer_utils.py
  napari/plugins/_tests/test_reader_plugins.py
  napari/utils/info.py
  napari/utils/io.py
  napari/utils/temporary_file.py
  requirements.txt
  requirements/default.txt
  requirements/development.txt
  requirements/docs.txt
  requirements/test.txt
Labels: bug, refactor

#1126 Fix add_points_with_properties example
  examples/add_points_with_properties.py
Labels: bug

#1128 change image icon
  napari/resources/icons/new_image.svg
  napari/resources/icons/square.svg
  napari/resources/styles/01_buttons.qss
Labels: design

#1127 Enable volume rendering interpolation control
  napari/_qt/layers/qt_image_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/layers/image/_image_constants.py
  napari/layers/image/image.py
Labels: feature

#1102 changing translate order when changing data dims
  napari/_tests/test_viewer.py
  napari/_tests/utils.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_points_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/_vispy/vispy_surface_layer.py
  napari/_vispy/vispy_vectors_layer.py
  napari/layers/image/image.py
Labels: bug

#1069 Fix empty points with properties
  napari/layers/points/_points_utils.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: bug

#1095 Roadmap for 0.3 releases
  README.md
  docs/developers/MISSION_AND_VALUES.md
  docs/developers/ROADMAP_0_3.md
Labels: documentation

#1146 Open up Pillow again after 7.1.*
  requirements/default.txt
Labels: bug

#1140 Reduce code duplication in Points
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: refactor

#1111 Allow add_path() to accept any layer-specific kwarg and rename to open_path()
  napari/_qt/qt_viewer.py
  napari/components/_tests/test_add_layers.py
  napari/components/_tests/test_prune_kwargs.py
  napari/components/add_layers_mixin.py
  napari/layers/points/_tests/test_points.py
  napari/plugins/_tests/test_reader_plugins.py
  napari/plugins/hook_specifications.py
  napari/view_layers.py
Labels: feature

#1053 Fix pyramid clipping
  napari/_qt/qt_viewer.py
  napari/_vispy/_tests/test_vispy_pyramid.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/layers/base/base.py
  napari/layers/image/_tests/test_pyramid.py
  napari/layers/image/image.py
  napari/layers/utils/layer_utils.py
Labels: bug

#1147 Add keybinding to toggle selected layer visibility
  napari/_viewer_key_bindings.py
  napari/components/_tests/test_layers_list.py
  napari/components/layerlist.py
Labels: feature

#1148 Only block in gui_qt or quit QApp when necessary
  napari/_qt/event_loop.py
  napari/_qt/qt_main_window.py
Labels: bug

#1138 automate release process
  .github/workflows/make_release.yml
  docs/developers/RELEASE.md
Labels: feature

#1150 Use mode='constant' in numpy.pad usage
  napari/_vispy/vispy_base_layer.py
Labels: bug

#1156 change release notes source file to use .md ext
  .github/workflows/make_release.yml
Labels: bug, tests

#1152 Fix black consistency
  .pre-commit-config.yaml
  napari/layers/image/image.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  pyproject.toml
  requirements/development.txt
Labels: bug

#1130 Refactor Vectors colors
  examples/add_vectors_color_by_angle.py
  napari/_qt/layers/qt_vectors_layer.py
  napari/_vispy/vispy_vectors_layer.py
  napari/components/add_layers_mixin.py
  napari/layers/points/_points_utils.py
  napari/layers/points/_tests/test_points_utils.py
  napari/layers/points/points.py
  napari/layers/utils/_tests/test_layer_utils.py
  napari/layers/utils/layer_utils.py
  napari/layers/vectors/_tests/test_vectors.py
  napari/layers/vectors/_vectors_constants.py
  napari/layers/vectors/vectors.py
  napari/view_layers.py
Labels: refactor

#1155 Fix sphinx
  .gitignore
  docs/developers/BENCHMARKS.md
  docs/developers/CODE_OF_CONDUCT.md
  docs/developers/CODE_OF_CONDUCT_REPORTING.md
  docs/developers/CORE_DEV_GUIDE.md
  docs/developers/GOVERNANCE.md
  docs/developers/MISSION_AND_VALUES.md
  docs/developers/RELEASE.md
  docs/developers/ROADMAP_0_3.md
  docs/release/generate_release_notes.py
  docs/release/release_0_1_0.md
  docs/release/release_0_1_3.md
  docs/release/release_0_1_5.md
  docs/release/release_0_2_0.md
  docs/release/release_0_2_1.md
  docs/release/release_0_2_10.md
  docs/release/release_0_2_11.md
  docs/release/release_0_2_12.md
  docs/release/release_0_2_3.md
  docs/release/release_0_2_4.md
  docs/release/release_0_2_5.md
  docs/release/release_0_2_6.md
  docs/release/release_0_2_7.md
  docs/release/release_0_2_8.md
  docs/release/release_0_2_9.md
  docs/release/release_dev.md
  docs/release/release_template.md
  docs/source/conf.py
  docs/source/releases.rst
  requirements/docs.txt
Labels: documentation

#1153 Plugin _HookCaller and registration updates
  examples/reader_plugin.py
  napari/_qt/qt_plugin_sorter.py
  napari/plugins/__init__.py
  napari/plugins/_builtins.py
  napari/plugins/_hook_callers.py
  napari/plugins/_tests/fixtures/invalid_plugin.py
  napari/plugins/_tests/fixtures/napari_bad_plugin.py
  napari/plugins/_tests/fixtures/napari_bad_plugin2.py
  napari/plugins/_tests/fixtures/napari_invalid_plugin.py
  napari/plugins/_tests/fixtures/napari_test_plugin.py
  napari/plugins/_tests/fixtures/working_plugin.py
  napari/plugins/_tests/test_hook_callers.py
  napari/plugins/_tests/test_hook_specifications.py
  napari/plugins/_tests/test_pluggy_utils.py
  napari/plugins/exceptions.py
  napari/plugins/io.py
  napari/plugins/manager.py
  napari/types.py
  requirements/default.txt
Labels: feature, refactor

#1154 Reduce code duplication in points tests
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: refactor

#1160 Rename requirements test
  .cirrus.yml
Labels: refactor, tests

#1158 Fix canvas none after layer deletion
  napari/_qt/qt_viewer.py
  napari/_tests/test_draw.py
  napari/_vispy/vispy_base_layer.py
Labels: bug

#1159 Drop pyramid autogeneration
  napari/_vispy/_tests/test_vispy_pyramid.py
  napari/layers/image/_image_utils.py
  napari/layers/image/_tests/test_big_image_timing.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/_tests/test_image_utils.py
  napari/layers/image/_tests/test_pyramid.py
  napari/layers/image/image.py
  napari/layers/labels/_tests/test_labels_pyramid.py
Labels: breaking change, bug

#1163 Color cycles properties return array
  napari/components/add_layers_mixin.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/utils/_tests/test_color_transforms.py
  napari/layers/utils/color_transformations.py
  napari/layers/vectors/_vectors_constants.py
  napari/layers/vectors/vectors.py
  napari/view_layers.py
Labels: refactor

#1104 Writer plugins
  docs/source/plugins/hook_specifications.rst
  napari/__init__.py
  napari/components/_tests/test_add_layers.py
  napari/components/_tests/test_layers_list.py
  napari/components/_tests/test_viewer_model.py
  napari/components/layerlist.py
  napari/conftest.py
  napari/layers/_tests/test_layer_save.py
  napari/layers/base/base.py
  napari/plugins/_builtins.py
  napari/plugins/_hook_callers.py
  napari/plugins/_tests/conftest.py
  napari/plugins/_tests/test_builtin_get_writer.py
  napari/plugins/_tests/test_builtin_write_layers.py
  napari/plugins/_tests/test_hook_specifications.py
  napari/plugins/_tests/test_save_layers.py
  napari/plugins/exceptions.py
  napari/plugins/hook_specifications.py
  napari/plugins/io.py
  napari/plugins/manager.py
  napari/types.py
  napari/utils/_tests/test_io.py
  napari/utils/io.py
  napari/utils/misc.py
Labels: feature, plugins

#1164 Allow last added point to be deleted with backspace keybinding
  napari/_viewer_key_bindings.py
  napari/layers/points/_points_key_bindings.py
  napari/layers/points/_tests/test_points.py
Labels: bug

#1169 Extract plugin code to napari-plugin-engine
  docs/source/conf.py
  docs/source/plugins/for_napari_developers.rst
  docs/source/plugins/for_plugin_developers.rst
  examples/reader_plugin.py
  napari/_qt/_tests/test_qt_plugin_list.py
  napari/_qt/_tests/test_qt_plugin_report.py
  napari/_qt/qt_dict_table.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_plugin_report.py
  napari/_qt/qt_plugin_sorter.py
  napari/plugins/__init__.py
  napari/plugins/_builtins.py
  napari/plugins/_hook_callers.py
  napari/plugins/_tests/conftest.py
  napari/plugins/_tests/fixtures/invalid_plugin-0.1.0.dist-info/METADATA
  napari/plugins/_tests/fixtures/invalid_plugin-0.1.0.dist-info/entry_points.txt
  napari/plugins/_tests/fixtures/invalid_plugin-0.1.0.dist-info/top_level.txt
  napari/plugins/_tests/fixtures/invalid_plugin.py
  napari/plugins/_tests/fixtures/napari_bad_plugin.py
  napari/plugins/_tests/fixtures/napari_bad_plugin2.py
  napari/plugins/_tests/fixtures/napari_invalid_plugin.py
  napari/plugins/_tests/fixtures/napari_test_plugin.py
  napari/plugins/_tests/fixtures/napari_unimportable_plugin.py
  napari/plugins/_tests/fixtures/unimportable_plugin-0.1.0.dist-info/METADATA
  napari/plugins/_tests/fixtures/unimportable_plugin-0.1.0.dist-info/entry_points.txt
  napari/plugins/_tests/fixtures/unimportable_plugin-0.1.0.dist-info/top_level.txt
  napari/plugins/_tests/fixtures/unimportable_plugin.py
  napari/plugins/_tests/fixtures/working_plugin-0.1.0.dist-info/METADATA
  napari/plugins/_tests/fixtures/working_plugin-0.1.0.dist-info/entry_points.txt
  napari/plugins/_tests/fixtures/working_plugin-0.1.0.dist-info/top_level.txt
  napari/plugins/_tests/fixtures/working_plugin.py
  napari/plugins/_tests/test_builtin_get_writer.py
  napari/plugins/_tests/test_hook_callers.py
  napari/plugins/_tests/test_hook_specifications.py
  napari/plugins/_tests/test_manager.py
  napari/plugins/_tests/test_pluggy_utils.py
  napari/plugins/_tests/test_reader_plugins.py
  napari/plugins/exceptions.py
  napari/plugins/hook_specifications.py
  napari/plugins/io.py
  napari/plugins/manager.py
  napari/resources/styles/02_custom.qss
  napari/utils/info.py
  requirements/default.txt
Labels: refactor

#1170 replace pyramid with multiscale
  examples/add_multiscale_image.py
  examples/nD_multiscale_image.py
  examples/nD_multiscale_image_non_uniform.py
  napari/_tests/test_dtypes.py
  napari/_vispy/_tests/test_vispy_big_images.py
  napari/_vispy/_tests/test_vispy_multiscale.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/components/_tests/test_multichannel.py
  napari/components/_tests/test_prune_kwargs.py
  napari/components/_tests/test_viewer_image_io.py
  napari/components/_tests/test_viewer_model.py
  napari/components/add_layers_mixin.py
  napari/layers/base/base.py
  napari/layers/image/_image_utils.py
  napari/layers/image/_tests/test_big_image_timing.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/_tests/test_image_utils.py
  napari/layers/image/_tests/test_multiscale.py
  napari/layers/image/image.py
  napari/layers/labels/_tests/test_labels_pyramid.py
  napari/layers/labels/labels.py
  napari/layers/utils/layer_utils.py
  napari/plugins/_builtins.py
  napari/plugins/hook_specifications.py
  napari/resources/styles/02_custom.qss
  napari/utils/_tests/test_io.py
  napari/utils/io.py
  napari/view_layers.py
Labels: breaking change

#1149 Remove path arg from add_image and add_labels
  napari/_qt/qt_viewer.py
  napari/_tests/test_viewer_layer_parity.py
  napari/components/_tests/test_add_layers.py
  napari/components/_tests/test_viewer_image_io.py
  napari/components/_tests/test_viewer_labels_io.py
  napari/components/add_layers_mixin.py
  napari/plugins/_tests/test_reader_plugins.py
  napari/plugins/hook_specifications.py
  napari/plugins/io.py
  napari/view_layers.py
Labels: breaking change, refactor

#1171 add napari-svg plugin support
  examples/add_shapes.py
  examples/to_svg.py
  napari/components/_tests/test_layers_list.py
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/conftest.py
  napari/layers/_tests/test_layer_save.py
  napari/layers/base/base.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/_tests/test_multiscale.py
  napari/layers/image/image.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_shapes_models/ellipse.py
  napari/layers/shapes/_shapes_models/line.py
  napari/layers/shapes/_shapes_models/path.py
  napari/layers/shapes/_shapes_models/polygon.py
  napari/layers/shapes/_shapes_models/rectangle.py
  napari/layers/shapes/_shapes_models/shape.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/surface.py
  napari/layers/vectors/_tests/test_vectors.py
  napari/layers/vectors/vectors.py
  requirements/default.txt
Labels: breaking change, plugins

#1181 Fix small plugin error report bug
  napari/_qt/qt_plugin_report.py
Labels: bug

#1182 update version of napari-svg to 0.1.1
  requirements/default.txt
Labels: bug

#1179 Prevent crash when viewing 3D pyramids
  napari/_vispy/_tests/test_vispy_multiscale.py
  napari/_vispy/vispy_base_layer.py
  napari/layers/base/base.py
  napari/layers/image/image.py
Labels: bug

#1189 fix pip-missing-reqs step
  .cirrus.yml
Labels: bug

#1188 Warn when nothing saved
  napari/plugins/_tests/test_save_layers.py
  napari/plugins/io.py
Labels: refactor

#1180 Add ensure_colormap utility function to standardize colormap getting/setting
  napari/components/_tests/test_multichannel.py
  napari/components/_tests/test_viewer_model.py
  napari/components/add_layers_mixin.py
  napari/layers/intensity_mixin.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/utils/_tests/test_layer_utils.py
  napari/layers/utils/layer_utils.py
  napari/layers/vectors/_tests/test_vectors.py
  napari/layers/vectors/vectors.py
  napari/types.py
  napari/utils/_tests/test_colormaps.py
  napari/utils/colormaps/__init__.py
  napari/utils/colormaps/colormaps.py
Labels: bug

#1187 Update manifest.in for plugin code removal
  MANIFEST.in
  napari/_qt/_tests/test_qt_plugin_report.py
  napari/plugins/_tests/conftest.py
  napari/plugins/_tests/test_builtin_get_writer.py
  napari/plugins/_tests/test_reader_plugins.py
Labels: bug
