Repository napari/napari, pull requests merged in 2020-11, with the labels that each got.

#1804 unpin qt, exclude 5.15.0
  setup.cfg
Labels: bug, installation

#1762 Add checkbox to labels layer controls for displaying selected color mode
  napari/_qt/layer_controls/_tests/test_qt_labels_layer.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/layers/labels/_labels_constants.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: refactor

#1357 Integrated plugin dialog with install/uninstall & remote discovery
  MANIFEST.in
  napari/_qt/dialogs/_tests/test_qt_plugin_list.py
  napari/_qt/dialogs/qt_error_notification.py
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/_qt/dialogs/qt_plugin_table.py
  napari/_qt/exceptions.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_pip_dialog.py
  napari/_qt/widgets/qt_eliding_label.py
  napari/_qt/widgets/qt_plugin_sorter.py
  napari/plugins/__init__.py
  napari/plugins/_tests/test_pypi.py
  napari/plugins/pypi.py
  napari/resources/build_icons.py
  napari/resources/icons/info.svg
  napari/resources/icons/warning.svg
  napari/resources/loading.gif
  napari/resources/styles/02_custom.qss
  napari/utils/misc.py
  napari/utils/theme.py
  setup.cfg
Labels: feature, plugins

#1808 Simplify viewer and make headless mode easier
  napari/_qt/__init__.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_tests/test_viewer.py
  napari/components/viewer_model.py
  napari/viewer.py
Labels: refactor

#1812 Add NAPARI_EXIT_ON_ERROR
  napari/_qt/exceptions.py
Labels: feature

#1809 Fix TransformChain.__init__()
  napari/utils/transforms/_tests/test_transform_chain.py
  napari/utils/transforms/transforms.py
Labels: bug

#1814 Pre-sort tracks data by ID and time
  napari/layers/tracks/_tests/test_tracks.py
  napari/layers/tracks/tracks.py
Labels: bug

#1815 enhance affine example to include scipy.ndimage
  examples/affine_transforms.py
Labels: documentation

#1807 Allow ability to run all tests on local Windows installs
  napari/_tests/test_with_screenshot.py
  napari/_vispy/_tests/test_vispy_multiscale.py
Labels: bug, tests

#1817 Try different test for popup skipif mark
  napari/_tests/test_with_screenshot.py
  napari/_vispy/_tests/test_vispy_multiscale.py
Labels: bug

#1818 Sort tracks and track properties by ID then t
  napari/layers/tracks/_tests/test_tracks.py
  napari/layers/tracks/_track_utils.py
  napari/layers/tracks/tracks.py
Labels: bug

#1821 Add a simple grid object
  examples/layers.py
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/_tests/test_with_screenshot.py
  napari/_viewer_key_bindings.py
  napari/components/_tests/test_grid.py
  napari/components/_tests/test_viewer_model.py
  napari/components/grid.py
  napari/components/viewer_model.py
Labels: breaking change, refactor

#1813 async-19: Minimap and Test Images
  napari/_qt/experimental/render/qt_mini_map.py
  napari/_qt/experimental/render/qt_render_container.py
  napari/_qt/experimental/render/qt_test_image.py
  napari/_vispy/experimental/vispy_tiled_image_layer.py
  napari/layers/image/experimental/__init__.py
  napari/layers/image/experimental/_octree_image_slice.py
  napari/layers/image/experimental/octree_intersection.py
  napari/layers/image/experimental/octree_level.py
Labels: async

#1834 async-20: Better QtTestImage
  napari/_qt/experimental/render/qt_render_container.py
  napari/_qt/experimental/render/qt_test_image.py
  napari/_qt/experimental/render/test_image.py
Labels: async

#1831 add example: visualize 2d+timelapse as 3D space-time images a.k.a. known as "kymographs"
  examples/3d_kymograph.py
Labels: documentation

#1838 Fix keybinding inheritance
  napari/utils/_tests/test_key_bindings.py
  napari/utils/key_bindings.py
Labels: bug

#1810 Move viewer keybindings
  napari/__init__.py
  napari/_qt/qt_main_window.py
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_qt/widgets/qt_dims.py
  napari/components/__init__.py
  napari/components/_tests/test_dims.py
  napari/components/_viewer_key_bindings.py
  napari/components/dims.py
Labels: bug, refactor

#1844 add sudo for disk detach
  bundle.py
Labels: bug

#1848 patch mac bundle differently
  .github/workflows/make_bundle.yml
  bundle.py
Labels: bug, bundle

#1855 bump qtconsole version requirement to fix #1854
  setup.cfg
Labels: bug

#1504 Use TypedEventedList and TypedList for LayerList and TransformChain
  napari/_qt/experimental/render/qt_render_container.py
  napari/_qt/layer_controls/qt_layer_controls_container.py
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/_tests/test_qt_layerlist.py
  napari/_qt/widgets/qt_layerlist.py
  napari/_tests/test_with_screenshot.py
  napari/components/_tests/test_layers_list.py
  napari/components/_tests/test_viewer_model.py
  napari/components/add_layers_mixin.py
  napari/components/layerlist.py
  napari/components/viewer_model.py
  napari/utils/transforms/transforms.py
Labels: refactor

#1859 Drop old typed list
  napari/utils/list/__init__.py
  napari/utils/list/_base.py
  napari/utils/list/_model.py
  napari/utils/list/_multi.py
  napari/utils/list/_typed.py
Labels: refactor

#1837 async-21: TiledImageVisual with Texture Atlas
  napari/_qt/experimental/render/qt_frame_rate.py
  napari/_qt/experimental/render/qt_mini_map.py
  napari/_qt/experimental/render/qt_octree_info.py
  napari/_qt/experimental/render/qt_render.py
  napari/_qt/experimental/render/qt_render_container.py
  napari/_qt/experimental/render/qt_render_widgets.py
  napari/_qt/experimental/render/qt_test_image.py
  napari/_qt/layer_controls/qt_layer_controls_container.py
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/qt_layerlist.py
  napari/_vispy/experimental/texture_atlas.py
  napari/_vispy/experimental/tile_grid.py
  napari/_vispy/experimental/tile_set.py
  napari/_vispy/experimental/tiled_image_visual.py
  napari/_vispy/experimental/vispy_compound_image_layer.py
  napari/_vispy/experimental/vispy_tiled_image_layer.py
  napari/_vispy/utils.py
  napari/_vispy/vendored/image.py
  napari/_vispy/vispy_image_layer.py
  napari/components/add_layers_mixin.py
  napari/components/experimental/chunk/_config.py
  napari/layers/image/_image_slice.py
  napari/layers/image/experimental/__init__.py
  napari/layers/image/experimental/_octree_image_slice.py
  napari/layers/image/experimental/octree.py
  napari/layers/image/experimental/octree_image.py
  napari/layers/image/experimental/octree_intersection.py
  napari/layers/image/experimental/octree_level.py
  napari/layers/image/experimental/octree_util.py
  napari/layers/image/image.py
  napari/utils/config.py
  napari/viewer.py
Labels: async

#1864 Apply requested opacity
  napari/_vispy/_tests/test_vispy_points_layer.py
  napari/_vispy/vispy_points_layer.py
Labels: bug, sprint

#1867 async-22: Support Edge/Corner Tiles
  napari/_vispy/experimental/texture_atlas.py
  napari/_vispy/experimental/tile_set.py
  napari/_vispy/experimental/tiled_image_visual.py
  napari/layers/image/experimental/octree_intersection.py
  napari/layers/image/experimental/octree_util.py
Labels: async

#1870 async-23: QtRender Fixes
  napari/_qt/experimental/render/qt_frame_rate.py
  napari/_qt/experimental/render/qt_mini_map.py
  napari/_qt/experimental/render/qt_test_image.py
  napari/_qt/experimental/render/test_image.py
Labels: async

#1847 Change grid size to shape
  napari/_tests/test_with_screenshot.py
  napari/components/_tests/test_grid.py
  napari/components/_tests/test_viewer_model.py
  napari/components/grid.py
  napari/components/viewer_model.py
Labels: breaking change

#1861 add minimum intensity projection shader to 3d rendering mode
  napari/_vispy/volume.py
  napari/layers/image/_image_constants.py
Labels: feature, sprint, vispy

#1835 Fix #1811: Move visual creation to end of __init__
  napari/_qt/qt_viewer.py
Labels: bug, refactor, vispy

#1862 colormap presention in dropdown list
  napari/_qt/layer_controls/qt_colormap_combobox.py
  napari/_qt/layer_controls/qt_image_controls_base.py
Labels: design, feature

#1879 add reverse gray colormap
  napari/utils/colormaps/matplotlib_cmaps.txt
Labels: feature

#1882 Fix active layer update
  napari/components/_tests/test_viewer_model.py
  napari/components/add_layers_mixin.py
  napari/components/viewer_model.py
Labels: bug

#1863 enhance accessibility by ensuring welcome screen Contrast meets required standards
  napari/_vispy/vispy_welcome_visual.py
Labels: bug, design, sprint

#1839 Fix lower triangular shear values
  napari/utils/transforms/_tests/test_transform_utils.py
  napari/utils/transforms/_tests/test_transforms.py
  napari/utils/transforms/transform_utils.py
  napari/utils/transforms/transforms.py
Labels: bug

#1860 Adding text labels to axes
  napari/_qt/qt_main_window.py
  napari/_vispy/vispy_axes_visual.py
  napari/components/axes.py
Labels: feature, sprint

#1884 Fix affine composition order
  napari/utils/transforms/_tests/test_transform_utils.py
  napari/utils/transforms/transform_utils.py
Labels: bug

#1886 fix affine warning
  napari/components/_tests/test_world_coordinates.py
  napari/layers/base/base.py
  napari/layers/image/image.py
Labels: bug

#1876 async-24: Multiscale Octree w/ Async Loading (Golden Spike)
  napari/_qt/experimental/qt_chunk_receiver.py
  napari/_qt/experimental/render/image_creator.py
  napari/_qt/experimental/render/qt_image_info.py
  napari/_qt/experimental/render/qt_mini_map.py
  napari/_qt/experimental/render/qt_octree_info.py
  napari/_qt/experimental/render/qt_render.py
  napari/_qt/experimental/render/qt_render_widgets.py
  napari/_qt/experimental/render/qt_test_image.py
  napari/_qt/experimental/render/test_image.py
  napari/_vispy/experimental/texture_atlas.py
  napari/_vispy/experimental/tile_grid.py
  napari/_vispy/experimental/tile_set.py
  napari/_vispy/experimental/tiled_image_visual.py
  napari/_vispy/experimental/vispy_compound_image_layer.py
  napari/_vispy/experimental/vispy_tiled_image_layer.py
  napari/components/experimental/__init__.py
  napari/components/experimental/chunk/_config.py
  napari/components/experimental/chunk/_delay_queue.py
  napari/components/experimental/chunk/_loader.py
  napari/components/experimental/chunk/_request.py
  napari/components/experimental/chunk/_tests/test_chunk.py
  napari/layers/image/experimental/__init__.py
  napari/layers/image/experimental/_chunked_slice_data.py
  napari/layers/image/experimental/_octree_image_slice.py
  napari/layers/image/experimental/_octree_multiscale_slice.py
  napari/layers/image/experimental/_tests/test_octree.py
  napari/layers/image/experimental/octree.py
  napari/layers/image/experimental/octree_image.py
  napari/layers/image/experimental/octree_intersection.py
  napari/layers/image/experimental/octree_level.py
  napari/layers/image/experimental/octree_tile_builder.py
  napari/layers/image/experimental/octree_util.py
  napari/layers/image/image.py
Labels: async

#1871 Average intensity projection shader for 3d rendering
  napari/_vispy/volume.py
  napari/layers/image/_image_constants.py
Labels: feature, vispy

#1890 async-25: Remove VispyCompoundImageLayer
  napari/_qt/experimental/render/qt_test_image.py
  napari/_vispy/experimental/vispy_compound_image_layer.py
  napari/_vispy/experimental/vispy_tiled_image_layer.py
  napari/_vispy/utils.py
  napari/layers/image/experimental/_octree_image_slice.py
  napari/layers/image/experimental/octree_tile_builder.py
Labels: async

#1891 async-26: Artificial Delay and fixes
  napari/_qt/experimental/render/qt_mini_map.py
  napari/_qt/experimental/render/qt_octree_info.py
  napari/_qt/experimental/render/qt_render_widgets.py
  napari/_qt/experimental/render/qt_test_image.py
  napari/layers/image/experimental/__init__.py
  napari/layers/image/experimental/_octree_multiscale_slice.py
  napari/layers/image/experimental/octree.py
  napari/layers/image/experimental/octree_image.py
  napari/layers/image/experimental/octree_tile_builder.py
  napari/layers/image/experimental/octree_util.py
Labels: async

#1857 Return estimate for 3D texture size instead of hard-coded value
  napari/_vispy/utils_gl.py
Labels: refactor, vispy

#1840 Fix bug for painting when scale above 1
  napari/_qt/utils.py
  napari/layers/labels/_tests/test_labels_mouse_bindings.py
  napari/layers/labels/labels.py
Labels: bug

#1894 #1889 Fix 3.9 Big Sur bug
  napari/__main__.py
Labels: bug

#1896 Add properties event
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
  napari/layers/vectors/vectors.py
Labels: feature

#1897 Update set-env in make_release action
  .github/workflows/make_release.yml
Labels: bug

#1892 async-27: Sparse Octree
  napari/_qt/experimental/render/image_creator.py
  napari/_qt/experimental/render/qt_mini_map.py
  napari/_qt/experimental/render/qt_octree_info.py
  napari/_qt/experimental/render/qt_render.py
  napari/_qt/experimental/render/qt_test_image.py
  napari/_vispy/experimental/texture_atlas.py
  napari/_vispy/experimental/tile_grid.py
  napari/_vispy/experimental/tile_set.py
  napari/_vispy/experimental/tiled_image_visual.py
  napari/_vispy/experimental/vispy_tiled_image_layer.py
  napari/components/experimental/chunk/_config.py
  napari/components/experimental/chunk/_info.py
  napari/components/experimental/chunk/_request.py
  napari/layers/image/experimental/__init__.py
  napari/layers/image/experimental/_octree_multiscale_slice.py
  napari/layers/image/experimental/octree.py
  napari/layers/image/experimental/octree_chunk.py
  napari/layers/image/experimental/octree_image.py
  napari/layers/image/experimental/octree_intersection.py
  napari/layers/image/experimental/octree_level.py
  napari/layers/image/experimental/octree_tile_builder.py
  napari/layers/image/experimental/octree_util.py
Labels: async

#1895 Make again control of grouping part of public api
  napari/_qt/qt_main_window.py
  napari/viewer.py
Labels: refactor

#1899 Fix windows plugin dupe
  napari/plugins/__init__.py
Labels: bug

#1893 Add 0.4.1 release notes
  docs/release/release_0_4_1.md
Labels: documentation

#1901 Fix set-env for bundle build
  .github/workflows/make_bundle.yml
  docs/release/release_0_4_1.md
Labels: bug

#1902 Fix missing libraries bug in make bundle
  .github/workflows/make_bundle.yml
Labels: bug

#1907 Revert "Return estimate for 3D texture size instead of hard-coded value"
  docs/release/release_0_4_1.md
  napari/_vispy/utils_gl.py
Labels: bug

#1922 Hide welcome visual
  docs/release/release_0_4_1.md
  napari/_qt/qt_viewer.py
  napari/_tests/test_with_screenshot.py
Labels: bug

#1926 Standardize grid events
  docs/release/release_0_4_1.md
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/components/grid.py
  napari/components/viewer_model.py
Labels: breaking change, refactor

#1918 enable nightly build and change bundle build to master merge
  .github/workflows/make_bundle.yml
Labels: bug, feature

#1925 pin pyside to 5.15.1
  .cirrus.yml
  docs/release/release_0_4_1.md
Labels: bug

#1936 Install specific PySide version when building bundle
  .github/workflows/make_bundle.yml
  bundle.py
  docs/release/release_0_4_1.md
Labels: bug, bundle

#1937 Unpin qt version
  .cirrus.yml
  docs/release/release_0_4_1.md
Labels: bug, tests

#1939 Add pims to bundle
  bundle.py
  docs/release/release_0_4_1.md
Labels: feature

#1938 Replace calls to layer.shape in tests
  napari/layers/image/_tests/test_image.py
  napari/layers/image/_tests/test_multiscale.py
  napari/layers/image/_tests/test_volume.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/_tests/test_labels_pyramid.py
  napari/layers/surface/_tests/test_surface.py
Labels: tests

#1921 Remove add layers mixin
  docs/source/events/threading.rst
  napari/__main__.py
  napari/components/_tests/test_add_layers.py
  napari/components/_tests/test_prune_kwargs.py
  napari/components/add_layers_mixin.py
  napari/components/viewer_model.py
  napari/plugins/hook_specifications.py
  napari/plugins/io.py
  napari/view_layers.py
Labels: refactor

#1930 Fix missing vispy.ext.six
  napari/_vispy/vendored/image.py
  napari/utils/events/event.py
Labels: bug

#1900 async-28: Misc Cleanup
  napari/_qt/experimental/render/image_creator.py
  napari/_qt/experimental/render/qt_mini_map.py
  napari/components/experimental/chunk/_config.py
  napari/components/experimental/chunk/_loader.py
  napari/conftest.py
  napari/layers/image/experimental/__init__.py
  napari/layers/image/experimental/_octree_multiscale_slice.py
  napari/layers/image/experimental/octree.py
  napari/layers/image/experimental/octree_image.py
  napari/layers/image/experimental/octree_level.py
  napari/layers/image/experimental/octree_tile_builder.py
Labels: async

#1924 fix checks for runngin under cProfile and yappi
  napari/utils/misc.py
Labels: bug

#1941 Register sync_only pytest mark to fix warning
  pyproject.toml
Labels: tests

#1945 Fix performance issues 1 - adding layers
  napari/components/layerlist.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/points/points.py
Labels: performance

#1910 Use evented dataclass for axes
  napari/_vispy/vispy_axes_visual.py
  napari/components/axes.py
  napari/utils/colormaps/standardize_color.py
  napari/utils/events/dataclass.py
Labels: refactor

#1946 Fix track labels lookup
  napari/layers/tracks/_tests/test_tracks.py
  napari/layers/tracks/_track_utils.py
  napari/layers/tracks/tracks.py
Labels: bug

#1911 Use evented dataclass for scalebar
  napari/_vispy/vispy_scale_bar_visual.py
  napari/components/scale_bar.py
Labels: refactor

#1912 Use evented dataclass for cursor
  napari/components/axes.py
  napari/components/cursor.py
Labels: refactor

#1913 Use evented dataclass for grid
  napari/components/grid.py
Labels: refactor

#1953 Don't run app bundling in forked repos
  .github/workflows/make_bundle.yml
Labels: bug, bundle

#1958 fix evented dataclass for python 3.9
  napari/components/axes.py
  napari/components/cursor.py
  napari/components/grid.py
  napari/components/scale_bar.py
  napari/utils/events/__init__.py
  napari/utils/events/_tests/test_dataclass.py
  napari/utils/events/dataclass.py
Labels: bug

#1951 update sliders when change scale of layer
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
Labels: bug

#1909 async-29: Shared Memory Server
  napari/_qt/experimental/qt_monitor.py
  napari/_qt/experimental/render/qt_frame_rate.py
  napari/_qt/experimental/render/qt_render.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/components/experimental/monitor/__init__.py
  napari/components/experimental/monitor/_api.py
  napari/components/experimental/monitor/_commands.py
  napari/components/experimental/monitor/_service.py
  napari/components/experimental/monitor/_utils.py
  napari/components/experimental/monitor/wrapper.py
  napari/components/viewer_model.py
  napari/layers/image/experimental/octree_image.py
  napari/layers/image/experimental/octree_intersection.py
Labels: async

#1961 Add tests for #1895
  napari/_tests/test_viewer.py
  napari/conftest.py
Labels: tests

#1962 Refine TypedMutableSequence.__getitem__ error type, add magicgui tests
  napari/utils/_tests/test_magicgui.py
  napari/utils/events/containers/_typed.py
  requirements/test.txt
Labels: bug

#1914 Use evented dataclass for camera
  napari/_vispy/_tests/test_vispy_camera.py
  napari/_vispy/vispy_camera.py
  napari/components/_tests/test_camera.py
  napari/components/_tests/test_viewer_model.py
  napari/components/camera.py
  napari/components/viewer_model.py
  napari/utils/misc.py
Labels: breaking change, refactor

#1916 Use evented dataclass for colormap
  napari/utils/colormaps/colormap.py
  napari/utils/colormaps/colormap_utils.py
Labels: refactor

#1963 Extend deprecation versions by one
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/image/image.py
Labels: feature

#1964 Add 0.4.2 release notes
  docs/release/release_0_4_2.md
Labels: documentation
