Repository napari/napari, pull requests merged in 2020-01, with the labels that each got.

#840 better isosurface rendering with colormaps
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/volume.py
Labels: feature

#841 Add nearest interpolation mode to volume rendering
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/volume.py
  napari/layers/labels/labels.py
Labels: bug

#844 refactor RangeSlider to accept data range & values.
  examples/add_grayscale_image.py
  napari/_qt/layers/qt_image_base_layer.py
  napari/_qt/qt_range_slider.py
  napari/_qt/tests/test_qt_range_slider.py
  napari/resources/stylesheet.qss
Labels: refactor

#837 Public contrast_limits_range setter, and climSlider popup on right click
  examples/add_grayscale_image.py
  napari/_qt/layers/qt_image_base_layer.py
  napari/_qt/layers/tests/__init__.py
  napari/_qt/layers/tests/test_qt_image_base_layer_.py
  napari/_qt/qt_dims_slider.py
  napari/_qt/qt_modal.py
  napari/_qt/qt_range_slider.py
  napari/_qt/qt_range_slider_popup.py
  napari/_qt/tests/test_qt_range_slider.py
  napari/_qt/tests/test_qt_range_slider_popup.py
  napari/layers/image/image.py
  napari/layers/image/tests/test_image.py
  napari/layers/intensity_mixin.py
  napari/layers/surface/surface.py
  napari/resources/stylesheet.qss
  napari/utils/tests/test_validators.py
  napari/utils/validators.py
Labels: feature, refactor

#686 layer properties to dictionary
  examples/add_points.py
  examples/add_shapes.py
  examples/shapes_to_labels.py
  examples/to_screenshot.py
  examples/to_svg.py
  napari/_qt/layers/qt_base_layer.py
  napari/_qt/layers/qt_points_layer.py
  napari/_qt/layers/qt_shapes_layer.py
  napari/_vispy/vispy_points_layer.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/points/tests/test_points.py
  napari/layers/shapes/shapes.py
  napari/layers/shapes/tests/test_shapes.py
  napari/layers/surface/surface.py
  napari/layers/tests/test_serialize.py
  napari/layers/vectors/vectors.py
Labels: breaking change, feature

#849 Fix fullscreen crash for test_viewer
  napari/tests/test_viewer.py
Labels: bug

#846 add attenuated MIP mode
  napari/__init__.py
  napari/_qt/layers/qt_base_layer.py
  napari/_qt/layers/qt_image_layer.py
  napari/_qt/layers/qt_labels_layer.py
  napari/_qt/layers/qt_points_layer.py
  napari/_qt/layers/qt_shapes_layer.py
  napari/_qt/layers/qt_surface_layer.py
  napari/_qt/layers/qt_vectors_layer.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_vispy/tests/test_image_rendering.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/volume.py
  napari/components/viewer_model.py
  napari/layers/image/_constants.py
  napari/layers/image/image.py
  napari/layers/image/tests/test_image.py
  napari/view_layers.py
  napari/viewer.py
Labels: feature

#856 Fix RangeSlider.rangeChange emit type bug
  napari/_qt/layers/tests/test_qt_image_base_layer_.py
  napari/_qt/qt_range_slider.py
  napari/_qt/qt_range_slider_popup.py
  napari/_qt/tests/test_qt_range_slider_popup.py
Labels: bug

#861 0.2.9 release notes
  docs/release/generate_release_notes.py
  docs/release/release_0_2_9.rst
Labels: documentation

#866 remove calls to QPoint.toTuple which is invalid in PyQt5
  napari/_qt/qt_modal.py
Labels: bug

#873 Drop zarr and numcodecs dependency
  .cirrus.yml
  napari/utils/io.py
  requirements/default.txt
  requirements/test.txt
Labels: bug

#871 fix aspect ratio press
  napari/layers/shapes/keybindings.py
  napari/layers/shapes/tests/test_shapes_keybindings.py
Labels: bug

#872 fix None label
  napari/layers/labels/labels.py
Labels: bug

#874 add release notes for 0.2.10
  docs/release/release_0_2_10.rst
Labels: documentation

#867 Add PyQt5 tests to Linux and OSX CI
  .cirrus.yml
Labels: bug

#876 change autodevdoc script to use new git reference
  .cirrus.yml
Labels: feature

#859 Qt/Vispy connection & lambda refactor
  napari/_qt/layers/qt_base_layer.py
  napari/_qt/layers/qt_image_base_layer.py
  napari/_qt/layers/qt_image_layer.py
  napari/_qt/layers/qt_labels_layer.py
  napari/_qt/layers/qt_points_layer.py
  napari/_qt/layers/qt_shapes_layer.py
  napari/_qt/layers/qt_vectors_layer.py
  napari/_qt/layers/tests/test_qt_image_base_layer_.py
  napari/_qt/qt_about_keybindings.py
  napari/_qt/qt_dims.py
  napari/_qt/qt_layerlist.py
  napari/_qt/qt_mode_buttons.py
  napari/_qt/qt_viewer_buttons.py
  napari/_qt/tests/test_qt_buttons.py
  napari/_qt/tests/test_qt_dims.py
  napari/_qt/tests/test_qt_play.py
  napari/_vispy/vispy_base_layer.py
  napari/_vispy/vispy_image_layer.py
  napari/_vispy/vispy_points_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/_vispy/vispy_surface_layer.py
  napari/_vispy/vispy_vectors_layer.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/labels/labels.py
  napari/layers/shapes/shape_models/shape.py
  napari/layers/shapes/shapes.py
  napari/resources/stylesheet.qss
  napari/utils/misc.py
Labels: refactor

#869 Give clim popup a minimum width and make sure it stays on screen when layer controls are floating
  napari/_qt/layers/qt_image_base_layer.py
  napari/_qt/layers/tests/test_qt_image_base_layer_.py
  napari/_qt/qt_modal.py
Labels: bug

#782 Improve multiple colors behavior in relevant layers
  napari/_qt/layers/qt_points_layer.py
  napari/_qt/tests/test_qt_layerlist.py
  napari/_vispy/vispy_points_layer.py
  napari/components/tests/test_multichannel.py
  napari/components/viewer_model.py
  napari/layers/labels/tests/test_label_utils.py
  napari/layers/points/points.py
  napari/layers/points/tests/test_points.py
  napari/layers/utils/__init__.py
  napari/layers/utils/color_transformations.py
  napari/layers/utils/tests/test_color_transforms.py
  napari/utils/colormaps/standardize_color.py
  napari/utils/list/_model.py
  napari/utils/tests/colors_data.py
  napari/utils/tests/test_color_to_array.py
  napari/utils/tests/test_colormaps.py
  napari/view_layers.py
Labels: refactor

#884 improve slider step precision based on data range
  napari/_qt/layers/qt_image_base_layer.py
  napari/_qt/layers/tests/test_qt_image_base_layer_.py
  napari/_qt/qt_range_slider.py
Labels: bug

#902 Fix points selection
  napari/layers/points/points.py
  napari/layers/points/tests/test_points.py
Labels: bug

#897 refactor add_* methods
  napari/components/add_layers_mixin.py
  napari/components/viewer_model.py
Labels: refactor

#915 patch py3.8 on windows
  napari/_qt/qt_console.py
Labels: bug

#878 Bump tests to python 3.8, general tests fix
  .cirrus.yml
  napari/_qt/tests/test_qt_play.py
Labels: feature

#877 Fix invalid instructions in setup.py
  setup.py
Labels: bug

#909 _add_layer_data method and tests
  napari/components/add_layers_mixin.py
  napari/components/tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/layers/__init__.py
  napari/tests/utils.py
  napari/utils/misc.py
Labels: feature

#916 Fix osx py3.6 tests
  .cirrus.yml
Labels: bug, tests

#917 add Python 3.8 to PyPI tags
  setup.py
Labels: bug, documentation

#880 Clean up setup.py
  setup.py
Labels: bug

#923 Fix singleton dims
  napari/_qt/_tests/test_qt_dims.py
  napari/_qt/qt_dims_slider.py
Labels: bug

#920 Fix nD Shapes.to_labels()
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shape_models/shape.py
Labels: bug

#927 Import scipy stats to prevent strange bug.
  napari/__init__.py
Labels: bug, tests

#895 Allow Points display properties to be set by point properties
  examples/add_points.py
  examples/add_points_with_properties.py
  examples/nD_points.py
  examples/nD_points_with_properties.py
  napari/components/add_layers_mixin.py
  napari/layers/points/_constants.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/_tests/test_points_utils.py
  napari/layers/points/points.py
  napari/layers/points/points_utils.py
  napari/layers/utils/_tests/test_color_transforms.py
  napari/layers/utils/color_transformations.py
  napari/view_layers.py
  requirements/test.txt
Labels: feature

#913 Move benchmarks under napari directory but not distributed
  asv.conf.json
  benchmarks/__init__.py
  docs/BENCHMARKS.md
  napari/benchmarks/README.md
  napari/benchmarks/benchmark_image_layer.py
  napari/benchmarks/benchmark_labels_layer.py
  napari/benchmarks/benchmark_points_layer.py
  napari/benchmarks/benchmark_qt_viewer.py
  napari/benchmarks/benchmark_qt_viewer_image.py
  napari/benchmarks/benchmark_qt_viewer_labels.py
  napari/benchmarks/benchmark_shapes_layer.py
  napari/benchmarks/benchmark_surface_layer.py
  napari/benchmarks/benchmark_vectors_layer.py
Labels: bug

#928 0.2.11 release notes
  docs/release/release_0_2_11.rst
Labels: documentation
