Repository napari/napari, pull requests merged in 2021-01, with the labels that each got.

#2051 tox tests on github actions
  .cirrus.yml
  .github/TEST_FAIL_TEMPLATE.md
  .github/workflows/make_bundle.yml
  .github/workflows/make_docs.yml
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_prereleases.yml
  .github/workflows/test_pull_requests.yml
  MANIFEST.in
  README.md
  napari/_event_loop.py
  napari/layers/__init__.py
  napari/utils/_tests/test_magicgui.py
  pyproject.toml
  setup.cfg
  tox.ini
Labels: tests

#2059 fix name in gha test
  .github/workflows/test_comprehensive.yml
Labels: bug, tests

#2061 Fix big sur on GHA and fix failed test template
  .github/TEST_FAIL_TEMPLATE.md
  .github/workflows/test_comprehensive.yml
  tox.ini
Labels: bug, tests

#2063 Fix missing console widget
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_viewer.py
Labels: bug

#2058 Drop additional perfmon test pass
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_pull_requests.yml
  napari/_qt/perf/__init__.py
  napari/_qt/perf/_tests/__init__.py
  napari/_qt/perf/_tests/test_perf.py
  napari/_qt/perf/qt_debug_menu.py
  napari/_qt/perf/qt_event_tracing.py
  napari/_qt/perf/qt_performance.py
  napari/_qt/qt_event_loop.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_qt/utils.py
  napari/conftest.py
  napari/utils/perf/_tests/test_perf.py
  napari/utils/perf/_timers.py
  pyproject.toml
  tox.ini
Labels: refactor, tests

#2056 Create QApplication on demand in viewer.Window, add napari.run function
  examples/without_gui_qt.py
  napari/__init__.py
  napari/_event_loop.py
  napari/_qt/qt_event_loop.py
  napari/_qt/qt_main_window.py
  napari/_tests/test_viewer.py
  napari/qt/__init__.py
  setup.cfg
Labels: feature

#2064 update bundle.py
  .github/workflows/make_bundle.yml
  bundle.py
  napari/_qt/qt_resources/build_icons.py
  napari/utils/misc.py
Labels: bug, bundle

#1957 add information about screen resolution
  napari/utils/info.py
Labels: feature

#2003 Move keymap handling off viewer
  napari/_qt/qt_viewer.py
  napari/components/viewer_model.py
  napari/utils/key_bindings.py
Labels: breaking change, refactor

#2037 drop scale, axes background color, connect directly to viewer
  napari/_qt/qt_viewer.py
  napari/_vispy/vispy_axes_visual.py
  napari/_vispy/vispy_scale_bar_visual.py
  napari/components/axes.py
  napari/components/scale_bar.py
  napari/components/viewer_model.py
  napari/utils/colormaps/standardize_color.py
Labels: breaking change

#2065 Remove global app logic from Window.__init__
  napari/_qt/_tests/test_app.py
  napari/_qt/perf/_tests/test_perf.py
  napari/_qt/qt_event_loop.py
  napari/_qt/qt_main_window.py
  napari/_tests/test_viewer.py
  napari/conftest.py
  napari/viewer.py
Labels: refactor

#2040 Add a MousemapProvider
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/utils/mouse_bindings.py
Labels: refactor

#2073 Skip perfmon test on python 3.9 on CI
  napari/_qt/perf/_tests/test_perf.py
Labels: bug, tests

#2076 Save app reference in Window.__init__
  napari/_qt/qt_main_window.py
Labels: bug

#2067 async-45: Docs and Cleanup
  docs/source/explanations/images/timeline.png
  docs/source/explanations/rendering.md
  napari/components/experimental/chunk/_loader.py
Labels: async, documentation

#2074 Add deprecated parameters for updating theme
  napari/resources/__init__.py
  napari/utils/theme.py
Labels: bug

#2079 Change/(deprecate) magicgui return type annotation registration
  napari/types.py
  napari/utils/_magicgui.py
  napari/utils/_tests/test_magicgui.py
  napari/utils/misc.py
  setup.cfg
Labels: deprecation, refactor

#2078 async-46: Rendering Guide and Code Comments
  docs/source/events/index.rst
  docs/source/events/rendering.rst
  napari/_vispy/experimental/texture_atlas.py
  napari/_vispy/experimental/tile_grid.py
  napari/_vispy/experimental/tile_set.py
  napari/_vispy/experimental/tiled_image_visual.py
  napari/_vispy/experimental/vispy_tiled_image_layer.py
  napari/components/experimental/chunk/__init__.py
  napari/components/experimental/chunk/_cache.py
  napari/components/experimental/chunk/_delay_queue.py
  napari/components/experimental/chunk/_info.py
  napari/components/experimental/chunk/_loader.py
  napari/components/experimental/chunk/_request.py
  napari/layers/image/experimental/__init__.py
  napari/layers/image/experimental/_chunked_image_loader.py
  napari/layers/image/experimental/_chunked_slice_data.py
  napari/layers/image/experimental/_image_location.py
  napari/layers/image/experimental/_octree_loader.py
  napari/layers/image/experimental/_octree_slice.py
  napari/layers/image/experimental/_tests/test_octree.py
  napari/layers/image/experimental/octree.py
  napari/layers/image/experimental/octree_chunk.py
  napari/layers/image/experimental/octree_image.py
  napari/layers/image/experimental/octree_intersection.py
  napari/layers/image/experimental/octree_level.py
  napari/layers/image/experimental/octree_tile_builder.py
  napari/layers/image/experimental/octree_util.py
Labels: async, documentation

#2087 Coerce name before layer is added to layerlist
  napari/_qt/qt_main_window.py
  napari/components/_tests/test_layers_list.py
  napari/components/layerlist.py
  napari/components/viewer_model.py
  napari/utils/events/containers/_evented_list.py
Labels: bug

#2088 Fix stale data in magicgui `*Data` parameters
  napari/layers/image/image.py
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/surface.py
  napari/layers/tracks/tracks.py
  napari/layers/vectors/vectors.py
  napari/utils/_magicgui.py
  napari/utils/_tests/test_magicgui.py
  setup.cfg
Labels: bug

#2085 Add examples tests
  examples/interactive_scripting.py
  examples/labels-2d.py
  examples/shapes_to_labels.py
  examples/to_screenshot.py
  napari/_qt/qthreading.py
  napari/_tests/test_examples.py
  napari/utils/_tests/test_magicgui.py
  napari/utils/_tests/test_theme.py
Labels: tests

#2080 Gui hookspecs
  napari/_qt/_tests/test_plugin_widgets.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/plugins/__init__.py
  napari/plugins/_tests/test_plugin_widgets.py
  napari/plugins/hook_specifications.py
  napari/types.py
  setup.cfg
Labels: feature

#1906 0.4 roadmap
  docs/source/developers/ROADMAP_0_3_retrospective.md
  docs/source/developers/ROADMAP_0_4.md
Labels: documentation

#2072 0.4.3 release notes
  docs/release/release_0_4_3.md
Labels: documentation

#2094 skip testing examples on CI
  docs/release/release_0_4_3.md
  napari/_tests/test_examples.py
Labels: tests

#2096 Make dock widgets non-tabbed
  docs/release/release_0_4_3.md
  napari/_qt/qt_main_window.py
Labels: bug

#2097 Fix roadmap headings in docs
  docs/release/release_0_4_3.md
  docs/source/developers/ROADMAP_0_3.md
  docs/source/developers/ROADMAP_0_3_retrospective.md
  docs/source/developers/ROADMAP_0_4.md
Labels: documentation

#2099 fix overly strict magic kwargs
  docs/release/release_0_4_3.md
  napari/plugins/__init__.py
  napari/plugins/_tests/test_plugin_widgets.py
Labels: bug

#2102 Undo calling pyrcc with python sys.executable
  docs/release/release_0_4_3.md
  napari/_qt/qt_resources/build_icons.py
Labels: bug

#2100 Better bound magicgui viewer
  docs/release/release_0_4_3.md
  examples/magic_viewer.py
  napari/utils/_magicgui.py
  napari/utils/_tests/test_magicgui.py
  setup.cfg
Labels: feature

#2106 reduce call of _extent_data in layer
  napari/layers/base/base.py
Labels: performance

#2107 Add PR 2106 to 0.4.3 release notes
  docs/release/release_0_4_3.md
Labels: documentation

#2109 Fix `pytest --pyargs napari` test on pip install. Add CI test
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_pull_requests.yml
  docs/release/release_0_4_3.md
  napari/_tests/test_examples.py
Labels: bug, tests

#2112 Add example code to hook documentation
  napari/plugins/hook_specifications.py
Labels: documentation

#2122 Remove duplicate entry in install_requires
  setup.cfg
Labels: bug

#2119 move Viewer import into method
  napari/_qt/qt_main_window.py
Labels: bug

#2124 Fix typo in deprecation message
  napari/components/viewer_model.py
Labels: bug

#2120 Support for EventedList.__setitem__ with array-like items
  napari/utils/events/_tests/test_evented_list.py
  napari/utils/events/containers/_evented_list.py
Labels: bug

#2121 Delay import of pkg_resources
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/utils/misc.py
Labels: performance

#2130 DOC: Rename Section to conform to numpydocs (Return->Returns)
  napari/conftest.py
  napari/layers/image/_image_loader.py
  napari/layers/image/_image_slice.py
  napari/layers/image/experimental/_chunk_set.py
  napari/layers/image/experimental/_chunked_image_loader.py
  napari/layers/image/experimental/_chunked_slice_data.py
  napari/layers/image/experimental/_image_location.py
  napari/layers/image/experimental/_octree_loader.py
  napari/layers/image/experimental/_octree_slice.py
  napari/layers/image/experimental/octree.py
  napari/layers/image/experimental/octree_chunk.py
  napari/layers/image/experimental/octree_image.py
  napari/layers/image/experimental/octree_intersection.py
  napari/layers/image/experimental/octree_level.py
  napari/layers/image/experimental/octree_tile_builder.py
  napari/layers/image/experimental/octree_util.py
Labels: documentation

#2129 DOC: Formatting and Typos.
  napari/layers/image/_image_slice.py
  napari/layers/image/experimental/octree_chunk.py
  napari/layers/image/experimental/octree_image.py
  napari/layers/image/image.py
  napari/layers/utils/stack_utils.py
Labels: documentation

#2139 Fix too-late registration of napari types in magicgui
  napari/__init__.py
  napari/components/_tests/test_add_layers.py
  napari/components/viewer_model.py
Labels: bug

#2137 Add __array__ protocol to transforms.Affine
  napari/utils/transforms/_tests/test_transforms.py
  napari/utils/transforms/transforms.py
Labels: feature

#2132 QtAboutKeyBindings patch
  napari/_qt/dialogs/_tests/test_qt_about_key_bindings.py
  napari/_qt/dialogs/qt_about_key_bindings.py
  napari/_qt/qt_viewer.py
Labels: bug

#2141 Doc: fix syntax = instead of :
  napari/components/viewer_model.py
Labels: bug

#2144 Drop items to be removed in 0.4.4
  napari/components/viewer_model.py
Labels: breaking change

#2143 Relax dock_widget_hookspec to accept callable.
  napari/plugins/__init__.py
  napari/plugins/hook_specifications.py
  napari/types.py
Labels: feature

#2153 Change plugin window search from naming convention to pypi classifier
  napari/plugins/pypi.py
Labels: breaking change

#2157 Add compress=1 to tifffile imsave call
  napari/utils/io.py
Labels: performance

#2152 no naming convention, delay dock_widget discovery
  docs/source/plugins/for_plugin_developers.rst
  napari/_qt/qt_main_window.py
  napari/plugins/__init__.py
Labels: breaking change

#2148 Points layer enable interactive mode in add mode, don't add point when dragging, addresses #2146 (WIP)
  napari/layers/points/_points_mouse_bindings.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/_tests/test_points_mouse_bindings.py
  napari/layers/points/points.py
Labels: feature

#2131 Provide `make_test_viewer` as a pytest plugin, for external use.
  docs/source/developers/TESTING.md
  napari/_qt/_tests/test_app.py
  napari/_qt/_tests/test_exception_handler.py
  napari/_qt/_tests/test_plugin_widgets.py
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/dialogs/_tests/test_qt_about_key_bindings.py
  napari/_qt/perf/_tests/test_perf.py
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_qt/widgets/_tests/test_qt_dock_widget.py
  napari/_qt/widgets/_tests/test_qt_play.py
  napari/_tests/test_adding_removing.py
  napari/_tests/test_advanced.py
  napari/_tests/test_draw.py
  napari/_tests/test_dtypes.py
  napari/_tests/test_function_widgets.py
  napari/_tests/test_key_bindings.py
  napari/_tests/test_mouse_bindings.py
  napari/_tests/test_notebook_display.py
  napari/_tests/test_numpy_like.py
  napari/_tests/test_viewer.py
  napari/_tests/test_with_screenshot.py
  napari/_vispy/_tests/test_image_rendering.py
  napari/_vispy/_tests/test_vispy_big_images.py
  napari/_vispy/_tests/test_vispy_calls.py
  napari/_vispy/_tests/test_vispy_camera.py
  napari/_vispy/_tests/test_vispy_multiscale.py
  napari/_vispy/_tests/test_vispy_points_layer.py
  napari/components/experimental/chunk/_commands/_tests/test_loader.py
  napari/conftest.py
  napari/utils/_tests/test_magicgui.py
  napari/utils/_testsupport.py
  setup.cfg
Labels: feature, tests

#1985 Deprecate layer.status
  examples/custom_mouse_functions.py
  examples/mouse_drag_callback.py
  napari/_qt/layer_controls/qt_image_controls_base.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/layer_controls/qt_shapes_controls.py
  napari/_vispy/_tests/test_vispy_big_images.py
  napari/_vispy/_tests/test_vispy_multiscale.py
  napari/benchmarks/benchmark_image_layer.py
  napari/benchmarks/benchmark_labels_layer.py
  napari/benchmarks/benchmark_points_layer.py
  napari/benchmarks/benchmark_qt_viewer_image.py
  napari/benchmarks/benchmark_qt_viewer_labels.py
  napari/benchmarks/benchmark_shapes_layer.py
  napari/benchmarks/benchmark_surface_layer.py
  napari/benchmarks/benchmark_vectors_layer.py
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/_tests/test_multiscale.py
  napari/layers/image/_tests/test_volume.py
  napari/layers/image/experimental/octree_image.py
  napari/layers/image/image.py
  napari/layers/intensity_mixin.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/surface.py
  napari/layers/tracks/tracks.py
  napari/layers/vectors/_tests/test_vectors.py
  napari/layers/vectors/vectors.py
  napari/utils/status_messages.py
Labels: deprecation, refactor

#2113 Add missed doc string in `import_resources`
  napari/_qt/qt_resources/__init__.py
Labels: documentation

#2164 fix magicgui.FunctionGui deprecation warning
  napari/_qt/_tests/test_plugin_widgets.py
Labels: bug

#2147 Add name of system to napari sys_info
  napari/utils/_tests/test_info.py
  napari/utils/info.py
Labels: feature

#2158 drop magic_kwargs, dock_kwargs from provide_function_widget
  docs/source/plugins/hook_specifications.rst
  examples/magic_image_arithmetic.py
  examples/magic_parameter_sweep.py
  examples/magic_viewer.py
  napari/_qt/_tests/test_plugin_widgets.py
  napari/_qt/qt_main_window.py
  napari/_tests/test_function_widgets.py
  napari/plugins/__init__.py
  napari/plugins/_tests/test_plugin_widgets.py
  napari/plugins/hook_specifications.py
  napari/types.py
Labels: breaking change, plugins

#2170 0.4.4 release notes
  docs/release/release_0_4_4.md
Labels: documentation

#2171 Better documentation of API changes in 0.4.4 release notes
  docs/release/release_0_4_4.md
Labels: documentation

#2173 Fix show/ hide plugin widgets
  docs/release/release_0_4_4.md
  napari/_qt/_tests/test_plugin_widgets.py
  napari/_qt/qt_main_window.py
Labels: bug

#2180 fix typo in hookspecs docs
  docs/source/plugins/hook_specifications.rst
Labels: documentation

#2184 UI: Add keybindings to the Paint and Pick tooltips
  napari/_qt/layer_controls/qt_labels_controls.py
Labels: design

#2127 Add pydantic evented model
  napari/utils/events/__init__.py
  napari/utils/events/_tests/test_evented_model.py
  napari/utils/events/custom_types.py
  napari/utils/events/evented_model.py
  setup.cfg
Labels: feature

#2193 Fix bug with modification of `AVAILABLE_COLORMAPS` when iterate over its.
  napari/utils/colormaps/colormap_utils.py
Labels: bug
