Repository napari/napari, pull requests merged in 2021-07, with the labels that each got.

#2966 Fix nD anisotropic painting when scale is negative
  napari/layers/labels/_labels_utils.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: tests

#2957 [WIP] Make handling properties more consistent across some layer types
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
  napari/layers/tracks/_tests/test_tracks.py
  napari/layers/tracks/_track_utils.py
  napari/layers/tracks/tracks.py
  napari/layers/utils/_tests/test_layer_utils.py
  napari/layers/utils/layer_utils.py
  napari/layers/vectors/_tests/test_vectors.py
  napari/layers/vectors/vectors.py
Labels: tests

#2949 Fix magicgui registration and circular imports
  napari/__init__.py
  napari/components/__init__.py
  napari/layers/__init__.py
  napari/layers/_source.py
  napari/layers/base/base.py
  napari/plugins/_plugin_manager.py
  napari/types.py
  napari/utils/_magicgui.py
  napari/utils/_tests/test_magicgui.py
  napari/viewer.py
Labels: tests

#2981 Ensure new height of expanded notification is larger than current height
  napari/_qt/dialogs/qt_notification.py
Labels: qt

#2961 addressing case wher argument to get_default_shape_type is empty list, addresses issue #2960
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/test_shapes_utils.py
Labels: bug, tests

#2982 Remove mode guards for selection interactions in points
  napari/layers/points/_points_key_bindings.py
Labels: feature

#2864 Shortcuts UI
  napari/_qt/dialogs/preferences_dialog.py
  napari/_qt/dialogs/qt_message_dialogs.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_qt/widgets/_tests/test_shortcut_editor_widget.py
  napari/_qt/widgets/qt_keyboard_settings.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/form.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/widgets.py
  napari/utils/interactions.py
  napari/utils/key_bindings.py
  napari/utils/settings/_defaults.py
  napari/utils/settings/_manager.py
Labels: design, preferences, qt, tests

#2950 Shape Mouse refactor
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/_tests/test_shapes_mouse_bindings.py
  napari/layers/shapes/shapes.py
Labels: refactor, tests

#2997 Speedup one of the slowest test.
  napari/layers/utils/_tests/test_layer_utils.py
Labels: performance, tests

#2980 Pin briefcase to 0.3.4 on macOS
  .github/workflows/make_bundle.yml
Labels: bug, task

#2556 Add context menu on layer list, introduce `QtActionContextMenu`.
  napari/_qt/containers/_base_item_view.py
  napari/_qt/containers/_layer_delegate.py
  napari/_qt/widgets/_tests/test_action_context_menu.py
  napari/_qt/widgets/qt_action_context_menu.py
  napari/components/__init__.py
  napari/components/layerlist.py
  napari/layers/__init__.py
  napari/layers/_layer_actions.py
  napari/layers/_tests/test_layer_actions.py
  napari/layers/base/base.py
  napari/layers/utils/_link_layers.py
  napari/layers/utils/stack_utils.py
  napari/utils/events/containers/_evented_list.py
  napari/utils/events/event.py
Labels: feature, qt, tests

#2994 Add TypedMutableMapping and EventedDict
  napari/utils/events/__init__.py
  napari/utils/events/_tests/test_evented_dict.py
  napari/utils/events/_tests/test_typed_dict.py
  napari/utils/events/containers/__init__.py
  napari/utils/events/containers/_dict.py
  napari/utils/events/containers/_evented_dict.py
Labels: feature, tests

#2656 Add activity dialog and style progress bars
  examples/progress_bar_minimal.py
  examples/progress_bar_segmentation.py
  examples/progress_bar_threading.py
  napari/_qt/_tests/test_progress.py
  napari/_qt/dialogs/activity_dialog.py
  napari/_qt/qprogress.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/qt_activity_dock.py
  napari/_qt/widgets/qt_progress_bar.py
Labels: design, feature, qt, tests

#2998 Fix behavior of return/escape on preferences dialog to accept/cancel
  napari/_qt/dialogs/preferences_dialog.py
Labels: bug, preferences, qt

#3011 Fix EventedDict
  napari/utils/events/containers/_dict.py
Labels: bug

#3008 Remove mentions of _mode_history (2987)
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
Labels: refactor

#2931 Close Qt progress bars when viewer is closed
  napari/_qt/_tests/test_progress.py
  napari/_qt/dialogs/activity_dialog.py
  napari/_qt/qprogress.py
Labels: qt, tests

#3016 Change opacity slider to float slider
  napari/_qt/layer_controls/qt_layer_controls_base.py
Labels: bug, qt

#2990 Fix scale decomp with composite
  napari/layers/base/base.py
  napari/layers/image/_tests/test_image.py
  napari/layers/labels/_tests/test_labels.py
  napari/utils/transforms/__init__.py
  napari/utils/transforms/_tests/test_transform_chain.py
  napari/utils/transforms/_tests/test_transforms.py
  napari/utils/transforms/transform_utils.py
  napari/utils/transforms/transforms.py
  tools/strings_list.py
Labels: refactor, tests

#2992 Emit data event when moving, adding or removing shapes or points
  napari/layers/points/_points_mouse_bindings.py
  napari/layers/points/points.py
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/shapes.py
Labels: feature

#3043 Use non-deprecated colormap in viewer cmap test
  napari/components/_tests/test_viewer_model.py
Labels: tests

#3040 Use compression=('zlib', 1) for new tifffile
  napari/utils/io.py
Labels: bug

#3041 Fix saving preferences
  napari/_qt/dialogs/preferences_dialog.py
  napari/_qt/dialogs/qt_message_dialogs.py
Labels: preferences, qt

#3006 Add isosurface rendering to Labels
  napari/_qt/layer_controls/_tests/test_qt_image_layer.py
  napari/_qt/layer_controls/_tests/test_qt_labels_layer.py
  napari/_qt/layer_controls/qt_image_controls.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_vispy/vendored/volume.py
  napari/layers/image/_image_constants.py
  napari/layers/image/_tests/test_image_constants.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: design, feature, qt, tests

#3048 Remove keybindings dialog from help menu
  napari/_qt/dialogs/_tests/test_qt_about_key_bindings.py
  napari/_qt/dialogs/qt_about_key_bindings.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
Labels: qt, tests

#2933 Add playback options to settings
  napari/_qt/dialogs/preferences_dialog.py
  napari/_qt/qt_main_window.py
  napari/_qt/widgets/_tests/test_qt_play.py
  napari/_qt/widgets/qt_dims.py
  napari/_qt/widgets/qt_dims_slider.py
  napari/utils/settings/_constants.py
  napari/utils/settings/_defaults.py
Labels: preferences, qt, tests

#3047 Remove brush shape
  napari/benchmarks/benchmark_labels_layer.py
  napari/layers/labels/_labels_constants.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/_tests/test_labels_mouse_bindings.py
  napari/layers/labels/labels.py
Labels: breaking change, tests

#2986 Gracefully handle properties with `object` dtype
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
Labels: bug, tests

#3056 Fix Layer.affine assignment and broadcasting
  napari/layers/base/base.py
  napari/layers/image/_tests/test_image.py
  napari/layers/utils/layer_utils.py
Labels: bug, tests

#3046 fix Labels layer controls checkbox labels
  napari/_qt/layer_controls/qt_labels_controls.py
Labels: qt

#3060 Make flash effect feel more instant
  napari/_qt/utils.py
Labels: qt

#3050 Refactor the Point, Label and Shape Layer Mode logic.
  napari/_qt/layer_controls/qt_points_controls.py
  napari/layers/base/__init__.py
  napari/layers/base/base.py
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/shapes.py
Labels: qt, refactor

#3055 Update plugin guide with references and instructions for napari-hub
  docs/plugins/for_plugin_developers.rst
Labels: documentation

#3063 Use enum values internally for settings.
  napari/_qt/_tests/test_qt_notifications.py
  napari/_qt/dialogs/preferences_dialog.py
  napari/_qt/qt_main_window.py
  napari/_qt/widgets/qt_dims_slider.py
  napari/utils/events/evented_model.py
  napari/utils/settings/_defaults.py
Labels: preferences, qt, tests

#3065 Skip progress indicator test when viewer is not shown
  napari/_qt/_tests/test_progress.py
Labels: qt, tests

#2943 Add initital support to install from conda/mamba
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: feature, qt

#3037 Add view ray and labels selection in 3D
  examples/cursor_ray.py
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_viewer.py
  napari/_vispy/_tests/test_utils.py
  napari/_vispy/utils.py
  napari/layers/base/base.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_shapes_utils.py
  napari/utils/_tests/test_geometry.py
  napari/utils/geometry.py
Labels: qt, tests

#3067 PR: Allow for multiple installs and update buttons to reflect state
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/_qt/qt_resources/styles/02_custom.qss
Labels: design, qt

#3069 PR: Remove plugin sorter from plugin install dialog
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: qt

#2695 Add `assign_[plugin]_to_extension` methods on plugin_manager.
  napari/plugins/_plugin_manager.py
  napari/plugins/_tests/test_plugins_manager.py
  napari/plugins/io.py
  napari/utils/settings/_defaults.py
Labels: feature, plugins, preferences, tests

#3071 PR: Unify plugin wording and installer dialog to display only package/plugins
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/_qt/qt_main_window.py
Labels: feature, qt

#3076 Add `add_<shape_type>` method for each shape type
  examples/add_shapes.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
Labels: tests

#3081 add missing libraries in docker file and entrypoint
  dockerfile
Labels: bug

#3088 Fix problem with assigning affine with negative entries to pyramids
  napari/_qt/qt_viewer.py
  napari/_vispy/_tests/test_vispy_multiscale.py
  napari/layers/base/base.py
  napari/layers/image/experimental/octree_image.py
  napari/layers/image/image.py
Labels: bug, qt, tests
