Repository napari/napari, pull requests merged in 2021-04, with the labels that each got.

#2496 Fix labels data setter
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: breaking change, bug

#2499 Small brackets fix for Perfmon
  napari/_qt/perf/qt_performance.py
Labels: bug

#2502 Misc documentation fixes
  napari/layers/labels/labels.py
  napari/layers/utils/stack_utils.py
  napari/utils/io.py
  napari/utils/settings/_manager.py
  napari/utils/translations.py
Labels: bug, documentation

#2497 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  docs/developers/contributing.md
  docs/guides/index.md
  docs/guides/translations.md
Labels: documentation

#2503 Add ability to run file as plugin
  napari/__main__.py
Labels: feature, plugins

#2510 PR: Update translations guide
  .github/PULL_REQUEST_TEMPLATE.md
  docs/developers/contributing.md
  docs/guides/translations.md
Labels: bug, documentation

#2483 Add Hookspec for providing sample data
  napari/_qt/qt_main_window.py
  napari/components/viewer_model.py
  napari/plugins/__init__.py
  napari/plugins/_skimage_data.py
  napari/plugins/_tests/test_sample_data.py
  napari/plugins/hook_specifications.py
  napari/types.py
  setup.cfg
Labels: plugins

#2508 add about team page
  Makefile
  docs/_toc.yml
  docs/community/team.md
  docs/developers/team.md
Labels: documentation

#2505 PR: Add try except on safe load
  napari/utils/_base.py
  napari/utils/_tests/test_translations.py
  napari/utils/settings/_manager.py
  napari/utils/settings/_tests/test_settings.py
  napari/utils/translations.py
Labels: bug

#2515 Misc Doc fixes.
  examples/bbox_annotator.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_resources/_icons.py
  napari/_qt/widgets/qt_highlight_preview.py
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/layers/image/experimental/octree.py
  napari/layers/image/experimental/octree_util.py
  napari/layers/labels/labels.py
  napari/layers/utils/stack_utils.py
Labels: documentation

#2516 Be cautious when checking a module's __package__ attribute
  napari/utils/misc.py
Labels: bug

#2517 PR: Enhance translation methods
  docs/guides/translations.md
  napari/_qt/dialogs/qt_notification.py
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/_qt/dialogs/qt_plugin_report.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/layer_controls/qt_layer_controls_container.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/layer_controls/qt_shapes_controls.py
  napari/_qt/perf/qt_event_tracing.py
  napari/_qt/perf/qt_performance.py
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/qt_dims.py
  napari/_qt/widgets/qt_dims_slider.py
  napari/_qt/widgets/qt_size_preview.py
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/components/viewer_model.py
  napari/layers/labels/labels.py
  napari/layers/shapes/shapes.py
  napari/utils/_tests/test_translations.py
  napari/utils/settings/_defaults.py
  napari/utils/translations.py
Labels: feature

#2501 Move plugin sorter
  napari/_qt/dialogs/preferences_dialog.py
  napari/_qt/qt_main_window.py
  napari/_qt/widgets/qt_plugin_sorter.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/defaults.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/form.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/widgets.py
  napari/plugins/__init__.py
  napari/utils/settings/_defaults.py
Labels: feature

#2524 trigger label colormap generation on seed change to fix shuffle bug, addresses #2523
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: bug

#2537 PR: Handle Escape on Preferences dialog
  napari/_qt/dialogs/preferences_dialog.py
Labels: bug

#2538 PR: Fix close window handling for non-modals
  napari/_qt/qt_main_window.py
Labels: bug

#2536 PR: Add typing to schema_version
  napari/utils/settings/_defaults.py
  napari/utils/settings/_manager.py
  napari/utils/settings/_tests/test_settings.py
Labels: bug

#2539 PR: Fix trans to use new API
  napari/_qt/dialogs/screenshot_dialog.py
  napari/_qt/layer_controls/qt_image_controls_base.py
  napari/_qt/qt_main_window.py
  napari/_qt/widgets/qt_dict_table.py
Labels: bug

#2543 fix set_call_order with missing plugin
  napari/plugins/__init__.py
Labels: bug

#2544 Add data setter for `surface` layers
  napari/layers/surface/_tests/test_surface.py
  napari/layers/surface/surface.py
Labels: feature

#2540 PR: Add initial restart implementation
  napari/__main__.py
  napari/_qt/qt_main_window.py
Labels: feature

#2493 New new qt layerlist
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/containers/__init__.py
  napari/_qt/containers/_base_item_model.py
  napari/_qt/containers/_base_item_view.py
  napari/_qt/containers/_factory.py
  napari/_qt/containers/_layer_delegate.py
  napari/_qt/containers/_tests/test_qt_list.py
  napari/_qt/containers/_tests/test_qt_tree.py
  napari/_qt/containers/qt_layer_list.py
  napari/_qt/containers/qt_layer_model.py
  napari/_qt/containers/qt_list_model.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/_tests/test_qt_layerlist.py
  napari/_qt/widgets/qt_layerlist.py
  napari/_tests/test_advanced.py
  napari/_tests/test_viewer.py
  napari/_tests/utils.py
  napari/components/_viewer_key_bindings.py
  napari/utils/events/_tests/test_evented_list.py
  napari/utils/events/containers/_selectable_list.py
Labels: feature, refactor

#2498 PR: Fixes localization for colormaps
  napari/_qt/layer_controls/qt_colormap_combobox.py
  napari/_qt/layer_controls/qt_image_controls_base.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/layer_controls/qt_layer_controls_base.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/layer_controls/qt_tracks_controls.py
  napari/utils/colormaps/__init__.py
  napari/utils/colormaps/_tests/test_colormaps.py
  napari/utils/colormaps/bop_colors.py
  napari/utils/colormaps/colormap.py
  napari/utils/colormaps/colormap_utils.py
  napari/utils/colormaps/matplotlib_cmaps.txt
Labels: bug, feature

#2532 single line change to track recoloring function
  napari/_qt/layer_controls/qt_tracks_controls.py
  napari/layers/tracks/tracks.py
Labels: bug

#2541 DOC: Correct lenght for title underline.
  napari/_vispy/vispy_base_layer.py
  napari/layers/image/image.py
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/shapes/_mesh.py
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_shapes_models/shape.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/surface.py
  napari/layers/vectors/vectors.py
Labels: bug

#2507 Add support for passing `shape_type` through `data` attribute for `Shapes` layers
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
  napari/utils/_magicgui.py
Labels: bug

#2555 DOC: Minor reformatting.
  napari/_qt/qthreading.py
  napari/components/viewer_model.py
  napari/layers/utils/stack_utils.py
  napari/plugins/__init__.py
  napari/utils/perf/_timers.py
  napari/utils/translations.py
Labels: documentation

#2467 Save last working directory
  napari/_qt/dialogs/screenshot_dialog.py
  napari/_qt/perf/qt_debug_menu.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/utils/history.py
  napari/utils/settings/_defaults.py
Labels: feature

#2530 Modified quaternion2euler function to cap the arcsin's argument by +-1
  napari/_vispy/_tests/test_utils.py
  napari/_vispy/quaternion.py
  napari/_vispy/vispy_camera.py
  napari/components/camera.py
Labels: bug

#2542 PR: Add initial welcome screen on canvas
  napari/_qt/qt_main_window.py
  napari/_qt/qt_resources/_icons.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/qt_dims_slider.py
  napari/_qt/widgets/qt_welcome.py
  napari/_tests/test_draw.py
  napari/_tests/test_viewer.py
  napari/_tests/test_with_screenshot.py
  napari/_vispy/__init__.py
  napari/_vispy/_tests/test_vispy_multiscale.py
  napari/_vispy/vispy_welcome_visual.py
  napari/resources/icons/logo_silhouette.svg
Labels: bug, feature

#2561 Fix visibility toggle (and other key events) in new qt layerlist
  napari/_qt/containers/qt_layer_list.py
  napari/_qt/containers/qt_layer_model.py
Labels: bug

#2568 pin docs dependencies
  docs/requirements.txt
Labels: bug, documentation

#2518 Add `layer.source` attribute to track layer provenance
  napari/components/_tests/test_add_layers.py
  napari/components/viewer_model.py
  napari/layers/_source.py
  napari/layers/_tests/test_source.py
  napari/layers/base/base.py
  napari/plugins/_tests/test_reader_plugins.py
  napari/plugins/_tests/test_sample_data.py
  napari/plugins/io.py
  napari/utils/_magicgui.py
  napari/utils/_tests/test_magicgui.py
  setup.cfg
Labels: feature

#2534 Add button to drop into debugger in the traceback viewer.
  napari/_qt/dialogs/qt_notification.py
  napari/_qt/utils.py
Labels: feature

#2554 Extract shortcut into their own object.
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/layer_controls/qt_shapes_controls.py
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/utils/_tests/test_interactions.py
  napari/utils/interactions.py
Labels: feature

#2575 Delay importing plugins during settings registration
  napari/plugins/__init__.py
  napari/utils/settings/_defaults.py
Labels: bug

#2562 Automate doc copy
  .github/workflows/make_docs.yml
  docs/ORGANIZATION.md
  docs/_toc.yml
  docs/copy-docs.py
  docs/developers/contributing.md
  docs/developers/docs.md
Labels: documentation

#2577 example of using magicgui with thread_worker
  examples/mgui_with_threading.py
Labels: documentation

#2588 fix typo in docs CI
  .github/workflows/make_docs.yml
  docs/copy-docs.py
Labels: bug

#2590 Don't create a dask cache if it doesn't exist
  napari/layers/_tests/test_dask_layers.py
  napari/utils/dask_utils.py
Labels: breaking change

#2600 only copy the autosummary templates
  docs/copy-docs.py
Labels: bug

#2597 Range of label spinbox is more dtype-aware
  napari/_qt/layer_controls/qt_labels_controls.py
Labels: bug

#2602 PR: Update model and actions on menu
  napari/_qt/qt_main_window.py
Labels: bug

#2606 PR: Add option to save state separate from geometry
  napari/_qt/qt_main_window.py
  napari/utils/settings/_defaults.py
Labels: feature

#2604 PR: Add generic name to unnamed dockwidgets
  napari/_qt/qt_main_window.py
Labels: bug

#2611 Fix z-index of notifications (hidden by welcome window)
  napari/_qt/dialogs/qt_notification.py
  napari/_qt/widgets/qt_welcome.py
Labels: bug

#2609 Support varying number of dimensions during labels painting
  examples/paint-nd.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: deprecation, feature

#2608 QtLargeIntSpinbox for label controls
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/widgets/_tests/test_qt_large_int_spinbox.py
  napari/_qt/widgets/qt_large_int_spinbox.py
Labels: feature

#2595 Text overlay visual
  examples/viewer_fps_label.py
  napari/_qt/qt_viewer.py
  napari/_vispy/__init__.py
  napari/_vispy/_tests/test_vispy_text_visual.py
  napari/_vispy/vispy_text_visual.py
  napari/components/_tests/test_text_overlay.py
  napari/components/_viewer_constants.py
  napari/components/text_overlay.py
  napari/components/viewer_model.py
Labels: feature

#2435 Add highlight widget to preferences dialog
  napari/_qt/dialogs/preferences_dialog.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/form.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/widgets.py
  napari/_vispy/vispy_points_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/utils/settings/_defaults.py
Labels: feature

#2624 Non-dynamic base layer classes
  napari/layers/image/image.py
  napari/layers/labels/labels.py
Labels: bug

#2154 Add stretch to vertical dock widgets
  napari/_qt/qt_main_window.py
  napari/_qt/utils.py
  napari/_qt/widgets/_tests/test_qt_dock_widget.py
  napari/_qt/widgets/qt_viewer_dock_widget.py
Labels: design, qt

#2617 Add units to the ScaleBar visual
  .gitignore
  examples/scale_bar.py
  napari/_vispy/_tests/test_vispy_scale_bar_visual.py
  napari/_vispy/vispy_scale_bar_visual.py
  napari/components/scale_bar.py
  napari/utils/_units.py
  setup.cfg
Labels: feature

#2613 Make sure Delete is a special key mapping.
  napari/utils/_tests/test_interactions.py
  napari/utils/interactions.py
Labels: bug

#2635 Return widgets created by `add_plugin_dock_widget`
  napari/_qt/qt_main_window.py
Labels: feature
