Repository napari/napari, pull requests merged in 2021-02, with the labels that each got.

#2194 move a viewer test
  napari/_qt/widgets/_tests/test_qt_dims.py
Labels: refactor

#2186 DOC: autoreformat all the docstrings.
  examples/live_tiffs.py
  napari/_qt/dialogs/qt_error_notification.py
  napari/_qt/experimental/qt_poll.py
  napari/_qt/qt_resources/__init__.py
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/qt_layerlist.py
  napari/_vendor/experimental/humanize/src/humanize/time.py
  napari/_vispy/experimental/texture_atlas.py
  napari/_vispy/experimental/tile_grid.py
  napari/_vispy/experimental/tile_set.py
  napari/_vispy/experimental/tiled_image_visual.py
  napari/_vispy/experimental/vispy_tiled_image_layer.py
  napari/_vispy/vispy_axes_visual.py
  napari/components/experimental/chunk/_commands/_loader.py
  napari/components/experimental/chunk/_commands/_tables.py
  napari/components/experimental/chunk/_delay_queue.py
  napari/components/experimental/chunk/_loader.py
  napari/components/experimental/chunk/_pool.py
  napari/components/experimental/chunk/_pool_group.py
  napari/components/experimental/chunk/_request.py
  napari/components/experimental/monitor/_api.py
  napari/components/experimental/monitor/_monitor.py
  napari/components/experimental/monitor/_utils.py
  napari/components/experimental/remote/_commands.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/image/experimental/_chunked_slice_data.py
  napari/layers/image/experimental/octree.py
  napari/layers/image/image.py
  napari/layers/labels/_labels_utils.py
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/surface.py
  napari/layers/tracks/tracks.py
  napari/layers/utils/stack_utils.py
  napari/layers/vectors/vectors.py
  napari/plugins/pypi.py
  napari/utils/_magicgui.py
  napari/utils/_octree.py
  napari/utils/config.py
  napari/utils/events/dataclass.py
  napari/utils/events/event_utils.py
  napari/utils/perf/_event.py
  napari/utils/perf/_timers.py
  napari/utils/status_messages.py
  napari/utils/theme.py
Labels: documentation

#2197 Add update in-place to evented model
  napari/utils/events/_tests/test_event_emitter.py
  napari/utils/events/_tests/test_evented_model.py
  napari/utils/events/event.py
  napari/utils/events/evented_model.py
Labels: deprecation

#2198 Drops for 0.4.5
  napari/components/viewer_model.py
  napari/utils/_magicgui.py
  napari/utils/_tests/test_magicgui.py
Labels: breaking change

#2042 Replace evented dataclasses with pydantic evented model on viewer
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_qt/widgets/_tests/test_qt_play.py
  napari/_qt/widgets/qt_dims.py
  napari/_qt/widgets/qt_dims_slider.py
  napari/_vispy/_tests/test_vispy_camera.py
  napari/_vispy/vispy_camera.py
  napari/_vispy/vispy_scale_bar_visual.py
  napari/components/_tests/test_dims.py
  napari/components/_viewer_constants.py
  napari/components/axes.py
  napari/components/camera.py
  napari/components/cursor.py
  napari/components/dims.py
  napari/components/grid.py
  napari/components/scale_bar.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/utils/colormaps/_tests/test_colormap.py
  napari/utils/colormaps/colormap.py
  napari/utils/colormaps/colormap_utils.py
  napari/utils/events/dataclass.py
Labels: breaking change, refactor

#2215 Handle closing the main window via the close button and handle_exit for this case.
  napari/_qt/qt_main_window.py
Labels: bug

#2220 Fix close procedure
  napari/_qt/qt_event_loop.py
  napari/_qt/qt_main_window.py
Labels: bug

#2218 More main window cleanup
  napari/_qt/qt_main_window.py
Labels: bug

#2219 PR: Include a line on adding screenshots/animations to PRs
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#2214 Prevent monitor information refering to one of first issues
  napari/utils/info.py
Labels: bug

#2206 Allow reader_function to return empty layer list
  napari/components/viewer_model.py
  napari/plugins/_tests/test_reader_plugins.py
  napari/plugins/hook_specifications.py
  napari/plugins/io.py
Labels: feature

#2223 Skip perfmon test on windows pyside2 CI
  napari/_qt/perf/_tests/test_perf.py
Labels: bug, tests

#2208 Move `--show-viewer` option to testsupport, add test
  napari/_tests/test_pytest_plugin.py
  napari/conftest.py
  napari/utils/_testsupport.py
Labels: bug

#2228 remove github searching for plugin discovery
  napari/plugins/pypi.py
Labels: breaking change

#2118 Use napari-console package
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/_tests/test_qt_console.py
  napari/_qt/widgets/qt_console.py
  setup.cfg
Labels: refactor

#2232 Support equality checking for arrays (or other unusual types) in EventedModel.
  napari/utils/events/_tests/test_evented_model.py
  napari/utils/events/evented_model.py
  napari/utils/misc.py
Labels: bug

#2226 add experimental_link_layers
  examples/linked_layers.py
  napari/experimental/__init__.py
  napari/layers/utils/_link_layers.py
  napari/layers/utils/_tests/test_link_layers.py
  napari/utils/events/evented_model.py
  napari/utils/misc.py
Labels: feature

#2225 Update `napari.run`, prevent double-blocking
  napari/__main__.py
  napari/_qt/qt_event_loop.py
  napari/_qt/qt_main_window.py
  napari/_qt/widgets/qt_splash_screen.py
  napari/_tests/test_cli.py
Labels: bug

#2236 Remove evented_dataclass
  napari/utils/events/__init__.py
  napari/utils/events/_tests/test_dataclass.py
  napari/utils/events/dataclass.py
Labels: breaking change

#2237 generate api file for top-level napari package
  Makefile
  docs/api/index.rst
Labels: bug, documentation

#2241 Make get_stylesheet public
  napari/qt/__init__.py
Labels: feature

#2242 0.4.5 release notes
  docs/release/release_0_4_5.md
Labels: documentation

#2248 Fix API Reference link in docs
  docs/index.md
Labels: bug, documentation

#2244 Better plugin errors surfacing in CLI with `--plugin-info`
  docs/release/release_0_4_5.md
  napari/__main__.py
Labels: feature

#2247 Add pluginmanager fixture
  napari/_tests/test_pytest_plugin.py
  napari/utils/_testsupport.py
Labels: feature, tests

#2251 Update napari_plugin_tester docstring
  napari/utils/_testsupport.py
Labels: bug, documentation

#2252 Remove pluginmanager fixture in favor of devtools
  napari/_tests/test_pytest_plugin.py
  napari/utils/_testsupport.py
Labels: breaking change

#2250 add missing release notes 0.4.5
  docs/release/release_0_4_5.md
Labels: documentation

#2235 change status_format to return an existing string as-is
  napari/utils/_tests/test_status.py
  napari/utils/status_messages.py
Labels: bug

#2262 BUG: prevent garbage collection of viewer during startup.
  napari/__main__.py
  napari/_tests/test_cli.py
Labels: bug

#2258 Update install instructions to work with zsh default Mac shell
  README.md
  docs/index.md
Labels: documentation

#2265 Fix EventedModel signatures with PySide2 imported
  napari/utils/events/_tests/test_evented_model.py
  napari/utils/events/evented_model.py
Labels: bug

#2266 Remove callsignature
  napari/layers/_tests/test_serialize.py
  napari/utils/_register.py
  napari/utils/_tests/test_misc.py
  napari/utils/misc.py
Labels: bug

#2256 Explicitly document ability to implement multiple of the same hook
  docs/plugins/for_plugin_developers.rst
  napari/plugins/hook_specifications.py
Labels: documentation

#2263 Add `theme` parameter to `get_stylesheet`
  napari/_qt/qt_main_window.py
  napari/_qt/qt_resources/__init__.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/qt_theme_sample.py
Labels: feature

#2275 Fix broken links in README
  README.md
Labels: bug, documentation

#2270 Add `canvas.background_color_override`
  napari/_qt/qt_viewer.py
  napari/_vispy/vispy_canvas.py
Labels: feature

#2191 Use vectorized indexing for xarray arrays in labels
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: bug

#2269 Add typing to event.py
  napari/utils/events/event.py
Labels: feature

#2255 Add hook implementation function name to plugin call order sorter
  napari/_qt/widgets/qt_eliding_label.py
  napari/_qt/widgets/qt_plugin_sorter.py
Labels: feature

#2279 QColoredSVGIcon class for dynamic colorized svg icons
  napari/_qt/qt_resources/__init__.py
  napari/_qt/qt_resources/_svg.py
  napari/_qt/qt_resources/_tests/test_svg.py
  napari/_qt/qt_resources/styles/00_base.qss
  napari/resources/__init__.py
  napari/resources/_icons.py
Labels: feature

#2217 Add basic composite tree model
  napari/utils/events/_tests/test_evented_list.py
  napari/utils/events/_tests/test_typed_list.py
  napari/utils/events/containers/_nested_list.py
  napari/utils/events/containers/_typed.py
  napari/utils/tree/__init__.py
  napari/utils/tree/_tests/test_tree_model.py
  napari/utils/tree/group.py
  napari/utils/tree/node.py
  setup.cfg
Labels: feature

#2280 Add EventedSet class
  napari/utils/events/__init__.py
  napari/utils/events/_tests/test_evented_set.py
  napari/utils/events/containers/__init__.py
  napari/utils/events/containers/_set.py
Labels: feature

#2222 Add Qt Tree Model and View
  examples/dev/node_tree.py
  napari/__init__.py
  napari/_qt/tree/__init__.py
  napari/_qt/tree/_tests/test_qt_tree_model.py
  napari/_qt/tree/qt_tree_model.py
  napari/_qt/tree/qt_tree_view.py
  napari/utils/events/containers/_nested_list.py
  napari/utils/tree/group.py
  napari/utils/tree/node.py
Labels: feature, qt

#2066 Use pydantic for viewer model
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/components/viewer_model.py
  napari/utils/events/_tests/test_evented_list.py
  napari/utils/events/event.py
  napari/utils/key_bindings.py
  napari/utils/mouse_bindings.py
  napari/viewer.py
Labels: refactor

#2254 PR: Add translator stub and example
  napari/_qt/qt_main_window.py
  napari/utils/_tests/test_translations.py
  napari/utils/translations.py
  setup.cfg
Labels: feature

#2285 Refactor icon build process
  examples/dev/custom_icon.py
  examples/dev/grin.svg
  napari/_qt/__init__.py
  napari/_qt/qt_event_loop.py
  napari/_qt/qt_resources/__init__.py
  napari/_qt/qt_resources/_icons.py
  napari/_qt/qt_resources/_tests/test_resources.py
  napari/_qt/qt_resources/build_icons.py
  napari/_qt/qt_resources/styles/00_base.qss
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_qt/widgets/qt_theme_sample.py
  napari/qt/__init__.py
  napari/resources/_icons.py
  napari/utils/misc.py
  napari/utils/theme.py
Labels: refactor

#2294 Documentation typos
  napari/components/viewer_model.py
  napari/layers/utils/_link_layers.py
  napari/plugins/io.py
  napari/utils/events/containers/_nested_list.py
Labels: bug, documentation

#2168 Contour toggle
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: feature

#2297 Add `_json_encode` method API for EventedModel serdes
  napari/utils/events/_tests/test_evented_model.py
  napari/utils/events/custom_types.py
  napari/utils/events/evented_model.py
Labels: feature

#2292 Tooltips
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/widgets/qt_viewer_buttons.py
Labels: feature

#2303 processEvents before nbscreenshot
  napari/utils/notebook_display.py
  napari/viewer.py
  napari/window.py
Labels: bug

#2305 PR: Add handling of python <= 3.7 for translator
  napari/utils/_tests/test_translations.py
  napari/utils/translations.py
Labels: bug

#2308 PR: Add parent parameter to about dialog to correctly inherit and apply theme
  napari/_qt/dialogs/qt_about.py
  napari/_qt/qt_main_window.py
Labels: bug

#2212 PR: Add initial settings management for theme and win geometry
  napari/__main__.py
  napari/_qt/_tests/test_qt_utils.py
  napari/_qt/qt_main_window.py
  napari/_qt/utils.py
  napari/utils/_testsupport.py
  napari/utils/settings/__init__.py
  napari/utils/settings/_defaults.py
  napari/utils/settings/_manager.py
  napari/utils/settings/_tests/test_settings.py
Labels: feature

#2312 Remove unneeded stylesheet on QtAbout dialog
  napari/_qt/dialogs/qt_about.py
Labels: bug

#2289 Fix bug with not display points close to given layer
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: bug

#2227 Fix QtPoll to poll when camera moves
  napari/_qt/experimental/qt_poll.py
  napari/_qt/qt_viewer.py
  napari/components/experimental/remote/_manager.py
Labels: bug

#2319 More flexible plugin install (from url, name or file)
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: feature

#2323 Pin pydantic < 1.8.0
  setup.cfg
Labels: bug

#2306 Documentation on napari types in magicgui
  docs/_config.yml
  docs/_toc.yml
  docs/guides/magicgui.md
Labels: documentation

#2324 Fix docs build with code execution
  .github/workflows/make_docs.yml
Labels: bug, documentation

#2325 Avoid importing xarray (and other array libs) for equality checkers
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_pull_requests.yml
  napari/_tests/test_import_time.py
  napari/utils/_tests/test_misc.py
  napari/utils/misc.py
  tox.ini
Labels: bug

#2296 Make contour thickness setable
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: bug, feature
