Repository napari/napari, pull requests merged in 2021-10, with the labels that each got.

#3438 Try to skip test on windows.
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/perf/_tests/test_perf.py
  napari/_tests/test_adding_removing.py
  napari/_tests/test_examples.py
  napari/_tests/test_viewer.py
Labels: tests, qt

#3442 Add event filter to convert tooltips to richtext
  napari/_qt/_tests/test_qt_utils.py
  napari/_qt/qt_event_filters.py
  napari/_qt/qt_event_loop.py
  napari/_qt/utils.py
  napari/_qt/widgets/qt_viewer_buttons.py
Labels: tests, qt

#3425 Schedule contrast limits calculation for dask arrays after first set_view_slice
  napari/layers/_tests/test_dask_layers.py
  napari/layers/image/_tests/test_multiscale.py
  napari/layers/image/image.py
Labels: tests

#3433 Fix teardown of menus to prevent widget test leaks
  napari/_qt/menus/_util.py
  napari/_qt/qt_main_window.py
Labels: qt

#2996 Attempt to cache tox virtualenv.
  .github/workflows/test_pull_requests.yml
Labels: task

#3443 Remove duplicate test parameter.
  napari/_tests/utils.py
Labels: tests

#3445 Check if proper function name is found when connect to EventEmmiter
  napari/utils/events/_tests/test_event_emitter.py
  napari/utils/events/event.py
  napari/utils/events/event_utils.py
Labels: tests

#3407 Add global test timeout to avoid regression.
  napari/_qt/_tests/test_app.py
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/_tests/test_qt_window.py
  napari/_qt/perf/_tests/test_perf.py
  napari/_tests/test_adding_removing.py
  napari/_tests/test_examples.py
  napari/_tests/test_viewer.py
  napari/_tests/test_with_screenshot.py
  napari/_tests/utils.py
  napari/_vispy/_tests/test_image_rendering.py
  napari/_vispy/_tests/test_vispy_big_images.py
  napari/layers/image/experimental/_tests/test_octree_import.py
  napari/plugins/_tests/test_plugins_manager.py
  napari/utils/_tests/test_magicgui.py
  napari/utils/_tests/test_theme.py
  pyproject.toml
Labels: tests, qt

#2573 Raise AttributeError when labels.contrast_limits are set to anything other than (0, 1)
  napari/layers/labels/labels.py
Labels: bug

#3563 Fix headings on "Hooking up your own events"
  docs/guides/connecting_events.md
Labels: documentation

#3519 Fix corner_pixels set from QtViewer.on_draw when layers have mixed numbers of dimensions
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_viewer.py
  napari/_tests/test_viewer.py
  napari/layers/base/base.py
Labels: bug, tests, qt
