Repository napari/napari, pull requests merged in 2021-11, with the labels that each got.

#3513 add Context object, and LayerListContextKeys (take 2)
  .pre-commit-config.yaml
  napari/_qt/containers/_layer_delegate.py
  napari/_qt/widgets/_tests/test_action_context_menu.py
  napari/_qt/widgets/qt_action_context_menu.py
  napari/components/layerlist.py
  napari/components/viewer_model.py
  napari/layers/_layer_actions.py
  napari/layers/_tests/test_layer_actions.py
  napari/utils/context/__init__.py
  napari/utils/context/_context.py
  napari/utils/context/_context_keys.py
  napari/utils/context/_expressions.py
  napari/utils/context/_layerlist_context.py
  napari/utils/context/_tests/test_context.py
  napari/utils/context/_tests/test_context_keys.py
  napari/utils/context/_tests/test_layerlist_context.py
  napari/utils/events/containers/_selection.py
  napari/utils/events/containers/_set.py
  napari/utils/events/evented_model.py
Labels: tests, qt

#2750 Auto generate event reference docs
  .github/workflows/make_docs.yml
  .gitignore
  Makefile
  docs/_scripts/_table_maker.py
  docs/_scripts/update_event_docs.py
  docs/_scripts/update_preference_docs.py
  docs/_toc.yml
  docs/guides/events_reference.md
  napari/layers/base/base.py
Labels: documentation, task, pr-party-update-async

#3586 Add a method for setting `Camera.view_direction` and `Camera.up_direction`
  napari/components/_tests/test_camera.py
  napari/components/camera.py
  setup.cfg
Labels: tests

#3577 InteractionBox as EventedModel in Viewer
  examples/interaction_box_image.py
  examples/interaction_box_points.py
  napari/_qt/qt_viewer.py
  napari/_vispy/__init__.py
  napari/_vispy/overlays/interaction_box.py
  napari/components/_interaction_box_constants.py
  napari/components/_interaction_box_mouse_bindings.py
  napari/components/_tests/test_interaction_box.py
  napari/components/interaction_box.py
  napari/components/overlays.py
  napari/components/viewer_model.py
  napari/utils/transforms/__init__.py
Labels: tests, qt

#3588 Fix test import
  napari/utils/_testsupport.py
  setup.cfg
Labels: bug

#3582 Minimal update to plan for qtpy 2.0 and pyqt6.
  napari/_qt/qt_event_loop.py
  napari/_qt/qt_resources/_icons.py
Labels: design, qt

#3587 Support RGB(A) array as colormap input type
  napari/_qt/widgets/qt_color_swatch.py
  napari/_vispy/_tests/test_vispy_points_layer.py
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
  napari/layers/utils/color_manager.py
  napari/layers/utils/color_transformations.py
  napari/layers/vectors/vectors.py
  napari/utils/colormaps/_tests/test_colormaps.py
  napari/utils/colormaps/colormap_utils.py
Labels: tests, qt

#3558 Add docs on Working Groups to the napari.org docs
  docs/_toc.yml
  docs/community/working_groups.md
  docs/developers/working_groups.md
Labels: documentation

#3594 Documentation: Fix capitalization, duplicated ToCs and translate rst to md files
  docs/community/code_of_conduct.md
  docs/community/code_of_conduct_reporting.md
  docs/community/governance.md
  docs/community/index.md
  docs/community/team.md
  docs/developers/benchmarks.md
  docs/developers/contributing.md
  docs/developers/core_dev_guide.md
  docs/developers/index.md
  docs/developers/release.md
  docs/developers/testing.md
  docs/guides/3D_interactivity.md
  docs/guides/docker.md
  docs/guides/event_loop.md
  docs/guides/events_reference.md
  docs/guides/magicgui.md
  docs/guides/perfmon.md
  docs/guides/performance.md
  docs/guides/rendering-explanation.md
  docs/guides/rendering.md
  docs/guides/threading.md
  docs/index.md
  docs/plugins/for_napari_developers.md
  docs/plugins/for_napari_developers.rst
  docs/plugins/for_plugin_developers.md
  docs/plugins/hook_specifications.md
  docs/release/index.md
  docs/roadmaps/index.md
Labels: documentation

#3590 Integrate more updates from npe2
  napari/_qt/menus/_util.py
  napari/_qt/qt_viewer.py
  napari/components/layerlist.py
  napari/plugins/io.py
  napari/utils/theme.py
Labels: qt

#3591 initial support for npe2 widget
  napari/_qt/menus/plugins_menu.py
  napari/_qt/qt_main_window.py
  napari/plugins/_plugin_manager.py
Labels: qt

#3607 Make points add mode cursor a crosshair
  napari/_qt/qt_viewer.py
  napari/_qt/utils.py
  napari/components/_viewer_constants.py
  napari/components/cursor.py
  napari/layers/points/points.py
Labels: qt

#3606 Cache layer extents
  napari/_vendor/cpython/LICENSE
  napari/_vendor/cpython/functools.py
  napari/layers/_tests/test_layer_attributes.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/tracks/tracks.py
  napari/layers/utils/layer_utils.py
Labels: tests

#3609 Ommit RuntimeError during `remove_flash_animation`
  napari/_qt/utils.py
Labels: qt

#3571 docs on contexts and expressions
  docs/_toc.yml
  docs/guides/contexts_expressions.md
  docs/guides/images/context_type_hint.png
Labels: documentation

#3616 Skip dask example test
  napari/_tests/test_examples.py
Labels: tests

#3613 Add better error messages for bad colormaps
  napari/utils/colormaps/_tests/test_colormap.py
  napari/utils/colormaps/colormap.py
Labels: tests

#3508 Point selection in 3d
  examples/interactive_move_point_3d.py
  napari/layers/base/base.py
  napari/layers/points/_points_mouse_bindings.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/_tests/test_points_mouse_bindings.py
  napari/layers/points/points.py
  napari/layers/utils/interactivity_utils.py
  napari/utils/_tests/test_geometry.py
  napari/utils/geometry.py
Labels: tests

#3612 Fix bug with inspecting dock widget __init__
  napari/_qt/qt_main_window.py
Labels: qt

#3615 Turn off vispy auto connect magic
  napari/_qt/experimental/qt_chunk_receiver.py
  napari/_qt/experimental/qt_poll.py
  napari/_qt/qt_viewer.py
  napari/_vispy/experimental/vispy_tiled_image_layer.py
  napari/components/experimental/chunk/_loader.py
  napari/components/experimental/monitor/_api.py
  napari/layers/base/base.py
  napari/utils/events/event.py
Labels: qt

#3595 Fix SSL Cert error for external libraries used in the bundle
  napari/__main__.py
  napari/plugins/_tests/test_pypi.py
  napari/plugins/pypi.py
  napari/utils/misc.py
Labels: tests

#2593 Allow magicgui to return a worker object
  examples/mgui_with_threading.py
  examples/mgui_with_threadpoolexec.py
  examples/mgui_with_threadworker.py
  napari/_qt/qthreading.py
  napari/utils/_magicgui.py
  napari/utils/_tests/test_magicgui.py
Labels: feature, tests, qt, pr-party-update-sync

#3621 Remove 1-pixel border from vispy widgets
  napari/_qt/qt_viewer.py
  napari/_tests/test_with_screenshot.py
  napari/_vispy/canvas.py
Labels: tests, qt

#3626 move vendored check to cron job
  .github/workflows/test_pull_requests.yml
  .github/workflows/test_vendored.yml
Labels: task

#3627 Try to autoupdate vendored code.
  .github/workflows/test_vendored.yml
  tools/check_vendored_modules.py
Labels: task

#3628 misc docs fixes
  napari/_qt/utils.py
  napari/_vispy/overlays/interaction_box.py
  napari/layers/base/base.py
  napari/utils/geometry.py
  napari/utils/misc.py
Labels: qt

#3643 fix workflow yml syntax
  .github/workflows/test_vendored.yml
Labels: task

#3640 Cleanup console namespace in test to avoid leaking viewer.
  napari/_tests/test_advanced.py
Labels: tests

#3638 Fix screenshot test on hi dpi screen.
  napari/_tests/test_with_screenshot.py
Labels: tests

#3639 Use more weakrefs in test.
  napari/_qt/widgets/_tests/test_qt_play.py
Labels: tests, qt

#3649 Use a Weak Counter to track blocked events.
  napari/utils/events/_tests/test_event_emitter.py
  napari/utils/events/event.py
Labels: tests

#3641 Another HiDPI test fix.
  napari/_vispy/_tests/test_vispy_multiscale.py
Labels: tests

#3663 Float/unfloat plugin dockwidgets on first show
  napari/_qt/menus/plugins_menu.py
  napari/_qt/qt_main_window.py
Labels: qt

#3635 Npe2 samples
  napari/_qt/menus/file_menu.py
  napari/builtins.yaml
  napari/components/viewer_model.py
  napari/plugins/_skimage_data.py
Labels: qt

#3673 test on macos-11, py39
  .github/workflows/test_pull_requests.yml
  tox.ini
Labels: task

#3668 User threadworker from superqt
  examples/progress_bar_threading.py
  napari/_qt/_tests/test_threading.py
  napari/_qt/qthreading.py
  napari/qt/threading.py
  setup.cfg
Labels: tests, qt

#3662 Update translation strings checks
  napari/_qt/layer_controls/qt_image_controls_base.py
  napari/_qt/menus/debug_menu.py
  napari/_qt/menus/file_menu.py
  napari/_qt/menus/help_menu.py
  napari/_qt/widgets/qt_keyboard_settings.py
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/components/camera.py
  napari/components/viewer_model.py
  napari/layers/_layer_actions.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/labels/labels.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/utils/layer_utils.py
  napari/layers/utils/stack_utils.py
  napari/layers/vectors/_vector_utils.py
  napari/plugins/_plugin_manager.py
  napari/settings/__init__.py
  napari/settings/_base.py
  napari/utils/action_manager.py
  napari/utils/colormaps/colormap.py
  napari/utils/colormaps/colormap_utils.py
  napari/utils/context/_context.py
  napari/utils/context/_context_keys.py
  napari/utils/context/_expressions.py
  napari/utils/events/event.py
  napari/utils/io.py
  napari/utils/theme.py
  tools/strings_list.py
Labels: qt, preferences

#3675 Apply filter after yielding search results
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: qt

#3676 Reduce macos full testing.
  .github/workflows/test_comprehensive.yml
Labels: task

#3666 consolidate npe2 stuff into one module
  napari/_qt/menus/_util.py
  napari/_qt/menus/file_menu.py
  napari/_qt/menus/plugins_menu.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/components/viewer_model.py
  napari/plugins/_npe2.py
  napari/plugins/io.py
  napari/utils/theme.py
Labels: qt

#3670 fix 3D image interpolation breaking remove-and-add layer
  napari/_qt/_tests/test_qt_viewer.py
  napari/_vispy/layers/image.py
Labels: tests, qt

#3657 Add docs on best coding practices for plugin developers.
  docs/plugins/best_practices.md
Labels: documentation

#3497 Try to run docs under xvfb-run.
  .github/workflows/make_docs.yml
Labels: task, pr-party-update-async

#3683 Fix calc_data_range for large, 1D data
  napari/layers/utils/_tests/test_layer_utils.py
  napari/layers/utils/layer_utils.py
Labels: bug, tests

#3684 Fix event emission order on base layer
  napari/layers/base/base.py
  napari/layers/utils/_tests/test_link_layers.py
Labels: bug, tests

#3682 Try to automatically open/update an issues for missing translations
  .github/missing_translations.md
  .github/workflows/test_translations.yml
  tools/strings_list.py
  tools/test_strings.py
Labels: task

#3687 Cleanum QtPopup code
  napari/_qt/dialogs/_tests/test_qt_modal.py
  napari/_qt/dialogs/qt_modal.py
Labels: tests, qt

#3647 Add support for negative labels
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: tests

#3569 Add glossary
  docs/glossary.md
Labels: documentation

#3494 Bump vispy
  napari/_tests/test_with_screenshot.py
  napari/_vispy/experimental/tiled_image_visual.py
  napari/_vispy/experimental/vispy_tiled_image_layer.py
  napari/_vispy/layers/points.py
  napari/_vispy/layers/shapes.py
  napari/_vispy/layers/surface.py
  napari/_vispy/overlays/interaction_box.py
  napari/_vispy/vendored/__init__.py
  napari/_vispy/vendored/_scalable_textures.py
  napari/_vispy/vendored/filters/__init__.py
  napari/_vispy/vendored/filters/base_filter.py
  napari/_vispy/vendored/filters/clipping_planes.py
  napari/_vispy/vendored/filters/mesh.py
  napari/_vispy/vendored/gloo/__init__.py
  napari/_vispy/vendored/gloo/texture.py
  napari/_vispy/vendored/image.py
  napari/_vispy/vendored/mesh.py
  napari/_vispy/vendored/volume.py
  napari/_vispy/visuals/clipping_planes_mixin.py
  napari/_vispy/visuals/image.py
  napari/_vispy/visuals/mesh.py
  napari/_vispy/visuals/points.py
  napari/_vispy/visuals/shapes.py
  napari/_vispy/visuals/surface.py
  napari/_vispy/visuals/vectors.py
  napari/_vispy/visuals/volume.py
  setup.cfg
Labels: bug, tests

#3677 Add setter for modifying multiple dims.range elements
  napari/components/_tests/test_dims.py
  napari/components/dims.py
  napari/components/viewer_model.py
Labels: tests, performance

#3703 remove @slow on a number of tests
  napari/_tests/test_viewer.py
  napari/_tests/test_with_screenshot.py
Labels: tests

#3702 Support python 3.10
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_pull_requests.yml
  README.md
  napari/_tests/utils.py
  napari/layers/image/_tests/test_image.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/_tests/test_labels_key_bindings.py
  setup.cfg
  tox.ini
Labels: tests, task

#3709 Add sequence support to more Dims setters
  napari/components/_tests/test_dims.py
  napari/components/dims.py
Labels: feature, tests

#3711 Add support for property.setters to EventedModel
  napari/utils/events/_tests/test_evented_model.py
  napari/utils/events/evented_model.py
Labels: tests

#3717 Remove code check step from CI workflow
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_pull_requests.yml
Labels: task

#3716 Fix link to myst-parser documentation
  docs/ORGANIZATION.md
Labels: documentation

#3611 Transform mode for image layer
  examples/interaction_box_image.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/layer_controls/qt_shapes_controls.py
  napari/_tests/test_interactive_transforms.py
  napari/_tests/test_viewer.py
  napari/_vispy/overlays/interaction_box.py
  napari/components/_interaction_box_mouse_bindings.py
  napari/components/interaction_box.py
  napari/layers/image/__init__.py
  napari/layers/image/_image_constants.py
  napari/layers/image/_image_key_bindings.py
  napari/layers/image/image.py
  napari/layers/labels/_labels_constants.py
  napari/layers/labels/labels.py
  napari/layers/points/_points_constants.py
  napari/layers/points/points.py
  napari/layers/shapes/_shapes_constants.py
  napari/layers/shapes/shapes.py
  napari/utils/shortcuts.py
  napari/utils/transforms/_tests/test_transforms.py
  napari/utils/transforms/transforms.py
Labels: tests, qt

#3706 Fixes several sphinx warnings.
  docs/_config.yml
  docs/_scripts/update_preference_docs.py
  docs/_templates/autosummary/class.rst
  docs/_templates/autosummary/module.rst
  docs/_toc.yml
  docs/api/index.rst
  docs/community/code_of_conduct.md
  docs/community/governance.md
  docs/community/mission_and_values.md
  docs/developers/benchmarks.md
  docs/developers/contributing.md
  docs/developers/core_dev_guide.md
  docs/developers/testing.md
  docs/guides/event_loop.md
  docs/guides/index.md
  docs/guides/perfmon.md
  docs/guides/performance.md
  docs/guides/rendering-explanation.md
  docs/guides/threading.md
  docs/index.md
  docs/plugins/hook_specifications.md
  docs/roadmaps/0_3.md
  docs/roadmaps/0_3_retrospective.md
  docs/roadmaps/0_4.md
  napari/components/viewer_model.py
  napari/layers/points/points.py
  napari/layers/surface/surface.py
  napari/layers/vectors/vectors.py
  napari/plugins/_plugin_manager.py
  napari/plugins/hook_specifications.py
  napari/types.py
  napari/utils/_magicgui.py
  napari/utils/perf/_timers.py
  napari/utils/progress.py
  napari/view_layers.py
Labels: documentation

#3712 Add a button linking to the plugin homepage in the plugin installer dialog
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: qt

#3714 more efficient computation of displayed dimension order
  napari/components/dims.py
  napari/layers/base/base.py
  napari/layers/shapes/_shapes_models/shape.py
Labels: performance

#3705 remove slow decorator
  napari/_qt/_tests/test_app.py
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/_tests/test_qt_window.py
  napari/_qt/perf/_tests/test_perf.py
  napari/_tests/test_adding_removing.py
  napari/_tests/test_examples.py
  napari/_tests/test_viewer.py
  napari/_tests/test_with_screenshot.py
  napari/_tests/utils.py
  napari/_vispy/_tests/test_image_rendering.py
  napari/_vispy/_tests/test_vispy_big_images.py
  napari/layers/image/_tests/test_big_image_timing.py
  napari/layers/image/_tests/test_image_utils.py
  napari/layers/image/experimental/_tests/test_octree_import.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/utils/_tests/test_layer_utils.py
  napari/plugins/_tests/test_plugins_manager.py
  napari/utils/_tests/test_magicgui.py
  napari/utils/_tests/test_theme.py
  pyproject.toml
Labels: tests, qt
