Repository napari/napari, pull requests merged in 2021-09, with the labels that each got.

#3311 Fix headless test failure
  napari/_qt/_tests/test_qt_provide_theme.py
  napari/plugins/_tests/test_provide_theme.py
Labels: bug, tests, qt

#3310 PR: Make notificatiomn text selectable for copy/paste
  napari/_qt/dialogs/qt_notification.py
Labels: qt

#3309 Update 0.4.11 release notes
  docs/release/release_0_4_11.md
Labels: documentation

#3315 pin furo version
  docs/requirements.txt
Labels: bug, documentation

#3320 fix some divide-by-zeros (#3318)
  napari/_vispy/vispy_camera.py
  napari/components/viewer_model.py
Labels: bug

#3326 Fix objectName being an empty string
  napari/_qt/qt_main_window.py
Labels: bug, qt

#3324 Fix `connect_setattr` to handle single arguments better
  napari/_qt/layer_controls/_tests/test_qt_image_base_layer_.py
  napari/utils/events/event_utils.py
Labels: bug, tests, qt

#3328 Fix napari.run aborting due to IPython being imported during script
  napari/_qt/_tests/test_app.py
  napari/_qt/qt_event_loop.py
Labels: bug, tests, qt

#3325 Release notes update for 0.4.11
  docs/release/release_0_4_11.md
Labels: documentation

#3329 Fix `_old_size` attribute error in main window
  docs/release/release_0_4_11.md
  napari/_qt/qt_main_window.py
Labels: documentation, qt

#3330 Fix docs order in _toc.yml for 0.4.11
  docs/_toc.yml
Labels: bug, documentation

#3349 Bundle: canonicalize arch names
  .github/workflows/make_bundle.yml
  bundle.py
Labels: bundle, task

#3351 Update references to master to point to main
  .github/workflows/make_bundle.yml
  .github/workflows/make_docs.yml
  .github/workflows/make_release.yml
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_prereleases.yml
  .github/workflows/test_pull_requests.yml
  README.md
  asv.conf.json
  docs/_config.yml
  docs/community/code_of_conduct.md
  docs/developers/benchmarks.md
  docs/developers/contributing.md
  docs/developers/release.md
  docs/guides/3D_interactivity.md
  docs/guides/connecting_events.md
  docs/guides/perfmon.md
  docs/guides/performance.md
  docs/release/generate_release_notes.py
  docs/release/release_0_2_11.md
  docs/roadmaps/0_3.md
  examples/embed_ipython.py
  napari/_vispy/vispy_surface_layer.py
  napari/benchmarks/benchmark_image_layer.py
  napari/benchmarks/benchmark_labels_layer.py
  napari/benchmarks/benchmark_points_layer.py
  napari/benchmarks/benchmark_qt_viewer.py
  napari/benchmarks/benchmark_qt_viewer_image.py
  napari/benchmarks/benchmark_qt_viewer_labels.py
  napari/benchmarks/benchmark_shapes_layer.py
  napari/benchmarks/benchmark_surface_layer.py
  napari/benchmarks/benchmark_vectors_layer.py
  napari/layers/image/_image_constants.py
  napari/layers/shapes/_shapes_utils.py
  napari/utils/perf/__init__.py
Labels: documentation, task

#3354 experimental npe2 support
  napari/_qt/menus/_util.py
  napari/plugins/io.py
  napari/utils/theme.py
Labels: feature, qt

#3348 update ubuntu image to 18.04
  .github/workflows/make_bundle.yml
Labels: bundle, task

#3350 Add expressions API (will eventually support `when` expressions for internal & plugin usage)
  napari/utils/context/__init__.py
  napari/utils/context/_expressions.py
  napari/utils/context/_tests/test_expressions.py
Labels: feature, tests, plugins

#3365 Fix docs build from main branch
  .github/workflows/make_docs.yml
Labels: task

#3368 Fix __getattr__ in WorkerBase
  napari/_qt/qthreading.py
Labels: qt

#3369 Add cancel and cancel all actions to plugin dialog and improve UI
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/_qt/qt_resources/styles/02_custom.qss
Labels: design, qt

#3367 Turn on testing examples on CI again
  napari/_tests/test_examples.py
Labels: tests

#3380 normalize_dtype() when setting contrast limits.
  napari/layers/image/_tests/test_image.py
  napari/layers/image/image.py
Labels: bug, tests

#3377 Remove 0.4.9 deprecations
  napari/components/_tests/test_layers_list.py
  napari/components/layerlist.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/layers/shapes/shapes.py
  napari/qt/__init__.py
  tools/strings_list.py
Labels: tests, breaking change, qt

#3363 Disable save options if no layers available
  napari/_qt/menus/_util.py
  napari/_qt/menus/debug_menu.py
  napari/_qt/menus/file_menu.py
  napari/_qt/menus/help_menu.py
  napari/_qt/menus/plugins_menu.py
  napari/_qt/menus/view_menu.py
  napari/_qt/menus/window_menu.py
  napari/_qt/qt_main_window.py
Labels: qt

#3352 Fix problem with local function signal binding
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/menus/file_menu.py
  napari/_qt/qt_viewer.py
  napari/_qt/qthreading.py
  napari/_qt/utils.py
  napari/_vispy/vispy_axes_visual.py
  napari/_vispy/vispy_scale_bar_visual.py
  napari/utils/action_manager.py
  napari/utils/settings/__init__.py
  setup.cfg
Labels: bug, tests, qt

#3370 Add an option to change the theme to match the system one
  .github/workflows/test_pull_requests.yml
  napari/_qt/qt_main_window.py
  napari/_vendor/darkdetect/LICENSE
  napari/_vendor/darkdetect/__init__.py
  napari/_vendor/darkdetect/_dummy.py
  napari/_vendor/darkdetect/_linux_detect.py
  napari/_vendor/darkdetect/_mac_detect.py
  napari/_vendor/darkdetect/_windows_detect.py
  napari/utils/theme.py
  tools/check_vendored_modules.py
Labels: qt, task

#3285 Don't register dask cache globally - but do use cache as context manager when slicing. Add `cache` parameter to base layer.
  napari/components/viewer_model.py
  napari/layers/_tests/test_dask_layers.py
  napari/layers/_tests/test_serialize.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/surface.py
  napari/layers/tracks/tracks.py
  napari/layers/vectors/vectors.py
  napari/utils/__init__.py
  napari/utils/_dask_utils.py
  setup.cfg
  tools/strings_list.py
Labels: tests

#2581 Support for `Future` return type in magicgui widget
  examples/mgui_dask_delayed.py
  examples/mgui_with_threading.py
  napari/_qt/utils.py
  napari/types.py
  napari/utils/_magicgui.py
  napari/utils/_tests/test_magicgui.py
Labels: feature, tests, qt

#3397 Fix CI failure from example
  examples/mgui_with_threading.py
  napari/_tests/test_examples.py
Labels: tests

#3403 Try to fix bundle building.
  .github/workflows/make_bundle.yml
Labels: task

#3406 Center data within points thumbnail
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: tests

#3379 Move `progress` outside of `qt` and eliminate need for `qt` imports in headless mode
  examples/progress_bar_minimal.py
  examples/progress_bar_segmentation.py
  napari/_qt/qthreading.py
  napari/qt/__init__.py
  napari/qt/progress.py
  napari/utils/__init__.py
  napari/utils/_tests/test_progress.py
  napari/utils/progress.py
Labels: tests, qt

#3405 Attempt to speedup tests around theme.
  napari/_tests/test_examples.py
  napari/utils/_tests/test_theme.py
  pyproject.toml
Labels: tests

#3355 Add progress bar when opening list of files
  napari/components/viewer_model.py
Labels: feature

#3419 Fix lazy load console
  napari/_qt/_tests/test_qt_window.py
  napari/_qt/qt_main_window.py
  napari/viewer.py
Labels: tests, qt

#3424 Add back support for big-endian NumPy dtypes in get_dtype_limits
  napari/utils/_dtype.py
  napari/utils/_tests/test_dtype.py
Labels: tests

#3331 Hide or Destroy dock widgets
  napari/_qt/_tests/test_plugin_widgets.py
  napari/_qt/menus/plugins_menu.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_qt/widgets/_tests/test_qt_dock_widget.py
  napari/_qt/widgets/qt_viewer_dock_widget.py
  tools/strings_list.py
Labels: tests, design, qt

#3381 Fix off-by-one bug in extent of Image and Labels layers
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_qt/widgets/_tests/test_qt_play.py
  napari/_qt/widgets/qt_dims.py
  napari/_tests/utils.py
  napari/components/_tests/test_layers_list.py
  napari/components/_tests/test_viewer_model.py
  napari/components/_tests/test_world_coordinates.py
  napari/components/dims.py
  napari/components/layerlist.py
  napari/components/viewer_model.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/_tests/test_multiscale.py
  napari/layers/image/_tests/test_volume.py
  napari/layers/image/image.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/_tests/test_labels_pyramid.py
  napari/layers/points/_tests/test_points.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/surface/_tests/test_surface.py
  napari/layers/vectors/_tests/test_vectors.py
Labels: bug, tests, qt

#3402 Add right-click context menu to convert label data type.
  napari/components/layerlist.py
  napari/layers/_layer_actions.py
  napari/layers/_tests/test_layer_actions.py
Labels: tests

#3333 `_vispy` module cleanup
  napari/_qt/qt_viewer.py
  napari/_vispy/__init__.py
  napari/_vispy/_tests/test_utils.py
  napari/_vispy/camera.py
  napari/_vispy/canvas.py
  napari/_vispy/experimental/texture_atlas.py
  napari/_vispy/experimental/vispy_tiled_image_layer.py
  napari/_vispy/filters/__init__.py
  napari/_vispy/filters/tracks.py
  napari/_vispy/layers/__init__.py
  napari/_vispy/layers/base.py
  napari/_vispy/layers/image.py
  napari/_vispy/layers/points.py
  napari/_vispy/layers/shapes.py
  napari/_vispy/layers/surface.py
  napari/_vispy/layers/tracks.py
  napari/_vispy/layers/vectors.py
  napari/_vispy/mesh.py
  napari/_vispy/overlays/__init__.py
  napari/_vispy/overlays/axes.py
  napari/_vispy/overlays/scale_bar.py
  napari/_vispy/overlays/text.py
  napari/_vispy/utils/__init__.py
  napari/_vispy/utils/gl.py
  napari/_vispy/utils/quaternion.py
  napari/_vispy/utils/text.py
  napari/_vispy/utils/visual.py
  napari/_vispy/vispy_points_visual.py
  napari/_vispy/vispy_shapes_visual.py
  napari/_vispy/vispy_surface_visual.py
  napari/_vispy/vispy_tracks_visual.py
  napari/_vispy/visuals/__init__.py
  napari/_vispy/visuals/clipping_planes_mixin.py
  napari/_vispy/visuals/image.py
  napari/_vispy/visuals/markers.py
  napari/_vispy/visuals/mesh.py
  napari/_vispy/visuals/points.py
  napari/_vispy/visuals/shapes.py
  napari/_vispy/visuals/surface.py
  napari/_vispy/visuals/tracks.py
  napari/_vispy/visuals/vectors.py
  napari/_vispy/visuals/volume.py
Labels: tests, qt

#3412 Fix to_labels default output shape
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
Labels: tests
