Repository napari/napari, pull requests merged in 2021-08, with the labels that each got.

#3074 3D label picking and label ID in status bar
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/qt_viewer.py
  napari/_qt/utils.py
  napari/_vispy/_tests/test_utils.py
  napari/_vispy/utils.py
  napari/components/_tests/test_camera.py
  napari/components/camera.py
  napari/components/cursor.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/image/_tests/test_image.py
  napari/layers/labels/_labels_mouse_bindings.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/_tests/test_labels_mouse_bindings.py
  napari/layers/labels/labels.py
  napari/layers/points/_tests/test_points.py
  napari/layers/shapes/_tests/test_shapes.py
Labels: qt, tests

#2932 Refactor settings manager to allow setting all preferences with env vars and context managers
  .github/labeler.yml
  .github/workflows/test_typing.yml
  .gitignore
  Makefile
  docs/update_docs.py
  mypy.ini
  napari/__main__.py
  napari/_qt/_tests/test_qt_notifications.py
  napari/_qt/dialogs/preferences_dialog.py
  napari/_qt/dialogs/qt_notification.py
  napari/_qt/qt_event_loop.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_qt/widgets/_tests/test_qt_play.py
  napari/_qt/widgets/qt_dims.py
  napari/_qt/widgets/qt_dims_slider.py
  napari/_qt/widgets/qt_keyboard_settings.py
  napari/_qt/widgets/qt_plugin_sorter.py
  napari/_tests/test_cli.py
  napari/_tests/test_examples.py
  napari/_tests/test_view_layers.py
  napari/_vispy/vispy_points_layer.py
  napari/_vispy/vispy_shapes_layer.py
  napari/components/_viewer_key_bindings.py
  napari/components/viewer_model.py
  napari/conftest.py
  napari/layers/image/experimental/_tests/test_octree_import.py
  napari/plugins/__init__.py
  napari/plugins/_plugin_manager.py
  napari/settings/__init__.py
  napari/settings/_appearance.py
  napari/settings/_application.py
  napari/settings/_base.py
  napari/settings/_constants.py
  napari/settings/_experimental.py
  napari/settings/_fields.py
  napari/settings/_napari_settings.py
  napari/settings/_plugins.py
  napari/settings/_shortcuts.py
  napari/settings/_tests/test_settings.py
  napari/utils/_octree.py
  napari/utils/_tests/test_history.py
  napari/utils/_testsupport.py
  napari/utils/events/evented_model.py
  napari/utils/history.py
  napari/utils/misc.py
  napari/utils/notifications.py
  napari/utils/settings/__init__.py
  napari/utils/settings/_defaults.py
  napari/utils/settings/_manager.py
  napari/utils/settings/_tests/test_settings.py
Labels: documentation, preferences, qt, task, tests

#3109 Fix opacity slider on shapes
  napari/_qt/layer_controls/qt_shapes_controls.py
Labels: qt

#3020 Enforce layer.metadata as dict
  napari/layers/base/base.py
Labels: breaking change

#3110 Fix empty points layer with color cycle
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
  napari/layers/utils/_tests/test_layer_utils.py
  napari/layers/utils/color_manager.py
  napari/layers/utils/layer_utils.py
Labels: bug, tests

#3113 Change shapes default edge color to middle gray
  napari/layers/shapes/shapes.py
Labels: design, performance

#3114 Change default text overlay color to mid grey
  napari/components/text_overlay.py
Labels: design

#3075 PR: Store unmaximized size if napari closes maximized
  napari/_qt/qt_main_window.py
Labels: bug, qt

#3105 Fix stubgen and package stubs in wheel/sdists
  .github/workflows/make_release.yml
  MANIFEST.in
  Makefile
  napari/__init__.pyi
  napari/components/viewer_model.py
  napari/utils/stubgen.py
  napari/viewer.py
  pyproject.toml
  setup.cfg
Labels: task

#3108 Add 3D fill, "mill", and "print" on top of #3074
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/layers/labels/_labels_mouse_bindings.py
  napari/layers/labels/_labels_utils.py
  napari/layers/labels/_tests/test_labels_mouse_bindings.py
  napari/layers/labels/_tests/test_labels_utils.py
  napari/utils/_testsupport.py
Labels: feature, qt, tests

#3121 fix for get_value() with mixed dims
  napari/layers/base/base.py
  napari/layers/image/_tests/test_image.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/points/_tests/test_points.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/utils/_tests/test_layer_utils.py
  napari/layers/utils/layer_utils.py
  napari/layers/vectors/_tests/test_vectors.py
Labels: tests

#3120 Replace custom signals to accept/reject
  napari/_qt/dialogs/preferences_dialog.py
  napari/_qt/dialogs/qt_message_dialogs.py
  napari/_qt/widgets/qt_keyboard_settings.py
Labels: preferences, qt

#3119 Fix point deletion bug
  napari/_tests/test_viewer.py
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: bug, tests

#3091 update documentation regarding the hub
  docs/_toc.yml
  docs/images/plugin-install-dialog.png
  docs/images/plugin-menu.png
  docs/plugins/find-and-install-plugin.md
  docs/plugins/for_plugin_developers.rst
  docs/plugins/index.md
Labels: documentation

#3112 Use enum objects in EventedModel
  napari/_vispy/vispy_points_layer.py
  napari/layers/points/_tests/test_points.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/utils/_tests/test_text_manager.py
  napari/utils/_tests/test_misc.py
  napari/utils/events/_tests/test_evented_model.py
  napari/utils/events/evented_model.py
  napari/utils/misc.py
Labels: breaking change, tests

#3126 NAPARI_CATCH_ERRORS disable notification manager
  napari/_qt/dialogs/qt_notification.py
  napari/_qt/qt_event_loop.py
  napari/utils/notifications.py
Labels: qt

#3127 Block showing dialog in nongui test
  napari/_qt/dialogs/qt_notification.py
  napari/utils/_tests/test_notification_manager.py
Labels: qt, tests

#3084 Grid mode popup
  napari/_qt/qt_main_window.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_qt/widgets/qt_spinbox.py
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/form.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/widgets.py
  napari/components/grid.py
  napari/components/viewer_model.py
  napari/resources/icons/help.svg
  napari/settings/_application.py
  napari/utils/events/custom_types.py
Labels: design, qt, preferences

#3072 Update Labels layer keybindings to be more ergonomic
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_tests/test_viewer.py
  napari/layers/labels/_labels_key_bindings.py
  napari/utils/shortcuts.py
Labels: tests, qt, ui change

#3023 arbitrary plane rendering prototype
  examples/volume_plane_rendering.py
  examples/volume_plane_rendering_interactive.py
  napari/_vispy/vendored/volume.py
  napari/_vispy/vispy_image_layer.py
  napari/components/viewer_model.py
  napari/layers/image/image.py
  napari/layers/labels/labels.py
  napari/layers/utils/_tests/__init__.py
  napari/layers/utils/_tests/test_plane_manager.py
  napari/layers/utils/plane_manager.py
  napari/layers/utils/stack_utils.py
Labels: feature, tests

#3130 Save files after launch from ipython
  napari/_qt/dialogs/screenshot_dialog.py
  napari/_qt/qt_viewer.py
Labels: qt

#3143 Fix plane serialisation
  napari/components/viewer_model.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/image.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: tests

#3146 Bugfix in labels erasing
  napari/layers/labels/_labels_utils.py
  napari/layers/labels/_tests/test_labels_utils.py
Labels: bug, tests

#3154 Bug fix for undo history in 3D painting
  napari/_tests/test_advanced.py
  napari/layers/labels/_labels_mouse_bindings.py
  napari/layers/labels/_tests/test_labels_mouse_bindings.py
  napari/layers/labels/labels.py
Labels: tests

#3153 Update new label action to work with tensorstore arrays
  napari/layers/labels/_labels_key_bindings.py
  napari/layers/labels/_tests/test_labels_key_bindings.py
Labels: tests

#3123 Fix settings reset breaking connections (creating a new instance of nested sub-models)
  napari/settings/_tests/test_settings.py
  napari/utils/events/evented_model.py
Labels: tests, preferences

#3157 Always raise PluginErrors
  napari/_qt/dialogs/_tests/test_qt_plugin_report.py
Labels: tests, qt

#3149 Make current viewer accessible from the napari module
  examples/get_current_viewer.py
  napari/__init__.py
  napari/__init__.pyi
  napari/_qt/qt_main_window.py
  napari/_tests/test_top_level_availability.py
  napari/viewer.py
Labels: tests, qt

#3142 Adding new design issues template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/design_related.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/task.md
Labels: task

#3134 update about page
  docs/community/team.md
Labels: documentation

#3161 Fix emoji for design template
  .github/ISSUE_TEMPLATE/design_related.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: bug, task

#3162 Update design_related.md
  .github/ISSUE_TEMPLATE/design_related.md
Labels: task

#3022 Add autoscale modes to image layer model, and buttons to GUI
  napari/_qt/layer_controls/qt_image_controls.py
  napari/_qt/layer_controls/qt_image_controls_base.py
  napari/_qt/qt_resources/styles/00_base.qss
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/layers/image/image.py
  napari/layers/intensity_mixin.py
  napari/layers/surface/surface.py
Labels: feature, design, qt

#3167 Try to fix CI, change perfmon test strategy
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_prereleases.yml
  .github/workflows/test_pull_requests.yml
  codecov.yml
  napari/_qt/perf/_tests/test_perf.py
  napari/_qt/qt_viewer.py
  napari/_tests/test_sys_info.py
  napari/conftest.py
  napari/utils/_tests/test_info.py
  tox.ini
Labels: tests, qt, task

#3168 Fix comprehensive tests
  .github/workflows/test_comprehensive.yml
  tox.ini
Labels: task

#3164 Don't clear blocked plugins when closing preferences dialog
  napari/_qt/qt_main_window.py
Labels: qt

#3171 remove convert_app
  docs/guides/perfmon.md
  napari/_qt/perf/qt_event_tracing.py
  napari/_qt/qt_event_loop.py
  napari/_qt/utils.py
Labels: documentation, qt

#3169 Fix `make_docs` action
  docs/update_docs.py
Labels: documentation

#3176 Update team.md
  docs/community/team.md
Labels: documentation

#3175 Prevent highlight widget from emitting constant signals
  napari/_qt/widgets/qt_highlight_preview.py
Labels: qt

#2907 Allow layer to register action on double clicks.
  docs/guides/connecting_events.md
  examples/custom_mouse_functions.py
  napari/_qt/qt_viewer.py
  napari/layers/base/base.py
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/_tests/test_shapes_mouse_bindings.py
  napari/layers/shapes/shapes.py
  napari/utils/interactions.py
  napari/utils/mouse_bindings.py
Labels: feature, documentation, tests, qt

#3150 rename `Layer.plane` to `Layer.slicing_plane`
  examples/volume_plane_rendering.py
  examples/volume_plane_rendering_interactive.py
  napari/_vispy/vispy_image_layer.py
  napari/layers/image/image.py
  napari/layers/labels/labels.py
Labels: refactor

#3188 Use QElidingLabel from superqt
  napari/_qt/dialogs/qt_notification.py
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_qt/widgets/qt_eliding_label.py
  napari/_qt/widgets/qt_plugin_sorter.py
  setup.cfg
  tools/strings_list.py
Labels: design, qt

#3163 Establish better YAML encoding for settings (fix enum encoding issue).
  napari/settings/_base.py
  napari/settings/_napari_settings.py
  napari/settings/_tests/test_settings.py
  napari/settings/_yaml.py
Labels: tests, preferences

#3182 Fix window geometry loading bug, and make `ApplicationSettings` types more accurate
  napari/_qt/qt_main_window.py
  napari/settings/_application.py
Labels: qt, preferences

#3192 Add public meeting calendar to the docs
  docs/community/team.md
Labels: documentation

#3165 Revert `Points` `remove_selected` always overwriting `self._value` to `None`
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: bug, tests

#3196 Fix incorrect window position storage
  napari/_qt/qt_main_window.py
Labels: qt

#3194 PR: Add checkbox to handle global plugin enable/disabled state
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: qt

#3193 Catch and prune connections to stale Qt callbacks in events.py
  napari/_qt/_tests/test_prune_qt_connections.py
  napari/utils/events/event.py
Labels: tests, qt

#3191 Use `QLargeIntSpinBox` from superqt, remove internal one
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/widgets/_tests/test_qt_large_int_spinbox.py
  napari/_qt/widgets/qt_large_int_spinbox.py
  napari/utils/_dtype.py
  napari/utils/_tests/test_dtype.py
Labels: tests, qt

#3179 Misc Doc format fixing
  napari/_qt/dialogs/preferences_dialog.py
  napari/_qt/widgets/qt_keyboard_settings.py
  napari/_qt/widgets/qt_range_slider_popup.py
  napari/_qt/widgets/qt_spinbox.py
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/layers/base/base.py
  napari/layers/image/experimental/_octree_loader.py
  napari/layers/labels/labels.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/utils/layer_utils.py
  napari/settings/__init__.py
  napari/utils/geometry.py
Labels: qt, preferences

#3201 Print warning if error formatting in the console fails instead of ignoring errors.
  napari/_qt/widgets/qt_dims_slider.py
  napari/utils/notifications.py
Labels: bug, qt

#3117 Add 3D get_value to Shapes
  examples/add_points_on_nD_shapes.py
  napari/layers/base/base.py
  napari/layers/labels/labels.py
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
  napari/utils/_tests/test_geometry.py
  napari/utils/geometry.py
Labels: feature, tests

#3178 Refactor preferences dialog to take advantage of evented settings methods
  napari/_qt/dialogs/_tests/test_preferences_dialog.py
  napari/_qt/dialogs/preferences_dialog.py
  napari/_qt/dialogs/qt_message_dialogs.py
  napari/_qt/qt_main_window.py
  napari/_qt/widgets/qt_dims_slider.py
  napari/settings/_base.py
  napari/settings/_experimental.py
  napari/settings/_napari_settings.py
  napari/utils/events/evented_model.py
  pyproject.toml
Labels: tests, qt, preferences

#3151 Mask image from points layer
  napari/benchmarks/benchmark_points_layer.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_shapes_models/ellipse.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/shapes.py
Labels: feature, tests

#3210 add 3d interactivity docs
  docs/_toc.yml
  docs/guides/3D_interactivity.md
  docs/guides/images/3d_interaction.ai
  docs/guides/images/3d_interaction_click_line.png
  docs/guides/images/3d_interaction_coordianates.png
  docs/guides/images/3d_interaction_ray_intersection.png
Labels: documentation

#3209 Add napari_write_tracks to hook spec reference
  docs/plugins/hook_specifications.rst
Labels: documentation

#3207 Don't start gui qt event loop when building docs
  Makefile
Labels: documentation, task

#3208 Add note detailing current octree support
  docs/guides/rendering.md
Labels: documentation

#3138 Add positive tail length to tracks layer
  napari/_qt/layer_controls/qt_tracks_controls.py
  napari/_vispy/_vispy_tracks_shader.py
  napari/_vispy/vispy_tracks_layer.py
  napari/layers/tracks/tracks.py
Labels: qt

#3211 Fix docs build again
  docs/update_docs.py
Labels: bug

#3028 Add projections to layer context menu, allow grouping and nesting of menu items
  napari/_qt/containers/_layer_delegate.py
  napari/_qt/widgets/_tests/test_action_context_menu.py
  napari/_qt/widgets/qt_action_context_menu.py
  napari/components/layerlist.py
  napari/layers/_layer_actions.py
  napari/layers/_tests/test_layer_actions.py
Labels: feature, tests, qt

#3213 Add 0.4.11 release notes
  docs/release/release_0_4_11.md
Labels: documentation

#3215 Fix plugin settings restore and schema_version validation error in preferences dialog
  docs/release/release_0_4_11.md
  napari/_qt/dialogs/_tests/test_preferences_dialog.py
  napari/_qt/dialogs/preferences_dialog.py
  napari/settings/_appearance.py
  napari/settings/_application.py
  napari/settings/_experimental.py
  napari/settings/_napari_settings.py
  napari/settings/_plugins.py
  napari/settings/_shortcuts.py
  napari/settings/_tests/test_settings.py
  napari/utils/events/evented_model.py
Labels: documentation, tests, qt, preferences

#3212 Fix CI typing tests
  .github/workflows/test_typing.yml
  napari/settings/_application.py
  napari/settings/_base.py
  napari/settings/_napari_settings.py
  napari/settings/_yaml.py
Labels: preferences, task

#3216 Fix typo, add proper note markdown
  docs/guides/rendering.md
Labels: documentation

#3204 Pull main window menu creation off of `Window`
  examples/progress_bar_minimal.py
  examples/progress_bar_segmentation.py
  examples/progress_bar_threading.py
  napari/_qt/dialogs/activity_dialog.py
  napari/_qt/menus/__init__.py
  napari/_qt/menus/_util.py
  napari/_qt/menus/debug_menu.py
  napari/_qt/menus/file_menu.py
  napari/_qt/menus/help_menu.py
  napari/_qt/menus/plugins_menu.py
  napari/_qt/menus/view_menu.py
  napari/_qt/menus/window_menu.py
  napari/_qt/perf/qt_debug_menu.py
  napari/_qt/qt_main_window.py
  napari/_qt/widgets/qt_viewer_status_bar.py
  napari/components/viewer_model.py
Labels: refactor, qt

#3218 pooch bugfix
  napari/conftest.py
Labels: bug

#3225 Update 0.4.11 release notes
  docs/release/release_0_4_11.md
Labels: documentation

#3234 Disable space bar on layer list
  napari/_qt/containers/qt_layer_list.py
Labels: bug, qt

#3237 Update team.md
  docs/community/team.md
Labels: documentation

#3256 Fix button binding tooltip.
  napari/_qt/layer_controls/qt_shapes_controls.py
  napari/utils/action_manager.py
Labels: bug, qt

#3266 Pin support pkg revision macos
  bundle.py
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: qt

#3269 Remove accidental print statement
  napari/utils/theme.py
Labels: bug

#3217 Fix memory leak in napari
  examples/dev/leaking_check.py
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/layer_controls/qt_image_controls_base.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/layer_controls/qt_layer_controls_base.py
  napari/_qt/layer_controls/qt_layer_controls_container.py
  napari/_qt/qt_viewer.py
  napari/components/experimental/chunk/_tests/test_chunk.py
  napari/components/layerlist.py
  napari/layers/image/image.py
  napari/utils/action_manager.py
  napari/utils/events/event_utils.py
Labels: tests, qt

#3259 Improve behavior when holding "shift" while editing shapes
  napari/layers/base/base.py
  napari/layers/shapes/_shapes_key_bindings.py
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/_tests/test_shapes_key_bindings.py
  napari/layers/shapes/shapes.py
Labels: tests

#3190 Move dock widgets
  napari/_qt/_tests/test_plugin_widgets.py
  napari/_qt/menus/plugins_menu.py
  napari/_qt/menus/window_menu.py
  napari/_qt/qt_main_window.py
  napari/_qt/widgets/_tests/test_qt_dock_widget.py
Labels: refactor, tests, qt

#3181 Set gl_FragDepth in volume visual isosurface rendering
  examples/image_depth.py
  napari/_vispy/vendored/volume.py
Labels: bug

#3271 add .npy reader to builtin reader
  napari/plugins/_builtins.py
  napari/plugins/_tests/test_reader_plugins.py
Labels: bug, tests

#3280 Bundle: export ARCH on Linux
  .github/workflows/make_bundle.yml
  bundle.py
Labels: task

#2991 Move to Python 3.9 in the bundled application
  .github/workflows/make_bundle.yml
Labels: task

#3275 Only change `labels` color mode in `color` setter if new `colors` are not default
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: bug, tests

#3300 Bundle: use python 3.8 on Windows
  .github/workflows/make_bundle.yml
Labels: task

#3288 PR: Fix updating of plugins
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: qt

#3296 Developer guide cleanup (typo and link fixes)
  docs/guides/3D_interactivity.md
  docs/guides/magicgui.md
  docs/guides/perfmon.md
  docs/guides/performance.md
  docs/guides/rendering-explanation.md
  docs/guides/rendering.md
  docs/guides/threading.md
Labels: documentation

#3299 Fix incorrect theme registration
  napari/_qt/qt_main_window.py
  napari/plugins/_tests/test_provide_theme.py
Labels: tests, qt

#3293 Fix theme color setting on startup
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_viewer.py
Labels: bug, tests, qt

#3297 Update napari console dependency
  binder/environment.yml
  setup.cfg
Labels: bug

#3302 bundle: add arch suffix to zip name
  .github/workflows/make_bundle.yml
  bundle.py
Labels: task

#3305 Fix issubclass error in update_docs
  docs/update_docs.py
Labels: documentation
