Repository napari/napari, pull requests merged in 2022-06, with the labels that each got.

#4557 Disconnect a removed slider's _pull_label callback from the axis label change event
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_qt/widgets/qt_dims.py
Labels: tests, qt

#4620 Remove meshzoo from napari
  examples/clipping_planes_interactive_.py
  examples/spheres_.py
  napari/_tests/test_examples.py
  setup.cfg
  tools/minreq.py
Labels: tests

#4622 Fix numpy version comparison for dev versions of numpy
  napari/_tests/utils.py
Labels: tests

#4544 Do not add duplicate layers
  napari/components/_tests/test_layers_list.py
  napari/components/layerlist.py
  napari/utils/_tests/test_proxies.py
  napari/utils/context/_tests/conftest.py
  napari/utils/context/_tests/test_layerlist_context.py
  napari/utils/events/containers/_evented_list.py
Labels: tests

#4586 Fix Auto-open trans issue.
  .github/missing_translations.md
Labels: task

#4607 Clean status message after leave canvas
  .gitignore
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/qt_welcome.py
  napari/_tests/test_viewer.py
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/utils/status_messages.py
Labels: tests, qt

#4630 Raise error when rgb True but data not correct dims
  napari/layers/image/_tests/test_image.py
  napari/layers/image/image.py
Labels: tests

#4554 add ci for asv benchmark suite
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_report.yml
  .github/workflows/test_comprehensive.yml
  asv.conf.json
  napari/benchmarks/benchmark_image_layer.py
  napari/benchmarks/benchmark_labels_layer.py
  napari/benchmarks/benchmark_points_layer.py
  napari/benchmarks/benchmark_qt_viewer_labels.py
  napari/benchmarks/benchmark_text_manager.py
  setup.cfg
Labels: task, run-benchmarks

#4641 Speed up notebook display tests
  napari/_tests/test_notebook_display.py
  napari/utils/notebook_display.py
Labels: tests

#4638 Remove some sleepy tests, wait with timeout instead
  napari/_qt/_tests/test_qt_notifications.py
  napari/_tests/utils.py
  napari/utils/_tests/test_notification_manager.py
Labels: tests, qt

#4639 Update installation instruction in documentation
  docs/tutorials/fundamentals/installation.md
Labels: documentation

#4646 test: Speed up test_viewer tests, split out pyqt5/pyside2 tests again
  .github/workflows/test_pull_requests.yml
  napari/_tests/test_magicgui.py
  napari/_tests/test_viewer.py
  pyproject.toml
  setup.cfg
  tox.ini
Labels: tests, task

#4634 Add tests for qt_progress_bar.py
  napari/_qt/widgets/_tests/test_qt_progress_bar.py
  napari/_qt/widgets/qt_progress_bar.py
Labels: tests, qt

#4628 Restore "show all key bindings" shortcut
  napari/_qt/menus/_tests/test_file_menu.py
  napari/_qt/menus/file_menu.py
  napari/_qt/widgets/qt_welcome.py
  napari/_tests/test_viewer.py
  napari/components/_viewer_key_bindings.py
  napari/settings/__init__.py
  napari/settings/_shortcuts.py
  napari/utils/interactions.py
  napari/utils/shortcuts.py
Labels: tests, qt, preferences

#4660 ci: fix tox factor names in tests
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_prereleases.yml
Labels: task

#4655 Limit comprehensive test concurrency to 1.
  .github/workflows/test_comprehensive.yml
Labels: task

#4656 Do not run `asv` on push
  .github/workflows/benchmarks.yml
  .github/workflows/test_comprehensive.yml
Labels: task

#4662 test: speed up magicgui forward ref tests
  napari/_tests/test_magicgui.py
  napari/_tests/test_viewer.py
  tox.ini
Labels: tests

#4652 Allow to trigger test_translation manually
  .github/workflows/test_translations.yml
Labels: task

#4661 Do not use keyword argument for `QListWidgetItem` parent set in constructor
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/_qt/widgets/qt_plugin_sorter.py
Labels: qt

#4647 Move test examples on end of test run them in different CI job
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_pull_requests.yml
  napari/_tests/test_examples.py
  napari/_tests/test_view_layers.py
  napari/conftest.py
  napari/view_layers.py
  pyproject.toml
  tox.ini
Labels: tests, task

#4659 Fix docs for shape/points layer properties
  docs/guides/layers.md
  docs/howtos/layers/points.md
  docs/howtos/layers/shapes.md
  examples/shapes_to_labels.py
  examples/to_screenshot.py
Labels: documentation

#4617 Alternate fix for alt-text issues
  napari/_tests/test_notebook_display.py
  napari/utils/notebook_display.py
Labels: tests

#4671 add dependabot for github actions dependencies
  .github/dependabot.yml
Labels: task

#4464 Multi-color text with color encodings
  examples/add_points_with_multicolor_text.py
  napari/_tests/utils.py
  napari/_vispy/utils/text.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
  napari/layers/utils/_tests/test_color_encoding.py
  napari/layers/utils/_tests/test_text_manager.py
  napari/layers/utils/color_encoding.py
  napari/layers/utils/style_encoding.py
  napari/layers/utils/text_manager.py
Labels: tests

#4543 Add "Processors": (generalize magicgui return type behavior outside of magicgui)
  napari/_qt/qthreading.py
  napari/_qt/utils.py
  napari/_tests/test_magicgui.py
  napari/types.py
  napari/utils/_injection.py
  napari/utils/_injection/__init__.py
  napari/utils/_injection/_processors.py
  napari/utils/_injection/_providers.py
  napari/utils/_magicgui.py
  napari/utils/_tests/test_injection.py
  napari/utils/misc.py
Labels: tests, qt

#4668 fix: fix manifest reader extensions, ensure that all builtins go through npe2
  napari/_qt/dialogs/_tests/test_reader_dialog.py
  napari/_qt/widgets/_tests/test_qt_extension2reader.py
  napari/_tests/test_cli.py
  napari/builtins.yaml
  napari/components/_tests/test_add_layers.py
  napari/components/_tests/test_viewer_image_io.py
  napari/components/_tests/test_viewer_labels_io.py
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/layers/_tests/test_source.py
  napari/plugins/__init__.py
  napari/plugins/_builtins.py
  napari/plugins/_plugin_manager.py
  napari/plugins/_tests/test_builtin_get_writer.py
  napari/plugins/_tests/test_plugins_manager.py
  napari/plugins/_tests/test_reader_plugins.py
  napari/plugins/_tests/test_sample_data.py
  napari/plugins/_tests/test_save_layers.py
  napari/plugins/_tests/test_utils.py
  napari/plugins/io.py
  napari/plugins/utils.py
  setup.cfg
Labels: tests, qt

#4685 Fix NAP-1 status/type
  docs/naps/1-institutional-funding-partners.md
Labels: documentation

#4691 Add new core devs to docs
  docs/community/team.md
Labels: documentation

#4636 Define different shortcuts for different screenshot actions in file menu
  napari/_qt/_tests/test_app.py
  napari/_qt/_tests/test_qt_window.py
  napari/_qt/menus/file_menu.py
  napari/_qt/menus/view_menu.py
  napari/_qt/qt_main_window.py
Labels: tests, qt

#4669 test: Cleanup usage of npe2 plugin manager in tests
  napari/_qt/dialogs/_tests/test_reader_dialog.py
  napari/_qt/menus/_tests/test_file_menu.py
  napari/_qt/widgets/_tests/test_qt_extension2reader.py
  napari/_tests/test_cli.py
  napari/_tests/test_examples.py
  napari/components/_tests/test_layers_list.py
  napari/components/_tests/test_viewer_image_io.py
  napari/components/_tests/test_viewer_labels_io.py
  napari/components/_tests/test_viewer_model.py
  napari/conftest.py
  napari/layers/_tests/test_layer_save.py
  napari/plugins/_tests/test_builtin_get_writer.py
  napari/plugins/_tests/test_reader_plugins.py
  napari/plugins/_tests/test_sample_data.py
  napari/plugins/_tests/test_save_layers.py
  napari/plugins/_tests/test_utils.py
  setup.cfg
Labels: tests, qt

#4701 Design issue template assignees
  .github/ISSUE_TEMPLATE/design_related.md
Labels: task

#4564 Add option to use npe2 shim/adaptor for npe1 plugins
  docs/plugins/npe2_migration_guide.md
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/_qt/menus/plugins_menu.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/widgets.py
  napari/plugins/__init__.py
  napari/plugins/_npe2.py
  napari/settings/_base.py
  napari/settings/_plugins.py
Labels: documentation, qt, preferences

#4707 use python 3.9 for mac tests until numcodecs 3.10 wheels are available
  .github/workflows/test_pull_requests.yml
Labels: task

#4699 Apply shown mask to points._view_size_scale
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: bug, tests

#4672 Use `cache: pip` from actions setup-python
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_pull_requests.yml
Labels: task

#4722 use same coverage report like in pull requests
  .github/workflows/test_comprehensive.yml
Labels: task

#4511 Improvements on scale bar
  napari/_vispy/_tests/test_vispy_scale_bar_visual.py
  napari/_vispy/overlays/scale_bar.py
  napari/components/scale_bar.py
Labels: tests

#4715 napari.viewer.current_viewer fallback ancestor
  napari/_tests/test_magicgui.py
  napari/_tests/test_viewer.py
  napari/utils/_magicgui.py
Labels: tests

#4684 Add NAP-3: Spaces
  docs/_toc.yml
  docs/naps/3-spaces.md
Labels: documentation

#4717 Color edit without tooltip fix
  napari/_qt/widgets/_tests/test_qt_color_swatch.py
  napari/_qt/widgets/qt_color_swatch.py
Labels: tests, qt

#4719 Use some features from npe2 v0.5.0
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/conftest.py
  setup.cfg
Labels: qt

#4728 Update translation documentation link in pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: task

#4730 Fix bug in deepcopy of utils.context.Expr
  napari/utils/context/__init__.py
  napari/utils/context/_expressions.py
  napari/utils/context/_tests/test_expressions.py
Labels: tests

#4688 Tracks tail update fix beyond _max_length
  napari/layers/tracks/_tests/test_tracks.py
  napari/layers/tracks/tracks.py
Labels: tests

#4725 split Image `interpolation` on two properties, `interpoltion2d` and `interpolation3d`
  napari/_qt/layer_controls/_tests/test_qt_image_layer.py
  napari/_qt/layer_controls/qt_image_controls.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/layer_controls/qt_shapes_controls.py
  napari/_qt/layer_controls/qt_surface_controls.py
  napari/_qt/layer_controls/qt_tracks_controls.py
  napari/_qt/layer_controls/qt_vectors_controls.py
  napari/_vispy/_tests/test_image_rendering.py
  napari/_vispy/layers/image.py
  napari/components/viewer_model.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/_tests/test_multiscale.py
  napari/layers/image/image.py
  napari/layers/labels/labels.py
  napari/layers/utils/_tests/test_link_layers.py
  napari/utils/_tests/test_migrations.py
  napari/utils/migrations.py
  tox.ini
Labels: tests, qt

#4729 Add a public API for the setGeometry method of _qt_window
  napari/_qt/_tests/test_qt_window.py
  napari/_qt/qt_main_window.py
Labels: tests, qt
