Repository napari/napari, pull requests merged in 2022-03, with the labels that each got.

#4163 Add release notes for 0.4.15
  docs/_toc.yml
  docs/release/release_0_4_15.md
Labels: documentation

#4176 Adds calendar to docs
  docs/_templates/navbar-project.html
  docs/community/meeting_schedule.md
  docs/conf.py
Labels: documentation

#4181 Allow the calendar to build correctly in PR build docs
  .github/workflows/build_docs.yml
Labels: task

#4183 Deploy to napari.github.io
  .github/workflows/deploy_docs.yml
Labels: task

#4184 block points add mode in 3D when layer.ndim == 2
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: tests

#3759 volume plane interactive controls
  examples/volume_plane_rendering.py
  examples/volume_plane_rendering_interactive.py
  napari/_qt/layer_controls/_tests/test_qt_image_layer.py
  napari/_qt/layer_controls/qt_image_controls.py
  napari/_qt/layer_controls/qt_layer_controls_base.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_tests/test_viewer.py
  napari/_vispy/layers/image.py
  napari/components/viewer_model.py
  napari/layers/image/_image_constants.py
  napari/layers/image/_image_key_bindings.py
  napari/layers/image/_image_mouse_bindings.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/_tests/test_volume.py
  napari/layers/image/image.py
  napari/layers/labels/labels.py
  napari/layers/utils/_tests/test_interactivity_utils.py
  napari/layers/utils/_tests/test_plane.py
  napari/layers/utils/interactivity_utils.py
  napari/layers/utils/plane.py
  napari/layers/utils/stack_utils.py
  napari/utils/geometry.py
  tools/strings_list.py
  tox.ini
Labels: tests, design, qt

#4168 Add docs contributor's guide and docs template
  docs/_toc.yml
  docs/developers/documentation/docs_template.md
  docs/developers/documentation/index.md
  setup.cfg
Labels: documentation

#4193 Update release notes for 0.4.15rc1
  docs/developers/documentation/index.md
  docs/release/release_0_4_15.md
Labels: documentation

#4199 Fix plausible not added to docs
  docs/_templates/layout.html
Labels: documentation

#4197 fix bugs in setting plane orientation with nD data
  napari/layers/image/_image_key_bindings.py
  napari/layers/utils/_tests/test_interactivity_utils.py
  napari/layers/utils/interactivity_utils.py
Labels: tests

#4179 Add value method to extension2reader widget
  napari/_qt/widgets/qt_extension2reader.py
Labels: qt

#4170 Adding tests missing from PR #4165
  napari/_vispy/_tests/test_vispy_tracks_layer.py
Labels: tests

#4185 add licensing page
  EULA.md
  MANIFEST.in
  docs/_toc.yml
  docs/community/licensing.md
Labels: documentation

#4204 Documentation for scale in layers documentation
  docs/guides/images/scaling.gif
  docs/guides/layers.md
Labels: documentation

#3555 Prototype a conda-based bundle
  .github/workflows/make_bundle_conda.yml
  MANIFEST.in
  bundle.py
  bundle_conda.py
  docs/developers/packaging.md
  napari/__main__.py
  resources/bundle_license.rtf
  resources/bundle_license.txt
  resources/bundle_readme.md
  resources/conda_menu_config.json
  resources/osx_pkg_welcome.rtf.tmpl
  setup.cfg
Labels: documentation, bundle, task

#4180 Add hook implementation name to order sorting
  napari/plugins/_plugin_manager.py
  napari/settings/_plugins.py
Labels: preferences

#4210 Fix EULA/licensing/signing issues post-merge
  .github/workflows/make_bundle_conda.yml
  docs/community/licensing.md
  resources/bundle_license.rtf
  resources/bundle_license.txt
Labels: documentation, bundle, task

#4214 Add dependencies helper and fix pyside issue when filtering plugins
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/utils/misc.py
Labels: qt

#4217 Add PRs made after 0.4.15rc1 to release notes
  docs/release/release_0_4_15.md
Labels: documentation

#4221 Adjust conditions that control package signing and artifact uploads (constructor installers)
  .github/workflows/make_bundle_conda.yml
Labels: task

#4216 Add plugin dialog initial tests
  napari/_qt/dialogs/_tests/test_qt_plugin_dialog.py
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: tests, qt

#4220 Update napari pin for conda/mamba install in constructor bundle
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/utils/misc.py
Labels: qt

#4225 Use conda instead of mamba in windows conda-forge bundled app
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: qt

#4224 Add PRs made after 0.4.15rc2 to release notes
  docs/release/release_0_4_15.md
Labels: documentation

#4236 Remove access to private npe2 plugin manager attributes
  docs/release/release_0_4_15.md
  napari/plugins/_npe2.py
Labels: documentation

#4239 Fix quick start links
  docs/tutorials/fundamentals/quick_start.md
Labels: documentation

#4237 DOC: pep on python.org have moved.
  docs/developers/contributing.md
  docs/developers/core_dev_guide.md
  docs/guides/magicgui.md
  docs/plugins/first_plugin.md
  examples/magic_image_arithmetic.py
  examples/magic_parameter_sweep.py
  napari/_qt/menus/_util.py
  napari/plugins/pypi.py
  napari/utils/_tracebacks.py
Labels: documentation, qt

#4206 Uniform install instructions.
  README.md
  docs/index.md
Labels: documentation

#4202 Replace image pyramid with multiscale image in the docs.
  docs/guides/rendering.md
  docs/howtos/layers/labels.md
Labels: documentation

#4188 add workshops
  docs/further-resources/napari-workshops.md
Labels: documentation

#4245 Remove headless test ignore, move orient_plane_normal test
  napari/__init__.pyi
  napari/_tests/test_layer_utils_with_qt.py
  napari/layers/utils/_tests/test_interactivity_utils.py
  tox.ini
Labels: tests

#4103 Add tests for _npe2.py
  napari/plugins/_npe2.py
  napari/plugins/_tests/test_npe2.py
Labels: tests

#4243 Add napari.yaml to first plugin file layout
  docs/plugins/first_plugin.md
Labels: documentation

#4086 Npe2 enable/disable support
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/plugins/__init__.py
  napari/plugins/_npe2.py
  napari/plugins/_plugin_manager.py
  napari/settings/__init__.py
  napari/settings/_base.py
  napari/settings/_fields.py
  napari/settings/_migrations.py
  napari/settings/_napari_settings.py
  napari/settings/_tests/test_migrations.py
  napari/settings/_tests/test_settings.py
  napari/settings/_yaml.py
  napari/viewer.py
Labels: tests, qt, preferences

#4207 Decrease LFS size, gif -> webm.
  docs/tutorials/annotation/annotate_points.md
  docs/tutorials/assets/tutorials/.gitattributes
  docs/tutorials/assets/tutorials/dask1.gif
  docs/tutorials/assets/tutorials/dask1.webm
  docs/tutorials/assets/tutorials/dask2.gif
  docs/tutorials/assets/tutorials/dask2.webm
  docs/tutorials/assets/tutorials/painting.gif
  docs/tutorials/assets/tutorials/painting.webm
  docs/tutorials/assets/tutorials/point_annotator_demo.gif
  docs/tutorials/assets/tutorials/point_annotator_demo.webm
  docs/tutorials/assets/tutorials/tracks_isbi.gif
  docs/tutorials/assets/tutorials/tracks_isbi.webm
  docs/tutorials/assets/tutorials/viewer_pan_zoom.gif
  docs/tutorials/assets/tutorials/viewer_pan_zoom.webm
  docs/tutorials/fundamentals/viewer.md
  docs/tutorials/processing/dask.md
  docs/tutorials/tracking/cell_tracking.md
Labels: documentation

#4208 Run PNG crush on all Pngs.
  docs/developers/images/execution_graph.png
  docs/guides/images/3d_interaction_click_line.png
  docs/guides/images/3d_interaction_coordianates.png
  docs/guides/images/3d_interaction_ray_intersection.png
  docs/guides/images/blending.png
  docs/guides/images/chunked-format.png
  docs/guides/images/context_type_hint.png
  docs/guides/images/example-1320.png
  docs/guides/images/octree.png
  docs/guides/images/paging-chunks.png
  docs/guides/images/rendering.png
  docs/images/3D_paths.png
  docs/images/IPython.png
  docs/images/add_vectors_image.png
  docs/images/logo.png
  docs/images/multichannel_cells.png
  docs/images/ndisplay.png
  docs/images/plugin-install-dialog.png
  docs/images/plugin-menu.png
  docs/images/screenshot-add-image.png
  docs/images/tests.png
  docs/tutorials/assets/tutorials/3D_button.png
  docs/tutorials/assets/tutorials/add_points.png
  docs/tutorials/assets/tutorials/annotated_bbox.png
  docs/tutorials/assets/tutorials/console.png
  docs/tutorials/assets/tutorials/dask_repr.png
  docs/tutorials/assets/tutorials/installation/bundle_applications_folder.png
  docs/tutorials/assets/tutorials/installation/bundle_assets.png
  docs/tutorials/assets/tutorials/installation/bundle_dev_warning.png
  docs/tutorials/assets/tutorials/installation/bundle_install.png
  docs/tutorials/assets/tutorials/installation/bundle_open.png
  docs/tutorials/assets/tutorials/installation/bundle_open_anyway.png
  docs/tutorials/assets/tutorials/installation/bundle_security_privacy.png
  docs/tutorials/assets/tutorials/installation/windows_bundle_command_terminal.png
  docs/tutorials/assets/tutorials/installation/windows_bundle_installer_finish.png
  docs/tutorials/assets/tutorials/installation/windows_bundle_installer_progress.png
  docs/tutorials/assets/tutorials/installation/windows_bundle_installer_start.png
  docs/tutorials/assets/tutorials/installation/windows_launch_napari.png
  docs/tutorials/assets/tutorials/launch_cli_empty.png
  docs/tutorials/assets/tutorials/launch_cli_image.png
  docs/tutorials/assets/tutorials/launch_ipython.png
  docs/tutorials/assets/tutorials/launch_jupyter.png
  docs/tutorials/assets/tutorials/launch_script.png
  docs/tutorials/assets/tutorials/layerlist.png
  docs/tutorials/assets/tutorials/nD_labels.png
  docs/tutorials/assets/tutorials/points_save_dialog.png
  docs/tutorials/assets/tutorials/segmentation_bbox.png
  docs/tutorials/assets/tutorials/segmentation_labels.png
  docs/tutorials/assets/tutorials/tracks_btrack.png
  resources/screenshot-add-image.png
Labels: documentation

#4254 fix error message when no reader available
  napari/components/_tests/test_add_layers.py
  napari/plugins/io.py
Labels: tests

#4257 Fix links in docs
  docs/further-resources/glossary.md
  docs/plugins/npe2_migration_guide.md
Labels: documentation

#4259 Fix erroneous point deletion when pressing delete key on layer
  napari/_qt/containers/qt_layer_list.py
Labels: qt

#4251 Improve "index" pages content
  docs/ORGANIZATION.md
  docs/_toc.yml
  docs/community/index.md
  docs/developers/contributing.md
  docs/developers/docs.md
  docs/developers/index.md
  docs/guides/events_reference.md
  docs/guides/index.md
  docs/howtos/index.md
  docs/howtos/layers/index.md
  docs/tutorials/index.md
  docs/tutorials/start_index.md
  docs/usage.md
Labels: documentation

#4256 catch elementwise comparison warning that now shows frequently on layer creation
  napari/layers/points/_tests/test_points.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/vectors/_tests/test_vectors.py
  napari/utils/_tests/test_misc.py
  napari/utils/misc.py
Labels: tests

#4267 Bugfix: Divide by zero error making empty shapes layer
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
Labels: tests

#4272 Bugfix: Conversion between Label and Image with original scaling
  napari/layers/_layer_actions.py
  napari/layers/_tests/test_layer_actions.py
Labels: tests

#4286 Add napari.utils.notifications to the API docs
  docs/api/modules.rst
Labels: documentation

#4283 Address concurrent refresh in plugin list during multiple (un)installs
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/plugins/hub.py
  napari/plugins/pypi.py
Labels: qt

#4278 Minor copy update: Usage page
  docs/usage.md
Labels: documentation

#4279 Minor copy update: Segmentation tutorial page
  docs/tutorials/segmentation/index.md
Labels: documentation

#4284 Allow remote .tiff files to be loaded
  napari/plugins/_tests/test_reader_plugins.py
  napari/utils/io.py
Labels: tests

#4240 Hide console toggle button and ignore corresponding keybinding for ipython
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/components/_viewer_key_bindings.py
Labels: qt

#4201 Add size argument to Viewer.screenshot()
  napari/_qt/qt_main_window.py
  napari/viewer.py
Labels: qt

#3825 Add alt-text to nbscreenshot output HTML images
  napari/_tests/test_notebook_display.py
  napari/utils/notebook_display.py
  setup.cfg
Labels: tests

#4305 Update best_practices.md
  docs/plugins/best_practices.md
Labels: documentation

#4314 Fix Labels.fill when Labels.data is an xarray.DataArray
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/utils/_tests/test_misc.py
  napari/utils/misc.py
Labels: tests

#4280 Minor copy update: Annotations tutorial page
  docs/tutorials/annotation/index.md
Labels: documentation

#4282 Minor copy update: Tracking tutorial page
  docs/tutorials/tracking/index.md
Labels: documentation

#4307 Test bundle installation in CI
  .github/workflows/make_bundle_conda.yml
Labels: bundle, task

#4309 Use conda-forge/napari-feedstock source on main
  .github/workflows/make_bundle_conda.yml
Labels: bundle, task

#4329 Fix minreq test take 3.
  napari/_tests/test_examples.py
  tools/minreq.py
Labels: tests

#4335 Fix broken link and adds packaging page to toc
  docs/_toc.yml
  docs/developers/packaging.md
  docs/tutorials/segmentation/index.md
Labels: documentation

#4301 Support of transformation parameters for the interaction box
  napari/_tests/test_interactive_transforms.py
  napari/components/_interaction_box_mouse_bindings.py
Labels: tests
