Repository napari/napari, pull requests merged in 2022-05, with the labels that each got.

#4446 Add NAP1: institutional and funding partners
  docs/naps/1-institutional-funding-partners.md
Labels: documentation

#4454 Update to the documentation: add viewer.dims.current_step tips
  docs/tutorials/fundamentals/viewer.md
Labels: documentation

#4444 Use installer version instead of napari version for default paths
  .github/workflows/make_bundle_conda.yml
  bundle_conda.py
Labels: bundle, task

#4457 Make npe2 writer test more lenient
  napari/plugins/_tests/test_npe2.py
Labels: tests

#4447 add custom final condarc to bundle
  .github/workflows/make_bundle_conda.yml
  bundle_conda.py
Labels: task

#4452 Add doc specific Makefile
  docs/Makefile
  docs/conf.py
Labels: documentation

#4453 Bugfix/Add affine to base_dict via _get_base_state()
  napari/layers/_tests/test_serialize.py
  napari/layers/base/base.py
Labels: tests

#4460 Fix layer control pop-up issue
  napari/_qt/qt_main_window.py
Labels: bug, qt

#4462 Set `TMP` on Windows+Mamba subprocesses if not set
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: bundle, qt

#3867 Faster 2D shape layer creation
  examples/dev/demo_shape_creation.py
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_shapes_models/shape.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/test_shapes_utils.py
  napari/layers/shapes/shapes.py
  setup.cfg
Labels: tests

#4468 Add preliminary release notes for 0.4.16
  docs/release/release_0_4_16.md
Labels: documentation

#4477 Add rc1 commits to release notes
  docs/release/release_0_4_16.md
Labels: documentation

#4481 Fire features event on Labels feature change
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: tests

#4488 throttle status update
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/layers/labels/_tests/test_labels.py
  setup.cfg
Labels: tests

#4483 Reorder tests
  napari/_qt/_tests/test_qt_notifications.py
  napari/conftest.py
  setup.cfg
  tox.ini
Labels: tests, qt

#4482 Image layer control dtype normalization for tensorstore compatibility
  napari/_qt/layer_controls/_tests/test_qt_image_base_layer_.py
  napari/_qt/layer_controls/qt_image_controls_base.py
Labels: tests, qt

#4473 Update viewer tutorial
  docs/tutorials/fundamentals/viewer.md
Labels: documentation

#4471 Fix ImportErrors for instance attributes when building docs
  docs/_templates/autosummary/class.rst
  docs/conf.py
Labels: documentation

#4496 Reduce canvas margin
  napari/_qt/qt_viewer.py
Labels: qt

#4486 Test if events for all properties are defined
  napari/conftest.py
  napari/layers/labels/_tests/test_labels.py
Labels: tests

#4500 Make sure reader dialog pops open if File -> Open Sample is compatible with multiple readers
  napari/_qt/menus/_tests/__init__.py
  napari/_qt/menus/_tests/test_file_menu.py
  napari/_qt/menus/file_menu.py
  napari/components/viewer_model.py
  napari/plugins/utils.py
Labels: tests, qt

#4480 Connect napari events first to EventEmitter
  napari/utils/_tests/test_notification_manager.py
  napari/utils/events/_tests/test_event_emitter.py
  napari/utils/events/event.py
Labels: tests

#4512 Fix update of plugins and disable update button if not available on conda forge (for bundle)
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/plugins/_tests/test_hub.py
  napari/plugins/hub.py
Labels: tests, qt

#4459 Add filename pattern to reader associations to preference dialog
  napari/_qt/dialogs/_tests/test_reader_dialog.py
  napari/_qt/dialogs/qt_reader_dialog.py
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/_tests/test_qt_extension2reader.py
  napari/_qt/widgets/qt_extension2reader.py
  napari/_qt/widgets/qt_plugin_sorter.py
  napari/components/_tests/test_viewer_model.py
  napari/conftest.py
  napari/plugins/_npe2.py
  napari/plugins/_tests/test_utils.py
  napari/plugins/utils.py
  napari/settings/_migrations.py
  napari/settings/_napari_settings.py
  napari/settings/_tests/__init__.py
  napari/settings/_tests/test_migrations.py
  napari/settings/_tests/test_settings.py
  napari/settings/_tests/test_utils.py
  napari/settings/_utils.py
Labels: tests, qt, preferences

#4502 Add alt_text
  docs/guides/magicgui.md
  docs/howtos/layers/image.md
  docs/howtos/layers/labels.md
  docs/howtos/layers/points.md
  docs/howtos/layers/shapes.md
  docs/howtos/layers/surface.md
  docs/howtos/layers/vectors.md
  docs/tutorials/fundamentals/viewer.md
Labels: documentation

#4516 Add information about new file opening behaviour
  docs/release/release_0_4_16.md
Labels: documentation

#4458 Proposal to accept NAP-1 - add institutional and funding partners to governance
  docs/community/governance.md
  docs/naps/1-institutional-funding-partners.md
Labels: documentation

#4524 Add CZI as an Institutional and Funding Partner
  README.md
  docs/community/team.md
Labels: documentation

#4528 add I2K workshop
  docs/further-resources/napari-workshops.md
Labels: documentation

#4523 change default blending mode on image layer to translucent no depth
  napari/components/_tests/test_multichannel.py
  napari/components/viewer_model.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/_tests/test_multiscale.py
  napari/layers/image/image.py
Labels: tests

#4535 Add preference saving from dialog for folders with extensions
  docs/release/release_0_4_16.md
  napari/_qt/dialogs/_tests/test_reader_dialog.py
  napari/_qt/dialogs/qt_reader_dialog.py
  napari/_qt/qt_viewer.py
Labels: documentation, tests, qt

#4545 Warn user when preferred plugin for a file is missing
  docs/release/release_0_4_16.md
  napari/_qt/qt_viewer.py
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/errors/__init__.py
  napari/errors/reader_errors.py
Labels: documentation, tests, qt

#4552 Add NAP1 to ToC.
  docs/_toc.yml
  docs/naps/1-institutional-funding-partners.md
  docs/naps/template.md
Labels: documentation

#4550 fix Re-setting shapes data to initial data fails, but only in 3D
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
Labels: tests

#4540 Revert "change default blending mode on image layer to translucent no depth"
  napari/components/_tests/test_multichannel.py
  napari/components/viewer_model.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/_tests/test_multiscale.py
  napari/layers/image/image.py
Labels: tests

#4549 Accelerate adding large numbers of points
  napari/benchmarks/benchmark_points_layer.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/utils/_tests/test_layer_utils.py
  napari/layers/utils/layer_utils.py
Labels: tests

#4525 [conda] revert default installation path
  .github/workflows/make_bundle_conda.yml
  bundle_conda.py
Labels: bundle, task

#4520 [conda] rework how plugin install/remove subprocesses receive the parent environment
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: bundle, qt

#4276 Fix AttributeError: 'LayerList' object has no attribute 'name'
  napari/_qt/containers/_layer_delegate.py
  napari/_qt/containers/qt_layer_model.py
Labels: qt

#4567 Bug fix: blending multichannel images and 3D points
  napari/components/_tests/test_multichannel.py
  napari/components/viewer_model.py
  napari/layers/utils/_tests/test_stack_utils.py
  napari/layers/utils/stack_utils.py
Labels: tests

#4519 Start a NAP about conda packaging for napari
  docs/_toc.yml
  docs/naps/2-conda-based-packaging.md
Labels: documentation, bundle

#4569 Open reader dialog when running napari from shell
  docs/release/release_0_4_16.md
  napari/__main__.py
  napari/_qt/dialogs/qt_reader_dialog.py
  napari/_qt/qt_viewer.py
  napari/_tests/test_cli.py
Labels: documentation, tests, qt

#4575 Make sure npe2 and npe1 builtins are available in dialogs
  docs/release/release_0_4_16.md
  napari/components/_tests/test_viewer_model.py
  napari/plugins/_tests/test_utils.py
  napari/plugins/utils.py
Labels: documentation, tests

#4492 Add _get_value_3d to surface
  napari/layers/shapes/shapes.py
  napari/layers/surface/_surface_utils.py
  napari/layers/surface/_tests/test_surface.py
  napari/layers/surface/_tests/test_surface_utils.py
  napari/layers/surface/surface.py
  napari/layers/utils/interactivity_utils.py
  napari/utils/_tests/test_geometry.py
  napari/utils/geometry.py
Labels: tests

#4559 Deprecate layers.move_selected
  napari/components/_tests/test_layers_list.py
  napari/components/layerlist.py
  napari/utils/events/containers/_selectable_list.py
Labels: tests

#4583 Add question about qt backends to PR tests
  .github/PULL_REQUEST_TEMPLATE.md
Labels: task

#4581 Fix chackable menu entries when using PySide2 backend
  napari/_qt/menus/_tests/test_util.py
  napari/_qt/menus/_util.py
Labels: tests, qt

#4555 Limit workflows runs based on file changes
  .github/workflows/test_pull_requests.yml
Labels: task

#4518 Try to upload pytest json report as artifact.
  .github/workflows/test_pull_requests.yml
  tox.ini
Labels: task

#4578 Patch scikit-image cells3d data function when testing examples
  napari/_tests/test_examples.py
Labels: tests

#4517 DOC: misc syntax updates and typoes
  napari/_qt/dialogs/qt_reader_dialog.py
  napari/components/viewer_model.py
  napari/layers/_source.py
  napari/layers/image/experimental/octree_tile_builder.py
  napari/layers/shapes/_shape_list.py
  napari/layers/utils/interactivity_utils.py
  napari/layers/utils/plane.py
  napari/plugins/hub.py
  napari/viewer.py
Labels: qt

#4563 Forward port of release note updates for 0.4.16rc2 and rc3
  docs/release/release_0_4_16.md
Labels: documentation

#4533 Accessor refactor
  napari/utils/_injection.py
  napari/utils/_tests/test_injection.py
  napari/utils/action_manager.py
Labels: tests

#4499 Update layer list context keys
  napari/layers/_layer_actions.py
  napari/utils/context/_layerlist_context.py
  napari/utils/context/_tests/conftest.py
  napari/utils/context/_tests/test_layerlist_context.py
Labels: tests

#4591 Add test for QtPerformance widget
  napari/_qt/perf/_tests/test_perf.py
Labels: tests, qt

#4584 Don't build bundle in PRs on doc changes
  .github/workflows/make_bundle.yml
  .github/workflows/make_bundle_conda.yml
Labels: tests, performance, task
