Repository napari/napari, pull requests merged in 2022-08, with the labels that each got.

#4820 Confirmation on close, alternative approach
  napari/_qt/dialogs/_tests/test_confirm_close_dialog.py
  napari/_qt/dialogs/confirm_close_dialog.py
  napari/_qt/menus/_tests/test_file_menu.py
  napari/_qt/menus/file_menu.py
  napari/_qt/qt_event_loop.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_resources/styles/02_custom.qss
Labels: tests, design, qt

#4887 fix icon urls for close dialog
  docs/developers/contributing.md
  napari/_qt/qt_resources/styles/02_custom.qss
Labels: documentation, design

#4735 Expose points layer antialiasing control publicly
  examples/spherical_points.py
  napari/_vispy/_tests/test_vispy_points_layer.py
  napari/_vispy/layers/points.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: tests

#4784 Refactor: use app-model and in-n-out
  Makefile
  codecov.yml
  docs/_toc.yml
  docs/guides/app_model.md
  napari/_app_model/__init__.py
  napari/_app_model/_app.py
  napari/_app_model/_submenus.py
  napari/_app_model/_tests/test_app.py
  napari/_app_model/_tests/test_constants.py
  napari/_app_model/actions/__init__.py
  napari/_app_model/actions/_layer_actions.py
  napari/_app_model/constants/__init__.py
  napari/_app_model/constants/_commands.py
  napari/_app_model/constants/_menus.py
  napari/_app_model/context/__init__.py
  napari/_app_model/context/_context.py
  napari/_app_model/context/_context_keys.py
  napari/_app_model/context/_layerlist_context.py
  napari/_app_model/injection/__init__.py
  napari/_app_model/injection/_processors.py
  napari/_app_model/injection/_providers.py
  napari/_qt/_qapp_model/__init__.py
  napari/_qt/_qapp_model/_menus.py
  napari/_qt/_qapp_model/_tests/test_qapp_model_menus.py
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/containers/_layer_delegate.py
  napari/_qt/qt_event_loop.py
  napari/_qt/qthreading.py
  napari/_qt/widgets/_tests/test_action_context_menu.py
  napari/_qt/widgets/_tests/test_qt_extension2reader.py
  napari/_qt/widgets/qt_action_context_menu.py
  napari/components/layerlist.py
  napari/components/viewer_model.py
  napari/layers/_layer_actions.py
  napari/layers/_tests/test_layer_actions.py
  napari/utils/_injection/__init__.py
  napari/utils/_injection/_providers.py
  napari/utils/_magicgui.py
  napari/utils/_tests/test_injection.py
  napari/utils/action_manager.py
  napari/utils/context/_context.py
  napari/utils/context/_context_keys.py
  napari/utils/context/_expressions.py
  napari/utils/context/_tests/test_context.py
  napari/utils/context/_tests/test_context_keys.py
  napari/utils/context/_tests/test_expressions.py
  napari/utils/context/_tests/test_layerlist_context.py
  setup.cfg
  tools/string_list.json
Labels: documentation, tests, qt

#4889 Fix missing slice from dims
  napari/components/_tests/test_dims.py
  napari/components/dims.py
Labels: tests

#4706 Split out builtins into another top-level module
  .github/workflows/test_pull_requests.yml
  MANIFEST.in
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_viewer.py
  napari/components/_tests/test_viewer_image_io.py
  napari/components/_tests/test_viewer_labels_io.py
  napari/conftest.py
  napari/layers/_tests/test_layer_save.py
  napari/plugins/__init__.py
  napari/plugins/_skimage_data.py
  napari/plugins/_tests/test_builtin_get_writer.py
  napari/plugins/_tests/test_builtin_write_layers.py
  napari/plugins/_tests/test_reader_plugins.py
  napari/utils/_tests/test_io.py
  napari/utils/io.py
  napari/utils/temporary_file.py
  napari_builtins/__init__.py
  napari_builtins/_skimage_data.py
  napari_builtins/_tests/conftest.py
  napari_builtins/_tests/test_io.py
  napari_builtins/_tests/test_reader.py
  napari_builtins/_tests/test_writer.py
  napari_builtins/builtins.yaml
  napari_builtins/io/__init__.py
  napari_builtins/io/_read.py
  napari_builtins/io/_write.py
  setup.cfg
  tools/string_list.json
Labels: tests, qt, task

#4888 remove a few more qtbot.wait calls in tests
  napari/_qt/_tests/test_qt_utils.py
  napari/_qt/layer_controls/_tests/test_qt_image_base_layer_.py
  napari/_qt/widgets/_tests/test_qt_buttons.py
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_qt/widgets/_tests/test_qt_play.py
  napari/_vispy/_tests/test_image_rendering.py
Labels: tests, qt

#4892 NAP 4: asynchronous slicing
  docs/_toc.yml
  docs/naps/4-async-slicing.md
Labels: documentation

#4906 Raise exception when layer created with a scale value of 0
  napari/layers/_tests/test_layer_attributes.py
  napari/layers/base/base.py
Labels: bug, tests

#4908 Correct minor typo in quick_start.md
  docs/tutorials/fundamentals/quick_start.md
Labels: documentation

#4914 Add Google Calendar ID to directive
  docs/community/meeting_schedule.md
Labels: documentation

#4916 Minor type fix (add Optional)
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: qt

#4904 Conda: fix MacOS signing
  .github/workflows/make_bundle_conda.yml
Labels: bundle, task

#4893 use npe2api in plugin install dialog
  napari/_qt/dialogs/_tests/test_qt_plugin_dialog.py
  napari/plugins/_tests/test_pypi.py
  napari/plugins/pypi.py
  napari/settings/_plugins.py
Labels: tests, plugins, qt, preferences

#4847 Enable plugin menu contributions with app-model
  napari/_app_model/constants/_menus.py
  napari/plugins/__init__.py
  napari/plugins/_npe2.py
  napari/plugins/_tests/_sample_manifest.yaml
  napari/plugins/_tests/test_npe2.py
  napari/viewer.py
  setup.cfg
Labels: tests

#4936 Remove repeated items in gallery ToC.
  docs/_toc.yml
Labels: documentation

#4927 Correct minor typos on 'Contributing resources' page
  docs/developers/index.md
Labels: documentation

#4934 add SciPy 2022 materials
  docs/further-resources/napari-workshops.md
Labels: documentation

#4923 Use `napari/packaging` for Conda CI
  .github/workflows/make_bundle_conda.yml
  bundle_conda.py
  docs/developers/packaging.md
Labels: documentation, task

#4960 MAINT: re-enable type checking workflow
  .github/workflows/test_typing.yml
Labels: task

#4958 Removes deprecated configuration options for notebooks from docs build
  docs/conf.py
Labels: documentation

#4944 Fix calendar ID
  docs/community/meeting_schedule.md
Labels: documentation

#4915 Fix docs dependencies
  docs/requirements.txt
  setup.cfg
Labels: documentation

#4935 Fix for display of label colors
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/utils/colormaps/colormap.py
  napari/utils/colormaps/colormap_utils.py
Labels: bug, tests

#4846 Move vector mesh generation to napari vispy visual and fix vectors refesh
  napari/_vispy/_tests/test_vispy_vectors_layer.py
  napari/_vispy/layers/vectors.py
  napari/benchmarks/benchmark_qt_viewer_vectors.py
  napari/layers/vectors/_vector_utils.py
  napari/layers/vectors/vectors.py
Labels: bug, refactor, tests

#4961 DOC Add section on downloading CI built docs
  docs/developers/documentation/images/doc-ci-1.png
  docs/developers/documentation/images/doc-ci-2.png
  docs/developers/documentation/images/doc-ci-3.png
  docs/developers/documentation/index.md
Labels: documentation

#4955 DOC Add docs on how to run napari headless
  docs/howtos/headless.md
  docs/howtos/index.md
Labels: documentation

#4970 DOC Add headless doc to toc
  docs/_toc.yml
Labels: documentation

#4951 Adjust the slider value to include current_size
  napari/_qt/layer_controls/_tests/test_qt_points_layer.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/layers/points/points.py
Labels: tests, qt

#4972 Fix: bump app-model, add test for layer buttons
  napari/_qt/widgets/_tests/test_qt_buttons.py
  setup.cfg
Labels: tests, qt

#4664 add layer reader in tooltip and info dialog
  napari/_qt/containers/qt_layer_model.py
  napari/_qt/qt_main_window.py
  napari/_qt/widgets/qt_viewer_status_bar.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/_tests/test_multiscale.py
  napari/layers/image/_tests/test_volume.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/vectors/_tests/test_vectors.py
  napari/utils/status_messages.py
Labels: tests, qt

#4852 Add plugin reader warning dialog
  napari/_qt/dialogs/qt_reader_dialog.py
Labels: qt

#4974 Remove preliminary admonition for last two release notes
  docs/release/release_0_4_15.md
  docs/release/release_0_4_16.md
Labels: documentation

#4761 Stop slider animation on display and dimension changes
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_qt/widgets/qt_dims.py
  napari/_qt/widgets/qt_dims_slider.py
Labels: tests, qt

#4811 Make docked widgets of `qt_viewer` lazy
  napari/_qt/qt_viewer.py
Labels: qt

#4981 Fix resize window problem by to long text in help
  napari/_qt/widgets/qt_viewer_status_bar.py
Labels: qt

#4946 add user keymap
  napari/utils/_tests/test_key_bindings.py
  napari/utils/key_bindings.py
Labels: tests

#4929 DOC Add docs on napari models and events
  docs/_toc.yml
  docs/guides/napari_models.md
Labels: documentation

#4978 Add `FUNDING.yml` file to enable sponsor button and increase discoverability of option to sponsor napari
  .github/FUNDING.yml
Labels: task

#4983 Fix throttled status updates by ensuring GUI updates occur on the main thread
  napari/_qt/qt_main_window.py
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
Labels: tests, qt

#4990 Move the docs downloading screenshots to LFS
  docs/developers/documentation/images/doc-ci-1.png
  docs/developers/documentation/images/doc-ci-2.png
  docs/developers/documentation/images/doc-ci-3.png
Labels: documentation

#4992 DOC Enable intersphinx linking in examples
  docs/conf.py
Labels: documentation
