Repository napari/napari, pull requests merged in 2022-01, with the labels that each got.

#3894 Use packaging.version, DeprecationWarnings since setuptools 59+
  napari/__main__.py
  napari/_qt/__init__.py
  pyproject.toml
Labels: qt

#3905 npe2 doc fix: remove outdated text
  docs/plugins/npe2_manifest_specification.md
Labels: documentation

#3903 Update typing test on CI
  .github/workflows/test_typing.yml
  napari/settings/_base.py
Labels: preferences, task

#3912 Fix docs calendar
  docs/_toc.yml
  docs/community/meeting_schedule.md
  docs/community/team.md
Labels: documentation

#3918 Fix cleaning of resources in function contextmanagers
  napari/_qt/utils.py
  napari/components/experimental/chunk/_loader.py
  napari/layers/base/base.py
  napari/layers/shapes/shapes.py
  napari/utils/temporary_file.py
Labels: qt

#3920 Try to fix OpenGL errors installing in CI (github deprecated git://)
  .github/workflows/test_pull_requests.yml
Labels: task

#3921 FIX: git:// is deprecated
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_prereleases.yml
Labels: task

#3919 Convert all line-ending to unix for the 3 files with CRLF
  napari/_tests/test_interactive_transforms.py
  napari/components/_interaction_box_mouse_bindings.py
  napari/layers/image/_image_key_bindings.py
Labels: tests

#3807 napari cli: enable --with option for npe2 widgets
  napari/__main__.py
  napari/_qt/qt_main_window.py
  napari/plugins/_npe2.py
Labels: qt

#3799 Add dialog for selecting reader plugin when dragging & dropping a file
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/dialogs/_tests/test_reader_dialog.py
  napari/_qt/dialogs/_tests/test_reader_dialog_get_choice.py
  napari/_qt/dialogs/preferences_dialog.py
  napari/_qt/dialogs/qt_reader_dialog.py
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/_tests/test_qt_extension2reader.py
  napari/_qt/widgets/qt_extension2reader.py
  napari/_qt/widgets/qt_plugin_sorter.py
  napari/_tests/utils.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/form.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/widgets.py
  napari/plugins/_npe2.py
  napari/plugins/_plugin_manager.py
  napari/plugins/utils.py
  napari/settings/_plugins.py
Labels: tests, qt, preferences

#3909 fix tracks instantiation with floating point time values
  napari/layers/tracks/_tests/test_tracks.py
  napari/layers/tracks/_track_utils.py
Labels: tests

#3929 Fix plugin docs, ToC and links
  docs/copy-docs.py
  docs/plugins/contributions.md
  docs/plugins/first_plugin.md
  docs/plugins/guides.md
  docs/plugins/index.md
  docs/plugins/manifest.md
  docs/plugins/npe2_migration_guide.md
Labels: documentation

#3931 Rename feature manager attribute to table
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
  napari/layers/tracks/_track_utils.py
  napari/layers/utils/_tests/test_layer_utils.py
  napari/layers/vectors/vectors.py
Labels: tests

#3895 Fix contrast limit slider for small range
  napari/_qt/layer_controls/_tests/test_qt_image_base_layer_.py
  napari/_qt/layer_controls/qt_image_controls_base.py
Labels: bug, tests, qt

#3932 0.4.13 release notes
  docs/_toc.yml
  docs/release/release_0_4_13.md
Labels: documentation

#3935 fix ndisplay button highlight
  docs/release/release_0_4_13.md
  napari/_qt/widgets/qt_viewer_buttons.py
Labels: documentation, qt

#3938 Fix magicgui layer combobox not populated when adding to viewer
  docs/release/release_0_4_13.md
  napari/_qt/widgets/qt_viewer_dock_widget.py
  napari/utils/_magicgui.py
  napari/utils/_tests/test_magicgui.py
Labels: documentation, tests, qt

#3933 Better Notification __str__ method
  docs/release/release_0_4_13.md
  napari/utils/notifications.py
Labels: documentation

#3937 Remove deprecation of sceenshot in qt_viewer
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_viewer.py
Labels: tests, qt

#3941 Fix setting attribute to None for single slices of image stacks on stack creation
  napari/layers/utils/stack_utils.py
  napari/utils/_tests/test_misc.py
  napari/utils/misc.py
Labels: tests

#3906 Add npe2 to install requires
  examples/progress_bar_segmentation.py
  napari/components/_tests/test_layers_list.py
  napari/conftest.py
  napari/layers/_tests/test_layer_save.py
  napari/plugins/_npe2.py
  napari/plugins/_skimage_data.py
  napari/plugins/_tests/test_reader_plugins.py
  napari/plugins/_tests/test_save_layers.py
  napari/utils/theme.py
  setup.cfg
Labels: tests

#3943 bug fix: too many entries in available plugins list
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: qt

#3949 Trying to fix published docs
  .github/workflows/make_docs.yml
  Makefile
  docs/_scripts/prep_docs.py
  docs/_scripts/update_event_docs.py
  docs/_scripts/update_preference_docs.py
Labels: documentation, task

#3950 Fix path to prep_docs in make_docs workflow
  .github/workflows/make_docs.yml
Labels: task

#3961 Fix close_progress_bar with no current_pbar
  napari/_qt/dialogs/qt_activity_dialog.py
Labels: qt

#3939 Update release_0_4_13.md
  docs/release/release_0_4_13.md
Labels: documentation

#3951 Try again to copy docs sources
  .github/workflows/make_docs.yml
  docs/_scripts/prep_docs.py
  docs/_scripts/update_event_docs.py
Labels: documentation, task

#3964 update plugin docs index
  docs/plugins/index.md
Labels: documentation

#3966 add bugfix PRs to release notes
  docs/release/release_0_4_13.md
Labels: documentation

#3967 Fix preference docs
  docs/_scripts/update_preference_docs.py
  docs/release/release_0_4_13.md
Labels: documentation

#3972 Fix show info dialog on python 3.10
  napari/_qt/dialogs/_tests/test_about.py
  napari/_qt/dialogs/qt_about.py
  napari/_qt/menus/help_menu.py
Labels: tests, qt

#3974 Update tests to remove warnings
  napari/components/_tests/test_viewer_model.py
  napari/layers/image/_tests/test_image_utils.py
  pyproject.toml
Labels: tests

#3979 Revert changes to scikit-image test API
  napari/layers/image/_tests/test_image_utils.py
Labels: tests

#3985 DOC: Misc doc syntax.
  napari/_qt/dialogs/qt_reader_dialog.py
  napari/_qt/layer_controls/qt_image_controls_base.py
  napari/_qt/qt_main_window.py
  napari/utils/events/evented_model.py
  napari/utils/transforms/transforms.py
Labels: qt

#3978 Enable shapes layer (right click) > convert to labels
  napari/layers/_layer_actions.py
  napari/layers/_tests/test_layer_actions.py
  napari/utils/context/_layerlist_context.py
Labels: tests

#3996 Check remove_selected
  napari/layers/points/_tests/test_points.py
Labels: tests

#2902 out-of-slice rendering for Vectors
  napari/_qt/layer_controls/_tests/test_qt_points_layer.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/layer_controls/qt_vectors_controls.py
  napari/layers/vectors/_tests/test_vectors.py
  napari/layers/vectors/vectors.py
Labels: tests, qt, pr-party-update-async

#3997 Change base point slice thickness to half a unit
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: tests

#4003 Fix error when setting ndisplay=3 with empty shapes layer in viewer
  napari/_tests/test_viewer.py
  napari/_vispy/layers/shapes.py
Labels: tests

#3625 Hide points individually
  examples/show_points_based_on_property.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: tests

#4006 Fix bug preventing close button on dock widgets
  napari/_qt/widgets/qt_viewer_dock_widget.py
Labels: qt

#4022 Fix include_package_data inclusion in the "your first plugin" docs page
  docs/plugins/first_plugin.md
Labels: documentation

#4024 use scikit-image[data] in the bundle
  setup.cfg
Labels: bundle

#4007 Rename n_dimensional to out_of_slice_display in Points and Vectors
  examples/add_points.py
  examples/nD_points.py
  examples/nD_points_with_properties.py
  examples/swap_dims.py
  napari/_qt/layer_controls/_tests/test_qt_points_layer.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/layer_controls/qt_vectors_controls.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/utils/_link_layers.py
  napari/layers/vectors/_tests/test_vectors.py
  napari/layers/vectors/vectors.py
Labels: tests, qt

#4013 wip release notes for 0.4.14
  docs/release/release_0_4_14.md
Labels: documentation

#4029 0.4.14 translation strings
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/_qt/dialogs/qt_reader_dialog.py
  napari/_qt/widgets/qt_extension2reader.py
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/components/dims.py
  napari/layers/_multiscale_data.py
  napari/utils/events/debugging.py
  tools/strings_list.py
Labels: qt

#4027 Unlink dock widget close button from plugins menu
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/qt_viewer_dock_widget.py
Labels: qt
