Repository napari/napari, pull requests merged in 2022-07, with the labels that each got.

#4767 Make references to examples link there
  README.md
  docs/index.md
Labels: documentation

#4724 fix clim init for dask arrays
  napari/_qt/layer_controls/qt_image_controls_base.py
  napari/layers/_tests/test_dask_layers.py
  napari/layers/image/image.py
  napari/layers/intensity_mixin.py
Labels: tests, qt

#4768 Set focus on `QtViewer` object after creating main window
  napari/_qt/qt_main_window.py
Labels: qt

#4727 Add public API for dims transpose
  napari/_tests/test_interactive_transforms.py
  napari/_tests/test_viewer.py
  napari/components/_viewer_key_bindings.py
  napari/components/dims.py
  napari/layers/labels/_tests/test_labels.py
Labels: tests

#4681 Fix source of copied layer events by use `layer.as_layer_data_tuple`
  napari/layers/_layer_actions.py
  napari/layers/_tests/test_layer_actions.py
Labels: tests

#4788 test: fix ability to use posargs with tox
  napari/_tests/test_examples.py
  napari/conftest.py
  tox.ini
Labels: tests

#4763 Refactor `NapariQtNotification` test for better cleaning Qt objects
  napari/_qt/_tests/test_qt_notifications.py
  napari/_qt/dialogs/qt_notification.py
  napari/_qt/qt_main_window.py
  napari/conftest.py
  napari/utils/_tests/test_notification_manager.py
Labels: tests, qt

#4787 Fix documentation link errors.
  docs/community/governance.md
  docs/community/mission_and_values.md
  docs/conf.py
  docs/guides/magicgui.md
  docs/index.md
  docs/plugins/index.md
  docs/plugins/npe2_migration_guide.md
  docs/plugins/test_deploy.md
  docs/roadmaps/0_3.md
  docs/roadmaps/0_3_retrospective.md
  docs/roadmaps/0_4.md
  docs/tutorials/fundamentals/installation.md
  setup.cfg
Labels: documentation

#4602 Discuss the approval of NAP-2 (conda-based packaging for napari)
  docs/naps/2-conda-based-packaging.md
Labels: documentation

#4783 Allow stack to be specified multiple times
  napari/__main__.py
  napari/_qt/dialogs/qt_reader_dialog.py
  napari/_qt/qt_viewer.py
  napari/_tests/test_cli.py
  napari/components/_tests/test_viewer_image_io.py
  napari/components/viewer_model.py
Labels: tests, qt

#4810 Accept NAP-2: Distributing napari with conda-based packaging
  docs/naps/2-conda-based-packaging.md
Labels: documentation

#4809 Improve "select all" logic in points layer, adding "select all across slices" behavior
  napari/_tests/test_viewer.py
  napari/layers/points/_points_key_bindings.py
  napari/layers/points/_tests/test_points_key_bindings.py
  napari/utils/shortcuts.py
Labels: tests

#4823 Fixes duplicate label warnings in the documentation
  docs/conf.py
Labels: documentation

#4829 Make newly added points editable
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: tests

#4817 Improve using Qt flags by direct use enums.
  napari/_qt/containers/_base_item_model.py
  napari/_qt/containers/_base_item_view.py
  napari/_qt/containers/_layer_delegate.py
  napari/_qt/containers/qt_layer_list.py
  napari/_qt/containers/qt_layer_model.py
  napari/_qt/containers/qt_list_model.py
  napari/_qt/containers/qt_tree_model.py
  napari/_qt/dialogs/preferences_dialog.py
  napari/_qt/dialogs/qt_about.py
  napari/_qt/dialogs/qt_activity_dialog.py
  napari/_qt/dialogs/qt_modal.py
  napari/_qt/dialogs/qt_notification.py
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/_qt/dialogs/qt_plugin_report.py
  napari/_qt/layer_controls/qt_image_controls.py
  napari/_qt/layer_controls/qt_image_controls_base.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/layer_controls/qt_layer_controls_base.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/layer_controls/qt_shapes_controls.py
  napari/_qt/layer_controls/qt_surface_controls.py
  napari/_qt/layer_controls/qt_tracks_controls.py
  napari/_qt/layer_controls/qt_vectors_controls.py
  napari/_qt/perf/qt_performance.py
  napari/_qt/qt_event_loop.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_qt/utils.py
  napari/_qt/widgets/qt_color_swatch.py
  napari/_qt/widgets/qt_dims_slider.py
  napari/_qt/widgets/qt_extension2reader.py
  napari/_qt/widgets/qt_highlight_preview.py
  napari/_qt/widgets/qt_keyboard_settings.py
  napari/_qt/widgets/qt_message_popup.py
  napari/_qt/widgets/qt_plugin_sorter.py
  napari/_qt/widgets/qt_progress_bar.py
  napari/_qt/widgets/qt_range_slider_popup.py
  napari/_qt/widgets/qt_scrollbar.py
  napari/_qt/widgets/qt_size_preview.py
  napari/_qt/widgets/qt_splash_screen.py
  napari/_qt/widgets/qt_theme_sample.py
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/_qt/widgets/qt_viewer_dock_widget.py
  napari/_qt/widgets/qt_viewer_status_bar.py
  napari/_qt/widgets/qt_welcome.py
  napari/utils/action_manager.py
Labels: qt, preferences

#4831 Allow empty tuple layer to be returned #4571
  napari/utils/_tests/test_misc.py
  napari/utils/misc.py
Labels: tests

#4665 Embeding viewers in plugins widget example
  examples/multiple_viewer_widget.py
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/qt_welcome.py
  napari/_tests/test_viewer.py
  napari/components/_tests/test_viewer_model.py
  napari/components/layerlist.py
  napari/components/viewer_model.py
  napari/layers/points/points.py
  napari/layers/vectors/_vector_utils.py
Labels: tests, qt

#3707 support PyQt6, remove logic for `compile_qt_svgs`
  .github/workflows/test_pull_requests.yml
  .gitignore
  examples/dev/custom_icon.py
  napari/__main__.py
  napari/_qt/_tests/test_plugin_widgets.py
  napari/_qt/_tests/test_qt_notifications.py
  napari/_qt/_tests/test_qt_window.py
  napari/_qt/containers/_layer_delegate.py
  napari/_qt/layer_controls/qt_image_controls.py
  napari/_qt/layer_controls/qt_image_controls_base.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/layer_controls/qt_layer_controls_base.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/layer_controls/qt_surface_controls.py
  napari/_qt/layer_controls/qt_vectors_controls.py
  napari/_qt/perf/qt_performance.py
  napari/_qt/qt_event_loop.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_resources/__init__.py
  napari/_qt/qt_resources/_icons.py
  napari/_qt/qt_resources/_tests/test_icons.py
  napari/_qt/qt_resources/_tests/test_resources.py
  napari/_qt/qt_resources/styles/00_base.qss
  napari/_qt/qt_resources/styles/01_buttons.qss
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_qt/qt_viewer.py
  napari/_qt/utils.py
  napari/_qt/widgets/qt_action_context_menu.py
  napari/_qt/widgets/qt_dims_slider.py
  napari/_qt/widgets/qt_keyboard_settings.py
  napari/_qt/widgets/qt_scrollbar.py
  napari/qt/__init__.py
  napari/resources/_icons.py
  napari/utils/theme.py
  tox.ini
Labels: tests, design, qt, task

#4703 add 'napari-xpra' target to dockerfile
  .github/workflows/docker-singularity-publish.yml
  dockerfile
  docs/howtos/docker.md
Labels: documentation, bundle, task

#4635 Add versioned API docs workflow
  .github/workflows/deploy_docs.yml
  docs/_static/redirects.js
  docs/_static/version_switcher.json
  docs/conf.py
Labels: documentation, task

#4851 Add the ability to return a List[Layer]
  docs/guides/magicgui.md
  napari/_tests/test_magicgui.py
  napari/layers/base/base.py
  napari/utils/_magicgui.py
Labels: documentation, tests

#4568 Update base docker image to ubuntu 22.04, optimize container size.
  .github/workflows/docker-singularity-publish.yml
  dockerfile
Labels: task

#4786 Fix deepcopy for trans objects when passing args
  napari/utils/_tests/test_translations.py
  napari/utils/translations.py
Labels: tests

#4799 Update documenation : install plugin from URL
  docs/plugins/find_and_install_plugin.md
Labels: documentation

#4757 Update deprecation warnings with versions
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/layers/image/image.py
  napari/layers/utils/text_manager.py
  napari/qt/progress.py
  napari/utils/events/containers/_selectable_list.py
  napari/utils/settings/__init__.py
  napari/utils/theme.py
Labels: qt

#4778 Bump vispy 0.11.0
  napari/_qt/layer_controls/_tests/test_qt_image_layer.py
  napari/_qt/layer_controls/qt_image_controls.py
  napari/_vispy/experimental/tiled_image_visual.py
  napari/_vispy/visuals/volume.py
  napari/layers/image/_image_constants.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/_tests/test_multiscale.py
  napari/layers/image/image.py
  napari/layers/utils/_tests/test_link_layers.py
  setup.cfg
Labels: tests, qt

#4830 add path specificity scoring
  napari/plugins/_tests/test_utils.py
  napari/plugins/utils.py
Labels: tests

#4842 Fix multiscale level selection when zoomed out
  napari/_vispy/_tests/test_vispy_multiscale.py
  napari/layers/base/base.py
  napari/layers/image/_tests/test_multiscale.py
  napari/layers/utils/layer_utils.py
Labels: tests

#4872 Fix NAP-3 table of contents
  docs/naps/3-spaces.md
Labels: documentation

#4814 Restore Labels, Points and Shapes layer mode after hold key
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/labels/_labels_key_bindings.py
  napari/layers/labels/labels.py
  napari/layers/points/_points_key_bindings.py
  napari/layers/points/points.py
  napari/layers/shapes/_shapes_key_bindings.py
  napari/layers/shapes/shapes.py
  napari/layers/utils/_tests/test_layer_utils.py
  napari/layers/utils/layer_utils.py
  napari/settings/_application.py
  napari/utils/_injection/__init__.py
  napari/utils/_tests/test_key_bindings.py
  napari/utils/key_bindings.py
Labels: tests, preferences

#4832 added description of how to save layers without compression
  docs/howtos/layers/image.md
  docs/howtos/layers/labels.md
Labels: documentation

#4854 Fix creation `QtViewer` for `ViewerModel` with already added layers
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_viewer.py
Labels: tests, qt

#4883 MAINT: Work around conda bundling issue.
  .github/workflows/make_bundle_conda.yml
Labels: task
