Repository napari/napari, pull requests merged in 2022-02, with the labels that each got.

#4046 Use python -m pytest with xvfb-action
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_prereleases.yml
  .github/workflows/test_pull_requests.yml
  .github/workflows/test_translations.yml
  tox.ini
Labels: task

#4040 Support error reporting via napari-error-monitor
  examples/dev/gui_notifications.py
  napari/_qt/menus/help_menu.py
  napari/conftest.py
  napari/utils/notifications.py
  setup.cfg
Labels: qt

#4021 Only set dims kwargs on viewer after adding layer
  napari/_tests/test_view_layers.py
  napari/view_layers.py
Labels: tests

#4034 Update `QtProgressBar` total when `progress` total is changed
  napari/_qt/dialogs/qt_activity_dialog.py
  napari/_qt/widgets/qt_progress_bar.py
  napari/utils/progress.py
Labels: qt

#4061 Add Grzegorz to 0.4.14 release notes
  docs/release/release_0_4_14.md
Labels: documentation

#4062 Add a `recurse` option to `EventedModel.update`
  napari/utils/events/_tests/test_evented_model.py
  napari/utils/events/evented_model.py
Labels: tests

#4058 Prevent errors in qt/test_plugin_widgets from installed plugins
  napari/_qt/_tests/test_plugin_widgets.py
Labels: tests, qt

#4037 avoid repeated computation of layers.extent when adding a new Labels layer
  napari/components/viewer_model.py
Labels: performance

#4051 Add style encoding for strings
  napari/layers/utils/_string_encoding.py
  napari/layers/utils/_style_encoding.py
  napari/layers/utils/_tests/test_string_encoding.py
Labels: tests

#4071 avoid scikit-image deprecation warnings in test suite
  napari/layers/image/_tests/test_image_utils.py
  napari/layers/image/_tests/test_multiscale.py
Labels: tests

#4067 Fix single colormap create
  napari/utils/colormaps/_tests/test_colormap.py
  napari/utils/colormaps/colormap.py
  napari/utils/events/evented_model.py
Labels: tests

#4078 Fix json usage when setting preferences from nested environment variables
  napari/settings/_base.py
  napari/settings/_napari_settings.py
  napari/settings/_tests/test_settings.py
  setup.cfg
Labels: tests, preferences

#4068 Only add progress widget on worker start
  napari/_qt/_tests/test_threading_progress.py
  napari/_qt/qthreading.py
Labels: tests, qt

#3999 Add edge_width per-point and edge_width_is_relative
  examples/add_points_with_properties.py
  examples/add_points_with_text.py
  examples/nD_points_with_properties.py
  napari/_vispy/layers/points.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  setup.cfg
Labels: tests

#4055 Support error reporting via napari-error-reporter
  examples/dev/gui_notifications.py
  napari/_qt/menus/help_menu.py
  napari/conftest.py
  napari/utils/notifications.py
Labels: qt

#4081 Update shapes color mapping when changing property
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
Labels: tests

#4092 remove `--checkout npe2` instructions for cookiecutter in documentation
  docs/plugins/first_plugin.md
Labels: documentation

#4063 Drop python 3.7
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_pull_requests.yml
  .github/workflows/test_translations.yml
  .github/workflows/test_vendored.yml
  .pre-commit-config.yaml
  asv.conf.json
  binder/environment.yml
  docs/index.md
  examples/notebook.ipynb
  napari/__main__.py
  napari/_qt/__init__.py
  napari/_qt/_tests/test_qt_notifications.py
  napari/_qt/qt_resources/_svg.py
  napari/_vendor/cpython/LICENSE
  napari/_vendor/cpython/functools.py
  napari/_vispy/utils/gl.py
  napari/components/layerlist.py
  napari/conftest.py
  napari/layers/base/base.py
  napari/layers/image/_image_utils.py
  napari/layers/labels/_labels_utils.py
  napari/plugins/exceptions.py
  napari/resources/_icons.py
  napari/utils/_tests/test_magicgui.py
  napari/utils/_tests/test_naming.py
  napari/utils/_tests/test_notification_manager.py
  napari/utils/_tests/test_translations.py
  napari/utils/action_manager.py
  napari/utils/context/_expressions.py
  napari/utils/events/containers/_dict.py
  napari/utils/key_bindings.py
  napari/utils/misc.py
  napari/utils/perf/__init__.py
  napari/utils/perf/_compat.py
  napari/utils/perf/_timers.py
  napari/utils/perf/_trace_file.py
  napari/utils/progress.py
  napari/utils/stubgen.py
  napari/utils/translations.py
  napari/utils/validators.py
  pyproject.toml
  setup.cfg
  tools/test_strings.py
  tox.ini
Labels: documentation, tests, design, qt, task

#4094 reduce NumPy overhead in ScaleTranslate and Affine transform calls
  napari/utils/transforms/transforms.py
Labels: performance

#4101 Clarify that napari should be installed
  docs/plugins/best_practices.md
  docs/plugins/first_plugin.md
  docs/tutorials/fundamentals/installation.md
Labels: documentation

#4097 Refactor dummy text data for vispy
  napari/_vispy/layers/points.py
  napari/_vispy/layers/shapes.py
  napari/_vispy/utils/text.py
  napari/layers/utils/_tests/test_text_manager.py
  napari/layers/utils/text_manager.py
Labels: tests

#4105 Remove remaining references to requirements.txt
  MANIFEST.in
  docs/developers/contributing.md
  docs/index.md
Labels: documentation

#4116 Don't use git+https to install on CI
  .github/workflows/test_pull_requests.yml
Labels: task

#4107 Try to standardise API as list of strings.
  napari/components/_tests/test_add_layers.py
  napari/components/viewer_model.py
  napari/plugins/_npe2.py
  napari/plugins/_tests/test_reader_plugins.py
  napari/plugins/io.py
  napari/utils/_tests/test_misc.py
  napari/utils/misc.py
Labels: tests

#4123 Move workshop out of tutorials into usage
  docs/_toc.yml
  docs/further-resources/glossary.md
  docs/further-resources/napari-workshops.md
Labels: documentation

#4124 Refactor layers content
  docs/_toc.yml
  docs/guides/images/blending.png
  docs/guides/images/mitosis.gif
  docs/guides/images/rendering.png
  docs/guides/layers.md
  docs/howtos/layers/image.md
  docs/howtos/layers/index.md
  docs/howtos/layers/labels.md
  docs/howtos/layers/points.md
  docs/howtos/layers/shapes.md
  docs/howtos/layers/surface.md
  docs/howtos/layers/tracks.md
  docs/howtos/layers/vectors.md
  docs/images/3D_paths.png
  docs/images/LLSM.gif
  docs/images/add_vectors_image.png
  docs/images/brain_surface.gif
  docs/images/delete_label.gif
  docs/images/draw_component.gif
  docs/images/editing_points.gif
  docs/images/editing_shapes.gif
  docs/images/merge_labels.gif
  docs/images/multichannel_cells.png
  docs/images/nD_shapes.gif
  docs/images/nD_vectors.gif
  docs/images/pathology.gif
  docs/images/shape_resizing.gif
  docs/images/shape_vertex_editing.gif
  docs/images/smFISH.gif
  docs/images/split_label.gif
  docs/images/tracks_3d_t.gif
  docs/images/tracks_color_by.gif
  docs/images/tracks_simple_demo.gif
  docs/images/tracks_tail_length.gif
  docs/images/tracks_tail_width.gif
  docs/tutorials/fundamentals/image.md
  docs/tutorials/fundamentals/surface.md
  docs/tutorials/fundamentals/tracks.md
  docs/tutorials/fundamentals/vectors.md
  docs/tutorials/fundamentals/viewer.md
  docs/tutorials/tracking/cell_tracking.md
Labels: documentation

#4030 update event tables in the in-depth guides
  docs/_scripts/update_event_docs.py
  docs/guides/events_reference.md
  napari/components/layerlist.py
  napari/layers/surface/surface.py
  napari/layers/tracks/tracks.py
Labels: documentation

#4141 Don't pip install from github in comprehensive tests (avoid another LFS leak)
  .github/workflows/test_comprehensive.yml
Labels: task

#4138 Don't validate defaults on `EventedModel`
  napari/components/_tests/test_viewer_model.py
  napari/layers/utils/_string_encoding.py
  napari/layers/utils/color_manager.py
  napari/utils/colormaps/categorical_colormap.py
  napari/utils/events/_tests/test_evented_model.py
  napari/utils/events/evented_model.py
Labels: tests

#4113 Add stateful StyleEncoding tests
  napari/layers/utils/_style_encoding.py
  napari/layers/utils/_tests/test_string_encoding.py
  napari/layers/utils/_tests/test_style_encoding.py
Labels: tests

#4150 Fix style encoding tests on main
  napari/layers/utils/_tests/test_style_encoding.py
Labels: tests

#4147 Use napari-sphinx-theme in docs build
  docs/conf.py
  docs/requirements.txt
  setup.cfg
Labels: documentation

#4137 Organize tutorials sections
  docs/_toc.yml
  docs/howtos/layers/points.md
  docs/tutorials/annotation/annotate_points.md
  docs/tutorials/annotation/index.md
  docs/tutorials/applications/index.md
  docs/tutorials/processing/dask.md
  docs/tutorials/processing/index.md
  docs/tutorials/segmentation/index.md
  docs/tutorials/tracking/index.md
Labels: documentation

#4152 Fix bug in continuous autocontrast button, add tests
  napari/_qt/layer_controls/_tests/test_qt_image_layer.py
  napari/_qt/layer_controls/qt_image_controls_base.py
Labels: tests, qt

#4122 Contrast limits popup fix
  napari/_qt/layer_controls/_tests/test_qt_image_base_layer_.py
  napari/_qt/layer_controls/qt_image_controls_base.py
  napari/layers/intensity_mixin.py
Labels: bug, tests, qt

#4144 support conda-style (pyside2-)rcc locations
  napari/_qt/qt_resources/_icons.py
  napari/_qt/qt_resources/_tests/test_icons.py
Labels: tests, design, qt

#4156 fix make docs for non editable installs
  .gitignore
  docs/_scripts/update_event_docs.py
Labels: documentation

#4041 add quick start
  docs/_toc.yml
  docs/images/IPython.png
  docs/images/manual_label.gif
  docs/images/ndisplay.png
  docs/tutorials/fundamentals/quick_start.md
Labels: documentation

#4139 Add release management docs
  docs/developers/release.md
Labels: documentation

#4154 Deploy docs workflow
  .github/workflows/deploy_docs.yml
Labels: task
