Repository napari/napari, pull requests merged in 2022-04, with the labels that each got.

#4315 Fix image and label layer values reported in GUI status bar when display is 3D
  napari/_qt/qt_viewer.py
  napari/layers/_tests/test_layer_attributes.py
  napari/layers/base/base.py
  napari/layers/image/image.py
Labels: bug, tests, qt

#4333 Fix progress update signature
  napari/utils/_tests/test_progress.py
  napari/utils/progress.py
Labels: tests

#4198 Implement `TextManager` with `StringEncoding`
  docs/tutorials/segmentation/annotate_segmentation.md
  examples/add_points_with_text.py
  examples/add_shapes_with_text.py
  examples/annotate_segmentation_with_text.py
  examples/bbox_annotator.py
  examples/nD_shapes_with_text.py
  napari/_qt/layer_controls/_tests/test_qt_layer_controls.py
  napari/_vispy/_tests/test_vispy_points_layer.py
  napari/_vispy/_tests/test_vispy_shapes_layer.py
  napari/_vispy/layers/points.py
  napari/_vispy/layers/shapes.py
  napari/_vispy/utils/text.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
  napari/layers/utils/_tests/test_string_encoding.py
  napari/layers/utils/_tests/test_style_encoding.py
  napari/layers/utils/_tests/test_text_manager.py
  napari/layers/utils/_tests/test_text_utils.py
  napari/layers/utils/_text_constants.py
  napari/layers/utils/_text_utils.py
  napari/layers/utils/string_encoding.py
  napari/layers/utils/style_encoding.py
  napari/layers/utils/text_manager.py
Labels: documentation, tests, api, qt

#4356 Remove 'of' from 'in this example of we will'
  docs/howtos/layers/points.md
  docs/howtos/layers/shapes.md
  docs/howtos/layers/tracks.md
  docs/howtos/layers/vectors.md
Labels: documentation

#4339 MAINT: separate ImportError from ModuleNotFoundError
  docs/howtos/napari_imageJ.md
  docs/release/generate_release_notes.py
  examples/clipping_planes_interactive_.py
  examples/dask_nD_image.py
  examples/spheres_.py
  examples/surface_timeseries_.py
  examples/xarray_nD_image_.py
  examples/zarr_nD_image_.py
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/menus/help_menu.py
  napari/_qt/qt_viewer.py
  napari/conftest.py
  napari/layers/labels/labels.py
  napari/utils/_tests/test_magicgui.py
  napari/utils/_tests/test_notification_manager.py
  napari/utils/_tracebacks.py
  napari/utils/events/debugging.py
  napari/utils/notebook_display.py
Labels: documentation, tests, qt

#4352 move pixel center offset code into _ImageBase
  napari/layers/base/base.py
  napari/layers/image/image.py
Labels: refactor

#4367 Fix npe2 import according to 0.3.0 deprecation warning
  napari/_qt/dialogs/_tests/test_qt_plugin_dialog.py
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/plugins/__init__.py
  napari/plugins/_npe2.py
  napari/plugins/hub.py
  napari/plugins/pypi.py
  setup.cfg
Labels: tests, qt

#4376 Bugfix/broadcast projections by reducing number of axes (keepdims=False)
  napari/layers/_layer_actions.py
  napari/layers/_tests/test_layer_actions.py
Labels: tests

#4370 add is_diagonal utility and Transform property
  napari/utils/transforms/_tests/test_transform_utils.py
  napari/utils/transforms/_tests/test_transforms.py
  napari/utils/transforms/transform_utils.py
  napari/utils/transforms/transforms.py
Labels: tests, performance

#4373 add alt text workshop
  docs/further-resources/napari-workshops.md
Labels: documentation

#4362 Fix TextManager to work with vispy when using string constants
  napari/_vispy/_tests/test_vispy_points_layer.py
  napari/_vispy/_tests/test_vispy_shapes_layer.py
  napari/layers/utils/_tests/test_text_manager.py
  napari/layers/utils/style_encoding.py
  napari/layers/utils/text_manager.py
Labels: tests

#4387 `bundle_conda`: ignore unlink errors on cleanup
  bundle_conda.py
Labels: bug, bundle

#4375 Add and/or update documentation alt text
  README.md
  docs/community/team.md
  docs/developers/documentation/docs_template.md
  docs/developers/profiling.md
  docs/guides/layers.md
  docs/guides/magicgui.md
  docs/howtos/layers/image.md
  docs/howtos/layers/labels.md
  docs/howtos/layers/points.md
  docs/howtos/layers/shapes.md
  docs/howtos/layers/surface.md
  docs/howtos/layers/vectors.md
  docs/plugins/find_and_install_plugin.md
  docs/tutorials/fundamentals/quick_start.md
  docs/tutorials/fundamentals/viewer.md
  docs/tutorials/processing/dask.md
  docs/tutorials/segmentation/annotate_segmentation.md
  docs/tutorials/tracking/cell_tracking.md
Labels: documentation

#4392 Convert remaining .gifs to .webm
  .gitattributes
  docs/guides/images/mitosis.gif
  docs/guides/images/mitosis.webm
  docs/guides/images/scaling.gif
  docs/guides/images/scaling.webm
  docs/guides/layers.md
  docs/howtos/layers/image.md
  docs/howtos/layers/labels.md
  docs/howtos/layers/points.md
  docs/howtos/layers/shapes.md
  docs/howtos/layers/surface.md
  docs/howtos/layers/tracks.md
  docs/howtos/layers/vectors.md
  docs/images/LLSM.gif
  docs/images/LLSM.webm
  docs/images/brain_surface.gif
  docs/images/brain_surface.webm
  docs/images/delete_label.gif
  docs/images/delete_label.webm
  docs/images/draw_component.gif
  docs/images/draw_component.webm
  docs/images/editing_points.gif
  docs/images/editing_points.webm
  docs/images/editing_shapes.gif
  docs/images/editing_shapes.webm
  docs/images/manual_label.gif
  docs/images/manual_label.webm
  docs/images/merge_labels.gif
  docs/images/merge_labels.webm
  docs/images/nD_shapes.gif
  docs/images/nD_shapes.webm
  docs/images/nD_vectors.gif
  docs/images/nD_vectors.webm
  docs/images/pathology.gif
  docs/images/pathology.webm
  docs/images/shape_resizing.gif
  docs/images/shape_resizing.webm
  docs/images/shape_vertex_editing.gif
  docs/images/shape_vertex_editing.webm
  docs/images/smFISH.gif
  docs/images/smFISH.webm
  docs/images/split_label.gif
  docs/images/split_label.webm
  docs/images/tracks_3d_t.gif
  docs/images/tracks_3d_t.webm
  docs/images/tracks_color_by.gif
  docs/images/tracks_color_by.webm
  docs/images/tracks_simple_demo.gif
  docs/images/tracks_simple_demo.webm
  docs/images/tracks_tail_length.gif
  docs/images/tracks_tail_length.webm
  docs/images/tracks_tail_width.gif
  docs/images/tracks_tail_width.webm
  docs/tutorials/fundamentals/quick_start.md
Labels: documentation

#4394 Split_channel makes base channel translucent, rest additive
  napari/components/_tests/test_multichannel.py
  napari/layers/utils/_tests/test_stack_utils.py
  napari/layers/utils/stack_utils.py
Labels: tests

#4379 Add napari.window to API docs
  docs/api/modules.rst
Labels: documentation

#4393 Add points size slider tooltip.
  napari/_qt/layer_controls/qt_points_controls.py
Labels: qt

#4363 Fix format string encoding for all numeric features
  napari/layers/utils/_tests/test_string_encoding.py
  napari/layers/utils/string_encoding.py
Labels: tests

#4299 Add NAP process for major proposals
  docs/naps/0-nap-process.md
  docs/naps/_static/nap-flowchart.png
  docs/naps/index.md
  docs/naps/template.md
Labels: documentation

#3965 singularity and docker container images from CI
  .github/workflows/docker-singularity-publish.yml
  MANIFEST.in
  Singularity
Labels: task

#4403 Move nap flowchart to lfs
  docs/naps/_static/nap-flowchart.png
Labels: documentation

#4369 Add function to show error in notification manager
  napari/utils/_tests/test_notification_manager.py
  napari/utils/notifications.py
Labels: tests

#4347 Update file opening behavior to ensure consistency across command line and GUI.
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/dialogs/_tests/test_reader_dialog.py
  napari/_qt/dialogs/_tests/test_reader_dialog_get_choice.py
  napari/_qt/dialogs/qt_reader_dialog.py
  napari/_qt/qt_viewer.py
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/conftest.py
  napari/errors/__init__.py
  napari/errors/reader_errors.py
  napari/plugins/_npe2.py
  napari/plugins/_tests/test_npe2.py
  napari/plugins/_tests/test_utils.py
  napari/plugins/utils.py
Labels: tests, qt

#4368 Allow resizing left dock widgets
  napari/_qt/qt_main_window.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_qt/qt_viewer.py
  napari/resources/icons/horizontal_separator.svg
  napari/resources/icons/vertical_separator.svg
Labels: design, qt

#4411 DOC Fix error in Using the image layer > A simple example
  docs/howtos/layers/image.md
Labels: documentation

#4407 Add naps to the TOC
  docs/_toc.yml
  docs/conf.py
  docs/naps/0-nap-process.md
  docs/naps/index.md
Labels: documentation

#4429 Fix docs warnings related to NAPs
  docs/conf.py
  docs/naps/0-nap-process.md
  docs/naps/template.md
Labels: documentation

#4418 DOC Small fixes in 'Using the image layer'
  docs/howtos/layers/image.md
Labels: documentation

#4416 add test for generate_3D_edge_meshes
  examples/dev/plot_2d_edge_meshes.py
  napari/layers/shapes/_tests/test_shapes_utils.py
Labels: tests

#4414 Use syntax highlighter when printing stacktrace in GUI
  napari/_qt/code_syntax_highlight.py
  napari/_qt/dialogs/qt_notification.py
  napari/_qt/dialogs/qt_plugin_report.py
  napari/plugins/exceptions.py
  napari/utils/_tracebacks.py
  napari/utils/notifications.py
  napari/utils/theme.py
  setup.cfg
Labels: qt

#4432 Fixes several sphinx warnings.
  docs/conf.py
  docs/tutorials/fundamentals/index.md
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/image/_image_constants.py
  napari/layers/points/points.py
  napari/layers/surface/surface.py
Labels: documentation

#4195 Use QFormLayout for layer control grid
  napari/_qt/layer_controls/_tests/test_qt_image_layer.py
  napari/_qt/layer_controls/qt_image_controls.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/layer_controls/qt_layer_controls_base.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/layer_controls/qt_shapes_controls.py
  napari/_qt/layer_controls/qt_surface_controls.py
  napari/_qt/layer_controls/qt_tracks_controls.py
  napari/_qt/layer_controls/qt_vectors_controls.py
  napari/_qt/menus/plugins_menu.py
  napari/_qt/qt_main_window.py
Labels: tests, qt

#4430 Add parser for Events section in docstrings
  docs/conf.py
  napari/utils/events/containers/_selection.py
Labels: documentation

#4433 Correctly order vispy layers on insertion
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_viewer.py
Labels: tests, qt

#4438 DOC Fix typo in 'Using the shapes layer'
  docs/howtos/layers/shapes.md
Labels: documentation

#4357 Add ColorEncoding privately with tests
  napari/layers/utils/_color_encoding.py
  napari/layers/utils/_tests/test_color_encoding.py
  napari/layers/utils/style_encoding.py
Labels: tests
