Repository napari/napari, pull requests merged in 2022-09, with the labels that each got.

#4993 Start adding a CODEOWNERS file.
  .github/CODEOWNERS
Labels: task

#4997 Explicit convert color to string when compile resources
  napari/_qt/qt_resources/_svg.py
  napari/resources/_icons.py
Labels: design, qt

#5005 Fix broken links in Napari Code of Conduct
  docs/community/code_of_conduct.md
  docs/community/code_of_conduct_reporting.md
Labels: documentation

#4999 Set fixpoint before move for shapes
  napari/layers/points/_points_mouse_bindings.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/_shapes_mouse_bindings.py
Labels: tests

#5012 MAINT: update issue failing template
  .github/TEST_FAIL_TEMPLATE.md
Labels: task

#4882 Add option for forcing plugin choice when opening files in the GUI
  napari/_qt/dialogs/qt_reader_dialog.py
  napari/_qt/menus/_tests/test_file_menu.py
  napari/_qt/menus/file_menu.py
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/qt_welcome.py
Labels: tests, qt

#4985 Fix throttled status updates by use `QSignalThrottler` in `_QtMainWindow` constructor
  napari/_qt/qt_main_window.py
  napari/_tests/test_multiple_viewers.py
  napari/components/viewer_model.py
  napari/utils/_testsupport.py
  setup.cfg
Labels: tests, qt

#5031 Add release notes for 0.4.17
  docs/release/release_0_4_17.md
Labels: documentation

#4954 Option to load all dock widgets
  napari/__main__.py
  napari/_qt/qt_main_window.py
Labels: qt

#5038 add #4954 to release notes
  docs/release/release_0_4_17.md
Labels: documentation

#5035 Ensure non-negative edge width
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: tests

#5028 Use Source object to track if a layer is duplicated
  napari/layers/_layer_actions.py
  napari/layers/_source.py
  napari/layers/_tests/test_layer_actions.py
  napari/layers/_tests/test_source.py
  napari/layers/base/base.py
Labels: tests

#4902 Add saving folders to preferences
  napari/_qt/dialogs/_tests/test_reader_dialog.py
  napari/_qt/dialogs/qt_reader_dialog.py
  napari/_qt/widgets/qt_extension2reader.py
  napari/components/viewer_model.py
  napari/plugins/_npe2.py
  napari/plugins/utils.py
Labels: tests, qt

#5018 Add option to edit second shortcut in settings
  examples/action_manager.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/widgets/_tests/test_shortcut_editor_widget.py
  napari/_qt/widgets/qt_keyboard_settings.py
  napari/components/viewer_model.py
  napari/settings/_shortcuts.py
  napari/utils/_tests/test_action_manager.py
  napari/utils/action_manager.py
Labels: feature, tests, qt, preferences

#4988 Update viewer screenshot in docs and make more prominent on napari.org
  docs/images/multichannel_cells.png
  docs/images/screenshot-add-image.png
  docs/index.md
Labels: documentation

#5049 Small shortcuts preference pane wording update after #5018
  napari/_qt/widgets/qt_keyboard_settings.py
Labels: qt

#5014 Add link to docs artifact to pull requests
  .github/workflows/artifacts.yml
  .github/workflows/build_docs.yml
Labels: task

#4928 Add napari.imshow to return viewer and layers
  napari/__init__.py
  napari/_tests/test_view_layers.py
  napari/_tests/test_viewer_layer_parity.py
  napari/view_layers.py
Labels: tests

#5045 add new PRs merged for 0.4.17 to release notes
  docs/release/release_0_4_17.md
Labels: documentation

#5059 update core dev group to remove Ziyang and Justine
  docs/community/team.md
Labels: documentation

#5050 Small changes to points defaults.
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: tests

#4875 Feature: Minimum blending
  docs/guides/layers.md
  examples/minimum_blending.py
  napari/_qt/layer_controls/_tests/test_qt_image_base_layer_.py
  napari/_qt/layer_controls/qt_image_controls.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/layer_controls/qt_layer_controls_base.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/layer_controls/qt_shapes_controls.py
  napari/_qt/layer_controls/qt_surface_controls.py
  napari/_qt/layer_controls/qt_tracks_controls.py
  napari/_qt/layer_controls/qt_vectors_controls.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_vispy/utils/gl.py
  napari/layers/base/_base_constants.py
  napari/layers/base/base.py
  napari/layers/image/_tests/test_image.py
  napari/utils/colormaps/__init__.py
  napari/utils/colormaps/colormap_utils.py
  napari/utils/colormaps/inverse_colormaps.py
Labels: feature, documentation, tests, design, qt

#5075 Fix the wrong guardian for the build tooltip when bind button
  napari/utils/action_manager.py
Labels: bugfix

#5054 Reverse order of plugin name and widget name
  napari/__main__.py
  napari/_qt/_tests/test_plugin_widgets.py
  napari/plugins/__init__.py
Labels: tests, qt, enhancement

#4913 Improve error message for a failed write
  napari/_qt/qt_viewer.py
  napari/plugins/_npe2.py
  napari/plugins/_tests/test_npe2.py
  napari/plugins/io.py
Labels: tests, qt

#5077 Add new core libraries to napari info
  napari/utils/info.py
Labels: maintanence

#4780 Add documentation about apply napari style to separate windows
  docs/api/modules.rst
  docs/plugins/best_practices.md
  examples/inherit_viewer_style.py
  napari/_qt/qt_resources/__init__.py
  napari/qt/__init__.py
  setup.cfg
Labels: documentation, design, qt

#4790 Fix point `experimental_canvas_size_limits` and set sane defaults
  napari/_vispy/_tests/test_vispy_points_layer.py
  napari/_vispy/filters/points_clamp_size.py
  napari/_vispy/layers/points.py
  napari/_vispy/visuals/markers.py
  napari/_vispy/visuals/points.py
  napari/layers/points/points.py
Labels: tests, enhancement, UI/UX

#5068 MAINT: Don't deprecate something that was never stable.
  napari/layers/image/image.py
Labels: maintanence

#5088 Bugfix: disable opacity slider for opaque blending
  docs/guides/layers.md
  napari/_qt/layer_controls/_tests/test_qt_image_base_layer_.py
  napari/_qt/layer_controls/qt_layer_controls_base.py
Labels: documentation, tests, qt, bugfix

#5037 MAINT: Update Future Warning.
  napari/_qt/_tests/test_qt_provide_theme.py
  napari/plugins/_tests/test_provide_theme.py
  napari/settings/_tests/test_settings.py
  napari/utils/_tests/test_theme.py
  napari/utils/theme.py
  pyproject.toml
Labels: tests, qt, preferences

#5086 Autorepeatable keybindings & keybindings for label brush size
  napari/_tests/test_viewer.py
  napari/layers/image/_image_key_bindings.py
  napari/layers/labels/_labels_key_bindings.py
  napari/layers/points/_points_key_bindings.py
  napari/layers/shapes/_shapes_key_bindings.py
  napari/layers/utils/layer_utils.py
  napari/utils/action_manager.py
  napari/utils/key_bindings.py
  napari/utils/shortcuts.py
Labels: feature, tests

#5082 Update some strings to be translated, some to be ignored
  napari/_qt/layer_controls/qt_layer_controls_base.py
  napari/_qt/widgets/qt_extension2reader.py
  napari/components/viewer_model.py
  napari/layers/_data_protocols.py
  napari/layers/base/base.py
  napari/layers/points/points.py
  napari/layers/utils/color_encoding.py
  napari/layers/utils/layer_utils.py
  napari/plugins/io.py
  napari/settings/_base.py
  napari/settings/_fields.py
  napari/utils/action_manager.py
  napari/utils/events/containers/_selectable_list.py
  napari/utils/transforms/transform_utils.py
  tools/string_list.json
Labels: qt, preferences

#5052 Proposal to accept NAP #4: asynchronous slicing
  docs/naps/4-async-slicing.md
Labels: documentation

#5008 Add linkcheck
  .github/workflows/build_docs.yml
  EULA.md
  Makefile
  docs/community/governance.md
  docs/community/mission_and_values.md
  docs/community/team.md
  docs/community/working_groups.md
  docs/conf.py
  docs/developers/benchmarks.md
  docs/developers/contributing.md
  docs/developers/core_dev_guide.md
  docs/developers/packaging.md
  docs/developers/profiling.md
  docs/developers/release.md
  docs/developers/testing.md
  docs/further-resources/glossary.md
  docs/guides/rendering-explanation.md
  docs/howtos/docker.md
  docs/howtos/layers/image.md
  docs/howtos/layers/labels.md
  docs/howtos/napari_imageJ.md
  docs/index.md
  docs/naps/0-nap-process.md
  docs/plugins/best_practices.md
  docs/plugins/test_deploy.md
  docs/release/release_0_3_0.md
  docs/release/release_0_3_5.md
  docs/release/release_0_4_11.md
  docs/release/release_0_4_7.md
  docs/roadmaps/0_3.md
  docs/roadmaps/0_3_retrospective.md
  docs/roadmaps/0_4.md
  docs/tutorials/annotation/annotate_points.md
  docs/tutorials/fundamentals/getting_started.md
  docs/tutorials/fundamentals/quick_start.md
  docs/tutorials/processing/dask.md
  docs/tutorials/tracking/cell_tracking.md
  napari/layers/__init__.py
  napari/plugins/__init__.py
Labels: documentation, task

#5099 Update links in NAP-2
  docs/naps/2-conda-based-packaging.md
Labels: documentation

#5058 Update v0.4.17.rc0 release notes
  docs/_toc.yml
  docs/release/release_0_4_17.md
Labels: documentation

#5108 Add extra garbage collection for some viewer tests
  napari/_tests/test_view_layers.py
Labels: tests, bugfix

#5110 Update release notes for v0.4.17rc1
  docs/release/release_0_4_17.md
Labels: documentation

#5112 Fix typestub and check manifest problems with build package
  .github/workflows/test_pull_requests.yml
  Makefile
  docs/release/release_0_4_17.md
  napari/utils/stubgen.py
  pyproject.toml
Labels: bugfix

#5115 Fix error with "None" key press
  napari/utils/key_bindings.py
Labels: bug, bugfix

#5119 Fix shortcuts deleting
  napari/_qt/widgets/qt_keyboard_settings.py
Labels: qt

#5133 Fix slow points
  examples/clipping_planes_interactive_.py
  napari/_vispy/layers/base.py
Labels: bugfix

#5121 Standardise file extension when reading
  napari/plugins/_tests/test_utils.py
  napari/plugins/utils.py
Labels: tests, bugfix

#5147 Update release notes for v0.4.17rc3
  docs/release/release_0_4_17.md
Labels: documentation

#5144 MAINT: comment out macos briefcase bundle
  .github/workflows/make_bundle.yml
Labels: maintanence

#5148 Use nightly.link to add comment to docs artifacts on PRs
  .github/workflows/artifacts.yml
Labels: task

#5117 Add HIP workshop to documentation/workshops
  docs/further-resources/napari-workshops.md
Labels: documentation

#5138 Refactor qt notification and its test solve problem of segfaults
  napari/_qt/_tests/test_qt_notifications.py
  napari/_qt/dialogs/qt_notification.py
Labels: tests, qt

#5041 MAINT: Remove unused function.
  napari/layers/utils/_tests/test_layer_utils.py
  napari/layers/utils/layer_utils.py
Labels: tests

#5043 MAINT: remove deprecated Alias.
  napari/resources/__init__.py
Labels: deprecation

#4987 Add examples to remote sample data & synthetic tests [for async work]
  codecov.yml
  examples/dev/slicing/README.md
  examples/dev/slicing/ebi_empiar_3D_with_labels.py
  examples/dev/slicing/janelia_s3_n5_multiscale.py
  examples/dev/slicing/points_example_smlm.py
  examples/dev/slicing/random_points.py
  examples/dev/slicing/random_shapes.py
  napari/benchmarks/benchmark_slicing.py
  setup.cfg
Labels: async

#5011 DOCS: Consolidate Makefiles
  Makefile
  docs/Makefile
Labels: documentation
