Repository napari/napari, pull requests merged in 2022-12, with the labels that each got.

#5275 Add ruff linter to pre-commit
  .pre-commit-config.yaml
  examples/3d_kymograph_.py
  examples/dev/gui_notifications.py
  examples/dev/slicing/random_shapes.py
  examples/dynamic-projections-dask.py
  examples/inherit_viewer_style.py
  examples/interaction_box_image.py
  examples/interaction_box_points.py
  examples/interactive_move_point_3d.py
  examples/points-over-time.py
  examples/progress_bar_segmentation_.py
  examples/scale_bar.py
  examples/surface_timeseries_.py
  examples/tiled-rendering-2d_.py
  napari/__init__.py
  napari/_qt/__init__.py
  napari/_qt/layer_controls/__init__.py
  napari/_tests/test_examples.py
  napari/_vispy/__init__.py
  napari/components/experimental/chunk/_commands/__init__.py
  napari/components/experimental/monitor/__init__.py
  napari/components/experimental/remote/__init__.py
  napari/components/overlays/__init__.py
  napari/errors/__init__.py
  napari/layers/base/__init__.py
  napari/layers/image/__init__.py
  napari/layers/image/experimental/__init__.py
  napari/layers/labels/__init__.py
  napari/layers/points/__init__.py
  napari/layers/shapes/__init__.py
  napari/layers/shapes/_shapes_models/__init__.py
  napari/layers/surface/__init__.py
  napari/layers/tracks/__init__.py
  napari/layers/vectors/__init__.py
  napari/resources/__init__.py
  napari/utils/__init__.py
  napari/utils/colormaps/__init__.py
  napari/utils/events/__init__.py
  napari/utils/perf/__init__.py
  napari/utils/settings/__init__.py
  napari/utils/transforms/__init__.py
  pyproject.toml
Labels: tests, qt

#5366 Bugfix plugin display_name use (File > Open Sample, Plugin menus)
  napari/_qt/menus/_tests/test_file_menu.py
  napari/_qt/menus/_tests/test_plugins_menu.py
  napari/_qt/menus/file_menu.py
  napari/_qt/menus/plugins_menu.py
  napari/conftest.py
  napari/plugins/_npe2.py
  napari/plugins/_tests/test_npe2.py
Labels: tests, qt

#5387 Calculate text positions for constant strings
  napari/_vispy/_tests/test_vispy_points_layer.py
  napari/_vispy/_tests/test_vispy_shapes_layer.py
  napari/layers/shapes/shapes.py
Labels: tests

#5334 Shapes interpolation
  napari/layers/shapes/_shapes_models/_polgyon_base.py
  napari/layers/shapes/_shapes_models/_tests/test_shapes_models.py
  napari/layers/shapes/_shapes_models/path.py
  napari/layers/shapes/_shapes_models/polygon.py
Labels: tests

#5150 Workaround for discover themes from plugins
  examples/new_theme.py
  napari/_qt/_tests/test_qt_window.py
  napari/components/viewer_model.py
  napari/plugins/__init__.py
  napari/plugins/_plugin_manager.py
  napari/resources/_icons.py
  napari/settings/_fields.py
  napari/settings/_tests/test_settings.py
  napari/utils/_tests/test_theme.py
  napari/utils/_testsupport.py
  napari/utils/theme.py
Labels: tests, qt, preferences

#5405 Update build_docs workflow
  .github/workflows/build_docs.yml
Labels: task

#4505 Warn instead of failing on empty or invalid alt-text
  napari/_tests/test_notebook_display.py
  napari/utils/notebook_display.py
Labels: tests, bugfix

#5406 Fix test keybinding for layer actions
  napari/_qt/widgets/qt_keyboard_settings.py
  napari/_tests/test_viewer.py
  napari/layers/image/_image_key_bindings.py
  napari/utils/action_manager.py
  napari/utils/shortcuts.py
Labels: tests, qt, bugfix

#5399 Feature: making the Help menu more helpful via weblinks (re-do of #5094)
  napari/_app_model/_app.py
  napari/_app_model/_tests/test_help_menu_urls.py
  napari/_app_model/actions/_help_actions.py
  napari/_app_model/constants/_commands.py
  napari/_qt/_qapp_model/qactions/_help.py
Labels: tests, qt, gui, UI/UX

#5412 fix theme id not being used correctly
  napari/_qt/_tests/test_qt_window.py
  napari/_qt/qt_resources/__init__.py
  napari/_qt/qt_resources/styles/00_base.qss
  napari/_qt/qt_resources/styles/01_buttons.qss
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/plugins/_plugin_manager.py
  napari/utils/_tests/test_theme.py
  napari/utils/theme.py
Labels: tests, design, plugins, qt, bugfix

#5414 Fix flaky dims playback test by waiting for playing condition
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_qt/widgets/qt_dims.py
  napari/_qt/widgets/qt_dims_slider.py
Labels: tests, qt

#5401 Workaround Qt bug on Windows with fullscreen mode in some screen resolutions/scaling configurations
  napari/_qt/qt_main_window.py
Labels: qt

#5307 PERF: Event emissions and perf regression.
  napari/utils/events/event.py
  napari/utils/events/evented_model.py
Labels: performance

#5424 Wait until a blocked test task is actually running
  napari/components/_tests/test_layer_slicer.py
Labels: tests

#5381 Add parent when creating layer context menu to inherit application theme and add style entry for disabled widgets and menus
  napari/_qt/containers/_layer_delegate.py
  napari/_qt/qt_resources/styles/00_base.qss
  napari/_qt/qt_resources/styles/02_custom.qss
Labels: design, qt

#5124 Clarify package installer interface with abstract base class, and Pip/Conda subclasses (continued)
  napari/_qt/dialogs/_tests/test_installer_process.py
  napari/_qt/dialogs/qt_package_installer.py
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/utils/misc.py
  setup.cfg
  tools/string_list.json
  tox.ini
Labels: tests, design, qt
