Repository napari/napari, pull requests merged in 2022-11, with the labels that each got.

#5295 Update release notes for v0.4.17rc7
  docs/release/release_0_4_17.md
Labels: documentation

#5195 Add option to check if plugin try to set viewer attr outside main thread
  napari/_qt/_tests/test_proxy_fixture.py
  napari/_qt/_tests/test_qt_utils.py
  napari/_qt/utils.py
  napari/conftest.py
  napari/plugins/_tests/test_npe2.py
  napari/utils/_proxies.py
  napari/utils/_tests/test_proxies.py
  napari/utils/_testsupport.py
Labels: feature, tests, qt

#5270 Respect background color when calculating scale bar color
  napari/_vispy/_tests/test_vispy_scale_bar_visual.py
  napari/_vispy/overlays/scale_bar.py
Labels: tests

#5170 Add layer slicer base class for async slicing
  napari/components/_layer_slicer.py
  napari/components/_tests/test_layer_slicer.py
Labels: tests

#5285 DOC Fix actions file docstrings
  napari/_app_model/actions/_view_actions.py
  napari/_qt/_qapp_model/qactions/_help.py
  napari/_qt/_qapp_model/qactions/_view.py
Labels: qt

#5287 Do not use random shapes in napari_builtins conftest fixtures
  napari_builtins/_tests/conftest.py
Labels: tests

#5262 UI Bugfix: Make disabled QPushButton more distinct
  napari/_qt/qt_resources/styles/00_base.qss
Labels: design, bugfix

#5215 Volume rendering updates for isosurface and attenuated MIP
  napari/_qt/layer_controls/qt_image_controls.py
  napari/_vispy/layers/image.py
  napari/_vispy/visuals/volume.py
  napari/components/viewer_model.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/image.py
  napari/view_layers.py
Labels: tests, qt

#5213 Disable napari-console button when launched from jupyter
  napari/_qt/qt_main_window.py
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/qt_viewer_buttons.py
Labels: qt

#5310 Pin mypy version
  .github/dependabot.yml
  .github/workflows/test_typing.yml
  resources/requirements_mypy.txt
Labels: task, dependencies

#5259 Image slice request and response for async slicing
  napari/components/_layer_slicer.py
  napari/components/_tests/test_layer_slicer.py
  napari/components/_tests/test_world_coordinates.py
  napari/layers/base/base.py
  napari/layers/image/_slice.py
  napari/layers/image/image.py
  napari/layers/utils/_slice_input.py
Labels: tests, async, run-benchmarks

#5315 Much faster FormatStringEncoding
  napari/layers/utils/string_encoding.py
Labels: performance

#5331 tests: remove private magicgui access in tests
  napari/_tests/test_magicgui.py
Labels: tests

#5309 update benchmark ci
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_report.yml
  napari/benchmarks/benchmark_qt_slicing.py
Labels: task, run-benchmarks

#5093 Bugfix: Move Window menu to be before Help
  napari/_qt/qt_main_window.py
Labels: qt, UI/UX

#5337 Fix repeating close dialog on macOS and qt 5.12
  napari/_qt/qt_main_window.py
Labels: qt

#5277 Run tests on release branch
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_pull_requests.yml
Labels: task

#5305 Use plugin display_name for widget parent menu
  napari/plugins/_npe2.py
  napari/plugins/_tests/test_npe2.py
Labels: tests, ui change, UI/UX

#5234 MAINT: remove requirements.txt and cache actions based on setup.cfg.
  .github/workflows/benchmarks.yml
  .github/workflows/build_docs.yml
  .github/workflows/make_bundle.yml
  .github/workflows/make_release.yml
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_prereleases.yml
  .github/workflows/test_pull_requests.yml
  .github/workflows/test_translations.yml
  .github/workflows/test_typing.yml
  requirements.txt
Labels: task

#5320 Fix track ids features ordering for unordered tracks
  napari/layers/tracks/_tests/test_tracks.py
  napari/layers/tracks/_track_utils.py
Labels: tests

#5354 Unset `PYTHON*` vars and use entitlements in macOS conda menu shortcut
  resources/conda_menu_config.json
Labels: bundle

#5351 For npe2 plugin, use manifest display_name for File > Open Samples
  napari/plugins/_npe2.py
  napari/plugins/_tests/test_npe2.py
Labels: tests

#5329 Add scikit-image[data] to install_requires, because it's required by builtins
  setup.cfg
Labels: installation

#5350 Disable napari-console if napari launched from vanilla python REPL
  napari/_qt/qt_main_window.py
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/utils/misc.py
Labels: qt

#5357 Fully specify cache path in pip install job
  .github/workflows/test_comprehensive.yml
Labels: task

#5321 Fix text label translation
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
  napari/layers/utils/_tests/test_text_manager.py
  napari/layers/utils/text_manager.py
Labels: tests

#5066 MAINT: Remove QtStateButton, marked for removal in 0.4.14
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/qt/__init__.py
Labels: qt
