Repository napari/napari, pull requests merged in 2023-01, with the labels that each got.

#5143 Decouple changing viewer.theme from changing theme settings/preferences
  napari/_qt/_tests/test_qt_provide_theme.py
  napari/_qt/qt_main_window.py
  napari/components/_tests/test_viewer_keybindings.py
  napari/components/_viewer_key_bindings.py
  napari/utils/_tests/test_theme.py
Labels: tests, qt, gui, UI/UX

#5447 Fix theme reference to get image for `success_label` style
  napari/_qt/qt_resources/styles/02_custom.qss
Labels: design

#5453 Add auto canceling previous test after a new PR commit
  .github/workflows/deploy_docs.yml
  .github/workflows/make_bundle.yml
  .github/workflows/test_pull_requests.yml
Labels: task

#5442 Add `error` color to themes and change application close/exit dialogs
  napari/_qt/dialogs/confirm_close_dialog.py
  napari/_qt/qt_resources/styles/01_buttons.qss
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/resources/_icons.py
  napari/utils/theme.py
Labels: design, qt

#5456 Bugfix: Fix test_get_system_theme test for `name` to `id` change
  examples/new_theme.py
  napari/utils/_tests/test_theme.py
Labels: tests

#5449 Bugfix: Ensure layer._fixed_vertex is set when rotating
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/_tests/test_shapes_mouse_bindings.py
Labels: tests

#5446 Apply disabled widgets style only for menus and set menus styles for `QModelMenu` and `QMenu` instances
  napari/_qt/qt_resources/styles/00_base.qss
  napari/_qt/qt_resources/styles/02_custom.qss
Labels: design

#5383 Fix editing shape data above 2 dimensions
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
Labels: tests

#5435 Clean up layer slicer before integration with viewer
  napari/components/_layer_slicer.py
  napari/components/_tests/test_layer_slicer.py
  napari/layers/image/_slice.py
  napari/layers/image/image.py
  napari/layers/points/_slice.py
  napari/layers/points/points.py
  napari/utils/_dask_utils.py
Labels: tests

#5208 Set keyboard focus on console when opened
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_prereleases.yml
  .github/workflows/test_pull_requests.yml
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/qt_viewer_dock_widget.py
  napari/utils/_testsupport.py
Labels: tests, qt, task

#5471 Maint: Fix sporadic QtDims garbage collection failures by converting some stray references to weakrefs
  napari/_qt/widgets/qt_dims_slider.py
Labels: qt

#5467 Bugfix: POLL_INTERVAL_MS used in QTimer needs to be an int on python 3.10
  napari/_qt/experimental/qt_poll.py
Labels: qt

#5469 Add disabled style rule for `QComboBox` following the one for `QPushButton`
  napari/_qt/qt_resources/styles/00_base.qss
Labels: design, qt

#5478 Replace GabrielBB/xvfb-action
  .github/workflows/build_docs.yml
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_prereleases.yml
  .github/workflows/test_pull_requests.yml
  .pre-commit-config.yaml
  napari/_qt/_tests/test_qt_viewer.py
  napari/utils/_testsupport.py
Labels: tests, qt, task

#5474 Allow layers control section to resize to contents
  napari/_qt/_tests/test_qt_notifications.py
  napari/_qt/_tests/test_qt_provide_theme.py
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/layer_controls/qt_layer_controls_container.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/layers/image/experimental/_tests/test_octree_import.py
Labels: tests, design, qt

#5491 Remove layer ndisplay event
  napari/_qt/layer_controls/_tests/test_qt_image_layer.py
  napari/_qt/layer_controls/qt_image_controls.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/layer_controls/qt_layer_controls_base.py
  napari/_qt/layer_controls/qt_layer_controls_container.py
  napari/_qt/layer_controls/qt_vectors_controls.py
  napari/layers/base/base.py
Labels: tests, qt

#5451 Refactor Main Window status bar to improve information presentation
  napari/_qt/widgets/qt_viewer_status_bar.py
Labels: qt

#5480 Bugfix: Add missing Enums and Flags required by PySide6 > 6.4
  .github/workflows/test_pull_requests.yml
  napari/_qt/code_syntax_highlight.py
  napari/_qt/containers/_base_item_view.py
  napari/_qt/containers/_layer_delegate.py
  napari/_qt/containers/_tests/test_qt_list.py
  napari/_qt/containers/_tests/test_qt_tree.py
  napari/_qt/widgets/qt_plugin_sorter.py
  napari/_qt/widgets/qt_viewer_dock_widget.py
Labels: tests, qt, task

#5499 Handle case when QtDims play thread is partially deleted
  napari/_qt/_tests/test_threading_progress.py
  napari/_qt/widgets/qt_dims.py
Labels: tests, qt, bugfix

#5496 Fix conda avaliability check
  napari/_qt/dialogs/qt_package_installer.py
Labels: qt

#5504 MAINT: Don't format logs in log call
  napari/_qt/containers/qt_list_model.py
  napari/_qt/qt_viewer.py
  napari/components/_layer_slicer.py
  napari/plugins/io.py
  napari/utils/events/containers/_nested_list.py
Labels: qt
