Repository napari/napari, pull requests merged in 2023-02, with the labels that each got.

#5492 Fix opening file dialogs in PySide
  napari/_qt/qt_viewer.py
Labels: qt

#5413 Clarify layer's editable property and separate interaction with visible property
  napari/_qt/containers/_tests/test_qt_layer_list.py
  napari/_qt/containers/qt_layer_model.py
  napari/_qt/layer_controls/_tests/test_qt_layer_controls.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/layer_controls/qt_shapes_controls.py
  napari/_qt/utils.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/labels/labels.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/surface.py
  napari/layers/tracks/tracks.py
  napari/layers/vectors/vectors.py
Labels: tests, qt

#5101 Add show_debug notification
  napari/utils/_tests/test_notification_manager.py
  napari/utils/notifications.py
Labels: feature, tests

#5495 MAINT: add time limit for CI.
  .github/workflows/test_pull_requests.yml
Labels: task

#5181 Update vendoring tool to check on matplotlib colormap
  tools/check_vendored_modules.py
Labels: maintanence

#5525 Use pytest-pretty for better log readability
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_prereleases.yml
  .github/workflows/test_pull_requests.yml
  napari/_tests/test_pytest_plugin.py
  setup.cfg
  tox.ini
Labels: tests, task, ready for merge

#5539 Fix key error issue of action manager
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/layers/labels/_labels_key_bindings.py
Labels: qt, bugfix, ready for merge

#5531 Set PYTHONEXECUTABLE as part of macos fixes on (re)startup
  napari/__main__.py
Labels: installation, bugfix, ready for merge

#5533 Un-set unified title and tool bar on mac (Qt property)
  napari/_qt/qt_main_window.py
Labels: qt, bugfix, Qt6, ready for merge

#5548 Fix `test_worker_with_progress` by wait on worker end
  napari/_qt/_tests/test_threading_progress.py
Labels: tests, qt, bugfix, ready for merge

#5557 Bugfix: PR build of docs doesn't use proper napari versioning for substitutions
  .github/workflows/build_docs.yml
Labels: documentation, bugfix, github_actions, ready for merge

#5560 Fix min req
  napari/_qt/_tests/test_qt_viewer.py
  setup.cfg
  tools/minreq.py
Labels: tests, qt, bugfix, ready for merge

#5541 Bugfix: ensure Checkbox state comparisons are correct by using Qt.CheckState(state)
  napari/_qt/containers/qt_layer_model.py
  napari/_qt/layer_controls/_tests/test_qt_labels_layer.py
  napari/_qt/layer_controls/_tests/test_qt_shapes_layer.py
  napari/_qt/layer_controls/_tests/test_qt_vectors_layer.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/layer_controls/qt_shapes_controls.py
  napari/_qt/layer_controls/qt_vectors_controls.py
Labels: tests, qt, bugfix, Qt6, ready for merge

#5482 BugFix: napari does not start with Python v3.11.1: "ValueError: A distribution name is required."
  napari/utils/misc.py
Labels: bugfix, ready for merge

#5490 Add dask settings to preferences
  napari/_qt/dialogs/_tests/test_preferences_dialog.py
  napari/_qt/dialogs/preferences_dialog.py
  napari/_qt/qt_viewer.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/form.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/widgets.py
  napari/settings/_application.py
Labels: tests, qt, preferences, ready for merge

#5564 update conda_menu_config.json for latest fixes in menuinst
  resources/conda_menu_config.json
Labels: bundle, ready for merge

#5501 Ensure surface normals and wireframes are using Models internally
  napari/layers/surface/_tests/test_surface.py
  napari/layers/surface/surface.py
Labels: tests, ready for merge

#5571 Fix colormap utils error suggestion code and add a test
  napari/utils/colormaps/_tests/test_colormaps.py
  napari/utils/colormaps/colormap_utils.py
Labels: tests, ready for merge

#5565 Fix vispy axes labels
  napari/_qt/_tests/test_qt_viewer.py
  napari/_vispy/_tests/test_vispy_axes_overlay.py
  napari/_vispy/_tests/test_vispy_image_layer.py
  napari/_vispy/_tests/utils.py
  napari/_vispy/overlays/axes.py
Labels: tests, qt, ready for merge

#5487 Fix inverted LUT and blending
  napari/_qt/qt_viewer.py
  napari/_tests/test_with_screenshot.py
  napari/_vispy/layers/base.py
  napari/_vispy/utils/gl.py
Labels: tests, qt, ready for merge

#5580 FIX: Fix --pre skimage that have a more precise warning message
  napari/utils/colormaps/colormap_utils.py
Labels: ready for merge

#5562 Fix translation checks in CI
  napari/components/camera.py
  napari/components/dims.py
  napari/components/viewer_model.py
  napari/layers/_source.py
  napari/layers/image/_image_key_bindings.py
  napari/layers/labels/_labels_key_bindings.py
  napari/layers/points/_points_key_bindings.py
  napari/layers/shapes/_shapes_key_bindings.py
  napari/layers/utils/color_encoding.py
  napari/layers/utils/color_manager.py
  napari/layers/utils/plane.py
  napari/layers/utils/text_manager.py
  napari/settings/_application.py
  napari/settings/_shortcuts.py
  napari/utils/colormaps/colormap.py
  napari/utils/theme.py
  pyproject.toml
  tools/string_list.json
  tools/test_strings.py
Labels: preferences

#5566 Enable the `COM` and `SIM` rules in `ruff` configuration
  examples/live_tiffs_generator_.py
  napari/_app_model/constants/_commands.py
  napari/_lazy.py
  napari/_qt/_tests/test_sigint_interupt.py
  napari/_qt/code_syntax_highlight.py
  napari/_qt/dialogs/_tests/test_activity_dialog.py
  napari/_qt/dialogs/qt_package_installer.py
  napari/_qt/dialogs/qt_plugin_report.py
  napari/_qt/layer_controls/qt_image_controls_base.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/menus/plugins_menu.py
  napari/_qt/widgets/qt_keyboard_settings.py
  napari/_tests/test_advanced.py
  napari/_tests/test_view_layers.py
  napari/_vispy/layers/surface.py
  napari/components/_tests/test_viewer_keybindings.py
  napari/components/experimental/chunk/_loader.py
  napari/components/grid.py
  napari/components/viewer_model.py
  napari/conftest.py
  napari/layers/_tests/test_serialize.py
  napari/layers/base/_base_mouse_bindings.py
  napari/layers/base/base.py
  napari/layers/image/experimental/_octree_loader.py
  napari/layers/image/experimental/octree_image.py
  napari/layers/image/image.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/_tests/test_shapes_mouse_bindings.py
  napari/layers/shapes/shapes.py
  napari/layers/tracks/tracks.py
  napari/layers/utils/_tests/test_text_manager.py
  napari/layers/utils/color_manager.py
  napari/layers/utils/layer_utils.py
  napari/layers/vectors/vectors.py
  napari/plugins/utils.py
  napari/utils/_tests/test_progress.py
  napari/utils/_tests/test_theme.py
  napari/utils/_testsupport.py
  napari/utils/action_manager.py
  napari/utils/colormaps/categorical_colormap.py
  napari/utils/colormaps/colormap_utils.py
  napari/utils/events/event.py
  napari/utils/geometry.py
  napari/utils/interactions.py
  napari/utils/misc.py
  napari/utils/stubgen.py
  napari/utils/transforms/transform_utils.py
  napari/utils/translations.py
  pyproject.toml
  tools/test_strings.py
Labels: tests, qt, ready for merge

#5593 Fix guard of qt import in `napari.utils.theme`
  napari/utils/theme.py
Labels: bugfix
