Repository napari/napari, pull requests merged in 2023-12, with the labels that each got.

#6467 Use views rather than CPU-based hashing for 8- and 16-bit Labels data
  .github/workflows/reusable_pip_test.yml
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_viewer.py
  napari/_vispy/_tests/test_vispy_labels_layer.py
  napari/_vispy/layers/image.py
  napari/_vispy/layers/labels.py
  napari/benchmarks/benchmark_labels_layer.py
  napari/benchmarks/benchmark_qt_viewer_labels.py
  napari/conftest.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/utils/colormaps/_tests/test_colormap.py
  napari/utils/colormaps/_tests/test_colormap_utils.py
  napari/utils/colormaps/colormap.py
  napari/utils/colormaps/colormap_utils.py
  setup.cfg
Labels: tests, qt, task, run-benchmarks, bugfix, ready to merge

#6493 Do not use native dialog for reset shortcuts
  napari/_qt/dialogs/preferences_dialog.py
  napari/_qt/widgets/qt_keyboard_settings.py
Labels: qt, preferences, bugfix, ready to merge

#6361 Typing: Fully type 5 more files
  napari/_qt/utils.py
  napari/_vispy/utils/gl.py
  napari/layers/utils/plane.py
  napari/utils/_proxies.py
  napari/utils/info.py
  napari/utils/naming.py
  pyproject.toml
Labels: qt, maintenance, typing

#6419 Pass key event from Main window to our internal mechanism
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_main_window.py
Labels: tests, qt, bugfix, ready to merge

#6507 Pass key event from Main window to our internal mechanism v0.4.19
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_main_window.py
Labels: tests, qt, bugfix, ready to merge

#6526 Restore quit shortcut
  napari/_qt/_qapp_model/qactions/_file.py
Labels: qt, bugfix, ready to merge

#6530 Add copy operator to fix memory benchmarks
  napari/benchmarks/benchmark_labels_layer.py
  napari/layers/base/base.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/surface/_tests/test_surface.py
  napari/layers/surface/surface.py
  napari/utils/colormaps/colormap.py
Labels: tests, run-benchmarks, maintenance, ready to merge

#6523 Reset single step and decimals on reset range slider in popup
  napari/_qt/layer_controls/qt_image_controls_base.py
Labels: qt, bugfix, ready to merge

#6439 Update performance and reduce memory usage for big Labels layer in direct color mode
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/_tests/test_qt_viewer_2.py
  napari/_vispy/_tests/test_vispy_labels.py
  napari/_vispy/layers/image.py
  napari/_vispy/layers/labels.py
  napari/benchmarks/benchmark_qt_viewer_labels.py
  napari/conftest.py
  napari/layers/image/image.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/utils/colormaps/_tests/test_colormap.py
  napari/utils/colormaps/_tests/test_colormaps.py
  napari/utils/colormaps/colormap.py
Labels: tests, performance, qt, task, run-benchmarks, bugfix, ready to merge

#6538 MNT: Use `partial` in samples menu to avoid leaking
  napari/plugins/_npe2.py
Labels: maintenance, ready to merge

#6525 Add `_block_refresh()` to layers
  napari/layers/_tests/test_layer_attributes.py
  napari/layers/base/base.py
Labels: tests, qt, maintenance, ready to merge

#6460 Fix label color shuffling by also updating colormap size
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/utils/colormaps/colormap_utils.py
Labels: tests, bugfix, ready to merge

#6540 Check in LabelColormap that fewer than 2**16 colors are requested
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/utils/colormaps/_tests/test_colormap.py
  napari/utils/colormaps/_tests/test_colormap_utils.py
  napari/utils/colormaps/colormap.py
  napari/utils/colormaps/colormap_utils.py
Labels: tests, maintenance

#6548 Moving IntensityVisualizationMixin from _ImageBase to Image
  napari/_vispy/layers/image.py
  napari/_vispy/layers/labels.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/labels/_labels_key_bindings.py
  napari/layers/labels/_tests/test_labels_key_bindings.py
  napari/layers/labels/_tests/test_labels_multiscale.py
  napari/layers/labels/labels.py
  napari/utils/events/evented_model.py
Labels: tests, maintenance, ready to merge

#6553 Minimal changes for mlx (and jax) compatibility for Image layers
  napari/_app_model/context/_layerlist_context.py
  napari/_qt/layer_controls/qt_image_controls_base.py
Labels: qt, maintenance, ready to merge

#6549 Print a whole stack if throttler is not finished
  napari/conftest.py
Labels: maintenance, ready to merge

#6558 Fix generation of layer creation functions docstrings
  napari/utils/_register.py
Labels: documentation, ready to merge

#6545 Fix check if plugin is available from conda
  napari/plugins/npe2api.py
Labels: bugfix, ready to merge

#6532 Add creating image from clipboard
  napari/_app_model/constants/_commands.py
  napari/_qt/_qapp_model/qactions/_file.py
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/qt_welcome.py
Labels: feature, qt, UI/UX, highlight, ready to merge
