Repository napari/napari, pull requests merged in 2023-03, with the labels that each got.

#5587 Remove napari-hub API access code
  napari/_qt/dialogs/_tests/test_qt_plugin_dialog.py
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/plugins/_tests/test_hub.py
  napari/plugins/hub.py
  napari/plugins/pypi.py
  napari/settings/_plugins.py
  tools/string_list.json
Labels: tests, qt, preferences, ready for merge

#5586 Remove leftover duplicated code
  napari/layers/image/_image_key_bindings.py
Labels: ready for merge

#5596 Stop using removed multichannel= kwarg to skimage functions
  examples/add_multiscale_image.py
  examples/labels-2d.py
  examples/nD_multiscale_image.py
  examples/nD_multiscale_image_non_uniform.py
Labels: maintanence, ready for merge

#5602 Add information about `syntax_style` value in error message for theme validation
  napari/utils/theme.py
Labels: bugfix, ready for merge

#5578 Move from ubuntu 18.04 to ubuntu 20.04 in workflows
  .github/workflows/make_bundle.yml
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_pull_requests.yml
Labels: task, ready for merge

#5577 Fix problem of missing plugin widgets after minimize napari
  napari/_qt/widgets/qt_viewer_dock_widget.py
Labels: qt, bugfix, ready for merge

#5605 Incorret theme should not prevent napari from start
  napari/utils/_tests/test_theme.py
  napari/utils/theme.py
Labels: tests, bugfix, ready for merge

#5597 Maint: Add time limit to --pre and comprehensive tests.
  .github/workflows/build_docs.yml
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_prereleases.yml
Labels: task, maintanence, ready for merge

#5130 expose custom image interpolation kernels
  examples/image_custom_kernel.py
  napari/_vispy/_tests/test_image_rendering.py
  napari/_vispy/layers/image.py
  napari/components/viewer_model.py
  napari/layers/image/_image_constants.py
  napari/layers/image/image.py
  napari/layers/utils/stack_utils.py
  napari/view_layers.py
Labels: feature, tests, api, ready for merge

#5198 Update plugin dialog design & functionality to add conda install
  binder/environment.yml
  napari/_qt/dialogs/_tests/test_qt_plugin_dialog.py
  napari/_qt/dialogs/qt_package_installer.py
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/_qt/menus/plugins_menu.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/plugins/npe2api.py
  resources/requirements_mypy.txt
  setup.cfg
Labels: tests, design, qt, ready for merge

#5494 Add digital watermark to napari PNG screenshots
  binder/environment.yml
  napari/_qt/qt_main_window.py
  napari/_tests/test_notebook_display.py
  napari/utils/io.py
  napari/utils/notebook_display.py
  setup.cfg
Labels: tests, qt

#5624 Bugfix: ensure `tool` is set to conda for conda-installed packages
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: plugins, qt

#5637 Fix waiting for multiple signals in threading progress bar test
  napari/_qt/_tests/test_threading_progress.py
Labels: tests, qt

#5622 Bugfix (macOS): Remove PYTHONEXECUTABLE from `env` for conda installs
  napari/_qt/dialogs/qt_package_installer.py
Labels: qt, bugfix, ready for merge

#5537 MAINT: Fix vendoring script and track closest commit.
  napari/utils/colormaps/vendored/_cm_listed.py
  napari/utils/colormaps/vendored/cm.py
  tools/check_vendored_modules.py
Labels: maintanence, ready for merge

#5631 Unblock axis labels event to be emitted when slider label changes
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_qt/widgets/qt_dims.py
  napari/_qt/widgets/qt_dims_slider.py
Labels: bug, tests, qt

#5640 Change dim `axis_label` resize logic to set width using only displayed labels width
  napari/_qt/widgets/qt_dims.py
Labels: qt, bugfix, ready for merge

#5646 Fix features issues with init param and property setter
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
  napari/layers/utils/_tests/test_layer_utils.py
  napari/layers/utils/layer_utils.py
  napari/layers/vectors/_tests/test_vectors.py
  napari/layers/vectors/vectors.py
Labels: tests, bugfix, ready for merge

#5683 Skip pyside6 version 6.4.3 for tests
  tox.ini
Labels: maintanence
