Repository napari/napari, pull requests merged in 2023-08, with the labels that each got.

#6058 Fix `_add_sample` sample data callback to show all readers
  napari/_qt/dialogs/_tests/test_reader_dialog.py
  napari/_qt/menus/file_menu.py
Labels: tests, qt, bugfix, ready for merge

#6095 Extend "No Qt bindings found" error message with details about conda
  napari/_qt/__init__.py
Labels: qt, enhancement, ready for merge

#6066 Add test for `QtToolTipEventFilter`
  napari/_qt/_tests/test_qt_event_filters.py
Labels: tests, qt, maintenance, ready for merge

#5607 Add `font-size` to theme
  examples/new_theme.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_resources/styles/00_base.qss
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/utils/_tests/test_theme.py
  napari/utils/theme.py
Labels: tests, design, qt, enhancement, ready for merge

#6110 Pass `QT_QPA_PLATFORM` through tox configuration
  tox.ini
Labels: maintenance

#6108 DOC Amend `open_sample` docstring str->URI
  napari/components/viewer_model.py
Labels: documentation, ready for merge

#5988 Add docs constraints file
  .circleci/config.yml
  .github/workflows/build_docs.yml
  .github/workflows/upgrade_test_constraints.yml
  resources/constraints/constraints_py3.10_docs.txt
Labels: task, maintenance, ready for merge

#6103 Exclude ... from coverage
  setup.cfg
Labels: maintenance, ready for merge

#6102 Automatic recognition of hex colour strings in layer data
  napari/utils/colormaps/_tests/test_colormaps.py
  napari/utils/colormaps/colormap.py
  napari/utils/colormaps/colormap_utils.py
Labels: feature, tests, ready for merge

#6117 Emit event from points data setter
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: tests, bugfix, ready for merge

#6131 Remove unused parameters from private function.
  napari/_qt/widgets/qt_keyboard_settings.py
Labels: qt, maintenance, ready to merge

#6139 Fix PR html stripping workflow
  .github/workflows/edit_pr_description.yml
  tools/remove_html_comments_from_pr.py
Labels: task, bugfix, github_actions

#6144 Update PR editing script to remove html.
  .github/workflows/edit_pr_description.yml
  tools/remove_html_comments_from_pr.py
Labels: task, maintenance

#6097 Install napari from repository in docker image
  .github/workflows/docker-singularity-publish.yml
  dockerfile
Labels: task, ci, bugfix, github_actions, ready to merge

#6075 Reduce comparison in evented model
  napari/_vispy/canvas.py
  napari/benchmarks/benchmark_evented_model.py
  napari/utils/events/_tests/test_evented_model.py
  napari/utils/events/event.py
  napari/utils/events/evented_model.py
Labels: tests, run-benchmarks, enhancement, ready to merge

#6123 Update README.md for conda install change
  README.md
Labels: documentation, ready to merge

#6133 Use faster version of black
  .pre-commit-config.yaml
Labels: maintenance, ready to merge

#6150 Update PR editing action script to remove double empty lines in PR description
  tools/remove_html_comments_from_pr.py
Labels: maintenance

#5897 MAINT: Fix more typing and enable mypy on more files.
  napari/__main__.py
  napari/_app_model/_app.py
  napari/_app_model/actions/_layer_actions.py
  napari/_app_model/constants/_commands.py
  napari/_qt/__init__.py
  napari/_qt/_qapp_model/_menus.py
  napari/_qt/containers/_base_item_model.py
  napari/_qt/containers/qt_list_view.py
  napari/_qt/containers/qt_tree_view.py
  napari/_qt/menus/window_menu.py
  napari/_vispy/visuals/clipping_planes_mixin.py
  napari/plugins/npe2api.py
  napari/utils/geometry.py
  napari/utils/theme.py
  pyproject.toml
Labels: qt, maintenance, ready to merge

#6161 Fix headless test
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_pull_requests.yml
  tox.ini
Labels: task, maintenance, ready to merge

#6134 Emit event from Shapes data setter
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
Labels: tests, bugfix, ready to merge

#6080 A few small improvements to async slicing
  napari/_qt/qt_viewer.py
  napari/components/_layer_slicer.py
  napari/components/_tests/test_layer_slicer.py
Labels: tests, async, qt, bugfix, ready to merge

#6092 Reduce noise in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: task, maintenance, ready to merge

#6057 Add basic tests for the `ScreenshotDialog` widget and fixes
  napari/_qt/dialogs/_tests/test_screenshot_dialog.py
  napari/_qt/dialogs/screenshot_dialog.py
Labels: tests, qt, bugfix, ready to merge

#6166 Enable type-checking for `napari.components.experimental`.
  pyproject.toml
Labels: maintenance, ready to merge

#6169 Fix and enable typing of selectable lists
  napari/utils/events/containers/_selectable_list.py
  pyproject.toml
Labels: maintenance, ready to merge

#6155 Fix incorrect types in color_transformations.
  napari/layers/utils/color_transformations.py
  pyproject.toml
Labels: maintenance, ready to merge

#6050 Show partial shortcut while editing.
  napari/_qt/widgets/qt_keyboard_settings.py
Labels: feature, qt, ready to merge

#6171 Remove an "if" that prevents proper run of "upgrade dependecies" wokflow if triggered by comment
  .github/workflows/upgrade_test_constraints.yml
  tools/check_updated_packages.py
  tools/get_auto_upgrade_branch_name.py
Labels: task, maintenance

#6158 Check if milestone and label is added to PR
  .github/workflows/label_and_milesone_checker.yml
  .github/workflows/label_checker.yml
Labels: task, maintenance, ready to merge

#6173 Fix typo in path to file for upgrade dependencies
  .github/workflows/upgrade_test_constraints.yml
  tools/create_pr_or_update_existing_one.py
Labels: task, maintenance

#6142 Fix some typing in napari.utils.events
  napari/utils/events/containers/_dict.py
  napari/utils/events/containers/_evented_dict.py
  napari/utils/events/containers/_evented_list.py
  napari/utils/events/containers/_nested_list.py
  napari/utils/events/containers/_selection.py
  napari/utils/events/containers/_set.py
  napari/utils/events/containers/_typed.py
  napari/utils/events/event.py
  napari/utils/events/evented_model.py
  pyproject.toml
Labels: maintenance, ready to merge

#6176 Add missed "and milestone"
  .github/workflows/label_and_milesone_checker.yml
Labels: maintenance

#6181 Do not clone repository to subdirectory in examples test
  .github/workflows/test_pull_requests.yml
Labels: task

#6145 Fix oblique button by chekcing if action is generator
  napari/_qt/layer_controls/qt_image_controls.py
  napari/layers/base/base.py
  napari/layers/image/_image_key_bindings.py
  napari/utils/_tests/test_action_manager.py
  napari/utils/action_manager.py
Labels: tests, qt, bugfix, ready to merge

#6162 Fix bug in `examples/multiple_viewer_widget.py` copy layer logic
  examples/multiple_viewer_widget.py
Labels: bugfix, ready to merge

#6168 Fix typing and clearer code in evented-set.
  napari/utils/events/containers/_set.py
Labels: maintenance, ready to merge

#6172 Misc typing fixes
  napari/_event_loop.py
  napari/conftest.py
  pyproject.toml
Labels: maintenance, ready to merge

#6167 Add test on top of #6142
  napari/utils/events/_tests/test_evented_dict.py
Labels: tests, bugfix, maintenance, ready to merge

#6165 ENH Adds `LayerList` context
  napari/_app_model/_submenus.py
  napari/_app_model/actions/_layer_actions.py
  napari/_app_model/context/__init__.py
  napari/_app_model/context/_layerlist_context.py
  napari/components/layerlist.py
Labels: enhancement

#6180 Update `QLabeledRangeSlider` style rule to prevent labels from being cut off
  napari/_qt/qt_resources/styles/00_base.qss
Labels: design, UI/UX, bugfix, ready to merge

#6112 Ensure visual is updated when painting into zarr array
  napari/_vispy/_tests/test_vispy_labels_layer.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/utils/indexing.py
Labels: tests, bugfix, ready to merge

#6082 Fix transform_utils typing
  napari/utils/transforms/transform_utils.py
  napari/utils/transforms/transforms.py
  pyproject.toml
Labels: maintenance, ready to merge

#6187 Add a timeout to some GH actions tests.
  .github/workflows/test_pull_requests.yml
Labels: task, maintenance, ready to merge

#5665 Update the sliders `axis_label` widget to be a `QElidingLineEdit` instance
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_qt/widgets/qt_dims.py
  napari/_qt/widgets/qt_dims_slider.py
  setup.cfg
Labels: tests, qt, bugfix, ready to merge

#6178 Layer data events before and after
  napari/layers/base/_base_constants.py
  napari/layers/points/_points_mouse_bindings.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/_tests/test_shapes_mouse_bindings.py
  napari/layers/shapes/shapes.py
Labels: tests, api, bugfix, ready to merge

#5917 Clean up shapes mouse test for clarity
  napari/layers/shapes/_tests/test_shapes_mouse_bindings.py
Labels: tests, maintenance

#6154 Fix types in 'napari.utils.colormaps.categorical_colormap'
  napari/utils/colormaps/categorical_colormap.py
  pyproject.toml
Labels: maintenance, ready to merge
