Repository napari/napari, pull requests merged in 2023-11, with the labels that each got.

#6359 Fix make release workflow
  .github/workflows/make_release.yml
Labels: task, maintenance, ready to merge

#5574 Feature: add layer contextual menu to hide not-selected layers
  napari/_app_model/actions/_layer_actions.py
  napari/_app_model/constants/_commands.py
  napari/layers/_layer_actions.py
  napari/layers/_tests/test_layer_actions.py
Labels: feature, tests, UI/UX, ready to merge

#6401 Fix environment variable name name in docs build
  .circleci/config.yml
  .github/workflows/build_docs.yml
Labels: maintenance, ready to merge

#6396 Do not repeat warnings in GUI
  napari/utils/_tests/test_notification_manager.py
  napari/utils/notifications.py
Labels: tests, maintenance, ready to merge

#5542 Do not copy label data when not necessary
  napari/layers/_layer_actions.py
  napari/layers/_tests/test_layer_actions.py
Labels: tests, performance, ready to merge

#6422 Fix `test_singlescreen_window_settings` to allow it to run locally on multiscreen configuration
  napari/_tests/test_windowsettings.py
Labels: tests, maintenance, ready to merge

#6288 Adding helper function for events and property deprecation
  napari/utils/_tests/test_migrations.py
  napari/utils/events/_tests/test_event_migrations.py
  napari/utils/events/event.py
  napari/utils/events/migrations.py
  napari/utils/migrations.py
Labels: maintenance, ready to merge

#6423 refactor `napari/_qt/_tests/test_async_slicing.py` to reduce fragility of test
  napari/_qt/_tests/test_async_slicing.py
Labels: tests, qt, maintenance, ready to merge

#6425 Fix cycle in _update_draw/_set_highlight for Points and Shapes (high CPU background usage)
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
Labels: performance, bugfix, ready to merge

#6438 Fix bounding box transforms when multiscale layer corner goes below zero
  napari/_vispy/layers/base.py
Labels: bugfix, ready to merge

#6417 Unify circleci and build_docs workflows across repositories
  .circleci/config.yml
  .github/workflows/build_docs.yml
Labels: task, maintenance, ready to merge

#6409 Fix linter warnings in qt_main_window
  napari/_qt/qt_main_window.py
Labels: qt, maintenance, ready to merge

#6431 Refactor Skipped test
  napari/_qt/layer_controls/_tests/test_qt_layer_controls.py
Labels: tests, qt, maintenance, ready to merge

#6429 DOC: misc fixes
  napari/layers/labels/_labels_utils.py
  napari/layers/labels/labels.py
Labels: documentation, maintenance, ready to merge

#6352 Maint: mypy opt-in to opt-out.
  napari/__main__.py
  napari/_vispy/layers/base.py
  napari/_vispy/layers/image.py
  napari/layers/labels/_labels_key_bindings.py
  napari/utils/events/containers/_set.py
  pyproject.toml
Labels: maintenance, ready to merge

#6443 Fix `breakpoint()` function after console import
  napari/_qt/qt_viewer.py
Labels: qt, bugfix

#6411 Fix lagging 3d view for big data in auto color mode
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_vispy/_tests/test_vispy_labels_layer.py
  napari/_vispy/layers/image.py
  napari/_vispy/layers/labels.py
  napari/_vispy/utils/visual.py
  napari/_vispy/visuals/image.py
  napari/_vispy/visuals/labels.py
  napari/_vispy/visuals/util.py
  napari/_vispy/visuals/volume.py
  napari/layers/labels/_labels_utils.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/utils/colormaps/_tests/test_colormap.py
  napari/utils/colormaps/colormap.py
  napari/utils/colormaps/colormap_utils.py
  setup.cfg
Labels: tests, performance, qt, ready to merge

#6099 Fix typing in shapes helper files
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/shapes.py
  pyproject.toml
Labels: maintenance, ready to merge, typing

#6430 Fix milestone and label checker to be triggered by `milestoned`/`demilestoned` events
  .github/workflows/label_and_milesone_checker.yml
Labels: task, maintenance, ready to merge

#6436 Restore old breakpointhook after console import in tests fixture
  napari/_qt/qt_viewer.py
  napari/_tests/test_conftest_fixtures.py
  napari/conftest.py
  napari/utils/_testsupport.py
Labels: tests, qt, bugfix, ready to merge

#6445 fix problem with alligned overlay
  napari/_vispy/layers/base.py
Labels: bugfix, ready to merge

#6437 Do not run macos process renaming if debugger is loaded
  napari/__main__.py
Labels: bugfix, ready to merge

#6408 Reraise warnings in proxy
  napari/utils/_proxies.py
Labels: maintenance, ready to merge

#6442 Bump napari console to ensure users get latest bug fixes
  setup.cfg
Labels: maintenance, ready to merge

#6457 add addtional pystack arguments
  pyproject.toml
Labels: maintenance, ready to merge

#6390 Fix problem with transform box of multiscale image
  napari/_vispy/overlays/base.py
  napari/_vispy/overlays/bounding_box.py
  napari/_vispy/overlays/interaction_box.py
  napari/_vispy/overlays/labels_polygon.py
  napari/layers/base/base.py
  napari/layers/image/image.py
Labels: bugfix, ready to merge

#6459 Fix thumbnail for auto color mode in labels
  .github/workflows/test_pull_requests.yml
  napari/_qt/_tests/test_qt_viewer.py
  napari/_vispy/layers/image.py
  napari/_vispy/layers/labels.py
  napari/layers/labels/labels.py
  napari/utils/colormaps/colormap.py
Labels: tests, qt, task, bugfix, ready to merge

#6464 Make _cast_labels_to_minimum_dtype_auto private
  napari/layers/labels/labels.py
  napari/utils/colormaps/_tests/test_colormap.py
  napari/utils/colormaps/colormap.py
Labels: tests

#6461 Fix direct colormap
  napari/_qt/_tests/test_qt_viewer.py
  napari/_vispy/layers/labels.py
Labels: tests, qt, bugfix, ready to merge

#6456 Fix casting uint32 to vispy dtype for image layers
  examples/dev/issue-6456.py
  napari/_qt/_tests/test_qt_viewer_2.py
  napari/_vispy/utils/gl.py
Labels: tests, qt, bugfix, ready to merge

#6468 remove main window from instances list only if close event is accepted
  napari/_qt/qt_main_window.py
Labels: qt, bugfix, ready to merge

#6458 Bump docker image version to most recent from 3.x.x line
  .github/workflows/docker-singularity-publish.yml
Labels: task, maintenance, ready to merge

#6452 Fix guess_continuous to not assign continuous for string categories
  napari/layers/utils/color_manager_utils.py
Labels: bugfix, ready to merge

#6188 Fix typing in components.viewer_model
  .github/workflows/test_pull_requests.yml
  napari/_app_model/context/_context.py
  napari/components/camera.py
  napari/components/cursor.py
  napari/components/layerlist.py
  napari/components/viewer_model.py
  napari/errors/reader_errors.py
  napari/layers/__init__.py
  napari/plugins/_npe2.py
  napari/plugins/io.py
  napari/plugins/utils.py
  napari/types.py
  napari/utils/stubgen.py
  pyproject.toml
Labels: task, maintenance, ready to merge, typing

#6463 [maint] update Dockerfile with current installation of Xpra
  dockerfile
Labels: maintenance, ready to merge

#5843 Improve type annotation for image layer and related
  napari/layers/image/_image_constants.py
  napari/layers/image/image.py
  napari/layers/utils/layer_utils.py
  napari/utils/misc.py
  tox.ini
Labels: tests, maintenance, ready to merge, typing

#6462 MAINT Bump magicgui version to v0.7.0
  binder/environment.yml
  napari/_qt/_tests/test_plugin_widgets.py
  setup.cfg
Labels: tests, qt, maintenance, ready to merge

#6356 Full typing of a few more files in napari.utils.*
  napari/_qt/_qapp_model/_menus.py
  napari/utils/_dask_utils.py
  napari/utils/color.py
  napari/utils/colormaps/colorbars.py
  napari/utils/config.py
  napari/utils/history.py
  napari/utils/indexing.py
  pyproject.toml
Labels: qt, maintenance, ready to merge, typing

#6480 [Maint, CI] Update circleci.yml for artifact location to fix redirector
  .github/workflows/circleci.yml
Labels: task, maintenance

#6484 Fix crash on python -m napari
  napari/components/_tests/test_add_layers.py
  napari/components/viewer_model.py
Labels: tests, bugfix, ready to merge

#6479 Update allowed selected_label range when data dtype changes
  napari/_qt/layer_controls/_tests/test_qt_labels_layer.py
  napari/_qt/layer_controls/qt_labels_controls.py
Labels: tests, qt, bugfix, ready to merge

#6475 Change `vortex.py` example to enable its page build in the documentation
  examples/vortex.py
Labels: documentation, ready to merge

#6486 Upload test artifacts on failure
  .github/workflows/reusable_pip_test.yml
  .github/workflows/reusable_run_tox_test.yml
  .github/workflows/test_pull_requests.yml
Labels: tests, task, maintenance, ready to merge

#6471 Change default labels layer to uint8.
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/components/viewer_model.py
Labels: tests, qt, maintenance, ready to merge

#6488 Run test suite with optional dependencies and fix tests when `triangle` is installed
  .github/workflows/test_pull_requests.yml
  napari/layers/shapes/_shapes_models/_polgyon_base.py
  napari/layers/shapes/_shapes_models/_tests/test_shapes_models.py
Labels: tests, task, bugfix, maintenance, ready to merge

#6487 Add testing_extra and optional dependencies when creating constraints
  .github/workflows/upgrade_test_constraints.yml
  resources/constraints/constraints_py3.10.txt
  resources/constraints/constraints_py3.10_docs.txt
  resources/constraints/constraints_py3.10_pydantic_1.txt
  resources/constraints/constraints_py3.11.txt
  resources/constraints/constraints_py3.11_pydantic_1.txt
  resources/constraints/constraints_py3.8.txt
  resources/constraints/constraints_py3.8_pydantic_1.txt
  resources/constraints/constraints_py3.9.txt
  resources/constraints/constraints_py3.9_examples.txt
  resources/constraints/constraints_py3.9_pydantic_1.txt
Labels: task, maintenance, ready to merge

#6481 FIX: Remove `None` default from `_remove_dock_widget`
  napari/_qt/qt_main_window.py
Labels: qt, bugfix, ready to merge

#6497 [Maint, v0.4.19] Use python 3.11 for manifest check
  .github/workflows/test_pull_requests.yml
Labels: task, maintenance

#6498 Bugfix: ensure gamma and opacity are floats
  examples/viewer_loop_reproducible_screenshots.md
  napari/_qt/_tests/test_qt_viewer.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/intensity_mixin.py
  napari/layers/points/points.py
  napari/layers/shapes/_shapes_models/ellipse.py
  napari/layers/surface/surface.py
  napari/layers/tracks/tracks.py
  napari/resources/_icons.py
  napari/view_layers.py
Labels: tests, qt, run-benchmarks, bugfix

#6499 Type napari.layers.image helper sub-modules
  napari/layers/image/_image_constants.py
  napari/layers/image/_image_key_bindings.py
  napari/layers/image/_image_mouse_bindings.py
  napari/layers/image/_image_utils.py
  napari/layers/image/_slice.py
  napari/layers/utils/_slice_input.py
  napari/layers/utils/layer_utils.py
  pyproject.toml
Labels: maintenance, ready to merge, typing

#6506 Add import lint back to CI
  .github/workflows/test_pull_requests.yml
  setup.cfg
Labels: task, ci, maintenance, ready to merge
