Repository napari/napari, pull requests merged in 2023-07, with the labels that each got.

#5342 Add loading layer UI indicator
  napari/_qt/containers/_layer_delegate.py
  napari/_qt/containers/qt_layer_list.py
  napari/_qt/containers/qt_layer_model.py
  napari/_qt/dialogs/qt_activity_dialog.py
  napari/resources/__init__.py
  napari/resources/_icons.py
  tools/string_list.json
Labels: qt, enhancement, ready for merge

#6022 Pin napari and pydantic when installing a plugin
  napari/_qt/dialogs/qt_plugin_dialog.py
Labels: qt, maintenance

#5761 Remove max brush size from increase brush size keybinding
  napari/layers/labels/_labels_key_bindings.py
Labels: enhancement, UI/UX, ready for merge

#6034 Update 0.4.18 release notes
  docs/release/release_0_4_18.md
Labels: documentation

#6033 Fix string list JSON formatting
  tools/string_list.json
Labels: bugfix

#5892 Consistent types for vector inputs/outputs in base layer
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/labels/labels.py
  napari/utils/status_messages.py
Labels: refactor, maintenance, ready for merge

#5806 Feature: polygon drawing in the Labels layer
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/qt_resources/styles/01_buttons.qss
  napari/_vispy/__init__.py
  napari/_vispy/_tests/test_vispy_labels_polygon_overlay.py
  napari/_vispy/overlays/labels_polygon.py
  napari/_vispy/utils/visual.py
  napari/components/overlays/__init__.py
  napari/components/overlays/labels_polygon.py
  napari/layers/labels/_labels_constants.py
  napari/layers/labels/_labels_key_bindings.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/utils/_testsupport.py
  napari/utils/shortcuts.py
Labels: feature, tests, design, qt, highlight, ready for merge

#6026 Update layer's loaded state before vispy and thumbnail
  napari/_qt/qt_viewer.py
Labels: qt, bugfix, ready for merge

#5064 Show platform specific shortcut while editing.
  napari/_qt/widgets/qt_keyboard_settings.py
  napari/utils/_tests/test_interactions.py
  napari/utils/interactions.py
Labels: tests, qt, enhancement

#5974 Fix low-hanging typing errors in napari.components
  napari/components/_viewer_key_bindings.py
  napari/components/camera.py
  napari/components/dims.py
  napari/components/experimental/monitor/_service.py
  napari/components/experimental/remote/_messages.py
  napari/components/grid.py
  napari/components/layerlist.py
  napari/utils/events/custom_types.py
  pyproject.toml
Labels: maintenance, ready for merge

#6008 Async refresh when experimental setting is on
  napari/layers/base/base.py
Labels: async, bugfix

#6024 Add validation logic for `Dims.last_used` to prevent slider selection errors when rolling dims
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/components/_tests/test_dims.py
  napari/components/_tests/test_viewer_mouse_bindings.py
  napari/components/dims.py
Labels: tests, qt, bugfix, ready for merge

#6020 Typing fixes to napari.layers.utils
  napari/layers/utils/_link_layers.py
  napari/layers/utils/_tests/test_plane.py
  napari/layers/utils/_text_utils.py
  napari/layers/utils/color_manager.py
  napari/layers/utils/interaction_box.py
  napari/layers/utils/interactivity_utils.py
  napari/layers/utils/layer_utils.py
  napari/layers/utils/plane.py
  napari/layers/utils/stack_utils.py
  napari/utils/geometry.py
  pyproject.toml
Labels: tests, maintenance, ready for merge

#5871 Fix type checking in layers.surface
  napari/layers/intensity_mixin.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/surface/_surface_key_bindings.py
  napari/layers/surface/normals.py
  napari/layers/surface/surface.py
  napari/layers/surface/wireframe.py
  napari/layers/utils/layer_utils.py
  napari/utils/color.py
  napari/utils/colormaps/standardize_color.py
  pyproject.toml
Labels: tests, maintenance, ready for merge

#6016 Improve error message when user passes nonexistent plugin
  napari/plugins/io.py
Labels: enhancement

#6070 Remove 3D multiscale warning
  napari/layers/image/_slice.py
Labels: bugfix, ready for merge

#5996 DOC: fix incorrect doc in layer-base
  napari/layers/base/base.py
Labels: documentation, ready for merge

#6025 Bump vispy to 0.13
  napari/_vispy/visuals/points.py
  resources/constraints/constraints_py3.10.txt
  resources/constraints/constraints_py3.11.txt
  resources/constraints/constraints_py3.8.txt
  resources/constraints/constraints_py3.9.txt
  resources/constraints/constraints_py3.9_examples.txt
  resources/requirements_mypy.txt
  setup.cfg
Labels: enhancement

#6073 Pin numpy below 2
  setup.cfg
Labels: maintenance, ready for merge

#6063 Fix some typing in napari._vispy
  napari/_vispy/canvas.py
  napari/_vispy/filters/tracks.py
  napari/_vispy/layers/labels.py
  napari/_vispy/overlays/scale_bar.py
  napari/_vispy/utils/visual.py
  napari/_vispy/visuals/clipping_planes_mixin.py
  napari/components/camera.py
  napari/components/cursor.py
  napari/utils/_units.py
  napari/utils/theme.py
  pyproject.toml
Labels: maintenance, ready for merge

#3308 Use a shader for low discrepancy label conversion
  examples/dev/direct-colormap-aliasing-test.py
  napari/_qt/_tests/test_qt_viewer.py
  napari/_vispy/layers/image.py
  napari/_vispy/layers/labels.py
  napari/_vispy/visuals/volume.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/utils/colormaps/__init__.py
  napari/utils/colormaps/_tests/test_colormaps.py
  napari/utils/colormaps/colormap.py
  napari/utils/colormaps/colormap_utils.py
  pyproject.toml
Labels: tests, performance, qt, pr-party-update-async, ready for merge

#5782 Return full colormap dict in get_state
  napari/layers/image/image.py
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/surface.py
  napari/layers/vectors/vectors.py
  setup.cfg
Labels: breaking change, bugfix, ready for merge

#5802 Fix shapes interactivity with scale != 1 (selection, rotate/resize)
  napari/_vispy/layers/shapes.py
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/_tests/test_shapes_mouse_bindings.py
  napari/layers/shapes/shapes.py
Labels: tests, bugfix, ready for merge

#6048 Prevent scale bar to go beyond canvas when zooming
  napari/_vispy/overlays/scale_bar.py
Labels: bugfix, ready for merge

#6088 Fix mypy CI
  napari/_vispy/overlays/scale_bar.py
Labels: maintenance

#5832 Fix some typing in colormap utils
  napari/_vispy/overlays/scale_bar.py
  napari/layers/utils/color_transformations.py
  napari/utils/colormaps/categorical_colormap_utils.py
  napari/utils/colormaps/colormap.py
  napari/utils/colormaps/colormap_utils.py
  napari/utils/colormaps/standardize_color.py
  pyproject.toml
Labels: maintenance, ready for merge

#6056 Fix taskbar icon grouping in Windows bundle (add `app_user_model_id` to bundle shortcut)
  resources/conda_menu_config.json
Labels: bugfix

#6076 Fix typing in napari.components.overlays
  napari/components/overlays/base.py
  napari/components/overlays/bounding_box.py
  napari/components/overlays/scale_bar.py
  napari/components/overlays/text.py
  pyproject.toml
Labels: maintenance, ready for merge

#5869 Fix type checks in layers.tracks
  napari/layers/tracks/_track_utils.py
  napari/layers/tracks/_tracks_key_bindings.py
  napari/layers/tracks/tracks.py
  pyproject.toml
Labels: maintenance, ready for merge

#6098 Points selection bug fix
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: tests, bugfix, ready for merge
