Repository napari/napari, pull requests merged in 2023-06, with the labels that each got.

#5882 Use a nightly pypi index for numpy & scipy, used by the --pre build
  tox.ini
Labels: maintenance, ready for merge

#5887 Remove pycln (redundant with ruff F401 rule)
  .pre-commit-config.yaml
Labels: maintenance, ready for merge

#5894 Add `__all__` to `napari/types.py`
  napari/types.py
Labels: bugfix, ready for merge

#5870 Fix type checking for layers.vectors
  napari/layers/vectors/_vector_utils.py
  napari/layers/vectors/_vectors_key_bindings.py
  napari/layers/vectors/vectors.py
  pyproject.toml
Labels: maintenance, ready for merge

#5858 Fix typing in layers.labels
  napari/layers/base/base.py
  napari/layers/labels/_labels_utils.py
  napari/layers/labels/labels.py
  pyproject.toml
Labels: documentation, ready for merge

#5736 Fix centering of non-displayed dimensions
  napari/components/_tests/test_viewer_model.py
  napari/components/dims.py
  napari/components/viewer_model.py
Labels: tests, bugfix, ready for merge

#5895 Fix drawing vertical or horizontal line segments in Shapes layer
  napari/layers/shapes/_shapes_mouse_bindings.py
Labels: bugfix, ready for merge

#5899 Update Error description when plugin not installed
  napari/plugins/_plugin_manager.py
Labels: maintenance, ready for merge

#5834 Add compatibility to PySide in file dialogs by using positional arguments
  napari/_qt/menus/debug_menu.py
  napari/_qt/qt_viewer.py
Labels: qt, bugfix, ready for merge

#5439 MAINT: Start testing on Python 3.11 in CI.
  .github/workflows/build_docs.yml
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_pull_requests.yml
  .github/workflows/test_translations.yml
  .github/workflows/test_typing.yml
  .github/workflows/upgrade_test_constraints.yml
  napari/_qt/dialogs/qt_modal.py
  napari/_qt/layer_controls/_tests/test_qt_layer_controls.py
  resources/constraints/constraints_py3.11.txt
  tools/check_updated_packages.py
  tox.ini
Labels: tests, qt, task, dependencies, maintenance, ready for merge

#5848 Add tests for popup widgets and fix perspective popup slider initialization
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_qt/widgets/_tests/test_qt_viewer_buttons.py
  napari/_qt/widgets/qt_viewer_buttons.py
Labels: tests, qt, bugfix

#5919 Update upgrade dependecies and test workflows
  .github/workflows/test_comprehensive.yml
  .github/workflows/upgrade_test_constraints.yml
Labels: task, maintenance, ready for merge

#5907 [Maint] CI: Use `RUNNER_OS` instead of `PLATFORM`
  tox.ini
Labels: maintenance, ready for merge

#5859 Enable pinch-to-zoom with vispy 0.13+
  napari/_vispy/camera.py
Labels: feature, UI/UX, highlight, ready for merge

#5928 Improve documentation of `changed` event in EventedList
  napari/components/layerlist.py
  napari/utils/events/containers/_evented_dict.py
  napari/utils/events/containers/_evented_list.py
  napari/utils/events/containers/_nested_list.py
  napari/utils/events/containers/_selectable_list.py
Labels: documentation, ready for merge

#5908 maint: add fixture to disable throttling
  napari/_tests/test_conftest_fixtures.py
  napari/conftest.py
Labels: tests, maintenance, ready for merge

#5877 Fix Dev Docker Container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: maintenance, ready for merge

#4759 Add .to_rgb_dict() to Theme class.
  examples/new_theme.py
  napari/_qt/_tests/test_qt_provide_theme.py
  napari/_qt/_tests/test_qt_window.py
  napari/_qt/dialogs/qt_notification.py
  napari/_qt/dialogs/qt_plugin_report.py
  napari/_qt/qt_resources/__init__.py
  napari/_qt/qt_resources/_svg.py
  napari/_vispy/canvas.py
  napari/_vispy/overlays/axes.py
  napari/_vispy/overlays/scale_bar.py
  napari/plugins/_tests/test_provide_theme.py
  napari/resources/_icons.py
  napari/settings/_tests/test_settings.py
  napari/utils/_tests/test_theme.py
  napari/utils/theme.py
Labels: tests, design, breaking change, api, qt, preferences, maintenance, ready for merge

#5210 Push variables to console when instantiated
  examples/update_console.py
  napari/_qt/qt_viewer.py
  napari/_tests/test_advanced.py
  napari/viewer.py
Labels: tests, qt, enhancement, ready for merge

#5615 Skip equality comparisons in EventedModel when unnecessary
  napari/utils/events/_tests/test_evented_model.py
  napari/utils/events/evented_model.py
Labels: tests, enhancement, ready for merge

#5910 feat: add `since_version` argument of `rename_argument` decorator
  napari/_qt/widgets/qt_progress_bar.py
  napari/components/viewer_model.py
  napari/layers/image/image.py
  napari/utils/_tests/test_migrations.py
  napari/utils/events/event.py
  napari/utils/migrations.py
Labels: tests, qt, enhancement, ready for merge

#5944 Set removal version in deprecation of Viewer.rounded_division
  napari/components/viewer_model.py
Labels: documentation, ready for merge

#5947 Fix `napari-svg` version parsing in `conftest.py`
  napari/conftest.py
Labels: bugfix

#5943 Add documentation, enhancement and maintenance fields to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: task, maintenance

#5618 Feature: alt-click visibility eye to toggle show just that layer (hide others)
  napari/_qt/containers/_layer_delegate.py
  napari/_qt/containers/_tests/test_qt_layer_list.py
Labels: feature, tests, qt, pr-party-update-async, UI/UX

#5934 MAINT: GitHub action Timeout increased by 5 minutes
  .github/workflows/test_pull_requests.yml
Labels: task, maintenance, ready for merge

#5915 Disallow outside screen geometry napari window position
  napari/_qt/qt_main_window.py
  napari/_tests/test_windowsettings.py
Labels: tests, qt, bugfix, ready for merge

#5964 Fix issue in utils.progress for disable=True
  CITATION.cff
  napari/utils/_tests/test_progress.py
  napari/utils/progress.py
Labels: tests, bugfix, ready for merge

#5936 Some napari.utils typing fixes
  napari/utils/misc.py
  napari/utils/naming.py
  napari/utils/notifications.py
  pyproject.toml
Labels: maintenance

#5922 [Maint] Fix comprehensive tests by skipping labels controls test on py311 pyqt6
  napari/_qt/layer_controls/_tests/test_qt_layer_controls.py
Labels: tests, qt, maintenance, ready for merge

#5948 Change license_file to license_files in setup.cfg
  pyproject.toml
  setup.cfg
Labels: maintenance, ready for merge

#5967 Emit extra information with layer.events.data
  napari/layers/base/__init__.py
  napari/layers/base/_base_constants.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/_tests/test_shapes_mouse_bindings.py
  napari/layers/shapes/shapes.py
Labels: tests, enhancement

#5968 Set high DPI attributes when using PySide2
  napari/_qt/qt_event_loop.py
Labels: qt, bugfix, ready for merge

#5970 Bugfix: Ensure bgcolor is set in __init__ of VispyCanvas
  napari/_vispy/canvas.py
Labels: bugfix, ready for merge

#5812 Set focus policy for mainwindow to prevent keeping focus on the axis labels (and other `QLineEdit` based widgets) when clicking outside the widget
  napari/_qt/qt_main_window.py
Labels: qt, bugfix

#5898 Add __all__ to qthreading and progress
  napari/_qt/qthreading.py
  napari/utils/progress.py
Labels: maintenance

#5900 Fix typing in translations
  napari/utils/_tests/test_translations.py
  napari/utils/translations.py
  pyproject.toml
Labels: tests, maintenance

#5903 ENH: Use dict to set `MenuID` in view actions
  napari/_app_model/actions/_view_actions.py
Labels: maintenance

#5893 Keep shading light for Surface fixed relative to camera
  napari/_vispy/canvas.py
  napari/_vispy/layers/base.py
  napari/_vispy/layers/surface.py
Labels: feature

#5822 Add backend to comprehensive test names
  .github/workflows/test_comprehensive.yml
Labels: task, maintenance, ready for merge

#5864 Add tests/more tests to widgets with low coverage
  napari/_qt/widgets/_tests/test_qt_color_swatch.py
  napari/_qt/widgets/_tests/test_qt_plugin_sorter.py
  napari/_qt/widgets/_tests/test_qt_tooltip.py
Labels: tests, qt, maintenance

#5971 Make sure `open_sample` respects `reader_plugin` for sample URIs
  napari/components/viewer_model.py
  napari/plugins/_tests/test_sample_data.py
Labels: tests, plugins, bugfix

#5814 Add link to napari/docs in Readme file.
  README.md
Labels: documentation

#5824 Change toggle menubar visibility functionality to hide menubar and show it on mouse movement validation
  napari/_qt/qt_main_window.py
Labels: qt, bugfix

#5604 fix various keybinding/shortcut bugs
  napari/_qt/widgets/qt_keyboard_settings.py
  napari/utils/interactions.py
  setup.cfg
Labels: qt, dependencies, bugfix

#5582 Make point size isotropic
  examples/nD_points.py
  examples/swap_dims.py
  napari/_qt/layer_controls/_tests/test_qt_points_layer.py
  napari/_vispy/layers/points.py
  napari/layers/points/_slice.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  setup.cfg
Labels: tests, breaking change, qt, bugfix, ready for merge

#5985 Pre commit fixes for 0.4.18 release branch
  .gitattributes
  docs/_scripts/_table_maker.py
  docs/_scripts/update_event_docs.py
  docs/_scripts/update_preference_docs.py
  docs/conf.py
  docs/release/generate_release_notes.py
  napari/_qt/__init__.py
  napari/_qt/dialogs/qt_plugin_dialog.py
  napari/_qt/qt_viewer.py
  napari/components/dims.py
  napari/layers/__init__.py
  napari/layers/base/base.py
  napari/layers/image/_image_key_bindings.py
  napari/layers/image/experimental/octree_util.py
  napari/layers/points/_points_key_bindings.py
  napari/layers/shapes/_shapes_key_bindings.py
  napari/layers/surface/_tests/test_surface.py
  napari/resources/__init__.py
  napari/settings/__init__.py
  napari/utils/_proxies.py
  napari/utils/_tests/test_interactions.py
  napari/utils/_testsupport.py
  napari/utils/interactions.py
  napari/utils/key_bindings.py
  napari/view_layers.py
  pyproject.toml
Labels: documentation, tests, qt, preferences, maintenance

#5979 Update docs using changes from napari/docs
  .gitignore
  MANIFEST.in
  docs/_scripts/prep_docs.py
  docs/community/team.md
  docs/conf.py
  docs/developers/testing.md
  docs/howtos/layers/shapes.md
  docs/release/release_0_4_18.md
Labels: documentation, maintenance

#5984 Update deprecation information
  napari/layers/base/base.py
  napari/layers/points/points.py
Labels: pr-party-update-sync, maintenance, triaged-0.4.18

#5994 [0.4.18rc1] Bugfix/event proxy
  napari/_qt/qt_viewer.py
Labels: qt, bugfix

#5852 Fix typing errors in layers.image
  napari/layers/image/_image_key_bindings.py
  napari/layers/image/_image_utils.py
  napari/layers/image/_slice.py
  napari/layers/image/image.py
  napari/layers/intensity_mixin.py
  napari/layers/utils/_slice_input.py
  napari/layers/utils/_tests/test_layer_utils.py
  napari/layers/utils/layer_utils.py
  pyproject.toml
Labels: tests, maintenance

#5890 Mock QtConsole in tests
  napari/_tests/test_advanced.py
  napari/_tests/test_conftest_fixtures.py
  napari/conftest.py
  pyproject.toml
Labels: tests, maintenance, ready for merge

#6018 Avoid passing empty string to `importlib.metadata.metadata`
  napari/utils/misc.py
Labels: bugfix

#5997 Fix behavior of PublicOnlyProxy in setattr, wrapped methods, and calling
  napari/utils/_proxies.py
  napari/utils/_tests/test_proxies.py
Labels: tests, bugfix, ready for merge

#5740 Add arrow display styles to Vectors layer
  napari/_qt/layer_controls/qt_vectors_controls.py
  napari/_vispy/_tests/test_vispy_vectors_layer.py
  napari/_vispy/layers/vectors.py
  napari/layers/vectors/_vectors_constants.py
  napari/layers/vectors/vectors.py
Labels: feature, tests, qt, highlight, ready for merge

#6006 #pragma no cover for code that is not supposed to run.
  napari/_tests/test_cli.py
Labels: tests, maintenance, ready for merge

#6013 Bugfix: Fix regression from #5739 for passing plugin name and reader plus add test
  napari/plugins/_npe2.py
  napari/plugins/_tests/test_npe2.py
Labels: tests, bugfix, ready for merge

#5980 Update CITATION.cff file with 0.4.18 contributors
  CITATION.cff
Labels: documentation, ready for merge

#6004 Fix optional arg typing in napari._qt.containers
  napari/_qt/containers/_base_item_model.py
  napari/_qt/containers/_factory.py
  napari/_qt/containers/qt_layer_list.py
  napari/_qt/containers/qt_list_view.py
  napari/_qt/containers/qt_tree_model.py
  napari/_qt/containers/qt_tree_view.py
  pyproject.toml
Labels: qt, maintenance, ready for merge
