Repository napari/napari, pull requests merged in 2023-05, with the labels that each got.

#5716 Update `test_examples` job dependencies, unskip `surface_timeseries_.py` and update some examples validations
  .github/workflows/test_pull_requests.yml
  .github/workflows/upgrade_test_constraints.yml
  examples/3d_kymograph_.py
  examples/surface_timeseries_.py
  napari/_tests/test_examples.py
  resources/constraints/constraints_py3.9_examples.txt
  resources/constraints/version_denylist_examples.txt
  tox.ini
Labels: tests, task, bugfix

#5739 Don't attempt to use npe1 readers in napari.plugins._npe2.read
  napari/plugins/_npe2.py
  napari/plugins/_tests/test_npe2.py
Labels: tests, bugfix

#5797 Readd exception to event proxy
  napari/_vispy/canvas.py
Labels: bugfix, ready for merge

#5795 Fix copy/paste of points
  napari/layers/utils/_tests/test_text_manager.py
  napari/layers/utils/text_manager.py
Labels: tests, bugfix, ready for merge

#5781 Add aditional guard at the end of `test_worker_may_exceed_total`
  napari/_qt/_tests/test_threading_progress.py
  napari/_qt/dialogs/_tests/test_qt_plugin_dialog.py
  napari/conftest.py
Labels: tests, qt, bugfix, ready for merge

#5785 Add pydantic<2 constrains to plugin install
  napari/_qt/dialogs/qt_package_installer.py
Labels: qt, bugfix, ready for merge

#5809 Update `PIP_CONSTRAINT` value to fix failing comprehensive jobs
  .github/workflows/test_comprehensive.yml
Labels: task, maintenance, ready for merge

#5788 test: [Automatic] Constraints upgrades: `certifi`, `dask`, `fsspec`, `hypothesis`, `imageio`, `ipython`, `pint`, `qtconsole`, `rich`, `virtualenv`
  resources/constraints/constraints_py3.10.txt
  resources/constraints/constraints_py3.8.txt
  resources/constraints/constraints_py3.9.txt
  resources/constraints/constraints_py3.9_examples.txt
Labels: maintenance, ready for merge

#5800 Update README to display CZI logo for dark and light GitHub themes
  README.md
Labels: maintenance, ready for merge

#5728 Add cancellation functionality to progress
  examples/progress_bar_minimal_.py
  napari/_qt/widgets/_tests/test_qt_progress_bar.py
  napari/_qt/widgets/qt_progress_bar.py
  napari/utils/__init__.py
  napari/utils/_tests/test_progress.py
  napari/utils/progress.py
Labels: feature, tests, qt, ready for merge

#5796 Fix multiple viewer example
  examples/multiple_viewer_widget.py
  napari/components/dims.py
Labels: bugfix

#5780 Add tests for io utils to save images
  napari/_qt/_tests/test_qt_window.py
  napari/utils/_tests/test_io.py
Labels: tests, qt, bugfix

#5759 Use array size directly when checking multiscale arrays to prevent overflow
  napari/layers/image/_image_utils.py
  napari/layers/image/_tests/test_image_utils.py
Labels: tests, bugfix

#5753 Changing brush size with mouse movement while holding specified modifiers
  napari/_vispy/canvas.py
  napari/_vispy/overlays/brush_circle.py
  napari/components/_viewer_constants.py
  napari/components/overlays/brush_circle.py
  napari/layers/labels/_labels_mouse_bindings.py
  napari/layers/labels/labels.py
  napari/settings/_application.py
  napari/settings/_constants.py
Labels: feature, preferences, UI/UX

#5732 Efficient labels mapping for drawing in Labels (60 FPS even with 8000x8000 images)
  napari/_vispy/layers/labels.py
  napari/benchmarks/benchmark_labels_layer.py
  napari/layers/labels/_labels_utils.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/utils/colormaps/colormap_utils.py
Labels: tests, performance, highlight, ready for merge

#5783 Add test coverage for async slicing of points and fix rounding bug
  napari/__main__.py
  napari/_qt/_tests/test_async_slicing.py
  napari/_qt/qt_viewer.py
  napari/components/_layer_slicer.py
  napari/layers/base/base.py
  napari/layers/points/points.py
Labels: tests, qt, bugfix, ready for merge

#5827 Do not blend color in QtColorBox with black using opacity (UI suggestion; bugfix? )
  napari/_qt/layer_controls/_tests/test_qt_labels_layer.py
  napari/_qt/layer_controls/qt_labels_controls.py
Labels: tests, qt, UI/UX, bugfix, ready for merge

#5757 Add test to check basic interactions with layer controls widgets
  napari/_qt/layer_controls/_tests/test_qt_layer_controls.py
  napari/_qt/layer_controls/qt_vectors_controls.py
Labels: tests, qt, maintenance

#5835 test: [Automatic] Constraints upgrades: `dask`, `hypothesis`, `torch`
  resources/constraints/constraints_py3.10.txt
  resources/constraints/constraints_py3.8.txt
  resources/constraints/constraints_py3.9.txt
  resources/constraints/constraints_py3.9_examples.txt
Labels: maintenance, ready for merge

#5851 Amend `pydantic` constraints in the plugin manager
  napari/_qt/dialogs/qt_package_installer.py
Labels: qt, bugfix, ready for merge

#5042 MAINT: Remove deprecated events and methods.
  napari/components/layerlist.py
  napari/layers/base/base.py
Labels: deprecation, maintenance, ready for merge

#5680 MAINT: Split test file in two to find hanging test.
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_qt/widgets/_tests/test_qt_dims_2.py
Labels: tests, qt, maintenance, ready for merge

#5830 Don't allow negative contour values
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: tests, qt, bugfix, ready for merge

#5821 Improve discoverability of napari/docs repository.
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
Labels: task, maintenance, ready for merge

#5825 Move mypy config to pyproject.toml
  pyproject.toml
  resources/requirements_mypy.in
  resources/requirements_mypy.txt
  tox.ini
Labels: task, maintenance, ready for merge

#5823 Explicitly list valid layer names in types
  napari/plugins/io.py
  napari/types.py
Labels: maintenance, ready for merge

#5857 [Auto] Constraints upgrades: ipykernel, lit, setuptools, xarray
  resources/constraints/constraints_py3.10.txt
  resources/constraints/constraints_py3.8.txt
  resources/constraints/constraints_py3.9.txt
  resources/constraints/constraints_py3.9_examples.txt
Labels: maintenance, ready for merge

#5784 Use tox-min-req for min-req tests
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_pull_requests.yml
  tools/minreq.py
Labels: task, maintenance, ready for merge

#5643 [maint] Update translation string wizard to offer auto-suggestions
  tools/test_strings.py
Labels: maintenance, ready for merge

#5805 Fix colormapping nD images
  napari/utils/colormaps/_tests/test_colormap.py
  napari/utils/colormaps/colormap.py
Labels: tests, bugfix, ready for merge

#5804 [MAINT, packaging] Remove support for briefcase installers
  .github/workflows/make_bundle.yml
  .gitignore
  MANIFEST.in
  README.md
  bundle.py
  napari/__main__.py
  napari/_qt/dialogs/qt_package_installer.py
  napari/_qt/menus/file_menu.py
  napari/_qt/qt_main_window.py
  napari/plugins/__init__.py
  napari/plugins/_plugin_manager.py
  napari/plugins/npe2api.py
  napari/utils/_appdirs.py
  napari/utils/misc.py
  pyproject.toml
  resources/bundle_readme.md
  setup.cfg
Labels: qt, task, maintenance, ready for merge

#5862 Add constraints file during installation of packages from pip in docs workflow
  .github/workflows/build_docs.yml
  setup.cfg
Labels: task, bugfix, ready for merge

#5676 MAINT: Move suspected segfaulting test into its own file.
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/_tests/test_qt_viewer_2.py
Labels: tests, qt, maintenance, ready for merge

#5751 Fix usage of closed interval dims and unify extents calculations
  napari/_qt/_tests/test_async_slicing.py
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_qt/widgets/_tests/test_qt_dims_2.py
  napari/_qt/widgets/_tests/test_qt_play.py
  napari/_tests/utils.py
  napari/_vispy/overlays/bounding_box.py
  napari/_vispy/overlays/interaction_box.py
  napari/_vispy/visuals/bounding_box.py
  napari/components/_tests/test_dims.py
  napari/components/_tests/test_interaction_box.py
  napari/components/_tests/test_layers_list.py
  napari/components/_tests/test_viewer_model.py
  napari/components/_tests/test_viewer_mouse_bindings.py
  napari/components/_tests/test_world_coordinates.py
  napari/components/dims.py
  napari/components/layerlist.py
  napari/components/viewer_model.py
  napari/layers/_tests/test_layer_attributes.py
  napari/layers/base/base.py
  napari/layers/image/_image_mouse_bindings.py
  napari/layers/image/_slice.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/_tests/test_multiscale.py
  napari/layers/image/_tests/test_volume.py
  napari/layers/image/image.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/_tests/test_labels_pyramid.py
  napari/layers/labels/labels.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/surface/_tests/test_surface.py
  napari/layers/utils/interaction_box.py
  napari/layers/utils/layer_utils.py
  napari/layers/vectors/_tests/test_vectors.py
Labels: tests, breaking change, priority-high, qt, bugfix, ready for merge

#5155 Add secondary keybindings to restore mnemonic (non-numeric) shortcuts in layers
  napari/utils/shortcuts.py
Labels: ui change, enhancement, ready for merge

#5841 Bugfix: fix broken "show selected" in the Labels layer (because of caching)
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: tests, bugfix, ready for merge

#5826 Bugfix: Disconnect callbacks on object deletion in special functions from `event_utils`
  napari/utils/events/_tests/test_event_utils.py
  napari/utils/events/event.py
  napari/utils/events/event_utils.py
Labels: tests, bugfix, ready for merge

#5854 Bugfix: Ensure QTableWidgetItem(action.description) item is enabled
  napari/_qt/widgets/qt_keyboard_settings.py
Labels: qt, bugfix, ready for merge

#5842 Bugfix: do not allow drawing while adjusting the brush size with the mouse
  napari/layers/labels/_labels_mouse_bindings.py
Labels: bugfix

#5867 Bugfix: link the Labels model to the "show selected" checkbox
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: tests, qt, bugfix, ready for merge

#5555 Add lasso tool for faster drawing of polygonal Shapes
  napari/_qt/layer_controls/qt_shapes_controls.py
  napari/_qt/qt_resources/styles/01_buttons.qss
  napari/layers/shapes/_shapes_constants.py
  napari/layers/shapes/_shapes_key_bindings.py
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/test_shapes_mouse_bindings.py
  napari/layers/shapes/_tests/test_shapes_utils.py
  napari/layers/shapes/shapes.py
  napari/resources/icons/polygon_lasso.svg
  napari/settings/_experimental.py
  napari/utils/shortcuts.py
  tools/string_list.json
Labels: feature, tests, design, qt, preferences, pr-party-update-async, highlight, ready for merge
