Repository napari/napari, pull requests merged in 2023-10, with the labels that each got.

#6182 Update color texture build to reduce collisions, and fix collision handling
  examples/dev/direct-colormap-aliasing-test.py
  napari/_vispy/_tests/test_vispy_labels.py
  napari/_vispy/layers/image.py
  napari/_vispy/layers/labels.py
  napari/layers/labels/labels.py
  napari/utils/_dtype.py
Labels: tests, bugfix, ready to merge

#6278 Fix benchmark suite virtualenvs, and disable broken memory benchmarks
  .github/workflows/benchmarks.yml
  .github/workflows/test_pull_requests.yml
  asv.conf.json
  napari/benchmarks/benchmark_image_layer.py
  napari/benchmarks/benchmark_labels_layer.py
  napari/benchmarks/benchmark_points_layer.py
  napari/benchmarks/benchmark_qt_slicing.py
  napari/benchmarks/benchmark_qt_viewer_image.py
  napari/benchmarks/benchmark_qt_viewer_vectors.py
  napari/benchmarks/benchmark_shapes_layer.py
  napari/benchmarks/benchmark_surface_layer.py
  napari/benchmarks/benchmark_text_manager.py
  napari/benchmarks/benchmark_tracks_layer.py
  napari/benchmarks/benchmark_vectors_layer.py
  napari/benchmarks/utils.py
  napari/utils/color.py
  pyproject.toml
Labels: task, run-benchmarks, maintenance, ready to merge

#6277 Speed up symbols validation in points layers
  napari/_vispy/layers/points.py
  napari/benchmarks/benchmark_python_layer.py
  napari/layers/points/_points_utils.py
Labels: performance, run-benchmarks, ready to merge

#6283 Postpone qt_viewer deprecation to 0.6.0
  napari/_qt/qt_main_window.py
Labels: qt, maintenance, ready to merge

#6289 Fix labeler by adding permissions
  .github/workflows/labeler.yml
Labels: maintenance

#6290 Fix labels for dependabot
  .github/dependabot.yml
Labels: task, maintenance

#6291 [Maintenance] Fix missing v in the docker-login action version
  .github/workflows/docker-singularity-publish.yml
Labels: task, maintenance

#6107 Fix exception raised on empty pattern in search plugin in preferences
  napari/_qt/widgets/_tests/test_qt_extension2reader.py
  napari/_qt/widgets/qt_extension2reader.py
Labels: tests, qt, bugfix, ready to merge

#6292 MAINT: Remove auto-author-assign
  .github/workflows/auto_author_assign.yml
Labels: task, maintenance, ready to merge

#6298 Set permissions to `allow upgrate_test_contstraints` work
  .github/workflows/upgrade_test_constraints.yml
Labels: task, maintenance

#6241 MAINT: Use scipy builtins rotation to compute quaternions.
  napari/_vispy/__init__.py
  napari/_vispy/_tests/test_utils.py
  napari/_vispy/camera.py
  napari/_vispy/utils/quaternion.py
Labels: tests, maintenance, ready to merge

#6210 Fix (N>4)D shapes.
  napari/components/_tests/test_layers_base.py
  napari/layers/base/base.py
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_shapes_models/rectangle.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
  napari/layers/utils/_text_utils.py
Labels: tests, bugfix, ready to merge

#6299 Revert "MAINT: Use scipy builtins rotation to compute quaternions. (#6241)"
  napari/_vispy/__init__.py
  napari/_vispy/_tests/test_utils.py
  napari/_vispy/camera.py
  napari/_vispy/utils/quaternion.py
Labels: tests, maintenance

#5697 Use Dims margin in layer slicing code
  napari/_qt/layer_controls/_tests/test_qt_image_base_layer_.py
  napari/_qt/layer_controls/_tests/test_qt_image_layer.py
  napari/_vispy/_tests/test_image_rendering.py
  napari/_vispy/_tests/test_vispy_image_layer.py
  napari/_vispy/_tests/test_vispy_surface_layer.py
  napari/benchmarks/benchmark_labels_layer.py
  napari/components/_layer_slicer.py
  napari/components/viewer_model.py
  napari/layers/_tests/test_layer_attributes.py
  napari/layers/base/_base_constants.py
  napari/layers/base/base.py
  napari/layers/image/_image_constants.py
  napari/layers/image/_image_utils.py
  napari/layers/image/_slice.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/_tests/test_image_utils.py
  napari/layers/image/_tests/test_volume.py
  napari/layers/image/image.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/_tests/test_labels_mouse_bindings.py
  napari/layers/labels/_tests/test_labels_utils.py
  napari/layers/labels/labels.py
  napari/layers/points/_points_constants.py
  napari/layers/points/_slice.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/_tests/test_points_mouse_bindings.py
  napari/layers/points/points.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/_tests/test_surface.py
  napari/layers/surface/surface.py
  napari/layers/tracks/tracks.py
  napari/layers/utils/_slice_input.py
  napari/layers/utils/_tests/test_text_manager.py
  napari/layers/vectors/_slice.py
  napari/layers/vectors/_tests/test_vectors.py
  napari/layers/vectors/_vectors_constants.py
  napari/layers/vectors/vectors.py
  napari/utils/misc.py
  napari/view_layers.py
Labels: feature, tests, qt, ready to merge

#6214 Vispy 0.14
  resources/constraints/constraints_py3.10.txt
  resources/constraints/constraints_py3.10_docs.txt
  resources/constraints/constraints_py3.11.txt
  resources/constraints/constraints_py3.8.txt
  resources/constraints/constraints_py3.9.txt
  resources/constraints/constraints_py3.9_examples.txt
  setup.cfg
Labels: dependencies, bugfix, maintenance, ready to merge

#6271 Bump app-model
  setup.cfg
Labels: maintenance, ready to merge

#6113 Expose theme `font_size` as an `Appearance` setting
  napari/_qt/containers/qt_layer_list.py
  napari/_qt/dialogs/_tests/test_preferences_dialog.py
  napari/_qt/dialogs/preferences_dialog.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_resources/__init__.py
  napari/_qt/qt_resources/styles/00_base.qss
  napari/_qt/widgets/qt_font_size.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/form.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/widgets.py
  napari/settings/_appearance.py
  pyproject.toml
Labels: tests, design, qt, preferences, enhancement, ready to merge

#6312 [Maintenance] Update bug_report template to add napari --info
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: task, maintenance

#6316 Add coverage report upload to comprehensive test
  .github/workflows/test_comprehensive.yml
Labels: task

#6310 Add pystack to debug hanging linux test
  pyproject.toml
  tox.ini
Labels: maintenance, ready to merge

#6315 Add pre-commit check for basic formattings bugs
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .env_sample
  .gitattributes
  .github/missing_translations.md
  .github/workflows/docker-singularity-publish.yml
  .github/workflows/label_and_milesone_checker.yml
  .github/workflows/reusable_coverage_upload.yml
  .github/workflows/reusable_pip_test.yml
  .github/workflows/reusable_run_tox_test.yml
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_pull_requests.yml
  .github/workflows/test_vendored.yml
  .github/workflows/upgrade_test_constraints.yml
  .pre-commit-config.yaml
  binder/xsettings.xml
  codecov.yml
  examples/README.rst
  examples/dev/grin.svg
  examples/dev/slicing/README.md
  examples/dev/slicing/janelia_s3_n5_multiscale.py
  examples/notebook.ipynb
  napari/_qt/qt_resources/styles/00_base.qss
  napari/_qt/qt_resources/styles/01_buttons.qss
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_vendor/darkdetect/_dummy.py
  napari/plugins/_tests/_sample_manifest.yaml
  napari/resources/icons/add.svg
  napari/resources/icons/check.svg
  napari/resources/icons/circle.svg
  napari/resources/icons/copy_to_clipboard.svg
  napari/resources/icons/debug.svg
  napari/resources/icons/error.svg
  napari/resources/icons/horizontal_separator.svg
  napari/resources/icons/info.svg
  napari/resources/icons/none.svg
  napari/resources/icons/pan_arrows.svg
  napari/resources/icons/plus.svg
  napari/resources/icons/vertex_insert.svg
  napari/resources/icons/vertical_separator.svg
  napari/resources/icons/warning.svg
  resources/bundle_license.rtf
  resources/osx_pkg_welcome.rtf.tmpl
  setup.cfg
  tools/perfmon/README.md
Labels: design, task, maintenance, ready to merge

#6313 Use yaml for bug report Issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: task, maintenance, ready to merge

#6273 Use `MenuID` in sample menu tests
  napari/_qt/_qapp_model/_tests/test_file_menu.py
Labels: tests, maintenance, ready to merge

#6328 Fix pre-commit configuration
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/labeler.yml
  .pre-commit-config.yaml
  napari/_vendor/darkdetect/_dummy.py
Labels: task, maintenance, ready to merge

#6179 Implement direct color calculation in shaders for Labels auto color mode
  napari/_qt/layer_controls/_tests/test_qt_layer_controls.py
  napari/_tests/utils.py
  napari/_vispy/layers/labels.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/utils/__init__.py
  napari/utils/colormaps/_tests/test_colormap_utils.py
  napari/utils/colormaps/colormap.py
  napari/utils/colormaps/colormap_utils.py
  napari/utils/migrations.py
Labels: tests, qt, enhancement, bugfix, ready to merge

#6332 Bump Mypy and some type fixes.
  napari/utils/_dask_utils.py
  resources/requirements_mypy.txt
Labels: maintenance, ready to merge

#6342 MAINT: Refine Mypy config for qtpy.
  pyproject.toml
Labels: maintenance, ready to merge

#6341 "no-commit-to-branch" is preventing contribution.
  .pre-commit-config.yaml
Labels: maintenance, ready to merge

#6338 Rename test_strings to validate_strings to stop confusing pytest
  pyproject.toml
  tools/validate_strings.py
Labels: maintenance, ready to merge

#6293 Remove a few of the last instance of np.all(? == ?).
  napari/_tests/test_dtypes.py
  napari/components/_tests/test_multichannel.py
  napari/layers/base/base.py
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_shapes_utils.py
Labels: tests, maintenance, ready to merge

#6335 Add 'raise' option back to `strict_qt` in `make_napari_viewer`
  napari/utils/_testsupport.py
Labels: maintenance, ready to merge

#6344 Fix labeler configuration
  .github/workflows/labeler.yml
Labels: task, maintenance, ready to merge

#6295 Enable memory benchmarks for layers
  napari/benchmarks/benchmark_image_layer.py
  napari/benchmarks/benchmark_labels_layer.py
  napari/benchmarks/benchmark_points_layer.py
  napari/benchmarks/benchmark_shapes_layer.py
  napari/benchmarks/benchmark_surface_layer.py
  napari/benchmarks/benchmark_vectors_layer.py
Labels: run-benchmarks, maintenance, ready to merge

#6041 Add vortex optical flow example
  examples/vortex.py
Labels: documentation, ready to merge

#6353 Update example scripts (magicgui with threads)
  examples/mgui_with_threadpoolexec_.py
  examples/mgui_with_threadworker_.py
Labels: bugfix, ready to merge

#6343 Disable ptrace protection to make pytest-pystack work
  .github/workflows/reusable_run_tox_test.yml
Labels: task, maintenance, ready to merge

#6346 Add codecov token to reduce propability of fail to upload from main branch
  .github/workflows/reusable_coverage_upload.yml
Labels: task, maintenance, ready to merge

#6347 Fix upstream deprecation: change `np.alltrue` to `np.array_equiv`
  napari/_vispy/_tests/test_vispy_labels_polygon_overlay.py
  napari/layers/labels/_tests/test_labels.py
Labels: tests, maintenance, ready to merge

#6357 Fix build wheel workflow file name
  .github/workflows/reusable_build_wheel.yml
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_pull_requests.yml
Labels: task, maintenance, ready to merge

#6028 Fix typing in napari.layers.base
  napari/layers/base/base.py
  napari/layers/labels/_labels_key_bindings.py
  napari/layers/labels/labels.py
  napari/layers/surface/surface.py
  napari/utils/_magicgui.py
  napari/utils/events/event.py
  napari/utils/transforms/transforms.py
  pyproject.toml
Labels: maintenance, ready to merge, typing

#6247 Fix typing in napari.utils.theme
  napari/utils/theme.py
  pyproject.toml
Labels: maintenance, ready to merge, typing

#6245 Fix some typing in napari._vispy
  napari/_vispy/canvas.py
  napari/_vispy/layers/base.py
  napari/_vispy/layers/image.py
  napari/utils/events/containers/_typed.py
  pyproject.toml
Labels: maintenance, ready to merge

#6369 fix `TransformChain.__getitem__` signature
  napari/utils/events/containers/_typed.py
  napari/utils/transforms/transforms.py
Labels: maintenance, ready to merge

#6371 Automatic add `maintenance` label to upgrade dependecies workflow
  tools/create_pr_or_update_existing_one.py
Labels: maintenance, ready to merge

#6378 Ensure conda workflow runs with proper permissions
  .github/workflows/make_bundle_conda.yml
Labels: task

#6385 Fix `test_link_layers_with_images_then_loaded_not_linked` test
  napari/layers/utils/_tests/test_link_layers.py
Labels: tests, maintenance

#6380 Remove sphinx dependency from defaults dependecies
  resources/constraints/constraints_py3.10.txt
  resources/constraints/constraints_py3.10_docs.txt
  resources/constraints/constraints_py3.10_pydantic_1.txt
  resources/constraints/constraints_py3.11.txt
  resources/constraints/constraints_py3.11_pydantic_1.txt
  resources/constraints/constraints_py3.8.txt
  resources/constraints/constraints_py3.8_pydantic_1.txt
  resources/constraints/constraints_py3.9.txt
  resources/constraints/constraints_py3.9_examples.txt
  resources/constraints/constraints_py3.9_pydantic_1.txt
  setup.cfg
Labels: maintenance

#6379 Ensure the conda bundle workflows have the appropriate permissions
  .github/workflows/make_bundle_conda.yml
Labels: task, maintenance, ready to merge

#6370 Fix permission for JasonEtco/create-an-issue@v2 action
  .github/workflows/benchmarks.yml
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_prereleases.yml
  .github/workflows/test_translations.yml
Labels: maintenance, ready to merge

#6365 Update examples/clipboard_.py to fix FutureWarning
  examples/clipboard_.py
Labels: maintenance, ready to merge

#6387 DOC: misc syntax/typos
  napari/_qt/layer_controls/qt_vectors_controls.py
  napari/_qt/qt_resources/__init__.py
  napari/_vispy/camera.py
  napari/_vispy/canvas.py
  napari/_vispy/layers/labels.py
  napari/components/_layer_slicer.py
  napari/components/layerlist.py
  napari/layers/base/base.py
  napari/layers/labels/_labels_utils.py
  napari/layers/labels/labels.py
  napari/layers/points/_points_mouse_bindings.py
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/shapes.py
Labels: documentation, design, qt, ready to merge

#6153 Update typing informations in `_app_model/injection/_processors.py` and `components/layerlist.py`
  napari/_app_model/injection/_processors.py
  napari/components/layerlist.py
  pyproject.toml
Labels: maintenance, ready to merge

#6317 Bugfix: Account for multiscale for labels in 3d
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/labels/_tests/test_labels_multiscale.py
  napari/layers/labels/_tests/test_labels_pyramid.py
  napari/layers/labels/labels.py
Labels: tests, bugfix, ready to merge

#6330 Fix setting shortcuts with modifier keys and only one modifier key as a shortcut on Windows/Linux
  napari/_qt/widgets/_tests/test_shortcut_editor_widget.py
  napari/_qt/widgets/qt_keyboard_settings.py
  napari/utils/interactions.py
Labels: tests, qt, bugfix, ready to merge

#6329 Directly set author of commit in vendored workflow
  .github/workflows/test_vendored.yml
Labels: task, maintenance, ready to merge

#6389 Skip redundant pre-commit hooks
  .pre-commit-config.yaml
Labels: maintenance, ready to merge
