Repository napari/napari, pull requests merged in 2024-12, with the labels that each got.

#6699 Add testing for drag and drop events/behavior on `QtLayerList`
  napari/_qt/containers/_tests/test_qt_layer_list.py
Labels: tests, qt, maintenance, ready to merge

#7417 bug fix: have layerlist consume return, not pass to viewer
  napari/_qt/containers/qt_layer_list.py
Labels: UI/UX, bugfix, ready to merge

#7416 Add metadata event to Layer class
  napari/layers/base/base.py
Labels: enhancement, ready to merge

#7383 mark slow local tests
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/widgets/_tests/test_qt_play.py
  napari/utils/_tests/test_io.py
  napari_builtins/_tests/test_reader.py
  pyproject.toml
Labels: tests, qt, maintenance, ready to merge

#7418 Prevent errors when interacting with selected non-visible layers
  napari/layers/base/_tests/test_base.py
  napari/layers/base/base.py
Labels: tests, bugfix, ready to merge

#7427 Turn off 'flash' in `screenshot`/`export_figure` examples
  examples/export_figure.py
  examples/screenshot_and_export_figure.py
  examples/to_screenshot.py
Labels: documentation, bugfix, ready to merge

#7432 Update surface shading control combobox when value is set programatically
  napari/_qt/layer_controls/_tests/test_qt_surface_layer.py
  napari/_qt/layer_controls/qt_surface_controls.py
Labels: tests, qt, bugfix, ready to merge

#7422 [bugfix] implement proper world to data normal transformation
  napari/layers/base/base.py
  napari/layers/image/_image_key_bindings.py
  napari/layers/utils/interactivity_utils.py
Labels: bugfix, ready to merge

#7435 [tests] add tests for Layer._world_to_displayed_data_normal
  napari/layers/base/_tests/test_base.py
Labels: tests, maintenance, ready to merge

#7426 Update `to_screenshot` and `export_figure` example docstrings
  examples/export_figure.py
  examples/to_screenshot.py
Labels: documentation, ready to merge

#7441 Remove lucyleeow from qt/ codeowners
  .github/CODEOWNERS
Labels: maintenance, ready to merge

#7431 Update normal calculation for labels isosurface rendering
  napari/_vispy/visuals/volume.py
Labels: enhancement, highlight, ready to merge

#7268 Speedup triangulation of edges
  examples/dev/triangle_edge.py
  napari/_qt/layer_controls/qt_vectors_controls.py
  napari/layers/shapes/_accelerated_triangulate.py
  napari/layers/shapes/_shapes_models/_polygon_base.py
  napari/layers/shapes/_shapes_models/_tests/test_shapes_models.py
  napari/layers/shapes/_shapes_models/shape.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/_tests/test_triangulation.py
Labels: tests, qt, enhancement, highlight, ready to merge

#7450 Fix thread warning if not `napari.run()` is called
  napari/_qt/qt_main_window.py
Labels: qt, bugfix, ready to merge

#7461 Elide layer name in the middle instead of the end
  napari/_qt/containers/_layer_delegate.py
Labels: feature, qt, highlight, ready to merge

#7459 Fix selection of nD-sliced shapes
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_shapes_models/shape.py
  napari/layers/shapes/_tests/test_shape_list.py
Labels: tests, bugfix, ready to merge

#7457 Fix highlighting artifacts when selecting multiple shapes
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_tests/test_shape_list.py
Labels: tests, bugfix, ready to merge

#7420 [Bugfix] Don't exit Preferences widget when using Return/Enter to confirm a shortcut
  napari/_qt/dialogs/_tests/test_preferences_dialog.py
  napari/_qt/widgets/_tests/test_shortcut_editor_widget.py
  napari/_qt/widgets/qt_keyboard_settings.py
Labels: tests, qt, UI/UX, bugfix, ready to merge

#7472 Fix typo observable in Preferences -> Appearance
  napari/settings/_appearance.py
Labels: maintenance, ready to merge, preferences
