Repository napari/napari, pull requests merged in 2024-02, with the labels that each got.

#6633 Respect scale when render bounding box around multiscale level
  napari/_vispy/layers/base.py
Labels: bugfix

#6376 Add 0.4.19 release notes
  docs/release/release_0_4_19.md
Labels: documentation

#6639 Fix labeler configuration after update to v5
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: maintenance, ready to merge

#6638 bump actions/download-artifact and actions/upload-artifact from 3 to 4
  .github/workflows/benchmarks.yml
  .github/workflows/build_docs.yml
  .github/workflows/reusable_build_wheel.yml
  .github/workflows/reusable_coverage_upload.yml
  .github/workflows/reusable_run_tox_test.yml
  .github/workflows/upgrade_test_constraints.yml
Labels: task, ci, maintenance

#6636 Fix decomposition function to properly work with more than 2x2 matrices
  napari/_vispy/layers/base.py
  napari/components/_tests/test_layers_list.py
  napari/utils/transforms/_tests/test_transform_utils.py
  napari/utils/transforms/_tests/test_transforms.py
  napari/utils/transforms/transform_utils.py
Labels: tests, bugfix, ready to merge

#6635 Cache linear matrix decomposition in `Affine` class
  napari/utils/transforms/transforms.py
Labels: maintenance, ready to merge

#6537 Rescale image data if outside `float32` precision
  napari/_vispy/layers/image.py
  napari/components/_tests/test_layers_list.py
  napari/layers/image/_slice.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/image.py
  napari/layers/intensity_mixin.py
  napari/utils/colormaps/_tests/test_colormap_utils.py
  napari/utils/colormaps/colormap_utils.py
  setup.cfg
Labels: tests, maintenance, ready to merge

#6546 Show notification when using shortcut to change current selected label to largest used label plus one
  napari/layers/labels/_labels_key_bindings.py
Labels: enhancement, UI/UX, ready to merge

#6629 Remove scaling of highlight width, fix showing shapes for uneven coordinates
  napari/_vispy/layers/shapes.py
  napari/_vispy/visuals/shapes.py
  napari/layers/shapes/_shape_list.py
Labels: bugfix, ready to merge

#6574 Add some more typing to utils.misc
  napari/layers/image/_image_constants.py
  napari/utils/misc.py
Labels: maintenance, ready to merge

#6642 Add more information about problem with texture in the exception
  napari/_vispy/layers/image.py
Labels: maintenance, ready to merge

#6640 Keep vertex selection after shape drawing finishes
  napari/layers/shapes/_tests/test_shapes_mouse_bindings.py
  napari/layers/shapes/shapes.py
Labels: tests, enhancement, UI/UX, ready to merge

#6645 Add GL_MAX_3D_TEXTURE_SIZE to `napari --info`
  napari/utils/info.py
Labels: enhancement, ready to merge

#6650 Remove if that prevents from setting gamma in constructor
  napari/_vispy/layers/image.py
Labels: bugfix, ready to merge

#6652 Allow both 'auto' and None as texture_format when choosing VisPy node
  napari/_vispy/_tests/test_vispy_image_layer.py
  napari/_vispy/layers/image.py
Labels: tests, bugfix, ready to merge

#6509 Add lots of typing to layers.base
  napari/layers/_source.py
  napari/layers/base/base.py
  napari/layers/utils/interactivity_utils.py
  napari/layers/utils/layer_utils.py
  napari/utils/transforms/transforms.py
  pyproject.toml
Labels: maintenance, ready to merge, typing

#6663 Exclude problematic surface texture example from tests and docs building
  examples/surface_multi_texture_.py
  napari/_tests/test_examples.py
Labels: tests, maintenance, ready to merge

#6664 [Bugfix] update selection ctx keys before showing LayerList context menu
  napari/_qt/containers/_layer_delegate.py
  napari/_qt/containers/_tests/test_qt_layer_list.py
Labels: tests, qt, UI/UX, bugfix, ready to merge

#6666 Show `About napari` action on macOS application menu
  napari/_app_model/constants/_commands.py
  napari/_qt/_qapp_model/qactions/_help.py
Labels: feature, qt, UI/UX, ready to merge

#6659 Disallow incomplete defs in layers.image
  napari/layers/image/image.py
  pyproject.toml
Labels: maintenance, ready to merge, typing

#6660 Check untyped defs in _shapes_models
  napari/layers/shapes/_shapes_models/_polgyon_base.py
  napari/layers/shapes/_shapes_models/ellipse.py
  napari/layers/shapes/_shapes_models/line.py
  napari/layers/shapes/_shapes_models/rectangle.py
  napari/layers/shapes/_shapes_models/shape.py
  napari/layers/shapes/_shapes_utils.py
  pyproject.toml
Labels: maintenance, ready to merge, typing

#6589 Ensure consistent layer tooltip
  napari/layers/base/base.py
Labels: UI/UX, bugfix

#6674 Raise exception on TransformChain.simplified when chain is empty
  napari/_vispy/layers/base.py
  napari/layers/base/base.py
  napari/utils/transforms/transforms.py
Labels: maintenance, ready to merge

#6677 [ENH] use imageio.v3 for builtins io imread
  napari_builtins/_tests/test_reader.py
  napari_builtins/io/_read.py
Labels: tests, enhancement, ready to merge

#6675 Add human readable names for Points layer subvisual
  napari/_vispy/layers/points.py
  napari/_vispy/visuals/points.py
Labels: maintenance, ready to merge

#6508 Finish typing layers.base helper files
  napari/layers/base/_base_mouse_bindings.py
  napari/layers/base/base.py
  napari/utils/transforms/transforms.py
  pyproject.toml
Labels: maintenance, ready to merge, typing

#6539 Type two sub-modules in napari.layers.utils
  napari/layers/utils/_link_layers.py
  napari/layers/utils/interactivity_utils.py
  pyproject.toml
Labels: maintenance, ready to merge, typing

#6687 Exclude size and symbol pts attributes from linking, because they depend on number of points
  napari/layers/utils/_link_layers.py
Labels: bugfix, ready to merge

#6575 Fix typing in utils.perf
  napari/utils/perf/_config.py
  napari/utils/perf/_event.py
  napari/utils/perf/_patcher.py
  napari/utils/perf/_timers.py
  napari/utils/perf/_trace_file.py
  pyproject.toml
Labels: maintenance, ready to merge, typing

#6576 Add more typing to utils.events.containers
  napari/utils/events/_tests/test_evented_set.py
  napari/utils/events/containers/_dict.py
  napari/utils/events/containers/_evented_dict.py
  napari/utils/events/containers/_evented_list.py
  napari/utils/events/containers/_nested_list.py
  napari/utils/events/containers/_selectable_list.py
  napari/utils/events/containers/_selection.py
  napari/utils/events/containers/_set.py
  napari/utils/events/containers/_typed.py
  pyproject.toml
Labels: tests, maintenance, ready to merge, typing

#6402 Rename `edge_*` attributes and references to `border_*` on points layer
  examples/add_points_with_features.py
  examples/add_points_with_multicolor_text.py
  examples/add_points_with_text.py
  examples/mgui_with_threadpoolexec_.py
  examples/mgui_with_threadworker_.py
  examples/nD_points_with_features.py
  examples/spherical_points.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_tests/test_adding_removing.py
  napari/_tests/utils.py
  napari/_vispy/layers/points.py
  napari/components/_tests/test_prune_kwargs.py
  napari/components/_tests/test_viewer_model.py
  napari/layers/_tests/test_serialize.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/layers/utils/_link_layers.py
  tools/string_list.json
Labels: tests, qt, deprecation, maintenance, ready to merge

#6496 Fix scheduled benchmarks to test both last release and main
  .github/workflows/test_pull_requests.yml
  napari/benchmarks/benchmark_image_layer.py
  napari/benchmarks/benchmark_labels_layer.py
  napari/benchmarks/benchmark_points_layer.py
  napari/benchmarks/benchmark_python_layer.py
  napari/benchmarks/benchmark_qt_slicing.py
  napari/benchmarks/benchmark_qt_viewer_image.py
  napari/benchmarks/benchmark_qt_viewer_labels.py
  napari/benchmarks/benchmark_qt_viewer_vectors.py
  napari/benchmarks/benchmark_text_manager.py
  napari/benchmarks/benchmark_tracks_layer.py
  napari/benchmarks/utils.py
Labels: task, maintenance

#6641 Remove deprecated code from Labels layer
  napari/benchmarks/benchmark_labels_layer.py
  napari/benchmarks/benchmark_qt_viewer_labels.py
  napari/components/_tests/test_viewer_model.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: tests, breaking change, api, maintenance, ready to merge

#6428 Synchronize `rgb` docstring of `ViewerModel.add_image` and `Image` constructor
  napari/_tests/test_view_layers.py
  napari/components/viewer_model.py
  napari/layers/image/image.py
  napari/view_layers.py
Labels: tests, maintenance, ready to merge
