Repository napari/napari, pull requests merged in 2024-08, with the labels that each got.

#7137 [bugfix] update Point size slider on selection (current_size event)
  napari/_qt/layer_controls/_tests/test_qt_points_layer.py
  napari/_qt/layer_controls/qt_points_controls.py
Labels: tests, qt, bugfix, ready to merge

#7100 Add option for smoother labels rendering in 3D
  examples/labels3d.py
  napari/_qt/layer_controls/_tests/test_qt_labels_layer.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_vispy/_tests/test_vispy_labels_layer.py
  napari/_vispy/layers/labels.py
  napari/_vispy/visuals/volume.py
  napari/layers/labels/_labels_constants.py
  napari/layers/labels/labels.py
Labels: feature, tests, qt, highlight, ready to merge

#7145 Allow easy call single benchmark
  napari/benchmarks/README.md
  napari/benchmarks/__main__.py
  napari/benchmarks/benchmark_evented_model.py
  napari/benchmarks/benchmark_image_layer.py
  napari/benchmarks/benchmark_import.py
  napari/benchmarks/benchmark_labels_layer.py
  napari/benchmarks/benchmark_points_layer.py
  napari/benchmarks/benchmark_python_layer.py
  napari/benchmarks/benchmark_qt_slicing.py
  napari/benchmarks/benchmark_qt_viewer.py
  napari/benchmarks/benchmark_qt_viewer_image.py
  napari/benchmarks/benchmark_qt_viewer_labels.py
  napari/benchmarks/benchmark_qt_viewer_vectors.py
  napari/benchmarks/benchmark_shapes_layer.py
  napari/benchmarks/benchmark_surface_layer.py
  napari/benchmarks/benchmark_text_manager.py
  napari/benchmarks/benchmark_tracks_layer.py
  napari/benchmarks/benchmark_vectors_layer.py
  napari/benchmarks/utils.py
Labels: maintenance, ready to merge

#7134 Update example annotate_segmentation_with_text.py to add link to the tutorial
  examples/annotate_segmentation_with_text.py
Labels: documentation, ready to merge, example

#7154 [Maint] Update version_denylist.txt to block mpl 3.9.1 on windows
  resources/constraints/constraints_py3.10_windows.txt
  resources/constraints/constraints_py3.11_windows.txt
  resources/constraints/constraints_py3.12_windows.txt
  resources/constraints/constraints_py3.9_windows.txt
  resources/constraints/version_denylist.txt
Labels: tests, maintenance, ready to merge

#7125 Remove `post` identifier in fetching release notes
  .github/workflows/make_release.yml
Labels: maintenance

#7140 Disconnect all dims events when closing viewer
  napari/_qt/_tests/test_async_slicing.py
  napari/components/_layer_slicer.py
  napari/components/viewer_model.py
  napari/layers/points/_slice.py
  napari/viewer.py
Labels: tests, qt, bugfix, ready to merge

#7118 Add some basic codeowners
  .github/CODEOWNERS
Labels: maintenance, ready to merge

#7162 Emit highlight event only if selection changed
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
Labels: bugfix, ready to merge

#7160 Use `delete` instead of `get`method for delete `ready to merge` label
  tools/create_pr_or_update_existing_one.py
Labels: maintenance, ready to merge

#7163 [Bugfix] Only import darkdetect when needed
  napari/utils/theme.py
Labels: severity-critical, bugfix, ready to merge

#7158 Run slider animation without using timer
  napari/_qt/_qapp_model/_tests/test_view_menu.py
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_qt/widgets/_tests/test_qt_dims_2.py
  napari/_qt/widgets/_tests/test_qt_play.py
  napari/_qt/widgets/qt_dims.py
  napari/_qt/widgets/qt_dims_slider.py
Labels: tests, qt, bugfix, maintenance, ready to merge

#7166 fix: typo in shape model name
  napari/layers/shapes/_shapes_models/_polygon_base.py
  napari/layers/shapes/_shapes_models/path.py
  napari/layers/shapes/_shapes_models/polygon.py
  pyproject.toml
  tools/string_list.json
Labels: maintenance, ready to merge

#7172 FIX `QtViewer._open_files_dialog` handing of `stack`
  napari/_qt/_tests/test_open_file.py
  napari/_qt/qt_viewer.py
Labels: tests, qt, bugfix, ready to merge

#7157 [Maint] Increase timeout in `test_async_out_of_bounds_layer_loaded` to 500 ms
  napari/_qt/_tests/test_async_slicing.py
Labels: tests, qt, maintenance, ready to merge

#7063 Update shortcuts.py to have `Enter` be primary Shapes completion
  napari/utils/shortcuts.py
Labels: enhancement, UI/UX, ready to merge

#7120 Clean action manager to avoid side effects during tests
  napari/_tests/test_magicgui.py
Labels: tests, maintenance, ready to merge

#7174 Clarify workflow names
  .github/workflows/edit_pr_description.yml
  .github/workflows/label_and_milestone_checker.yml
  .github/workflows/labeler.yml
  .github/workflows/test_typing.yml
Labels: maintenance, ready to merge

#7175 correct typos in comments
  .github/workflows/reusable_run_tox_test.yml
  asv.conf.json
  examples/action_manager.py
  examples/clipping_planes_interactive_.py
  examples/embed_ipython_.py
  examples/live_tiffs_generator_.py
  examples/magic_parameter_sweep.py
  examples/magic_viewer.py
  examples/show_points_based_on_feature.py
  examples/viewer_fps_label.py
  napari/__main__.py
  napari/_qt/_qapp_model/injection/_qprocessors.py
  napari/_qt/_qplugins/_qnpe2.py
  napari/_qt/containers/_base_item_model.py
  napari/_qt/containers/_layer_delegate.py
  napari/_qt/dialogs/_tests/test_preferences_dialog.py
  napari/_qt/dialogs/qt_reader_dialog.py
  napari/_qt/qt_main_window.py
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_qt/widgets/qt_dims_slider.py
  napari/_qt/widgets/qt_dims_sorter.py
  napari/_tests/test_adding_removing.py
  napari/_tests/test_magicgui.py
  napari/_vispy/_tests/test_vispy_surface_layer.py
  napari/_vispy/overlays/scale_bar.py
  napari/components/viewer_model.py
  napari/layers/__init__.py
  napari/layers/_tests/test_dask_layers.py
  napari/layers/image/_tests/test_image.py
  napari/layers/labels/labels.py
  napari/layers/points/_points_utils.py
  napari/layers/points/_tests/test_points_mouse_bindings.py
  napari/layers/points/points.py
  napari/layers/shapes/_shapes_models/_tests/test_shapes_models.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/shapes.py
  napari/layers/utils/_tests/test_layer_utils.py
  napari/layers/utils/layer_utils.py
  napari/plugins/_npe2.py
  napari/settings/_tests/test_settings.py
  napari/utils/_tests/test_progress.py
  napari/utils/colormaps/colormap_utils.py
  napari/utils/colormaps/vendored/_cm.py
  napari/utils/colormaps/vendored/cm.py
  napari/utils/events/containers/_evented_list.py
  napari/utils/events/containers/_nested_list.py
  napari/utils/events/containers/_typed.py
  napari/utils/events/debugging.py
  napari/utils/events/event.py
  napari/utils/events/evented_model.py
  napari/utils/interactions.py
  napari/utils/misc.py
  napari/utils/perf/_patcher.py
  napari/utils/transforms/_tests/test_transforms.py
  napari/view_layers.py
  napari/viewer.py
Labels: tests, qt, preferences, maintenance, ready to merge

#7176 MNT Parametrize `test_open_files_dialog` to check for `stack` `True` and `False`
  napari/_qt/_tests/test_open_file.py
Labels: tests, qt, maintenance, ready to merge

#7173 Move parallel setting for coverage calculation to tox.ini
  pyproject.toml
  tox.ini
Labels: maintenance, ready to merge

#7015 Fix missing extent cache invalidation
  napari/_vispy/layers/labels.py
  napari/layers/_scalar_field/scalar_field.py
  napari/layers/base/base.py
  napari/layers/image/image.py
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
  napari/layers/surface/surface.py
  napari/layers/tracks/tracks.py
  napari/layers/vectors/vectors.py
Labels: performance, bugfix, ready to merge

#7186 Add `napari.benchmarks.util` to sdist and wheel to fix balls example data
  .github/workflows/reusable_build_wheel.yml
  .github/workflows/reusable_pip_test.yml
  MANIFEST.in
Labels: bugfix, ready to merge

#7184 Fix bug preventing from change symbol for points initialized with single value
  napari/layers/points/_points_utils.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: tests, bugfix, ready to merge

#7201 Bugfix: Revert "Emit highlight event only if selection changed (#7162)"
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
Labels: bugfix, ready to merge

#7146 Calculate status in a separate thread
  napari/__init__.py
  napari/_check_numpy_version.py
  napari/_qt/_tests/test_qt_window.py
  napari/_qt/_tests/test_threads.py
  napari/_qt/qt_main_window.py
  napari/_qt/threads/__init__.py
  napari/_qt/threads/status_checker.py
  napari/_qt/widgets/_tests/test_qt_dims.py
  napari/_tests/test_viewer.py
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/conftest.py
  napari/settings/_appearance.py
  napari/utils/__init__.py
  napari/utils/_testsupport.py
  pyproject.toml
Labels: tests, performance, qt, preferences, enhancement, highlight, ready to merge

#7090 enable 3D picking with perspective camera
  napari/_vispy/canvas.py
Labels: enhancement, bugfix, ready to merge

#7203 [Maint] Remove some pytest skipif for python <3.9
  napari/_tests/test_magicgui.py
  napari/utils/_tests/test_theme.py
Labels: tests, maintenance, ready to merge

#7180 Implement shortcuts widget `setValue` to handle shortcuts settings updates
  napari/_qt/dialogs/_tests/test_preferences_dialog.py
  napari/_qt/widgets/qt_keyboard_settings.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/widgets.py
Labels: tests, qt, bugfix, ready to merge

#7218 Fix example by connect missing event
  examples/multiple_viewer_widget.py
Labels: maintenance, ready to merge

#7194 Improve error message in `combine_widgets`
  napari/_qt/utils.py
  napari/_qt/widgets/_tests/test_qt_dock_widget.py
Labels: tests, qt, maintenance, ready to merge

#7222 Use new DOI for surface example
  examples/surface_multi_texture.py
  napari/_tests/test_examples.py
Labels: tests, bugfix, ready to merge, example

#7199 Update labels_with_features example for #7025
  examples/add_labels_with_features.py
Labels: enhancement, ready to merge, example

#7223 Speed up highlighting in the Shapes layer
  napari/layers/shapes/_shape_list.py
Labels: performance, enhancement, ready to merge

#7014 Fix/add some typing to napari.layers.tracks
  napari/layers/tracks/_track_utils.py
  napari/layers/tracks/_tracks_key_bindings.py
  napari/layers/tracks/tracks.py
  pyproject.toml
Labels: maintenance, ready to merge

#7181 Call workflow providing target directory name
  .github/workflows/deploy_docs.yml
Labels: maintenance

#7153 [UX/UI] Update layer controls tooltips
  napari/_qt/layer_controls/qt_image_controls.py
  napari/_qt/layer_controls/qt_image_controls_base.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/layer_controls/qt_shapes_controls.py
  napari/_qt/layer_controls/qt_vectors_controls.py
Labels: qt, enhancement, UI/UX, ready to merge

#7214 If a shape is convex, use faster fan triangulation
  napari/layers/shapes/_shapes_models/_tests/test_shapes_models.py
  napari/layers/shapes/_shapes_utils.py
Labels: tests, performance, ready to merge

#7228 Fix convex polygon detection
  napari/layers/shapes/_shapes_models/_tests/test_shapes_models.py
  napari/layers/shapes/_shapes_utils.py
Labels: tests, bugfix, ready to merge

#7217 Block zarr 3.0.0a1 and 3.0.0a2 in pre-release tests
  resources/constraints/version_denylist.txt
Labels: maintenance, ready to merge
