Repository napari/napari, pull requests merged in 2024-01, with the labels that each got.

#6552 Set default dtype for empty `_ImageSliceResponse`
  napari/layers/image/_slice.py
Labels: bugfix, ready to merge

#6527 Use blobs instead of random integers
  napari/benchmarks/benchmark_labels_layer.py
  napari/benchmarks/utils.py
  napari_builtins/_ndims_balls.py
  napari_builtins/_tests/test_ndims_balls.py
  napari_builtins/builtins.yaml
Labels: tests, run-benchmarks, enhancement, highlight, maintenance, ready to merge

#6547 [Maint] Update build_docs workflow to match napari/docs
  .github/workflows/build_docs.yml
Labels: task, maintenance, ready to merge

#6515 Added support for features in surface layers
  napari/layers/surface/_tests/test_surface.py
  napari/layers/surface/surface.py
Labels: feature, tests, ready to merge

#6573 Update test to work with `app-model==0.2.4`
  napari/utils/_tests/test_key_bindings.py
  napari/utils/key_bindings.py
  resources/constraints/constraints_py3.10.txt
  resources/constraints/constraints_py3.10_docs.txt
  resources/constraints/constraints_py3.10_pydantic_1.txt
  resources/constraints/constraints_py3.11.txt
  resources/constraints/constraints_py3.11_pydantic_1.txt
  resources/constraints/constraints_py3.8.txt
  resources/constraints/constraints_py3.8_pydantic_1.txt
  resources/constraints/constraints_py3.9.txt
  resources/constraints/constraints_py3.9_examples.txt
  resources/constraints/constraints_py3.9_pydantic_1.txt
Labels: tests, maintenance, ready to merge

#6557 Bump mypy version and fix errors
  napari/components/viewer_model.py
  napari/conftest.py
  resources/requirements_mypy.in
  resources/requirements_mypy.txt
Labels: maintenance, ready to merge

#6568 Fix test in napari_builtins to remove import from conftest
  napari_builtins/_tests/conftest.py
  napari_builtins/_tests/test_writer.py
Labels: tests, maintenance, ready to merge

#6571 Fix label direct mode for installation without numba
  .github/workflows/reusable_pip_test.yml
  napari/_qt/_tests/test_qt_viewer.py
  napari/layers/labels/_tests/test_labels.py
  napari/utils/colormaps/_tests/test_colormap.py
  napari/utils/colormaps/colormap.py
Labels: tests, qt, task, bugfix

#6494 Add size and ndim to LayerDataProtocol
  napari/layers/_data_protocols.py
  napari/layers/_multiscale_data.py
  napari/layers/utils/layer_utils.py
Labels: maintenance, ready to merge, typing

#6424 Simplify unused parameters of Quaternion functions.
  napari/_vispy/__init__.py
  napari/_vispy/_tests/test_utils.py
  napari/_vispy/camera.py
  napari/_vispy/utils/quaternion.py
Labels: tests, maintenance, ready to merge

#6580 Fix labels mapping cache by filling it with background, not 0
  examples/add_labels.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: tests, bugfix, ready to merge

#6594 Try fix hanging tests by move `self.stop()` on end of functions that update GUI
  napari/_qt/widgets/qt_dims.py
Labels: qt, maintenance, ready to merge

#6598 Update docs constraints for napari-sphinx-theme 0.3.0
  resources/constraints/constraints_py3.10_docs.txt
Labels: documentation, maintenance, ready to merge

#6603 Do not require triangle on macos arm
  setup.cfg
Labels: maintenance, ready to merge

#6609 Ignore pandas pyarrow warning
  napari/layers/utils/layer_utils.py
  pyproject.toml
  resources/constraints/constraints_py3.10.txt
  resources/constraints/constraints_py3.10_docs.txt
  resources/constraints/constraints_py3.10_pydantic_1.txt
  resources/constraints/constraints_py3.11.txt
  resources/constraints/constraints_py3.11_pydantic_1.txt
  resources/constraints/constraints_py3.9.txt
  resources/constraints/constraints_py3.9_examples.txt
  resources/constraints/constraints_py3.9_pydantic_1.txt
Labels: maintenance, ready to merge

#6596 Fix wrong working interpolation of labels in 3d
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_viewer.py
  napari/_vispy/layers/labels.py
Labels: tests, qt, bugfix, ready to merge

#6542 Initial deprecations for Labels API
  examples/add_labels_with_features.py
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/layer_controls/_tests/test_qt_labels_layer.py
  napari/_qt/layer_controls/_tests/test_qt_layer_controls.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_tests/utils.py
  napari/_vispy/_tests/test_vispy_labels_polygon_overlay.py
  napari/_vispy/layers/labels.py
  napari/_vispy/overlays/labels_polygon.py
  napari/components/_tests/test_prune_kwargs.py
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/layers/labels/_labels_constants.py
  napari/layers/labels/_labels_mouse_bindings.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/_tests/test_labels_key_bindings.py
  napari/layers/labels/labels.py
  napari/utils/__init__.py
  napari/utils/_register.py
  napari/utils/_tests/test_migrations.py
  napari/utils/_tests/test_register.py
  napari/utils/colormaps/__init__.py
  napari/utils/colormaps/_tests/test_colormap.py
  napari/utils/colormaps/colormap.py
  napari/utils/colormaps/colormap_utils.py
  napari/utils/migrations.py
Labels: tests, qt, deprecation, ui change, highlight

#6616 Fix `Labels.data_setitem` setting of view by taking dims order into account
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/utils/_indexing.py
Labels: tests, bugfix, ready to merge

#6621 Fix points selection
  napari/layers/points/points.py
Labels: bugfix, ready to merge

#6618 Fixing data_setitem function of label layer
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: tests, bugfix, ready to merge

#6622 Select only linked layers already present in layer list
  napari/layers/_layer_actions.py
Labels: bugfix, ready to merge

#6623 Bug fixes to multiple issues with linked layers
  napari/components/_tests/test_layers_list.py
  napari/components/layerlist.py
  napari/layers/utils/_link_layers.py
  napari/layers/utils/_tests/test_link_layers.py
  napari/utils/_tests/test_misc.py
  napari/utils/misc.py
Labels: tests, bugfix, ready to merge

#6611 Fix points `changed` event emission
  napari/layers/_tests/_utils.py
  napari/layers/points/_points_mouse_bindings.py
  napari/layers/points/_tests/test_points_mouse_bindings.py
  napari/layers/points/points.py
Labels: tests, bugfix, ready to merge

#6384 Cherry-pick docs for 0.4.19 release
  .github/workflows/build_docs.yml
  docs/_scripts/prep_docs.py
  docs/_templates/layout.html
  docs/_templates/sbt-sidebar-nav.html
  docs/_templates/sidebar-nav-bs.html
  docs/_toc.yml
  docs/community/meeting_schedule.md
  docs/community/team.md
  docs/community/working_groups.md
  docs/conf.py
  docs/developers/contributing.md
  docs/developers/core_dev_guide.md
  docs/developers/documentation/index.md
  docs/developers/index.md
  docs/developers/packaging.md
  docs/further-resources/napari-workshops.md
  docs/gallery.md
  docs/guides/rendering.md
  docs/howtos/layers/points.md
  docs/howtos/layers/shapes.md
  docs/naps/6-contributable-menus.md
  docs/naps/7-key-binding-dispatch.md
  docs/naps/8-telemetry.md
  docs/naps/_static/kb-example-graph.png
  docs/requirements.txt
  docs/roadmaps/index.md
  docs/tutorials/annotation/annotate_points.md
  docs/tutorials/fundamentals/getting_started.md
  docs/tutorials/fundamentals/installation.md
  docs/tutorials/fundamentals/quick_start.md
  docs/tutorials/fundamentals/viewer.md
  docs/tutorials/start_index.md
  resources/constraints/constraints_py3.10_docs.txt
  setup.cfg
Labels: documentation, task, maintenance

#6628 Fix rendering of vertexes of shape layers with small scale
  napari/_vispy/layers/shapes.py
Labels: priority-high, bugfix, ready to merge

#6634 Cherry pick docs for 0.4.19, second part
  docs/_toc.yml
  docs/community/meeting_schedule.md
  docs/community/team.md
  docs/conf.py
  docs/naps/9-multiple-canvases.md
  docs/naps/_static/multicanvas-napari-architecture-today.png
  docs/naps/_static/multicanvas-napari-architecture-tomorrow.png
  docs/requirements.txt
Labels: documentation
