Repository napari/napari, pull requests merged in 2024-04, with the labels that each got.

#6767 Move Qt view menu actions inside Qt folder
  napari/_app_model/_app.py
  napari/_qt/_qapp_model/_tests/test_misc_callbacks.py
  napari/_qt/_qapp_model/_tests/test_viewer_toggler.py
  napari/_qt/_qapp_model/qactions/_toggle_action.py
  napari/_qt/_qapp_model/qactions/_view.py
Labels: tests, qt, maintenance, ready to merge

#5986 Lock dimensions / axes while rolling
  napari/_qt/containers/__init__.py
  napari/_qt/containers/_factory.py
  napari/_qt/containers/_tests/test_qt_axis_list.py
  napari/_qt/containers/qt_axis_model.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_qt/widgets/_tests/test_qt_dims_sorter.py
  napari/_qt/widgets/qt_dims_sorter.py
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/_tests/test_viewer.py
  napari/components/_tests/test_dims.py
  napari/components/_viewer_key_bindings.py
  napari/components/dims.py
  napari/resources/icons/lock.svg
  napari/resources/icons/lock_open.svg
  pyproject.toml
Labels: feature, tests, design, api, qt, ready to merge

#6782 Implement validation of docstrings and kwargs order
  napari/layers/image/_tests/test_image.py
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
  napari/utils/_test_utils.py
  pyproject.toml
Labels: tests, maintenance, ready to merge

#6786 Sort docstring and kwargs of Shapes layer
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
Labels: tests, maintenance, ready to merge

#6787 Sort docstring and kwargs of Surface layer
  napari/layers/surface/_tests/test_surface.py
  napari/layers/surface/surface.py
Labels: tests, maintenance, ready to merge

#6788 Sort docstring and kwargs of Tracks layer
  napari/layers/tracks/_tests/test_tracks.py
  napari/layers/tracks/tracks.py
Labels: tests, maintenance, ready to merge

#6809 [maint] Fix deploy_docs.yml for change in napari/docs workflow
  .github/workflows/deploy_docs.yml
Labels: maintenance, ready to merge

#6810 Sort docstring and kwargs of Vectors layer
  napari/layers/vectors/_tests/test_vectors.py
  napari/layers/vectors/vectors.py
Labels: tests, maintenance, ready to merge

#6812 Fix some rst syntax in docstrings
  napari/_qt/qthreading.py
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/layers/vectors/vectors.py
  napari/utils/events/containers/_selection.py
  napari/utils/transforms/transforms.py
Labels: qt, maintenance, ready to merge

#6791 improve stack trace of autogenerated `ViewerModel.add_xxxx` methods
  MANIFEST.in
  napari/components/viewer_model.py
  napari/utils/_register.py
  napari/utils/add_layer.py_tmpl
  pyproject.toml
Labels: maintenance, ready to merge

#6807 Add default compression scheme to save boolean arrays as tif
  napari/utils/_tests/test_io.py
  napari/utils/io.py
Labels: tests, bugfix, ready to merge

#6770 Improve typing in layers.points
  napari/layers/points/_points_key_bindings.py
  napari/layers/points/_points_utils.py
  napari/layers/points/_slice.py
  napari/layers/points/points.py
  pyproject.toml
Labels: maintenance, ready to merge

#6813 Speedup `napari.layers.utils._test.test_stack_utils.py`
  napari/layers/utils/_tests/test_stack_utils.py
Labels: tests, maintenance, ready to merge

#6816 Add possibility to test consistency of docstring content between base class and class
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
  napari/utils/_test_utils.py
Labels: tests, maintenance, ready to merge

#6818 Add workflow for automatically remove `ready to merge` label
  .github/workflows/remove_ready_to_merge.yml
Labels: maintenance, ready to merge

#6825 Add write permission to `remove_ready_to_merge.yml` workflow
  .github/workflows/remove_ready_to_merge.yml
Labels: maintenance, ready to merge

#6808 Solving visual glitch when displaying tracks with missing timepoints
  napari/_vispy/filters/tracks.py
Labels: bugfix, ready to merge

#6821 Remove redundant `_view_actions.py`
  napari/_app_model/actions/_view_actions.py
Labels: bugfix, ready to merge

#6769 [ENH] Add `repeatable` kwarg to register_viewer_action and use it for slider left/right keybind
  napari/components/_viewer_key_bindings.py
Labels: enhancement, UI/UX, ready to merge

#6795 Move _is_moving property from Layer to Shapes
  napari/layers/base/base.py
  napari/layers/shapes/shapes.py
Labels: maintenance, ready to merge

#6803 Add more typing to two napari.layers sub-modules
  napari/layers/_data_protocols.py
  napari/layers/_layer_actions.py
  pyproject.toml
Labels: maintenance, ready to merge

#6830 fix "Remove ready to merge labe"
  .github/workflows/remove_ready_to_merge.yml
Labels: maintenance, ready to merge

#6824 add test for ScalarField docstring, fix pointed bugs
  napari/layers/_scalar_field/_tests/__init__.py
  napari/layers/_scalar_field/_tests/test_scalar_filed.py
  napari/layers/_scalar_field/scalar_field.py
  napari/layers/base/base.py
  napari/layers/points/points.py
Labels: tests, maintenance, ready to merge

#6797 Reset all dims to be rollable
  napari/components/dims.py
Labels: feature, ready to merge

#6832 Remove "ready to merge" label action part 3
  .github/workflows/remove_ready_to_merge.yml
Labels: ci, maintenance

#6554 Improve repo configuration based on scientific python suggestions
  .github/dependabot.yml
  .github/workflows/reusable_build_wheel.yml
  .github/workflows/reusable_coverage_upload.yml
  .github/workflows/reusable_pip_test.yml
  .github/workflows/reusable_run_tox_test.yml
  .github/workflows/test_pull_requests.yml
  napari/layers/labels/_tests/test_labels.py
  napari/utils/_testsupport.py
  pyproject.toml
  tox.ini
Labels: tests, qt, task, maintenance, ready to merge

#6817 Rename `axes_labels` to `axis_labels` in some internal variables and docstrings
  napari/_qt/_tests/test_qt_viewer.py
  napari/_vispy/overlays/axes.py
  napari/components/overlays/axes.py
Labels: tests, qt, maintenance, ready to merge

#6741 Improve widget clean up in `test_widget_hide_destroy`
  napari/_qt/_tests/test_plugin_widgets.py
Labels: tests, qt, maintenance, ready to merge

#6837 Do not crash test on graphviz installation fail
  .github/workflows/reusable_run_tox_test.yml
Labels: maintenance, ready to merge

#6740 Fix Remove lambdas when updating menus from context in `Window`
  napari/_qt/_qapp_model/_tests/test_file_menu.py
  napari/_qt/_qapp_model/_tests/test_qapp_model_menus.py
  napari/_qt/qt_main_window.py
Labels: tests, qt, maintenance, ready to merge

#6775 Switch from black to ruff-format
  .pre-commit-config.yaml
  napari/__main__.py
  napari/_qt/_qplugins/_qnpe2.py
  napari/_qt/dialogs/qt_plugin_report.py
  napari/_qt/perf/qt_performance.py
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/qt_plugin_sorter.py
  napari/_vispy/canvas.py
  napari/_vispy/layers/image.py
  napari/_vispy/utils/gl.py
  napari/components/_tests/test_multichannel.py
  napari/components/_viewer_key_bindings.py
  napari/components/experimental/commands.py
  napari/components/experimental/monitor/_api.py
  napari/components/experimental/monitor/_utils.py
  napari/components/experimental/remote/_commands.py
  napari/components/experimental/remote/_manager.py
  napari/conftest.py
  napari/layers/_data_protocols.py
  napari/layers/_multiscale_data.py
  napari/layers/image/_image_key_bindings.py
  napari/layers/image/_image_utils.py
  napari/layers/image/_slice.py
  napari/layers/image/image.py
  napari/layers/labels/labels.py
  napari/layers/utils/_text_utils.py
  napari/layers/utils/color_manager_utils.py
  napari/layers/utils/layer_utils.py
  napari/plugins/_tests/test_hook_specifications.py
  napari/plugins/hook_specifications.py
  napari/types.py
  napari/utils/_dask_utils.py
  napari/utils/_testsupport.py
  napari/utils/action_manager.py
  napari/utils/colormaps/categorical_colormap_utils.py
  napari/utils/compat.py
  napari/utils/config.py
  napari/utils/events/containers/_selection.py
  napari/utils/events/event.py
  napari/utils/interactions.py
  napari/utils/key_bindings.py
  napari/utils/misc.py
  napari/utils/naming.py
  napari/utils/perf/_config.py
  napari/utils/perf/_event.py
  napari/utils/perf/_stat.py
  napari/utils/perf/_timers.py
  napari/utils/perf/_trace_file.py
  napari/utils/stubgen.py
  napari_builtins/io/_read.py
  pyproject.toml
  tox.ini
Labels: tests, qt, maintenance, ready to merge

#6843 Enable ruff SLOT linting rule
  napari/settings/_fields.py
  napari/utils/translations.py
  pyproject.toml
Labels: preferences, maintenance, ready to merge

#6535 Fix contrast limits for single layer numpy case.
  napari/layers/utils/_tests/test_layer_utils.py
  napari/layers/utils/layer_utils.py
Labels: tests, bugfix, ready to merge

#6841 Add extra field to store plugin display name
  napari/plugins/npe2api.py
Labels: maintenance, ready to merge

#6855 Ensure bounding_box lines stay up to date between 2D and 3D
  napari/_vispy/overlays/bounding_box.py
  napari/_vispy/visuals/bounding_box.py
Labels: bugfix, ready to merge

#6814 [Maint] Update CircleCI config.yml for changes in napari/docs Makefile
  .circleci/config.yml
  .github/workflows/circleci.yml
Labels: maintenance, ready to merge

#6826 Bump python from 3.9 to 3.12 in pre-release tests
  .github/workflows/test_prereleases.yml
Labels: maintenance, ready to merge

#6858 Check prereleases testing with macOS + Python 3.12 + PyQt6
  .github/workflows/test_prereleases.yml
  .github/workflows/test_pull_requests.yml
  napari/_qt/widgets/_tests/test_shortcut_editor_widget.py
Labels: tests, qt, maintenance, ready to merge

#6854 Test dev examples
  examples/dev/demo_shape_creation.py
  examples/dev/direct-colormap-aliasing-test.py
  examples/dev/gui_notifications.py
  examples/dev/gui_notifications_threaded.py
  examples/dev/issue-6456.py
  examples/dev/overlays.py
  examples/dev/plot_2d_edge_meshes.py
  examples/dev/q_list_view.py
  examples/dev/q_node_tree.py
  napari/_tests/test_examples.py
Labels: tests, ci, maintenance, ready to merge

#6833 Expose NotebookScreenshot docstring
  napari/utils/__init__.py
  napari/utils/notebook_display.py
Labels: documentation, ready to merge

#6857 Fix zarr reading with unrelated files
  napari_builtins/_tests/test_io.py
  napari_builtins/io/_read.py
Labels: tests, bugfix, ready to merge

#6877 Fix benchmark reporting
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_report.yml
Labels: run-benchmarks, maintenance, ready to merge

#6864 implement copying spatial information via clipboard
  napari/_app_model/_submenus.py
  napari/_app_model/constants/_menus.py
  napari/_qt/_qapp_model/_tests/test_qaction_layer.py
  napari/_qt/_qapp_model/qactions/__init__.py
  napari/_qt/_qapp_model/qactions/_layer.py
  napari/_qt/containers/_layer_delegate.py
  napari/layers/base/_test_util_sample_layer.py
Labels: feature, tests, qt, run-benchmarks, ready to merge
