Repository napari/napari, pull requests merged in 2024-05, with the labels that each got.

#6853 Fix selection size when canvas limits are set for Points
  napari/_vispy/layers/points.py
  napari/_vispy/visuals/points.py
Labels: vispy, bugfix, ready to merge

#6888 Fix citation cff and add worflow for future validation
  .github/workflows/citation_cff_validate.yml
  CITATION.cff
Labels: maintenance, ready to merge

#6834 refresh when canvas_size_limits are changed
  napari/_vispy/layers/points.py
Labels: vispy, bugfix, ready to merge

#6743 Move providers from `_providers.py` to `_qproviders.py`
  napari/_app_model/_app.py
  napari/_app_model/injection/__init__.py
  napari/_app_model/injection/_processors.py
  napari/_app_model/injection/_providers.py
  napari/_qt/_qapp_model/_tests/test_processors.py
  napari/_qt/_qapp_model/_tests/test_qproviders.py
  napari/_qt/_qapp_model/injection/_qprocessors.py
  napari/_qt/_qapp_model/injection/_qproviders.py
  napari/_qt/_qplugins/_qnpe2.py
  napari/_qt/_tests/test_app.py
  napari/_qt/qthreading.py
  napari/_tests/test_multiple_viewers.py
  napari/_tests/test_providers.py
  napari/utils/_magicgui.py
Labels: tests, qt, maintenance, ready to merge

#6893 perf: remove extra highlight calls
  napari/layers/points/_points_key_bindings.py
Labels: performance, ready to merge

#6874 Two bug fixes concerning 4D surfaces, ie surfaces with (t, z, y, x) vertices
  napari/_vispy/_tests/test_vispy_surface_layer.py
  napari/_vispy/layers/surface.py
  napari/layers/surface/_tests/test_surface.py
  napari/layers/surface/surface.py
Labels: tests, vispy, bugfix, ready to merge

#6776 numpy version 2.0 compatibility
  .github/workflows/test_prereleases.yml
  napari/_qt/_tests/test_qt_viewer.py
  napari/layers/utils/plane.py
  napari/utils/_tracebacks.py
  pyproject.toml
  tox.ini
Labels: tests, qt, maintenance, ready to merge

#6727 Making Points layer creation and update faster
  napari/layers/points/_points_constants.py
  napari/layers/points/_points_utils.py
  napari/layers/points/points.py
Labels: performance, highlight, ready to merge

#6899 Add longer description to pytest fail in `fail_obj_graph`
  napari/utils/_testsupport.py
Labels: maintenance, ready to merge

#6859 "Shapes to Labels", "(float)Image to Labels": Don't pop layer being converted, append new one
  napari/layers/_layer_actions.py
  napari/layers/_tests/test_layer_actions.py
Labels: tests, enhancement, UI/UX, ready to merge

#6882 [bugfix] Drop if guard on notification_manager to enable show_info from Jupyter
  napari/_qt/qt_event_loop.py
Labels: qt, bugfix, ready to merge

#6887 Disable copying layer transform metadata when selecting multiple layers
  napari/_app_model/_submenus.py
  napari/_qt/_qapp_model/qactions/_layer.py
Labels: qt, bugfix, ready to merge

#6909 [Maint] On PRs, dont run benchmarks unless initial tests pass
  .github/workflows/test_pull_requests.yml
Labels: maintenance, ready to merge

#6894 Fix use of scaling in vispy points
  napari/_vispy/visuals/points.py
Labels: vispy, bugfix, ready to merge

#6901 Add deprecation message to CallDefault function partly resolves issue#6257
  napari/utils/misc.py
Labels: deprecation, maintenance, ready to merge

#6883 Move help actions under `_qt` and remove lambdas
  napari/_app_model/_app.py
  napari/_app_model/actions/_help_actions.py
  napari/_qt/_qapp_model/_tests/test_help_menu_urls.py
  napari/_qt/_qapp_model/qactions/_help.py
Labels: tests, qt, maintenance, ready to merge

#6849 Add T20 ruff rule (print calls)
  napari/__main__.py
  napari/_qt/_qapp_model/_tests/test_qproviders.py
  napari/_qt/dialogs/qt_notification.py
  napari/_qt/qt_viewer.py
  napari/_qt/widgets/qt_theme_sample.py
  napari/_tests/test_advanced.py
  napari/_tests/test_import_time.py
  napari/benchmarks/benchmark_import.py
  napari/components/experimental/monitor/_monitor.py
  napari/utils/notifications.py
  napari/utils/perf/_patcher.py
  napari/utils/perf/_timers.py
  napari/utils/stubgen.py
  pyproject.toml
Labels: tests, qt, ci, maintenance, ready to merge

#6904 DOC Update menu action file docstrings
  napari/_qt/_qapp_model/qactions/_file.py
  napari/_qt/_qapp_model/qactions/_help.py
  napari/_qt/_qapp_model/qactions/_layer.py
  napari/_qt/_qapp_model/qactions/_plugins.py
  napari/_qt/_qapp_model/qactions/_view.py
Labels: documentation, qt, ready to merge

#6903 DOC Update `_mock_app` docstring
  napari/utils/_testsupport.py
Labels: documentation, ready to merge

#6923 remove error reporter code
  napari/_qt/_qapp_model/qactions/_help.py
  napari/conftest.py
  napari/utils/notifications.py
Labels: qt, maintenance, ready to merge

#6912 Fix shapes mouse click and double click behavior on partial shapes
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/_tests/test_shapes_mouse_bindings.py
  napari/layers/shapes/shapes.py
Labels: tests, bugfix, ready to merge

#6836 DeprecationWarning in ensure_iterable and is_iterable, Closes #6256
  napari/utils/misc.py
Labels: tests, maintenance, ready to merge

#6935 Fix callback for `File -> Open Folder...` action
  napari/_qt/_qapp_model/qactions/_file.py
Labels: qt, UI/UX, bugfix, ready to merge

#6931 Add warning notification when connectivity errors occur in when opening the plugin manager
  napari/plugins/npe2api.py
Labels: bugfix, ready to merge

#6929 Automatically remove run-benchmarks label once benchmarks are executed
  .github/workflows/benchmarks_report.yml
Labels: maintenance, ready to merge

#6848 Define submenus with their actions, remove submenus.py file
  napari/_app_model/_app.py
  napari/_app_model/_submenus.py
  napari/_app_model/actions/_layer_actions.py
  napari/_qt/_qapp_model/qactions/__init__.py
  napari/_qt/_qapp_model/qactions/_file.py
  napari/_qt/_qapp_model/qactions/_view.py
Labels: qt, maintenance, ready to merge

#6926 MNT: Fix layerlist context creation
  napari/components/layerlist.py
Labels: maintenance, ready to merge

#6947 [Maint] Update docs constraints for new napari-sphinx-theme release
  resources/constraints/constraints_py3.10.txt
  resources/constraints/constraints_py3.10_docs.txt
  resources/constraints/constraints_py3.10_macos_arm.txt
  resources/constraints/constraints_py3.10_pydantic_1.txt
  resources/constraints/constraints_py3.11.txt
  resources/constraints/constraints_py3.11_macos_arm.txt
  resources/constraints/constraints_py3.11_pydantic_1.txt
  resources/constraints/constraints_py3.12.txt
  resources/constraints/constraints_py3.12_macos_arm.txt
  resources/constraints/constraints_py3.12_pydantic_1.txt
  resources/constraints/constraints_py3.9.txt
  resources/constraints/constraints_py3.9_examples.txt
  resources/constraints/constraints_py3.9_macos_arm.txt
  resources/constraints/constraints_py3.9_pydantic_1.txt
  resources/requirements_mypy.txt
Labels: maintenance
