Repository napari/napari, pull requests merged in 2024-11, with the labels that each got.

#7339 Add screenshot test for highlights visibility when layer selection/active layer changes
  napari/_tests/test_with_screenshot.py
Labels: tests, maintenance, ready to merge

#7280 Add more tests for Qt processors
  napari/_qt/_qapp_model/_tests/test_processors.py
Labels: tests, qt, maintenance, ready to merge

#7215 Fix zarr 3.0 compatibility
  napari/_qt/dialogs/_tests/test_reader_dialog.py
  napari/layers/labels/_tests/test_labels.py
  napari_builtins/_tests/test_io.py
  napari_builtins/io/_read.py
  pyproject.toml
  resources/constraints/version_denylist.txt
Labels: tests, qt, maintenance, ready to merge

#7340 fix `iso_gradient_mode` in constructor call
  napari/_vispy/layers/labels.py
  napari/layers/labels/labels.py
Labels: bugfix, ready to merge

#7322 [Enh] Add a `Merge to RGB` contextual menu item
  napari/_app_model/actions/_layerlist_context_actions.py
  napari/_qt/_qapp_model/_tests/test_layerlist_context_actions.py
  napari/layers/_layer_actions.py
  napari/layers/_tests/test_layer_actions.py
  napari/layers/utils/_tests/test_stack_utils.py
  napari/layers/utils/stack_utils.py
Labels: tests, qt, enhancement, UI/UX, ready to merge

#6753 Use `font_size` setting to control `napari-console` font-size
  napari/_qt/qt_main_window.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_qt/qt_viewer.py
  pyproject.toml
Labels: design, qt, bugfix, ready to merge

#7308 Add from maximized to fullscreen mode interactions handling and allow using `Alt-Tab` while on fullscreen on Windows
  .github/workflows/reusable_run_tox_test.yml
  .github/workflows/test_pull_requests.yml
  napari/_qt/_qapp_model/_tests/test_view_menu.py
  napari/_qt/qt_main_window.py
  pyproject.toml
Labels: tests, qt, bugfix, maintenance, ready to merge

#7342 Fix using transform mode when having layers with a different number of dimensions
  napari/_tests/test_mouse_bindings.py
  napari/layers/base/_base_mouse_bindings.py
  napari/layers/base/_tests/test_mouse_bindings.py
Labels: tests, bugfix, ready to merge

#7286 [Enh] Double-click to zoom in on the clicked location (alt to zoom out)
  napari/components/_tests/test_viewer_mouse_bindings.py
  napari/components/_viewer_mouse_bindings.py
  napari/components/viewer_model.py
Labels: tests, enhancement, UI/UX, ready to merge

#7368 Stop testing PySide6 on python 3.9
  .github/workflows/test_pull_requests.yml
Labels: maintenance, ready to merge

#7359 Add reminder about version added directive in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, maintenance, ready to merge

#7360 Add setting Windows resolution step for prereleases testing workflow and some tests fixes
  .github/workflows/test_prereleases.yml
  napari/_qt/_qapp_model/_tests/test_view_menu.py
Labels: tests, qt, maintenance, ready to merge

#7369 fix: remove "openblas_set_num_threads not found" warning by add missed break
  napari/_check_numpy_version.py
Labels: maintenance, ready to merge

#7365 Add maintainer and contributor documentation about workflow automation near the configuration
  .github/CONTRIBUTING.md
  .github/labeler.yml
  .github/workflows/actionlint.yml
Labels: maintenance, ready to merge

#7377 Add python-dotenv to dev dependencies
  pyproject.toml
Labels: maintenance, ready to merge

#7220 Do not start notification timer if window is not active.
  napari/_qt/dialogs/qt_notification.py
Labels: qt, enhancement, ready to merge

#7384 Speed up bigtiff test using `np.empty` and smaller data
  napari/utils/_tests/test_io.py
Labels: tests, maintenance, ready to merge

#7389 [Maint] drop unused `n_dimensional` property of Labels
  examples/paint-nd.py
  napari/layers/labels/_tests/test_labels.py
Labels: tests, maintenance, ready to merge

#7375 Isolate keybinding tests using pytest.mark
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/dialogs/_tests/test_preferences_dialog.py
  napari/_qt/widgets/_tests/test_shortcut_editor_widget.py
  napari/_tests/test_key_bindings.py
  napari/components/_tests/test_viewer_keybindings.py
  napari/layers/points/_tests/test_points_key_bindings.py
  napari/utils/_tests/test_key_bindings.py
  pyproject.toml
Labels: tests, qt, maintenance, ready to merge, DX

#7386 fix: change highlight only on zoom and mouse press
  napari/_tests/test_with_screenshot.py
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/shapes.py
Labels: tests, bugfix, ready to merge

#7381 Update the docstrings and comments for status checker thread
  napari/_qt/threads/status_checker.py
Labels: documentation, qt, maintenance, ready to merge

#7319 Add example doc comparing `screenshot` and `export_figure`
  examples/screenshot_and_export_figure.py
Labels: documentation, ci, enhancement, ready to merge

#7395 Don't show plane normal controls unless layer has 3 or more dimensions and change controls order (plane controls under depiction combobox)
  napari/_qt/layer_controls/qt_image_controls.py
Labels: qt, bugfix, ready to merge

#7408 Enable mouse pan and zoom when no active layer is available
  napari/components/viewer_model.py
Labels: enhancement, ready to merge
