Repository napari/napari, pull requests merged in 2024-10, with the labels that each got.

#7304 Remove keybinding full stops
  napari/components/_viewer_key_bindings.py
  napari/layers/labels/_labels_key_bindings.py
  napari/layers/points/_points_key_bindings.py
  napari/layers/shapes/_shapes_key_bindings.py
Labels: enhancement, UI/UX, ready to merge

#7289 Highlight Shapes and Points layer data only when active
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/points/points.py
  napari/layers/shapes/shapes.py
Labels: tests, enhancement, ready to merge

#7305 Block zarr 3.0.0a5, 3.0.0a6
  resources/constraints/version_denylist.txt
Labels: maintenance, ready to merge

#7309 update scale_bar example to include new attributes
  examples/scale_bar.py
Labels: documentation, ready to merge

#7317 Change `Layer.create` type annotation to accept any Mapping
  napari/layers/base/base.py
Labels: maintenance, ready to merge

#7326 Fix double reporting of leaked widgets
  napari/conftest.py
Labels: maintenance, ready to merge

#7337 Improve docstrings and code flow of `ShapeList.outline` add mssed return in thread status
  napari/_qt/threads/status_checker.py
  napari/layers/shapes/_shape_list.py
Labels: qt, maintenance, ready to merge

#7332 Fix bounding box to not contain only shape interior but also edges
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_shapes_models/_tests/test_shapes_models.py
  napari/layers/shapes/_shapes_models/shape.py
  napari/layers/shapes/_tests/test_shape_list.py
Labels: tests, bugfix, ready to merge

#7336 Clean selected data in Shapes layer when setting data
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/shapes.py
Labels: tests, bugfix, ready to merge
