Repository napari/napari, pull requests merged in 2024-03, with the labels that each got.

#6695 Make new labels dtype configurable
  napari/components/viewer_model.py
  napari/settings/_application.py
  napari/settings/_constants.py
Labels: preferences, enhancement, ready to merge

#6671 Making Tracks layers creation and update faster
  napari/benchmarks/benchmark_tracks_layer.py
  napari/layers/tracks/_tests/test_tracks.py
  napari/layers/tracks/_track_utils.py
Labels: tests, performance, run-benchmarks, maintenance, ready to merge

#6697 Fix upload of benchmarks
  .github/workflows/benchmarks.yml
Labels: maintenance, ready to merge

#6406 Fix some weird behaviors when using delete and backspace keys as shortcuts (with or without modifiers)
  .github/workflows/reusable_pip_test.yml
  .github/workflows/reusable_run_tox_test.yml
  napari/_qt/widgets/_tests/test_shortcut_editor_widget.py
  napari/_qt/widgets/qt_keyboard_settings.py
  napari/_tests/utils.py
  setup.cfg
  tox.ini
Labels: tests, qt, task, maintenance, ready to merge

#6679 Fix offset in rendering of `TransformBox` of image/labels layers
  napari/_vispy/layers/base.py
  napari/_vispy/overlays/bounding_box.py
Labels: bugfix, ready to merge

#6590 Add viewer keybinds to select & show only next/prev layer and to toggle visibility of unselected
  napari/_qt/containers/qt_layer_list.py
  napari/components/_tests/test_viewer_keybindings.py
  napari/components/_viewer_key_bindings.py
  napari/utils/shortcuts.py
Labels: feature, tests, qt, UI/UX, ready to merge

#6698 Bump minimum dask version
  setup.cfg
Labels: maintenance, ready to merge

#6673 Migrate from setup.cfg to pyproject.toml
  .github/workflows/benchmarks.yml
  .github/workflows/make_release.yml
  .github/workflows/reusable_build_wheel.yml
  .github/workflows/reusable_coverage_upload.yml
  .github/workflows/reusable_run_tox_test.yml
  .github/workflows/test_prereleases.yml
  .github/workflows/test_pull_requests.yml
  .github/workflows/test_translations.yml
  .github/workflows/test_typing.yml
  pyproject.toml
  setup.cfg
  tools/check_updated_packages.py
Labels: maintenance, ready to merge

#6704 Update shapes.py add_rectangle and add_ellipse docstrings
  napari/layers/shapes/shapes.py
Labels: documentation, ready to merge

#6713 Fix `--pre` workflow: missing setup to enable `pyautogui` usage on Linux
  .github/workflows/test_prereleases.yml
Labels: maintenance, ready to merge

#6360 Add layer name to QFileDialog when only one layer is selected for saving.
  napari/_qt/qt_viewer.py
Labels: qt, pr-party-update-async, enhancement, ready to merge

#6724 DOC Explicitly describe use of `show` in `make_napari_viewer`
  napari/utils/_testsupport.py
Labels: documentation, ready to merge

#6710 Add `Optional` section to napari info with numba and triangle
  napari/utils/info.py
Labels: enhancement, ready to merge

#6719 Create .Xauthority file in conftest.py rather than GHA workflows
  .github/workflows/reusable_pip_test.yml
  .github/workflows/reusable_run_tox_test.yml
  .github/workflows/test_prereleases.yml
  napari/conftest.py
Labels: maintenance, ready to merge

#6721 Exclude pyside 2 test on comprehensive workflow
  .github/workflows/test_comprehensive.yml
Labels: maintenance, ready to merge

#6720 use cross group dependecy in pyproject.toml
  pyproject.toml
Labels: maintenance, ready to merge

#6725 Move base class for Image and Labels to its own file
  napari/_vispy/layers/image.py
  napari/_vispy/layers/labels.py
  napari/_vispy/layers/scalar_field.py
  napari/layers/_scalar_field/__init__.py
  napari/layers/_scalar_field/scalar_field.py
  napari/layers/image/image.py
  napari/layers/intensity_mixin.py
  napari/layers/labels/labels.py
  pyproject.toml
Labels: maintenance, ready to merge

#6723 Update docstring for _get_console method of QtViewer class
  napari/_qt/qt_viewer.py
Labels: documentation, qt, ready to merge

#4991 Use app model for plugins menu
  napari/_app_model/_tests/test_viewer_toggler.py
  napari/_app_model/constants/_commands.py
  napari/_app_model/constants/_menus.py
  napari/_app_model/injection/_processors.py
  napari/_app_model/injection/_providers.py
  napari/_qt/_qapp_model/_tests/test_qproviders.py
  napari/_qt/_qapp_model/injection/__init__.py
  napari/_qt/_qapp_model/injection/_qprocessors.py
  napari/_qt/_qapp_model/injection/_qproviders.py
  napari/_qt/_qapp_model/qactions/__init__.py
  napari/_qt/_qapp_model/qactions/_plugins.py
  napari/_qt/_qplugins/__init__.py
  napari/_qt/_qplugins/_qnpe2.py
  napari/_qt/_tests/test_plugin_widgets.py
  napari/_qt/menus/__init__.py
  napari/_qt/menus/_tests/test_plugins_menu.py
  napari/_qt/menus/plugins_menu.py
  napari/_qt/qt_main_window.py
  napari/_qt/widgets/qt_viewer_dock_widget.py
  napari/_tests/test_providers.py
  napari/plugins/_npe2.py
  napari/plugins/_plugin_manager.py
  pyproject.toml
Labels: tests, plugins, qt, maintenance, ready to merge

#6735 Remove unnecessary early call to np.asarray before thick slicing
  napari/layers/image/_image_utils.py
  napari/layers/image/_slice.py
Labels: performance, ready to merge

#6297 [Maint] Add zarr to optional dependencies in pyproject.toml
  pyproject.toml
Labels: maintenance, ready to merge

#6703 Include features index as key in FormatStringEncoding
  napari/layers/utils/_tests/test_string_encoding.py
  napari/layers/utils/string_encoding.py
Labels: feature, tests, ready to merge

#6716 Typing improvements in layers.shapes
  napari/layers/shapes/_mesh.py
  napari/layers/shapes/_shape_list.py
  napari/layers/shapes/_shapes_key_bindings.py
  napari/layers/shapes/shapes.py
  napari/layers/utils/layer_utils.py
  pyproject.toml
Labels: maintenance, ready to merge

#6749 [Maint, CI] Fix upgrade_test_constraints.yml to use pyproject.toml
  .github/workflows/upgrade_test_constraints.yml
Labels: bugfix, maintenance, ready to merge

#6748 [Maint] Exclude pyqt6 6.6.1 on macOS in pyproject.toml
  pyproject.toml
  resources/constraints/constraints_py3.10.txt
  resources/constraints/constraints_py3.10_docs.txt
  resources/constraints/constraints_py3.10_pydantic_1.txt
  resources/constraints/constraints_py3.11.txt
  resources/constraints/constraints_py3.11_pydantic_1.txt
  resources/constraints/constraints_py3.8.txt
  resources/constraints/constraints_py3.8_pydantic_1.txt
  resources/constraints/constraints_py3.9.txt
  resources/constraints/constraints_py3.9_examples.txt
  resources/constraints/constraints_py3.9_pydantic_1.txt
  resources/constraints/version_denylist.txt
Labels: maintenance, ready to merge

#6757 [Maint] Put testing dependencies in [dev] as napari[testing]
  pyproject.toml
Labels: maintenance, ready to merge

#6739 Fix npe1 samples menu building
  napari/_qt/_qplugins/_qnpe2.py
Labels: qt, bugfix, ready to merge

#6764 Keep `qtpy` in headless tests and fix resulting failure
  napari/plugins/_npe2.py
  tox.ini
Labels: bugfix, maintenance, ready to merge

#6765 bump tifffile dependency and remove deprecation-handling code
  napari/utils/io.py
  pyproject.toml
Labels: maintenance, ready to merge

#6661 Typing improvements to vectors layer
  napari/layers/vectors/_slice.py
  napari/layers/vectors/_vector_utils.py
  napari/layers/vectors/_vectors_key_bindings.py
  napari/layers/vectors/vectors.py
  pyproject.toml
Labels: maintenance, ready to merge

#6706 Fix shape layer infinite edge bug
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/test_shapes_utils.py
Labels: tests, bugfix, ready to merge

#6766 Fix sync slicing of not yet visible layers
  napari/components/_layer_slicer.py
  napari/components/_tests/test_viewer_model.py
Labels: tests, bugfix

#6772 [maint] drop unused experimental vendor humanize and cachetools
  napari/_vendor/experimental/__init__.py
  napari/_vendor/experimental/cachetools/CHANGELOG.rst
  napari/_vendor/experimental/cachetools/LICENSE
  napari/_vendor/experimental/cachetools/__init__.py
  napari/_vendor/experimental/cachetools/cachetools/__init__.py
  napari/_vendor/experimental/cachetools/cachetools/abc.py
  napari/_vendor/experimental/cachetools/cachetools/cache.py
  napari/_vendor/experimental/cachetools/cachetools/decorators.py
  napari/_vendor/experimental/cachetools/cachetools/func.py
  napari/_vendor/experimental/cachetools/cachetools/keys.py
  napari/_vendor/experimental/cachetools/cachetools/lfu.py
  napari/_vendor/experimental/cachetools/cachetools/lru.py
  napari/_vendor/experimental/cachetools/cachetools/rr.py
  napari/_vendor/experimental/cachetools/cachetools/ttl.py
  napari/_vendor/experimental/cachetools/docs/.gitignore
  napari/_vendor/experimental/cachetools/docs/Makefile
  napari/_vendor/experimental/cachetools/docs/conf.py
  napari/_vendor/experimental/cachetools/docs/index.rst
  napari/_vendor/experimental/humanize/LICENCE
  napari/_vendor/experimental/humanize/README.md
  napari/_vendor/experimental/humanize/__init__.py
  napari/_vendor/experimental/humanize/src/__init__.py
  napari/_vendor/experimental/humanize/src/humanize/__init__.py
  napari/_vendor/experimental/humanize/src/humanize/filesize.py
  napari/_vendor/experimental/humanize/src/humanize/i18n.py
  napari/_vendor/experimental/humanize/src/humanize/locale/de_DE/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/es_ES/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/fa_IR/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/fi_FI/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/fr_FR/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/id_ID/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/it_IT/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/ja_JP/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/ko_KR/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/nl_NL/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/pl_PL/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/pt_BR/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/pt_PT/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/ru_RU/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/sk_SK/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/tr_TR/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/uk_UA/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/vi_VI/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/locale/zh_CN/LC_MESSAGES/humanize.po
  napari/_vendor/experimental/humanize/src/humanize/number.py
  napari/_vendor/experimental/humanize/src/humanize/time.py
  napari/_vendor/experimental/vendor.txt
Labels: async, maintenance, ready to merge

#6728 [Dockerfile] update pip before installing napari
  dockerfile
Labels: bugfix, maintenance, ready to merge

#6771 [Maint] Correct a few more setup.cfg to pyproject.toml
  .github/workflows/build_docs.yml
  .github/workflows/reusable_pip_test.yml
  tox.ini
Labels: maintenance, ready to merge

#6774 DOC Add info to `make_napari_viewer` docstring
  napari/utils/_testsupport.py
Labels: documentation, ready to merge

#6754 [Dockerfile] add missing opengl and x11 packages to the base image
  dockerfile
Labels: bugfix, maintenance, ready to merge

#6717 Improve typing in layers.surface
  napari/layers/surface/_surface_key_bindings.py
  napari/layers/surface/surface.py
  pyproject.toml
Labels: maintenance, ready to merge

#6779 Sort parameters in docstring and `__init__` of `Layer`
  napari/layers/base/base.py
Labels: maintenance, ready to merge
