Repository napari/napari, pull requests merged in 2025-09, with the labels that each got.

#8233 Remove console print action shortcut to prevent collision with command palette shortcut
  src/napari/_qt/qt_viewer.py
Labels: bugfix, ready to merge

#8235 Add cache for pooch on CI for Linux jobs
  .circleci/config.yml
  .github/workflows/build_docs.yml
  .github/workflows/reusable_pip_test.yml
  .github/workflows/reusable_run_tox_test.yml
Labels: maintenance, ready to merge

#8243 Use EffVer
  README.md
Labels: documentation, ready to merge

#8265 [maint] Revert back to windows-2022 for windows runners
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_prereleases.yml
  .github/workflows/test_pull_requests.yml
Labels: maintenance, ready to merge

#8259 Use proper name for ruff pre-commit hook and reorder hooks
  .pre-commit-config.yaml
Labels: maintenance, ready to merge

#8277 Add napari to trove classifiers to populate builtins on napari hub
  pyproject.toml
Labels: maintenance, ready to merge

#8111 Example from SciPy 2025 tutorial; image warping
  examples/mouse_drag_image_warping.py
Labels: enhancement, ready to merge, example

#8244 Make `connect_setattr` handle value conversion for widgets like checkboxes
  src/napari/_qt/layer_controls/widgets/_labels/qt_contiguous_checkbox.py
  src/napari/_qt/layer_controls/widgets/_labels/qt_contour_spinbox.py
  src/napari/_qt/layer_controls/widgets/_labels/qt_display_selected_label_checkbox.py
  src/napari/_qt/layer_controls/widgets/_labels/qt_label_color.py
  src/napari/_qt/layer_controls/widgets/_labels/qt_ndim_spinbox.py
  src/napari/_qt/layer_controls/widgets/_labels/qt_preserve_labels_checkbox.py
  src/napari/_qt/layer_controls/widgets/_tracks/qt_graph_checkbox.py
  src/napari/_qt/layer_controls/widgets/_tracks/qt_id_checkbox.py
  src/napari/_qt/layer_controls/widgets/_tracks/qt_tail_control.py
  src/napari/_qt/layer_controls/widgets/_vectors/qt_line_dimension_spinbox.py
  src/napari/_qt/layer_controls/widgets/qt_out_slice_checkbox.py
  src/napari/_qt/layer_controls/widgets/qt_text_visibility.py
  src/napari/_qt/utils.py
  src/napari/utils/events/event_utils.py
Labels: tests, maintenance, ready to merge

#8295 Add release checklist template
  .github/ISSUE_TEMPLATE/release.md
Labels: maintenance, ready to merge

#8288 [maint] Drop alpha mentions
  README.md
  pyproject.toml
Labels: highlight, maintenance, ready to merge

#8098 Fix effect of scaling when converting shapes to labels
  src/napari/layers/_layer_actions.py
  src/napari/layers/_tests/test_layer_actions.py
Labels: tests, bugfix, ready to merge

#8228 Wait until viewer show in the test in `make_napari_viewer`
  src/napari/_qt/_qapp_model/_tests/test_view_menu.py
  src/napari/utils/_testsupport.py
Labels: tests, maintenance, ready to merge

#8031 [Update] Added `remove` and `remove_selected` in Shapes and Points
  src/napari/layers/points/_tests/test_points.py
  src/napari/layers/points/points.py
  src/napari/layers/shapes/_tests/test_shapes.py
  src/napari/layers/shapes/shapes.py
Labels: tests, enhancement, ready to merge

#8260 fix slice_from_axis to wrap zarr in dask to keep lazy behavior
  src/napari/layers/utils/_tests/test_stack_utils.py
  src/napari/layers/utils/stack_utils.py
Labels: tests, bugfix, ready to merge

#8232 Fix shape position by using a stable algorithm for sorting z_position
  src/napari/layers/shapes/_shape_list.py
  src/napari/layers/shapes/_shapes_models/rectangle.py
  src/napari/layers/shapes/_tests/test_shape_list.py
Labels: tests, bugfix, ready to merge

#8255 Add typing to points mouse bindings
  src/napari/layers/base/base.py
  src/napari/layers/points/_points_mouse_bindings.py
  src/napari/layers/points/points.py
  src/napari/layers/shapes/shapes.py
Labels: maintenance, ready to merge

#8256 Handle affine layer metadata when splitting RGB images
  src/napari/layers/_tests/test_layer_actions.py
  src/napari/layers/utils/stack_utils.py
Labels: tests, enhancement, bugfix, ready to merge

#8305 Use custom logger formatting to most of argument to string
  src/napari/utils/_testsupport.py
Labels: bugfix, ready to merge

#8315 Bump napari-sphinx-theme in deps and constraints
  pyproject.toml
  resources/constraints/constraints_py3.10_docs.txt
  resources/constraints/constraints_py3.12_docs.txt
Labels: documentation, maintenance, ready to merge

#8211 Add a tasks manager status for plugins actions and napari processes
  src/napari/_qt/_qapp_model/qactions/_plugins.py
  src/napari/_qt/_tests/test_threading_progress.py
  src/napari/_qt/dialogs/confirm_close_dialog.py
  src/napari/_qt/qt_main_window.py
  src/napari/_qt/qthreading.py
  src/napari/utils/_tests/test_task_status.py
  src/napari/utils/task_status.py
Labels: tests, enhancement, highlight, ready to merge

#8297 use `Selection` class in shapes layer
  pyproject.toml
  resources/constraints/constraints_py3.10.txt
  resources/constraints/constraints_py3.10_docs.txt
  resources/constraints/constraints_py3.11.txt
  resources/constraints/constraints_py3.12.txt
  resources/constraints/constraints_py3.12_docs.txt
  resources/constraints/constraints_py3.12_examples.txt
  resources/constraints/constraints_py3.13.txt
  src/napari/layers/shapes/_shapes_mouse_bindings.py
  src/napari/layers/shapes/_tests/test_shapes.py
  src/napari/layers/shapes/shapes.py
Labels: feature, tests, ready to merge

#8308 Use shared workflows for build docs
  .github/workflows/build_docs.yml
Labels: documentation, maintenance, ready to merge

#8072 Add `pop()` for `Points` and `Shapes`
  src/napari/layers/points/_tests/test_points.py
  src/napari/layers/points/points.py
  src/napari/layers/shapes/_tests/test_shapes.py
  src/napari/layers/shapes/shapes.py
Labels: feature, tests, highlight, ready to merge

#8253 Add "Hide completed" checkbox to Tracks layer for improved visualization
  pyproject.toml
  src/napari/_qt/layer_controls/qt_tracks_controls.py
  src/napari/_qt/layer_controls/widgets/_tracks/__init__.py
  src/napari/_qt/layer_controls/widgets/_tracks/qt_hide_completed_tracks_checkbox.py
  src/napari/_vispy/filters/tracks.py
  src/napari/_vispy/layers/tracks.py
  src/napari/layers/tracks/_tests/test_tracks.py
  src/napari/layers/tracks/_track_utils.py
  src/napari/layers/tracks/tracks.py
  tools/string_list.json
Labels: tests, enhancement, ready to merge
