Repository napari/napari, pull requests merged in 2025-02, with the labels that each got.

#7560 Fix rendering of Fourier example screenshot
  examples/fourier_transform_playground.py
Labels: maintenance, ready to merge

#7593 Cleanup multiple viewer example
  examples/multiple_viewer_widget.py
Labels: documentation, maintenance, ready to merge

#7589 Remove pydantic v1 compatibility layer, depend on pydantic>=2.2
  .github/workflows/test_pull_requests.yml
  .github/workflows/upgrade_test_constraints.yml
  napari/_pydantic_compat.py
  pyproject.toml
  resources/constraints/constraints_py3.10_docs.txt
  resources/constraints/constraints_py3.10_pydantic_1.txt
  resources/constraints/constraints_py3.11_pydantic_1.txt
  resources/constraints/constraints_py3.12_pydantic_1.txt
  resources/constraints/constraints_py3.9_pydantic_1.txt
  resources/constraints/pydantic_le_2.txt
Labels: highlight, maintenance

#7569 Change naming of 'pan/zoom' mode to 'Move camera' to clarify functionality differences in 2D and 3D
  napari/_qt/layer_controls/qt_image_controls.py
  napari/_qt/layer_controls/qt_image_controls_base.py
  napari/_qt/layer_controls/qt_layer_controls_base.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/layer_controls/qt_shapes_controls.py
  napari/_qt/layer_controls/qt_surface_controls.py
  napari/_qt/layer_controls/qt_tracks_controls.py
  napari/_qt/layer_controls/qt_vectors_controls.py
  napari/components/_viewer_key_bindings.py
  napari/layers/base/base.py
  napari/layers/image/_image_key_bindings.py
  napari/layers/labels/_labels_key_bindings.py
  napari/layers/points/_points_key_bindings.py
  napari/layers/shapes/_shapes_key_bindings.py
  napari/layers/surface/_surface_key_bindings.py
  napari/layers/tracks/_tracks_key_bindings.py
  napari/layers/vectors/_vectors_key_bindings.py
Labels: qt, enhancement, UI/UX, ready to merge

#7582 Fix / update path (shape layer) icon
  napari/resources/icons/path.svg
Labels: bugfix, ready to merge

#7594 Remove andy-sweet from CODEOWNERS
  .github/CODEOWNERS
Labels: maintenance, ready to merge

#7596 Block problematic pydantic pre-release
  resources/constraints/version_denylist.txt
Labels: maintenance, ready to merge

#7544 Small improvement of code readability for Shape painting
  napari/_qt/_tests/test_qt_viewer.py
  napari/_vispy/canvas.py
  napari/_vispy/layers/shapes.py
  napari/_vispy/mouse_event.py
  napari/_vispy/utils/cursor.py
  napari/benchmarks/benchmark_qt_viewer_labels.py
  napari/components/camera.py
  napari/components/cursor.py
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/utils/interactions.py
Labels: tests, qt, maintenance, ready to merge

#7580 Update grid / layer button icons (and separate from stop playback icon)
  napari/_qt/qt_resources/styles/01_buttons.qss
  napari/resources/icons/canvas-grid-view.svg
  napari/resources/icons/canvas-standard-view.svg
Labels: design, ui change, maintenance, ready to merge

#7583 Update NotebookScreenshot docstring
  napari/utils/notebook_display.py
Labels: documentation, ready to merge

#7598 stop using ubuntu 20.04 runners in actions
  .github/workflows/test_comprehensive.yml
  .github/workflows/test_pull_requests.yml
Labels: maintenance, ready to merge

#7606 Set dtype for out of bounds slice when slicing image
  napari/layers/image/_slice.py
Labels: bugfix, ready to merge

#7599 Update README.md to use python 3.10 like napari.org install docs
  README.md
Labels: documentation, ready to merge

#7584 ENH: adjust layer coordinates in status by _translate_grid
  napari/layers/base/base.py
Labels: enhancement, ready to merge

#7597 Add Grid Mode Spacing to change distance between layers
  napari/_qt/widgets/_tests/test_qt_viewer_buttons.py
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/_vendor/qt_json_builder/qt_jsonschema_form/widgets.py
  napari/components/_tests/test_grid.py
  napari/components/_tests/test_viewer_model.py
  napari/components/grid.py
  napari/components/viewer_model.py
  napari/settings/_application.py
  napari/utils/events/custom_types.py
Labels: feature, tests, qt, highlight, ready to merge, preferences

#7608 Change ndisplay button to toggle-like to increase discoverability
  napari/_qt/qt_resources/styles/01_buttons.qss
  napari/resources/icons/2D-toggle.svg
  napari/resources/icons/3D-toggle.svg
Labels: design, enhancement, highlight, ready to merge

#7566 Implement polygon with holes in compiled triangulation
  examples/dev/triangle_edge.py
  napari/layers/shapes/_shapes_models/shape.py
  pyproject.toml
Labels: bugfix, highlight, ready to merge

#7613 [UI] Add Command Palette to the welcome screen
  napari/_qt/widgets/qt_welcome.py
Labels: ui change, enhancement, ready to merge

#7600 Enable creation of custom linear colormaps in layer controls
  napari/_qt/_tests/test_qt_utils.py
  napari/_qt/layer_controls/_tests/test_qt_image_base_layer_.py
  napari/_qt/layer_controls/qt_image_controls_base.py
  napari/_qt/utils.py
Labels: feature, tests, qt, ready to merge

#7618 Fix layout issue in image/surface controls
  napari/_qt/layer_controls/qt_image_controls.py
  napari/_qt/layer_controls/qt_surface_controls.py
Labels: design, qt, enhancement, ready to merge

#7410 Add example to LayerList and docstrings for link_layers/unlink_layers
  napari/components/layerlist.py
Labels: documentation, ready to merge

#7541 Add numba warmup step when creating empty Shapes Layer
  examples/dev/plot_2d_edge_meshes.py
  examples/dev/triangle_edge.py
  napari/layers/shapes/_accelerated_triangulate_dispatch.py
  napari/layers/shapes/_shapes_models/_polygon_base.py
  napari/layers/shapes/_shapes_models/shape.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/test_shapes_utils.py
  napari/layers/shapes/shapes.py
  napari/settings/_experimental.py
  tox.ini
Labels: tests, performance, enhancement, ready to merge, preferences

#7487 Add optional dependency sections for gallery and docs
  .github/workflows/upgrade_test_constraints.yml
  pyproject.toml
  tox.ini
Labels: maintenance, ready to merge

#7622 Refactor setting face meshes in Shapes to support other planar axes
  napari/layers/shapes/_shapes_models/shape.py
  napari/layers/shapes/_shapes_utils.py
Labels: bugfix, ready to merge

#7637 Update pyproject.toml to add missing docs reqs to [docs]
  pyproject.toml
  resources/constraints/constraints_py3.10_docs.txt
Labels: maintenance, ready to merge

#7636 Fix add_shapes.py example: remove duplicate vertex that can cause seg faults
  examples/add_shapes.py
Labels: bugfix, ready to merge, example, topic:shapes

#7638 Update CIrcleCI config.yml to use docs dependency group and pyqt5 (match napari/docs)
  .circleci/config.yml
Labels: maintenance, ready to merge

#7640 Update build_docs.yml to match napari/docs
  .github/workflows/build_docs.yml
Labels: maintenance, ready to merge

#7626 Expose additional Camera parameters in GUI with 3D popup widget
  napari/_qt/widgets/_tests/test_qt_viewer_buttons.py
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/resources/icons/2D-toggle.svg
Labels: tests, qt, enhancement, highlight, ready to merge

#7629 Add tox to dev dependencies
  pyproject.toml
Labels: maintenance, ready to merge

#7650 Conditionally call IPython 9+ with a theme_name instead of color_scheme
  napari/utils/_tracebacks.py
Labels: maintenance, ready to merge

#7565 Protect few possible access to window that may be triggered by callback
  napari/_qt/qt_main_window.py
Labels: qt, bugfix, maintenance, ready to merge

#7656 Move focus to main window before close `NapariQtNotification`
  napari/_qt/dialogs/qt_notification.py
Labels: qt, bugfix, maintenance, ready to merge
