Repository napari/napari, pull requests merged in 2025-06, with the labels that each got.

#7803 Include Qt PyPI server for pre-releases
  .github/workflows/test_prereleases.yml
Labels: tests, qt, maintenance, ready to merge

#7958 Optional rotation handle for selection box overlay + simplify inheritance for Vispy overlays
  examples/dev/controllable_overlay.py
  src/napari/_vispy/utils/visual.py
  src/napari/_vispy/visuals/interaction_box.py
  src/napari/components/_tests/test_interaction_box.py
  src/napari/layers/utils/interaction_box.py
Labels: tests, enhancement, ready to merge

#7986 [maintenance] Use Wandalen/wretry.action to auto-retry fail in --pre tests
  .github/workflows/test_prereleases.yml
Labels: maintenance, ready to merge

#7989 Update README to use `imshow` and add example to generate image
  README.md
  examples/imshow.py
  src/napari/__init__.pyi
  src/napari/resources/multichannel_cells.png
Labels: documentation, maintenance, ready to merge, example

#7972 Fix invalidate of extent cache in Layers
  src/napari/_qt/_qapp_model/qactions/_layerlist_context.py
  src/napari/layers/base/_tests/test_base.py
  src/napari/layers/base/base.py
Labels: tests, bugfix, ready to merge

#8018 Fix numba fail of compile on GHA macOS runners
  src/napari/layers/shapes/_accelerated_triangulate_numba.py
  tox.ini
Labels: maintenance, ready to merge

#7994 Stop status thread on Keyboard Interruption (Ctrl+C)
  src/napari/_qt/utils.py
Labels: maintenance, ready to merge

#8013 Fix angles not showing correctly in UI
  src/napari/_qt/widgets/qt_viewer_buttons.py
Labels: qt, bugfix, ready to merge

#8019 Update docstring in `mouse_drag_callback.py`
  examples/mouse_drag_callback.py
Labels: documentation, ready to merge, example

#8037 Stop benchmark reporting if benchmark action is skipped
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_report.yml
Labels: maintenance, ready to merge

#7942 Fix moving of first/last vertex of polygons added in ring mode
  src/napari/layers/shapes/_shapes_mouse_bindings.py
Labels: bugfix, ready to merge

#7995 [Shapes] Use the plural methods to update colors of all selected shapes at once
  src/napari/layers/shapes/shapes.py
Labels: performance, ready to merge

#7870 Grid mode using vispy ViewBox and linked cameras
  pyproject.toml
  src/napari/_qt/_tests/test_async_slicing.py
  src/napari/_qt/_tests/test_qt_viewer.py
  src/napari/_qt/qt_main_window.py
  src/napari/_qt/qt_viewer.py
  src/napari/_qt/widgets/qt_viewer_buttons.py
  src/napari/_tests/test_mouse_bindings.py
  src/napari/_tests/test_with_screenshot.py
  src/napari/_vispy/_tests/test_canvas.py
  src/napari/_vispy/_tests/test_vispy_camera.py
  src/napari/_vispy/_tests/test_vispy_multiscale.py
  src/napari/_vispy/camera.py
  src/napari/_vispy/canvas.py
  src/napari/_vispy/overlays/base.py
  src/napari/components/_tests/test_viewer_model.py
  src/napari/components/grid.py
  src/napari/components/overlays/base.py
  src/napari/components/viewer_model.py
  src/napari/layers/base/base.py
  src/napari/layers/image/_tests/test_image.py
  src/napari/settings/_application.py
Labels: feature, tests, qt, UI/UX, highlight, ready to merge, preferences

#8052 Bump bermuda to 0.1.5
  pyproject.toml
  resources/constraints/constraints_py3.10.txt
  resources/constraints/constraints_py3.10_docs.txt
  resources/constraints/constraints_py3.11.txt
  resources/constraints/constraints_py3.12.txt
  resources/constraints/constraints_py3.12_docs.txt
  resources/constraints/constraints_py3.12_examples.txt
  resources/constraints/constraints_py3.13.txt
Labels: maintenance, ready to merge

#8053 Reverse canvas grid order
  src/napari/_tests/test_with_screenshot.py
  src/napari/_vispy/canvas.py
Labels: tests, ui change, enhancement, UI/UX, highlight, ready to merge

#8058 Improve tooltips for Grid attributes
  src/napari/_qt/widgets/qt_viewer_buttons.py
  src/napari/settings/_application.py
Labels: enhancement, ready to merge
