Repository napari/napari, pull requests merged in 2025-03, with the labels that each got.

#7659 Add version info to welcome screen
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_qt/widgets/qt_welcome.py
Labels: design, qt, maintenance, ready to merge

#7645 Add 'Extend with Plugins' and 'Contribute to napari' links to the Help menu.
  napari/_qt/_qapp_model/qactions/_help.py
Labels: qt, ui change, enhancement, UI/UX, ready to merge

#7660 Update layerlist.py docstring to stop doc build warnings
  napari/components/layerlist.py
Labels: documentation, bugfix, ready to merge

#7468 Add example for using the glasbey colormap with napari
  .circleci/config.yml
  examples/dev/plot_2d_edge_meshes.py
  examples/glasbey-colormap.py
  pyproject.toml
Labels: documentation, ready to merge, example

#7627 Turn on npe2 adaptor by default and add warning
  napari/_qt/_tests/test_qt_window.py
  napari/_qt/dialogs/_tests/test_shimmed_dialog.py
  napari/_qt/dialogs/shimmed_plugin_dialog.py
  napari/_qt/qt_main_window.py
  napari/settings/_napari_settings.py
  napari/settings/_plugins.py
  pyproject.toml
Labels: tests, qt, highlight, maintenance, ready to merge, preferences

#6819 Fix points data selection for 4D
  napari/_vispy/layers/points.py
  napari/components/_tests/test_layers_base.py
  napari/layers/base/base.py
  napari/layers/points/_tests/test_points.py
Labels: bug, tests, bugfix, ready to merge

#7674 Use faster edge triangulation if numba is available
  napari/layers/shapes/_shapes_utils.py
Labels: bugfix, ready to merge

#7676 Skip `multiple_viewers` example from docs Examples gallery
  examples/multiple_viewers_.py
Labels: documentation, ready to merge, example, DX

#7672 Skip 3D sporadically-failing 3D screenshot test in all macOS CI
  napari/_vispy/_tests/test_vispy_camera.py
Labels: tests, maintenance, ready to merge

#7682 enforce not restart status checker thread on window close
  napari/_qt/qt_main_window.py
  napari/_qt/threads/status_checker.py
Labels: qt, bugfix, ready to merge

#7685 Block ipykernel==7.0.0a1
  resources/constraints/version_denylist.txt
Labels: maintenance

#7545 Fix bounding_box extent for case of 3D multiscale layer
  napari/_vispy/_tests/test_vispy_bounding_box_visual.py
  napari/_vispy/overlays/bounding_box.py
Labels: tests, bugfix, ready to merge

#7691 Show version for PyQt6 and PySide6
  napari/utils/info.py
Labels: maintenance, ready to merge

#7694 Bump python versions in CircleCI to match docs repo
  .circleci/config.yml
Labels: maintenance, ready to merge

#7693 Add CI status badge and remove Cirrus CI badge from README
  README.md
Labels: maintenance, ready to merge

#7688 Fix `is_convex` to properly handle shapes with self intersection
  examples/dev/triangle_edge.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/test_shapes_utils.py
Labels: tests, bugfix, ready to merge

#7697 Skip vispy bounding box test on windows
  napari/_vispy/_tests/test_vispy_bounding_box_visual.py
Labels: tests, maintenance, ready to merge

#7678 Show viewer before trigger screenshot in the camera tests
  napari/_vispy/_tests/test_vispy_camera.py
Labels: tests, maintenance, ready to merge

#7673 Show layer status for all visible layers
  napari/_check_numpy_version.py
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
  napari/layers/base/base.py
  napari/layers/labels/labels.py
  napari/layers/points/points.py
  napari/utils/status_messages.py
Labels: feature, tests, ui change, UI/UX, highlight, needs:decision

#7536 Update point add to handle multiple coordinates in data_indices
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: tests, release:breaking change, api, bugfix

#7632 Add benchmarks for triangulation
  napari/benchmarks/benchmark_shapes_layer.py
  napari/benchmarks/utils.py
  napari/layers/shapes/_shapes_models/shape.py
  napari/layers/shapes/_shapes_utils.py
Labels: performance, maintenance, ready to merge

#7686 Expose new camera orientation API in GUI in ndisplay popup widget
  napari/_qt/widgets/_tests/test_qt_viewer_buttons.py
  napari/_qt/widgets/qt_viewer_buttons.py
Labels: feature, tests, qt, ui change

#7709 [CI] skip flaky camera_3d test on windows
  napari/_vispy/_tests/test_vispy_camera.py
Labels: tests, maintenance, ready to merge

#7712 Replace duck-typing check with isinstance check for QRangeSlider
  napari/_qt/layer_controls/_tests/test_qt_layer_controls.py
Labels: tests, qt, maintenance

#7719 Replace duck-typing check with isinstance check for QRangeSlider, v2
  napari/_qt/layer_controls/_tests/test_qt_layer_controls.py
Labels: tests, qt, maintenance, ready to merge

#7717 [CI] Update test_vispy_camera.py to skip orientation_2d test on windows
  napari/_vispy/_tests/test_vispy_camera.py
Labels: tests, maintenance, ready to merge

#7725 Remove debug statement in tox.ini to be compatible with local Windows usage
  tox.ini
Labels: maintenance, ready to merge

#7255 Bump `asv` constraints version
  resources/constraints/benchmark.txt
Labels: ci, dependencies, maintenance, ready to merge

#7733 Remove deprecated camera.interactive
  napari/components/camera.py
  napari/layers/base/base.py
Labels: tests, maintenance, ready to merge

#7736 Remove warning about deprecated and renamed params min and max for setting range in progress bar
  napari/_qt/widgets/qt_progress_bar.py
Labels: qt, maintenance, ready to merge

#7734 Remove deprecated rounded_division static method from viewer model
  napari/components/viewer_model.py
Labels: maintenance, ready to merge

#7730 Change deprecation to 0.7.0 for private attribute access from PublicOnlyProxy
  napari/_qt/_tests/test_plugin_widgets.py
  napari/utils/_proxies.py
  napari/utils/_tests/test_proxies.py
Labels: tests, qt, highlight, maintenance, ready to merge

#7735 Remove deprecated gui_qt
  napari/__init__.py
  napari/__init__.pyi
  napari/_event_loop.py
  napari/_qt/__init__.py
  napari/_qt/qt_event_loop.py
Labels: qt, maintenance, ready to merge

#7741 Remove deprecated Interpolation attribute from Image layer
  napari/_vispy/_tests/test_image_rendering.py
  napari/layers/image/_tests/test_image.py
  napari/layers/image/_tests/test_multiscale.py
  napari/layers/image/image.py
Labels: tests, maintenance, ready to merge

#7732 Add optional font scaling to layer text properties
  examples/layer_text_scaling.py
  napari/_pydantic_compat.py
  napari/_vispy/canvas.py
  napari/_vispy/layers/points.py
  napari/_vispy/layers/shapes.py
  napari/_vispy/utils/text.py
  napari/layers/base/base.py
  napari/layers/utils/text_manager.py
Labels: enhancement, ready to merge

#7737 Remove deprecated get_app method
  napari/_app_model/__init__.py
  napari/_app_model/_app.py
  napari/_app_model/_tests/test_app.py
  napari/_qt/__init__.py
  napari/_qt/_tests/test_app.py
  napari/_qt/qt_event_loop.py
  napari/qt/__init__.py
Labels: tests, qt, maintenance

#7738 Remove deprecated and renamed points properties
  napari/_qt/layer_controls/_tests/test_qt_points_layer.py
  napari/layers/points/_tests/test_points.py
  napari/layers/points/points.py
Labels: tests, qt, maintenance, ready to merge

#7729 Remove deprecated - chunk_receiver, old async, as_dict, color in iterables, running_as_bundle, CallDefault
  napari/_qt/qt_viewer.py
  napari/utils/config.py
  napari/utils/misc.py
  napari/utils/theme.py
Labels: tests, qt, maintenance

#7744 Add pyqt5-qt5 pin for `uv add` compatability on Windows
  pyproject.toml
Labels: maintenance, ready to merge

#7746 Fix typo causing mypy error
  napari/layers/tracks/tracks.py
Labels: maintenance, ready to merge
