Repository napari/napari, pull requests merged in 2025-01, with the labels that each got.

#7474 TracksFilter head_length property bug
  napari/_vispy/filters/tracks.py
Labels: bugfix, ready to merge

#7482 [py313] Update plugins/test_utils.py to account for Windows py313 os.path.isabs change
  napari/plugins/_tests/test_utils.py
Labels: tests, maintenance, ready to merge

#7480 [--pre] Update constraints to allow pyOpenGL 3.1.7, but block 3.1.9a1
  resources/constraints/constraints_py3.10.txt
  resources/constraints/constraints_py3.10_docs.txt
  resources/constraints/constraints_py3.10_pydantic_1.txt
  resources/constraints/constraints_py3.10_windows.txt
  resources/constraints/constraints_py3.11.txt
  resources/constraints/constraints_py3.11_docs.txt
  resources/constraints/constraints_py3.11_pydantic_1.txt
  resources/constraints/constraints_py3.11_windows.txt
  resources/constraints/constraints_py3.12.txt
  resources/constraints/constraints_py3.12_pydantic_1.txt
  resources/constraints/constraints_py3.12_windows.txt
  resources/constraints/constraints_py3.9.txt
  resources/constraints/constraints_py3.9_examples.txt
  resources/constraints/constraints_py3.9_pydantic_1.txt
  resources/constraints/constraints_py3.9_windows.txt
  resources/constraints/version_denylist.txt
Labels: maintenance, ready to merge

#7479 [py313] Fix test_qt_plugin_sorter on Python >= 3.13
  napari/_qt/widgets/_tests/test_qt_plugin_sorter.py
Labels: tests, qt, maintenance, ready to merge

#7392 stop/start notification timer on window focus change
  napari/_qt/dialogs/qt_notification.py
  napari/_qt/qt_event_loop.py
Labels: qt, enhancement, ready to merge

#7443 Extend reading with plugins to allow Layer objects
  napari/components/_tests/test_add_layers.py
  napari/components/viewer_model.py
  napari/layers/_tests/test_source.py
  napari/layers/base/base.py
Labels: topic:plugins, enhancement, ready to merge

#7489 [Maint] Update version_denylist.txt to block zarr rc1 in --pre tests
  resources/constraints/version_denylist.txt
Labels: maintenance, ready to merge

#7497 Specify dtype when using zarr.Group.create_array
  napari_builtins/_tests/test_io.py
Labels: tests, maintenance, ready to merge

#7476 Change default flash behavior for `viewer` screenshot-like methods
  examples/export_figure.py
  examples/screenshot_and_export_figure.py
  examples/to_screenshot.py
  napari/_tests/test_viewer.py
  napari/viewer.py
Labels: tests, enhancement, highlight, ready to merge

#7501 remove xfail from test_add_many_zarr_1d_array_is_ignored
  napari_builtins/_tests/test_io.py
Labels: tests, maintenance, ready to merge

#7462 Add an image to the get_current_viewer example
  examples/get_current_viewer.py
Labels: documentation, ready to merge

#7346 Perform triangulation using compiled backend
  napari/_vispy/layers/shapes.py
  napari/conftest.py
  napari/layers/shapes/_accelerated_triangulate.py
  napari/layers/shapes/_shapes_constants.py
  napari/layers/shapes/_shapes_models/_polygon_base.py
  napari/layers/shapes/_shapes_models/_tests/test_shapes_models.py
  napari/layers/shapes/_shapes_models/ellipse.py
  napari/layers/shapes/_shapes_models/line.py
  napari/layers/shapes/_shapes_models/rectangle.py
  napari/layers/shapes/_shapes_models/shape.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/test_triangulation.py
  napari/layers/shapes/shapes.py
  napari/settings/_experimental.py
  pyproject.toml
Labels: tests, performance, enhancement, ready to merge, preferences

#7488 Flip z axis on 3D camera to default to right-handed frame
  napari/_qt/_tests/test_qt_viewer.py
  napari/_tests/test_with_screenshot.py
  napari/_vispy/_tests/test_utils.py
  napari/_vispy/camera.py
  napari/_vispy/layers/surface.py
  napari/components/_tests/test_camera.py
  napari/components/camera.py
Labels: tests, qt, ui change, bugfix, highlight, ready to merge

#7481 [py313] Update test_prereleases.yml to add py313
  .github/workflows/test_prereleases.yml
  tox.ini
Labels: maintenance, ready to merge

#7466 [bugfix] use mean instead of norm for fixed aspect scaling in transform mode
  napari/layers/base/_base_mouse_bindings.py
  napari/layers/base/_tests/test_mouse_bindings.py
Labels: tests, bugfix, ready to merge

#7512 Use faster triangulation edge function form compiled backend
  napari/layers/shapes/_shapes_models/shape.py
Labels: performance, bugfix, ready to merge

#7510 Remove numpy constraints from docs dependency
  .github/workflows/upgrade_test_constraints.yml
  examples/surface_timeseries_.py
  resources/constraints/constraints_py3.10_docs.txt
  resources/constraints/constraints_py3.11_docs.txt
  resources/constraints/constraints_py3.9_examples.txt
  resources/constraints/version_denylist_examples.txt
  tox.ini
Labels: maintenance, ready to merge

#7511 [maint] Update pyproject.toml to move plugin manager to optional and let triangle work on arm64
  pyproject.toml
Labels: maintenance, ready to merge

#7515 Bugfix: Check if Layer._loaded before returning status
  napari/components/viewer_model.py
Labels: topic:async, bugfix, ready to merge

#7519 Revert #7488 "Flip z axis on 3D camera to default to right-handed frame"
  napari/_qt/_tests/test_qt_viewer.py
  napari/_tests/test_with_screenshot.py
  napari/_vispy/_tests/test_utils.py
  napari/_vispy/camera.py
  napari/_vispy/layers/surface.py
  napari/components/_tests/test_camera.py
  napari/components/camera.py
Labels: tests, qt, maintenance, ready to merge

#7099 Add poly line drawing
  napari/_qt/layer_controls/qt_shapes_controls.py
  napari/_qt/qt_resources/styles/01_buttons.qss
  napari/layers/shapes/_shapes_constants.py
  napari/layers/shapes/_shapes_key_bindings.py
  napari/layers/shapes/_shapes_mouse_bindings.py
  napari/layers/shapes/_tests/test_shapes.py
  napari/layers/shapes/_tests/test_shapes_key_bindings.py
  napari/layers/shapes/_tests/test_shapes_mouse_bindings.py
  napari/layers/shapes/shapes.py
  napari/resources/icons/path.svg
  napari/resources/icons/polyline.svg
  napari/settings/_experimental.py
  napari/utils/shortcuts.py
  tools/string_list.json
Labels: tests, design, qt, enhancement, ready to merge, needs:core-review, preferences

#7209 Iterative ROI Screenshots
  examples/export_rois.py
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_main_window.py
  napari/utils/geometry.py
  napari/viewer.py
Labels: feature, ready to merge

#7523 [Enhancement] Modify attenuation slider aspect: attenuation value is displayed
  napari/_qt/layer_controls/qt_image_controls.py
Labels: qt, enhancement, UI/UX, ready to merge

#7525 Revert PR #3243 ; commit 68157f3 ; (drop compatibility, just use QLabeled* sliders)
  napari/_qt/layer_controls/qt_image_controls.py
  napari/_qt/layer_controls/qt_image_controls_base.py
  napari/_qt/layer_controls/qt_labels_controls.py
  napari/_qt/layer_controls/qt_layer_controls_base.py
  napari/_qt/layer_controls/qt_points_controls.py
  napari/_qt/layer_controls/qt_shapes_controls.py
  napari/_qt/widgets/_slider_compat.py
Labels: qt, maintenance, ready to merge

#7517 Breakout gray and gray_r from mpl_colormaps and ensure they work with `ensure_colormap`
  napari/utils/colormaps/_tests/test_colormaps.py
  napari/utils/colormaps/colormap_utils.py
Labels: bugfix, ready to merge

#7530 Fix formatting after ruff update in #7522
  napari/_qt/_tests/test_qt_viewer.py
Labels: tests, qt, maintenance, ready to merge

#7520 Add test suite without numba
  .github/workflows/reusable_run_tox_test.yml
  .github/workflows/test_prereleases.yml
  .github/workflows/test_pull_requests.yml
  napari/utils/colormaps/_accelerated_cmap.py
  pyproject.toml
  tox.ini
Labels: tests, qt, maintenance, ready to merge

#7500 Update pyproject.toml remove upper bound on numpy on python 3.9
  pyproject.toml
  resources/constraints/constraints_py3.9.txt
  resources/constraints/constraints_py3.9_pydantic_1.txt
  resources/constraints/constraints_py3.9_windows.txt
Labels: enhancement, maintenance, ready to merge

#7449 Add CtrlCmd-Backspace as a 2ndary delete_selected_layer keybind
  napari/_qt/widgets/_tests/test_shortcut_editor_widget.py
  napari/utils/shortcuts.py
Labels: tests, qt, enhancement, UI/UX, ready to merge

#7371 Bump tifffile version to 2022.7.28
  napari/utils/io.py
  pyproject.toml
Labels: maintenance, ready to merge

#7018 [bugfix] Adjust scale bar position based on font_size when at top
  napari/_vispy/_tests/test_vispy_scale_bar_visual.py
  napari/_vispy/overlays/scale_bar.py
Labels: bug, tests, bugfix, ready to merge

#7539 Minor grammar fix in preference text
  napari/settings/_experimental.py
Labels: maintenance, ready to merge, preferences

#7537 Fix missed cache invalidation in transform shape
  napari/layers/shapes/_shapes_models/shape.py
Labels: bugfix, ready to merge

#5483 Implement command palette widget
  napari/_app_model/utils.py
  napari/_qt/_qapp_model/qactions/_view.py
  napari/_qt/qt_main_window.py
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_qt/widgets/_tests/test_qt_command_palette.py
  napari/_qt/widgets/qt_command_palette.py
Labels: feature, tests, design, qt, highlight, ready to merge

#7540 Use data.dtype for creating slicer
  napari/_app_model/context/_layerlist_context.py
  napari/layers/_scalar_field/scalar_field.py
  napari/layers/image/_slice.py
  napari/layers/image/image.py
  napari/utils/_dtype.py
  napari/utils/_tests/test_dtype.py
Labels: tests, bugfix, ready to merge

#7546 Add Image Border / Bounding Box Gallery Examples for both 2D and 3D
  examples/image_border.py
  examples/layer_bounding_box.py
Labels: enhancement, ready to merge, example

#7549 Remove some py38 leftovers
  napari/utils/notifications.py
Labels: maintenance, ready to merge

#7563 Update scale bar tests to actually test white/magenta
  napari/_qt/_tests/test_qt_viewer.py
Labels: tests, qt, maintenance, ready to merge

#7556 Add right-click indicator to 3D, Roll, Grid, and Square push buttons
  napari/resources/icons/3D.svg
  napari/resources/icons/grid.svg
  napari/resources/icons/roll.svg
  napari/resources/icons/square.svg
Labels: enhancement, ready to merge

#7558 Ensure that fps overlay is visible on gallery screenshot in overlay example
  examples/viewer_fps_label.py
Labels: documentation, maintenance, ready to merge
