Repository napari/napari, pull requests merged in 2025-04, with the labels that each got.

#7759 Fix test for hdpi scaling
  napari/conftest.py
Labels: maintenance, ready to merge

#7766 Upload failed triangulations as artifacts from benchmarks run
  .github/workflows/benchmarks.yml
  .gitignore
Labels: maintenance, ready to merge

#7756 Track layer slider max value
  napari/_qt/layer_controls/_tests/test_qt_tracks_layer.py
  napari/_qt/layer_controls/qt_tracks_controls.py
Labels: tests, qt, enhancement, ready to merge

#7748 Provide fallback version for setuptools-scm
  pyproject.toml
Labels: maintenance, ready to merge

#7768 improve reporting errors in shape triangulation
  napari/layers/shapes/_shapes_models/shape.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/test_shapes_utils.py
Labels: tests, maintenance, ready to merge

#7750 [bugfix] Adjust scale_bar box scaling and positioning with font size increases
  napari/_vispy/_tests/test_vispy_scale_bar_visual.py
  napari/_vispy/overlays/scale_bar.py
  napari/_vispy/visuals/scale_bar.py
Labels: tests, bugfix, ready to merge

#7742 Add `viewer.fit_to_view()`, properly calculate 3D data canvas size, and refactor `viewer.reset_view()`
  napari/_qt/_qapp_model/qactions/_view.py
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
Labels: tests, qt, enhancement, ready to merge

#7770 Add handedness property to camera and display in GUI
  napari/_qt/qt_resources/styles/02_custom.qss
  napari/_qt/widgets/_tests/test_qt_viewer_buttons.py
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/components/_tests/test_camera.py
  napari/components/camera.py
  napari/resources/icons/help.svg
  napari/resources/icons/lefthand.svg
  napari/resources/icons/righthand.svg
Labels: tests, design, qt, enhancement, highlight, ready to merge

#7721 Add toggle 3D view action
  napari/_qt/_qapp_model/_tests/test_view_menu.py
  napari/_qt/_qapp_model/injection/_qproviders.py
  napari/_qt/_qapp_model/qactions/_view.py
Labels: tests, qt, enhancement, ready to merge

#7771 Fix layout of help symbols in grid popup
  napari/_qt/widgets/qt_viewer_buttons.py
Labels: qt, UI/UX, bugfix, ready to merge

#7765 Maintain 3D camera angles when switching between 2D and 3D views
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/_vispy/_tests/test_vispy_camera.py
  napari/_vispy/camera.py
  napari/components/viewer_model.py
Labels: tests, qt, enhancement, highlight, ready to merge

#7739 Test shapes performance against multiple backends
  napari/benchmarks/benchmark_shapes_layer.py
  napari/layers/shapes/_accelerated_triangulate_dispatch.py
  napari/layers/shapes/_shapes_utils.py
Labels: maintenance, ready to merge

#7775 Revert status bar changes for single active layer
  napari/components/_tests/test_viewer_model.py
  napari/components/viewer_model.py
Labels: tests, enhancement, ready to merge

#7789 Update task.md
  .github/ISSUE_TEMPLATE/task.md
Labels: maintenance, ready to merge

#7791 Postpone QtViewer deprecation to 0.7.0
  napari/_qt/qt_main_window.py
Labels: qt, maintenance, ready to merge

#7794 Remove deprecated type kwarg from Events
  napari/utils/events/event.py
Labels: maintenance, ready to merge

#7783 Remove deprecated QtViewer.view and QtViewer.camera properties
  napari/_qt/qt_viewer.py
  napari/benchmarks/benchmark_qt_viewer_labels.py
Labels: qt, maintenance, ready to merge

#7787 Add camera orientation parameters to application settings.
  napari/_qt/widgets/_tests/test_qt_viewer_buttons.py
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/components/camera.py
  napari/components/viewer_model.py
  napari/settings/_application.py
  napari/utils/camera_orientations.py
Labels: tests, qt, enhancement, highlight, ready to merge, preferences

#7813 Update camera orientation tooltips for GUI preferences and camera widget
  napari/_qt/widgets/qt_viewer_buttons.py
  napari/settings/_application.py
  napari/utils/camera_orientations.py
Labels: qt, enhancement, ready to merge, preferences

#7788 Unblock examples/surface_timeseries_.py
  examples/surface_timeseries.py
  resources/constraints/version_denylist_examples.txt
Labels: documentation, maintenance, ready to merge

#7804 Add PyQt6 info to Qt bindings check ImportError message
  napari/_qt/__init__.py
Labels: documentation, qt, ready to merge

#7808 Fix dump settings
  napari/settings/_base.py
  napari/settings/_tests/test_settings.py
Labels: tests, bugfix, ready to merge, preferences

#7814 Add sphinx opengraph dependency to docs for better social media preview
  pyproject.toml
  resources/constraints/constraints_py3.10_docs.txt
Labels: documentation, dependencies, ready to merge

#7817 Print contend of stderr and stdout in update dependecies workflow
  tools/create_pr_or_update_existing_one.py
Labels: maintenance, ready to merge

#7818 Fix newline in message when fail to push to repository in update constraints
  tools/create_pr_or_update_existing_one.py
Labels: maintenance, ready to merge

#7802 Prevent from triggering notification animation in tests
  napari/_qt/dialogs/qt_notification.py
  napari/_qt/qt_main_window.py
  napari/_qt/utils.py
  napari/conftest.py
Labels: qt, maintenance, ready to merge

#7815 Add scale bar box toggle to view > scale bar menu
  napari/_qt/_qapp_model/_tests/test_view_menu.py
  napari/_qt/_qapp_model/qactions/_view.py
  tools/string_list.json
Labels: ui change, enhancement, UI/UX, ready to merge

#7821 Use proper token in update dependencies workflow
  .github/workflows/upgrade_test_constraints.yml
Labels: maintenance, ready to merge

#7822 Update branch name, for update dependencies workflow, to avoid branch name collisions, that prevents push
  tools/create_pr_or_update_existing_one.py
Labels: maintenance

#6654 Fix issues displaying polygons with holes in Shapes
  examples/dev/poly-hole.py
  napari/_tests/test_with_screenshot.py
  napari/benchmarks/benchmark_shapes_layer.py
  napari/layers/shapes/_accelerated_triangulate.py
  napari/layers/shapes/_accelerated_triangulate_dispatch.py
  napari/layers/shapes/_shapes_models/shape.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/conftest.py
  napari/layers/shapes/_tests/test_shapes_utils.py
  napari/layers/shapes/_tests/test_triangulation.py
  napari/layers/shapes/shape_types.py
Labels: bug, tests, qt, bugfix, highlight, ready to merge, needs:decision

#7779 Add 3D support for `viewer.export_figure()`
  examples/export_figure.py
  examples/screenshot_and_export_figure.py
  napari/_qt/_tests/test_qt_viewer.py
  napari/_qt/qt_main_window.py
Labels: tests, qt, enhancement, ready to merge

#7837 Use OIDC authorization only for push and pull requests from the same repository
  .github/workflows/reusable_coverage_upload.yml
  .github/workflows/test_pull_requests.yml
Labels: maintenance

#7838 [maint] Add pyopenGL version to napari info
  napari/utils/info.py
Labels: enhancement, maintenance, ready to merge

#7844 [maint] Add whether napari was installed using conda to napari info
  napari/utils/_tests/test_info.py
  napari/utils/info.py
Labels: tests, maintenance, ready to merge

#7747 Add `bermuda` backend for faster triangulation
  .github/workflows/test_pull_requests.yml
  asv.conf.json
  examples/dev/triangle_edge.py
  napari/benchmarks/benchmark_shapes_layer.py
  napari/conftest.py
  napari/layers/shapes/_accelerated_triangulate_dispatch.py
  napari/layers/shapes/_accelerated_triangulate_numba.py
  napari/layers/shapes/_accelerated_triangulate_python.py
  napari/layers/shapes/_shapes_models/_tests/test_shapes_models.py
  napari/layers/shapes/_shapes_models/shape.py
  napari/layers/shapes/_shapes_utils.py
  napari/layers/shapes/_tests/test_shapes_utils.py
  napari/layers/shapes/_tests/test_triangulation.py
  napari/settings/_experimental.py
  napari/settings/_migrations.py
  napari/settings/_tests/test_migrations.py
  napari/utils/info.py
  napari/utils/triangulation_backend.py
  pyproject.toml
Labels: tests, enhancement, maintenance, ready to merge, preferences

#7811 Update readme badge from NEP 29 to scientific python ecosystem coordination SPEC 0
  README.md
Labels: documentation, ready to merge

#7833 Add setter for track colors
  napari/layers/tracks/_tests/test_tracks.py
  napari/layers/tracks/tracks.py
Labels: tests, enhancement, ready to merge

#7849 fix `ScalarField._get_value_3d` to return information about data level for multiscale
  napari/layers/_scalar_field/scalar_field.py
  napari/layers/labels/_tests/test_labels_multiscale.py
Labels: tests, bugfix, ready to merge

#7816 [bugfix] ensure erasing and fill work with swap and preserve labels
  napari/layers/labels/_tests/test_labels.py
  napari/layers/labels/labels.py
Labels: tests, bugfix, ready to merge

#7845 When adding shapes, use preallocated array instead of concatenation
  napari/layers/shapes/_shape_list.py
Labels: performance, run-benchmarks, ready to merge

#7861 Update napari-sphinx-theme constraint to 0.7.0
  resources/constraints/constraints_py3.10_docs.txt
Labels: maintenance, ready to merge

#7866 Use weak reference to slider in `AnimationThread`
  napari/_qt/widgets/qt_dims_slider.py
Labels: qt, bugfix, ready to merge

#7859 Gallery: use colors from the South African flag to draw SA
  examples/dev/poly-hole.py
Labels: documentation, ready to merge

#7869 Patch `CONDA_EXE` environment variable to valid conda path
  napari/__main__.py
  napari/utils/misc.py
Labels: bugfix, ready to merge

#7873 Add Constantin Aronssohn to citation.cff
  CITATION.cff
Labels: documentation, ready to merge

#7872 [Maint] Update dockerfile for napari 0.6.0
  .github/workflows/docker-publish.yml
  dockerfile
Labels: maintenance, ready to merge

#7875 Add bermuda and triangle to docs dependencies
  pyproject.toml
Labels: maintenance, ready to merge
