Repository napari/napari, pull requests merged in 2025-07, with the labels that each got.

#8064 ensure sync when taking a screenshot
  src/napari/_qt/qt_viewer.py
Labels: bugfix, ready to merge

#8069 Add configurable suffix for test artifacts
  .github/workflows/reusable_run_tox_test.yml
  .github/workflows/test_pull_requests.yml
Labels: maintenance, ready to merge

#8075 Update docs constraints and pyprojecttoml for npe2
  pyproject.toml
  resources/constraints/constraints_py3.10.txt
  resources/constraints/constraints_py3.10_docs.txt
  resources/constraints/constraints_py3.11.txt
  resources/constraints/constraints_py3.12.txt
  resources/constraints/constraints_py3.12_docs.txt
  resources/constraints/constraints_py3.12_examples.txt
  resources/constraints/constraints_py3.13.txt
  resources/requirements_mypy.txt
Labels: documentation, ready to merge

#8084 Typo ismhow -> imshow
  README.md
Labels: documentation, ready to merge

#8086 Report benchmark on non skipped status
  .github/workflows/benchmarks_report.yml
Labels: maintenance

#7950 Move export ROI and export figure implementations into `QtViewer`
  src/napari/_qt/_tests/test_qt_viewer.py
  src/napari/_qt/qt_main_window.py
  src/napari/_qt/qt_viewer.py
  src/napari/_qt/utils.py
  src/napari/viewer.py
Labels: tests, qt, maintenance, ready to merge

#8088 Enable SIM117 ruff rule
  pyproject.toml
  src/napari/_qt/_tests/test_plugin_widgets.py
  src/napari/_qt/_tests/test_qt_utils.py
  src/napari/_qt/widgets/_tests/test_qt_play.py
  src/napari/_tests/test_cli.py
  src/napari/components/_tests/test_viewer_model.py
  src/napari/layers/_tests/test_source.py
Labels: tests, maintenance, ready to merge

#8097 Added fixed seed and tested the value.
  src/napari_builtins/_ndims_balls.py
  src/napari_builtins/_tests/test_ndims_balls.py
Labels: tests, enhancement, ready to merge

#8089 Remove dotenv from dev dependencies
  pyproject.toml
  src/napari/conftest.py
  src/napari/utils/events/debugging.py
  src/napari/utils/events/event.py
Labels: maintenance, ready to merge

#8103 New example for affine transformations in 3D using meshio and stl
  examples/affine_coffee_cup.py
  pyproject.toml
Labels: documentation, ready to merge, example

#8067 Block the recent pytest-qt version on python 3.10 to keep PySide2 support in testing.
  resources/constraints/version_denylist.txt
Labels: maintenance, ready to merge

#8090 Colorblind friendly image sample of kidney and lily
  src/napari_builtins/_skimage_data.py
Labels: enhancement, ready to merge

#8091 Replace deprecated `view_*()` method from examples
  examples/action_manager.py
  examples/add_grayscale_image.py
  examples/add_image.py
  examples/add_image_transformed.py
  examples/add_labels.py
  examples/add_labels_with_features.py
  examples/add_multiscale_image.py
  examples/add_points.py
  examples/add_points_on_nD_shapes.py
  examples/add_points_with_features.py
  examples/add_points_with_multicolor_text.py
  examples/add_points_with_text.py
  examples/add_shapes.py
  examples/add_shapes_with_features.py
  examples/add_shapes_with_text.py
  examples/add_surface_2D.py
  examples/annotate-2d.py
  examples/annotate_segmentation_with_text.py
  examples/bbox_annotator.py
  examples/clipboard_.py
  examples/custom_key_bindings.py
  examples/dask_nD_image.py
  examples/dev/slicing/ebi_empiar_3D_with_labels.py
  examples/dev/slicing/janelia_s3_n5_multiscale.py
  examples/dev/slicing/points_example_smlm.py
  examples/dev/slicing/random_points.py
  examples/dynamic-projections-dask.py
  examples/image-points-3d.py
  examples/image_border.py
  examples/image_custom_kernel.py
  examples/image_depth.py
  examples/interaction_box_image.py
  examples/labels-2d.py
  examples/labels3d.py
  examples/layers.py
  examples/linked_layers.py
  examples/mpl_plot_.py
  examples/multiple_viewers_.py
  examples/multithreading_two_way_.py
  examples/nD_image.py
  examples/nD_labels.py
  examples/nD_multiscale_image.py
  examples/nD_multiscale_image_non_uniform.py
  examples/nD_points.py
  examples/nD_points_with_features.py
  examples/nD_shapes.py
  examples/nD_shapes_with_text.py
  examples/nD_vectors.py
  examples/new_theme.py
  examples/notebook.ipynb
  examples/paint-nd.py
  examples/set_theme.py
  examples/swap_dims.py
  examples/without_gui_qt.py
  examples/zarr_nD_image_.py
Labels: documentation, tests, ready to merge, example

#8113 Improve stability of tests by ensuring cleaning of QtViewer instances
  src/napari/_qt/dialogs/_tests/test_reader_dialog.py
Labels: tests, maintenance, ready to merge

#8125 Update README wording about scikit-image example
  README.md
Labels: documentation, ready to merge

#6617 Allow use functions from PartSegCore-compiled-backend as numba alternative for data to texture mapping
  src/napari/layers/labels/_tests/test_labels.py
  src/napari/settings/_experimental.py
  src/napari/utils/colormap_backend.py
  src/napari/utils/colormaps/_accelerated_cmap.py
  src/napari/utils/colormaps/_tests/test_colormap.py
  src/napari/utils/colormaps/colormap.py
  src/napari/utils/colormaps/colormap_utils.py
Labels: tests, performance, enhancement, ready to merge, needs:decision

#8004 Add 'zoom-box' to the viewer
  pyproject.toml
  src/napari/_qt/_tests/test_qt_viewer.py
  src/napari/_qt/layer_controls/qt_layer_controls_base.py
  src/napari/_vispy/_tests/test_vispy_zoom_overlay.py
  src/napari/_vispy/canvas.py
  src/napari/_vispy/overlays/base.py
  src/napari/_vispy/overlays/zoom.py
  src/napari/_vispy/utils/visual.py
  src/napari/_vispy/visuals/interaction_box.py
  src/napari/components/_tests/test_zoom.py
  src/napari/components/_viewer_mouse_bindings.py
  src/napari/components/overlays/__init__.py
  src/napari/components/overlays/zoom.py
  src/napari/components/viewer_model.py
  src/napari/utils/misc.py
Labels: feature, tests, highlight, ready to merge

#8119 Add keybinding (CtrlCmd-up/down) to select layer above/below
  src/napari/components/_tests/test_viewer_keybindings.py
  src/napari/components/_viewer_key_bindings.py
  src/napari/utils/shortcuts.py
Labels: enhancement, UI/UX, ready to merge

#7973 Implement pasting spatial information into higher dimensions
  src/napari/_qt/_qapp_model/_tests/test_qaction_layer.py
  src/napari/_qt/_qapp_model/qactions/_layerlist_context.py
Labels: tests, enhancement, ready to merge

#8137 Only use scale to transform margins in tick slices
  src/napari/layers/utils/_slice_input.py
Labels: severity:high, bugfix, ready to merge

#8112 Add alpha to split rgba into channels and remerge image.
  src/napari/_app_model/actions/_layerlist_context_actions.py
  src/napari/_qt/_qapp_model/_tests/test_layerlist_context_actions.py
  src/napari/layers/_layer_actions.py
  src/napari/layers/utils/_tests/test_stack_utils.py
  src/napari/layers/utils/stack_utils.py
Labels: tests, enhancement, bugfix, ready to merge

#8109 Improve performance and memory usage of editing Shapes layer (#8006 again)
  src/napari/benchmarks/benchmark_shapes_layer.py
  src/napari/layers/shapes/_mesh.py
  src/napari/layers/shapes/_shape_list.py
  src/napari/layers/shapes/_shapes_models/shape.py
  src/napari/layers/shapes/_shapes_mouse_bindings.py
  src/napari/layers/shapes/_tests/test_shape_list.py
  src/napari/layers/shapes/_tests/test_shapes_mouse_bindings.py
  src/napari/layers/shapes/shape_types.py
  src/napari/layers/shapes/shapes.py
  src/napari_builtins/_tests/conftest.py
Labels: tests, bugfix, ready to merge

#8152 Fix multiscale clim estimation by using full visible data, not first row
  src/napari/layers/image/image.py
Labels: bugfix, ready to merge

#8169 Fix reporting python version in benchmark bug reports
  .github/workflows/benchmarks.yml
Labels: maintenance, ready to merge

#8167 Update xarray_nD_image_.py to use xarray tag
  examples/xarray_nD_image_.py
Labels: documentation, ready to merge, example

#8172 Remove `np.asarray(self.cursor._view_direction)` that return unbound array
  src/napari/components/viewer_model.py
Labels: bugfix, ready to merge

#8179 Update list of affiliation of Grzegorz Bokota
  CITATION.cff
Labels: task, maintenance, ready to merge
